Repository FuelLabs/sway, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sezna, @leviathanbeak, @adlerjohn, @digorithm

fmt
  core_lang/src/desugar/ast_node.rs
Owners: @sezna

Format and adding additional cases.
  core_lang/src/desugar/ast_node.rs
  core_lang/src/desugar/code_block.rs
  core_lang/src/desugar/declaration.rs
  core_lang/src/desugar/expression.rs
  core_lang/src/desugar/matcher.rs
  core_lang/src/desugar/mod.rs
  core_lang/src/parse_tree/expression/match_branch.rs
  core_lang/src/parse_tree/expression/match_condition.rs
  core_lang/src/parse_tree/expression/mod.rs
  core_lang/src/parse_tree/expression/scrutinee.rs
  core_lang/src/semantic_analysis/node_dependencies.rs
Owners: @sezna

Struct failing test case.
  test/src/e2e_vm_tests/mod.rs
  test/src/e2e_vm_tests/test_programs/match_expressions_structs/Forc.toml
  test/src/e2e_vm_tests/test_programs/match_expressions_structs/src/main.sw
Owners: @sezna

Update syntax highlighting (#426)
  docs/theme/highlight.js
  scripts/highlightjs/sway.js
Owners: @adlerjohn, @sezna, @leviathanbeak

deploy: e8f381592d039dae1a993f9b9f8e54e545ec307c
  latest/highlight.js
Owners: none

It builds
  stdlib/src/token.sw
Owners: none

Add notes to test
  test/src/e2e_vm_tests/test_programs/token_ops_test/src/main.sw
Owners: @sezna

fix warning
  core_lang/src/semantic_analysis/syntax_tree.rs
Owners: @sezna

update tests
  example_project/fuel_project/src/main.sw
  test/src/e2e_vm_tests/test_programs/assert_test/src/main.sw
  test/src/e2e_vm_tests/test_programs/enum_in_fn_decl/src/main.sw
  test/src/e2e_vm_tests/test_programs/generic_enum/src/main.sw
  test/src/e2e_vm_tests/test_programs/if_elseif_enum/src/main.sw
  test/src/e2e_vm_tests/test_programs/local_impl_for_ord/src/main.sw
Owners: @sezna

Add new constants
  stdlib/src/constants.sw
Owners: none

Switch to local constants
  stdlib/src/constants.sw
  stdlib/src/token.sw
Owners: none

.github/CODEOWNERS:

core_lang/ @sezna
forc/ @leviathanbeak
formatter/ @leviathanbeak
docs/ @adlerjohn @sezna
fuel-abi-cli/ @digorithm
fuels-abigen-macro/ @digorithm
fuels-rs/ @digorithm
lib-std/ @sezna
test/ @sezna
core-types/ @leviathanbeak
scripts/ @leviathanbeak
