Repository FuelLabs/sway, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sezna, @leviathanbeak, @adlerjohn, @digorithm

Remove duplicate core types.
  core-types/Cargo.toml
  core-types/src/lib.rs
Owners: none

fix lsp stdout bug
  forc/src/cli/commands/lsp.rs
Owners: @sezna

fix lsp stdout bug (#488)
  forc/src/cli/commands/lsp.rs
Owners: @sezna

formatting
  forc/src/ops/forc_abi_json.rs
  forc/src/ops/forc_build.rs
  forc/src/ops/forc_deploy.rs
  forc/src/ops/forc_fmt.rs
  forc/src/ops/forc_run.rs
  forc/src/utils/helpers.rs
  sway-core/src/parse_tree/declaration/function.rs
  sway-core/src/semantic_analysis/ast_node/declaration/function.rs
  sway-core/src/type_engine.rs
  sway-server/src/capabilities/formatting.rs
  sway-server/src/core/document.rs
  sway-server/src/core/token.rs
Owners: @sezna

forgotten add
  sway-fmt/src/fmt.rs
Owners: @leviathanbeak

update fuel-core test
  .github/workflows/ci.yml
Owners: none

run fuel-core in the background
  .github/workflows/ci.yml
Owners: none

update README
  .github/workflows/ci.yml
  sway-core/README.md
Owners: @sezna

kill fuel-core after use
  .github/workflows/ci.yml
Owners: none

yaml tweak
  .github/workflows/ci.yml
Owners: none

.github/CODEOWNERS:

sway-core/ @sezna
forc/ @sezna
sway-fmt/ @leviathanbeak
docs/ @adlerjohn @sezna
fuel-abi-cli/ @digorithm
fuels-abigen-macro/ @digorithm
fuels-rs/ @digorithm
lib-std/ @sezna
lib-core/ @sezna
test/ @sezna
sway-types/ @sezna
scripts/ @leviathanbeak
