Repository FuelLabs/sway, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sezna, @leviathanbeak, @adlerjohn, @digorithm

Add test
  test/src/e2e_vm_tests/test_programs/xos_opcode/src/main.sw
Owners: @sezna

Add test to mod.rs
  test/src/e2e_vm_tests/mod.rs
Owners: @sezna

Cargo fmt
  test/src/e2e_vm_tests/mod.rs
Owners: @sezna

Implement impurity checking (#466)
  core_lang/src/error.rs
  core_lang/src/hll.pest
  core_lang/src/parse_tree/declaration/function.rs
  core_lang/src/parse_tree/declaration/function/purity.rs
  core_lang/src/semantic_analysis.rs
  core_lang/src/semantic_analysis/ast_node/code_block.rs
  core_lang/src/semantic_analysis/ast_node/declaration.rs
  core_lang/src/semantic_analysis/ast_node/declaration/function.rs
  core_lang/src/semantic_analysis/ast_node/declaration/function/function_parameter.rs
  core_lang/src/semantic_analysis/ast_node/expression/enum_instantiation.rs
  core_lang/src/semantic_analysis/ast_node/expression/typed_expression.rs
  core_lang/src/semantic_analysis/ast_node/expression/typed_expression/method_application.rs
  core_lang/src/semantic_analysis/ast_node/impl_trait.rs
  core_lang/src/semantic_analysis/ast_node/mod.rs
  core_lang/src/semantic_analysis/syntax_tree.rs
  core_lang/src/semantic_analysis/type_check_arguments.rs
  core_lang/src/type_engine/engine.rs
  test/src/e2e_vm_tests/harness.rs
  test/src/e2e_vm_tests/mod.rs
  test/src/e2e_vm_tests/test_programs/contract_pure_calls_impure/Forc.toml
  test/src/e2e_vm_tests/test_programs/contract_pure_calls_impure/src/main.sw
  test/src/e2e_vm_tests/test_programs/nested_impure/Forc.toml
  test/src/e2e_vm_tests/test_programs/nested_impure/src/main.sw
  test/src/e2e_vm_tests/test_programs/predicate_calls_impure/Forc.toml
  test/src/e2e_vm_tests/test_programs/predicate_calls_impure/src/main.sw
  test/src/e2e_vm_tests/test_programs/pure_calls_impure/Forc.toml
  test/src/e2e_vm_tests/test_programs/pure_calls_impure/src/main.sw
  test/src/e2e_vm_tests/test_programs/script_calls_impure/Forc.toml
  test/src/e2e_vm_tests/test_programs/script_calls_impure/src/main.sw
  test/src/e2e_vm_tests/test_programs/storage_declaration/Forc.toml
  test/src/e2e_vm_tests/test_programs/storage_declaration/src/main.sw
  test/src/e2e_vm_tests/test_programs/valid_impurity/Forc.toml
  test/src/e2e_vm_tests/test_programs/valid_impurity/json_abi_oracle.json
  test/src/e2e_vm_tests/test_programs/valid_impurity/src/main.sw
Owners: @sezna

Allow LW opcode; report disallowed opcodes at parse time
  core_lang/src/asm_lang/mod.rs
  core_lang/src/parse_tree/expression/asm.rs
Owners: @sezna

fix register allocation issue for aloc opcode
  core_lang/src/asm_generation/expression/mod.rs
  core_lang/src/asm_lang/virtual_ops.rs
  lib-std/src/chain.sw
Owners: @sezna

Remove test from mod.rs and add comments
  test/src/e2e_vm_tests/mod.rs
  test/src/e2e_vm_tests/test_programs/xos_opcode/src/main.sw
Owners: @sezna

Better test case.
  test/src/e2e_vm_tests/mod.rs
  test/src/e2e_vm_tests/test_programs/use_full_path_names/Forc.toml
  test/src/e2e_vm_tests/test_programs/use_full_path_names/json_abi_oracle.json
  test/src/e2e_vm_tests/test_programs/use_full_path_names/src/a_dependency.sw
  test/src/e2e_vm_tests/test_programs/use_full_path_names/src/main.sw
Owners: @sezna

Apply formatting
  core_lang/src/asm_lang/allocated_ops.rs
Owners: @sezna

Allow LW opcode; report disallowed opcodes at parse time (#471)
  core_lang/src/asm_generation/expression/mod.rs
  core_lang/src/asm_lang/mod.rs
  core_lang/src/asm_lang/virtual_ops.rs
  core_lang/src/parse_tree/expression/asm.rs
  lib-std/src/chain.sw
Owners: @sezna

Fixup
  core_lang/src/asm_lang/allocated_ops.rs
  core_lang/src/asm_lang/mod.rs
  core_lang/src/asm_lang/virtual_ops.rs
Owners: @sezna

Fixup
  core_lang/src/asm_lang/mod.rs
  core_lang/src/asm_lang/virtual_ops.rs
Owners: @sezna

Fixup
  core_lang/src/asm_lang/virtual_ops.rs
Owners: @sezna

Fixup
  core_lang/src/asm_lang/mod.rs
  core_lang/src/asm_lang/virtual_ops.rs
Owners: @sezna

Adding the xos opcode. (#468)
  core_lang/src/asm_lang/allocated_ops.rs
  core_lang/src/asm_lang/mod.rs
  core_lang/src/asm_lang/virtual_ops.rs
  test/src/e2e_vm_tests/test_programs/xos_opcode/Forc.toml
  test/src/e2e_vm_tests/test_programs/xos_opcode/src/main.sw
Owners: @sezna

Update the fuelcoin contract deployed id
  lib-std/src/token.sw
  test/src/e2e_vm_tests/mod.rs
  test/src/e2e_vm_tests/test_programs/token_ops_test/Forc.toml
  test/src/e2e_vm_tests/test_programs/token_ops_test/src/main.sw
Owners: @sezna

Remove unused function.
  core_lang/src/asm_generation/expression/subfield.rs
  core_lang/src/semantic_analysis/ast_node/expression/typed_expression.rs
  test/src/e2e_vm_tests/mod.rs
Owners: @sezna

Use actual method instead of magic boolean.
  core_lang/src/semantic_analysis/ast_node/declaration.rs
  core_lang/src/semantic_analysis/ast_node/declaration/function.rs
  core_lang/src/type_engine.rs
  core_lang/src/type_engine/type_info.rs
Owners: @sezna

Fix incorrect oracle file.
  test/src/e2e_vm_tests/test_programs/contract_abi_impl/json_abi_oracle.json
Owners: @sezna

Integrate code review comments.
  core_lang/src/error.rs
  core_lang/src/semantic_analysis/namespace.rs
Owners: @sezna

Add test case.
  test/src/e2e_vm_tests/mod.rs
  test/src/e2e_vm_tests/test_programs/disallow_incorrect_type_unification/Forc.toml
  test/src/e2e_vm_tests/test_programs/disallow_incorrect_type_unification/json_abi_oracle.json
  test/src/e2e_vm_tests/test_programs/disallow_incorrect_type_unification/src/main.sw
  test/src/e2e_vm_tests/test_programs/disallow_incorrect_type_unification/src/module0.sw
  test/src/e2e_vm_tests/test_programs/disallow_incorrect_type_unification/src/module1.sw
Owners: @sezna

Fix cargo lock maybe
  Cargo.lock
Owners: none

Improve parsing for nested arrays. (#461)
  core_lang/src/hll.pest
  core_lang/src/parse_tree/declaration/reassignment.rs
  core_lang/src/parse_tree/expression/mod.rs
  test/src/e2e_vm_tests/test_programs/array_basics/src/main.sw
Owners: @sezna

Remove type between carats in JSON abi. (#473)
  core_lang/src/semantic_analysis/ast_node/declaration.rs
  core_lang/src/semantic_analysis/ast_node/declaration/function.rs
  core_lang/src/type_engine.rs
  core_lang/src/type_engine/type_info.rs
  test/src/e2e_vm_tests/test_programs/contract_abi_impl/json_abi_oracle.json
Owners: @sezna

Renaming token_id to asset_id in lib-std
  lib-std/src/context.sw
Owners: @sezna

Rename color/token_id to asset_id
  docs/src/examples/fizzbuzz.md
  docs/src/examples/subcurrency.md
  docs/src/examples/wallet_smart_contract.md
  docs/src/sway-on-chain/scripts.md
Owners: @adlerjohn, @sezna

Rename color/token_id to asset_id in tests
  test/src/e2e_vm_tests/test_programs/auth_testing_abi/src/main.sw
  test/src/e2e_vm_tests/test_programs/auth_testing_contract/src/main.sw
  test/src/e2e_vm_tests/test_programs/balance_test_abi/src/main.sw
  test/src/e2e_vm_tests/test_programs/balance_test_contract/src/main.sw
  test/src/e2e_vm_tests/test_programs/basic_storage/src/main.sw
  test/src/e2e_vm_tests/test_programs/basic_storage_abi/src/main.sw
  test/src/e2e_vm_tests/test_programs/caller_context_test/src/main.sw
  test/src/e2e_vm_tests/test_programs/context_testing_abi/src/main.sw
  test/src/e2e_vm_tests/test_programs/context_testing_contract/src/main.sw
  test/src/e2e_vm_tests/test_programs/contract_abi_impl/src/main.sw
  test/src/e2e_vm_tests/test_programs/contract_call/src/main.sw
  test/src/e2e_vm_tests/test_programs/contract_pure_calls_impure/src/main.sw
  test/src/e2e_vm_tests/test_programs/import_method_from_other_file/src/main.sw
  test/src/e2e_vm_tests/test_programs/increment_contract/src/main.sw
  test/src/e2e_vm_tests/test_programs/valid_impurity/src/main.sw
Owners: @sezna

draft of clippy lint workflow
  .github/workflows/clippy_check.yml
Owners: none

Add custom types documentation and update roadmap.
  docs/src/SUMMARY.md
  docs/src/basics/built_in_types.md
  docs/src/basics/custom_types.md
  docs/src/examples/wallet_smart_contract.md
  docs/src/new-concepts/index.md
  docs/src/strategy/strategy_and_roadmap.md
Owners: @adlerjohn, @sezna

First pass as structs.
  core_lang/src/hll.pest
  core_lang/src/parse_tree/declaration/struct.rs
  core_lang/src/parse_tree/expression/mod.rs
  core_lang/src/semantic_analysis/ast_node/expression/typed_expression.rs
  core_lang/src/semantic_analysis/node_dependencies.rs
Owners: @sezna

Update authors.
  core-types/Cargo.toml
  core_lang/Cargo.toml
  forc/Cargo.toml
  formatter/Cargo.toml
  sway-server/Cargo.toml
  test/Cargo.toml
Owners: @leviathanbeak, @sezna

Add more fields.
  core-types/Cargo.toml
  core_lang/Cargo.toml
  docstrings/Cargo.toml
  forc/Cargo.toml
  formatter/Cargo.toml
  parser/Cargo.toml
  sway-server/Cargo.toml
  test/Cargo.toml
Owners: @leviathanbeak, @sezna

Update highligh.js gen script author.
  scripts/highlightjs/sway.js
Owners: @leviathanbeak

Update author on Forc manifest files.
  test/src/e2e_vm_tests/test_programs/aliased_imports/Forc.toml
  test/src/e2e_vm_tests/test_programs/array_bad_index/Forc.toml
  test/src/e2e_vm_tests/test_programs/array_basics/Forc.toml
  test/src/e2e_vm_tests/test_programs/array_dynamic_oob/Forc.toml
  test/src/e2e_vm_tests/test_programs/array_generics/Forc.toml
  test/src/e2e_vm_tests/test_programs/array_oob/Forc.toml
  test/src/e2e_vm_tests/test_programs/asm_expr_basic/Forc.toml
  test/src/e2e_vm_tests/test_programs/assert_test/Forc.toml
  test/src/e2e_vm_tests/test_programs/b256_bad_jumps/Forc.toml
  test/src/e2e_vm_tests/test_programs/b256_ops/Forc.toml
  test/src/e2e_vm_tests/test_programs/basic_func_decl/Forc.toml
  test/src/e2e_vm_tests/test_programs/bool_and_or/Forc.toml
  test/src/e2e_vm_tests/test_programs/const_decl/Forc.toml
  test/src/e2e_vm_tests/test_programs/const_decl_in_library/Forc.toml
  test/src/e2e_vm_tests/test_programs/contract_abi_impl/Forc.toml
  test/src/e2e_vm_tests/test_programs/contract_call/Forc.toml
  test/src/e2e_vm_tests/test_programs/dependencies/Forc.toml
  test/src/e2e_vm_tests/test_programs/dependencies_parsing_error/Forc.toml
  test/src/e2e_vm_tests/test_programs/empty_impl/Forc.toml
  test/src/e2e_vm_tests/test_programs/enum_in_fn_decl/Forc.toml
  test/src/e2e_vm_tests/test_programs/excess_fn_arguments/Forc.toml
  test/src/e2e_vm_tests/test_programs/fix_opcode_bug/Forc.toml
  test/src/e2e_vm_tests/test_programs/if_elseif_enum/Forc.toml
  test/src/e2e_vm_tests/test_programs/infinite_dependencies/Forc.toml
  test/src/e2e_vm_tests/test_programs/local_impl_for_ord/Forc.toml
  test/src/e2e_vm_tests/test_programs/main_returns_unit/Forc.toml
  test/src/e2e_vm_tests/test_programs/missing_fn_arguments/Forc.toml
  test/src/e2e_vm_tests/test_programs/op_precedence/Forc.toml
  test/src/e2e_vm_tests/test_programs/out_of_order_decl/Forc.toml
  test/src/e2e_vm_tests/test_programs/recursive_calls/Forc.toml
  test/src/e2e_vm_tests/test_programs/struct_field_access/Forc.toml
  test/src/e2e_vm_tests/test_programs/struct_field_reassignment/Forc.toml
  test/src/e2e_vm_tests/test_programs/top_level_vars/Forc.toml
  test/src/e2e_vm_tests/test_programs/unary_not_basic/Forc.toml
  test/src/e2e_vm_tests/test_programs/unary_not_basic_2/Forc.toml
  test/src/e2e_vm_tests/test_programs/unify_identical_unknowns/Forc.toml
Owners: @sezna

Add information on the turbofish; format markdown
  docs/src/SUMMARY.md
  docs/src/advanced/generic_types.md
  docs/src/advanced/trait_constraints.md
  docs/src/basics/built_in_types.md
  docs/src/basics/custom_types.md
  docs/src/new-concepts/colored-coins.md
  docs/src/new-concepts/identifiers.md
  docs/src/new-concepts/index.md
  docs/src/new-concepts/utxos.md
  docs/src/strategy/strategy_and_roadmap.md
Owners: @adlerjohn, @sezna

CallPath keeps track of if its an absolute path or not.
  core_lang/src/control_flow_analysis/dead_code_analysis.rs
  core_lang/src/hll.pest
  core_lang/src/parse_tree/call_path.rs
  core_lang/src/parse_tree/declaration/impl_trait.rs
  core_lang/src/parse_tree/expression/method_name.rs
  core_lang/src/parse_tree/expression/mod.rs
  core_lang/src/parse_tree/expression/unary_op.rs
  core_lang/src/semantic_analysis/ast_node/expression/typed_expression.rs
  core_lang/src/semantic_analysis/ast_node/expression/typed_expression/method_application.rs
  core_lang/src/semantic_analysis/ast_node/impl_trait.rs
  core_lang/src/semantic_analysis/ast_node/mod.rs
  core_lang/src/semantic_analysis/namespace.rs
Owners: @sezna

Update json abi output
  test/src/e2e_vm_tests/test_programs/contract_abi_impl/json_abi_output.json
Owners: @sezna

Update json abi oracle
  test/src/e2e_vm_tests/test_programs/contract_abi_impl/json_abi_oracle.json
Owners: @sezna

Change default license to Apache-2.0.
  forc/src/utils/defaults.rs
Owners: @sezna

Re-order manifest fields.
  forc/src/utils/defaults.rs
Owners: @sezna

.github/CODEOWNERS:

core_lang/ @sezna
forc/ @sezna
formatter/ @leviathanbeak
docs/ @adlerjohn @sezna
fuel-abi-cli/ @digorithm
fuels-abigen-macro/ @digorithm
fuels-rs/ @digorithm
lib-std/ @sezna
lib-core/ @sezna
test/ @sezna
core-types/ @leviathanbeak
scripts/ @leviathanbeak
