Repository FuelLabs/sway, changes with the owners that .github/CODEOWNERS names for each.
All owners: @sezna, @leviathanbeak, @adlerjohn, @digorithm

Fix typo.
  forc/src/utils/defaults.rs
Owners: @sezna

Fix extra whitespace.
  forc/src/utils/defaults.rs
Owners: @sezna

Update Address and ContractID types
  docs/src/basics/built_in_types.md
Owners: @adlerjohn, @sezna

Rename colored coins
  docs/src/SUMMARY.md
  docs/src/new-concepts/colored-coins.md
  docs/src/new-concepts/native-assets.md
Owners: @adlerjohn, @sezna

Cleanup markdown
  docs/src/basics/built_in_types.md
  docs/src/new-concepts/native-assets.md
Owners: @adlerjohn, @sezna

Try adding json oracle again
  test/src/e2e_vm_tests/test_programs/contract_abi_impl/json_abi_oracle.json
Owners: @sezna

Move Address and ContractId types to new book section
  docs/src/basics/blockchain_types.md
  docs/src/basics/built_in_types.md
Owners: @adlerjohn, @sezna

Update SUMMARY.md
  docs/src/SUMMARY.md
Owners: @adlerjohn, @sezna

Remove colored-coins
  docs/src/SUMMARY.md
  docs/src/new-concepts/native-assets.md
Owners: @adlerjohn, @sezna

Fixup
  docs/src/SUMMARY.md
Owners: @adlerjohn, @sezna

Fix oracle json
  test/src/e2e_vm_tests/test_programs/contract_abi_impl/json_abi_oracle.json
Owners: @sezna

deploy: 6820b8500bdfb99158d65acf11a7fdd309254df2
  latest/getting-started/forc_project.html
  latest/print.html
  latest/searchindex.js
  latest/searchindex.json
Owners: none

Update more json files
  test/src/e2e_vm_tests/test_programs/contract_abi_impl/json_abi_output.json
  test/src/e2e_vm_tests/test_programs/valid_impurity/json_abi_oracle.json
Owners: @sezna

Fix typo from merge.
  test/src/e2e_vm_tests/test_programs/assert_test/Forc.toml
Owners: @sezna

Match expressions (#414)
  Cargo.lock
  core_lang/src/asm_generation/expression/enums.rs
  core_lang/src/asm_generation/expression/mod.rs
  core_lang/src/asm_generation/expression/subfield.rs
  core_lang/src/control_flow_analysis/dead_code_analysis.rs
  core_lang/src/error.rs
  core_lang/src/hll.pest
  core_lang/src/lib.rs
  core_lang/src/parse_tree/expression/match_branch.rs
  core_lang/src/parse_tree/expression/match_condition.rs
  core_lang/src/parse_tree/expression/matcher.rs
  core_lang/src/parse_tree/expression/mod.rs
  core_lang/src/parse_tree/expression/scrutinee.rs
  core_lang/src/semantic_analysis/ast_node/declaration/variable.rs
  core_lang/src/semantic_analysis/ast_node/expression/match_branch.rs
  core_lang/src/semantic_analysis/ast_node/expression/match_condition.rs
  core_lang/src/semantic_analysis/ast_node/expression/mod.rs
  core_lang/src/semantic_analysis/ast_node/expression/typed_expression.rs
  core_lang/src/semantic_analysis/ast_node/expression/typed_expression_variant.rs
  core_lang/src/semantic_analysis/node_dependencies.rs
  test/src/e2e_vm_tests/mod.rs
  test/src/e2e_vm_tests/test_programs/match_expressions/Forc.toml
  test/src/e2e_vm_tests/test_programs/match_expressions/json_abi_oracle.json
  test/src/e2e_vm_tests/test_programs/match_expressions/src/main.sw
  test/src/e2e_vm_tests/test_programs/match_expressions_enums/Forc.toml
  test/src/e2e_vm_tests/test_programs/match_expressions_enums/json_abi_oracle.json
  test/src/e2e_vm_tests/test_programs/match_expressions_enums/src/main.sw
  test/src/e2e_vm_tests/test_programs/match_expressions_structs/Forc.toml
  test/src/e2e_vm_tests/test_programs/match_expressions_structs/json_abi_oracle.json
  test/src/e2e_vm_tests/test_programs/match_expressions_structs/src/main.sw
  test/src/e2e_vm_tests/test_programs/match_expressions_wrong_struct/Forc.toml
  test/src/e2e_vm_tests/test_programs/match_expressions_wrong_struct/json_abi_oracle.json
  test/src/e2e_vm_tests/test_programs/match_expressions_wrong_struct/src/main.sw
Owners: @sezna

deploy: d242ba047d4958887216d9773cacdcd193dbd583
  latest/getting-started/forc_project.html
  latest/print.html
  latest/searchindex.js
  latest/searchindex.json
Owners: none

Updating sway types & rename colored coins. (#481)
  docs/src/SUMMARY.md
  docs/src/basics/blockchain_types.md
  docs/src/basics/built_in_types.md
  docs/src/new-concepts/colored-coins.md
  docs/src/new-concepts/native-assets.md
Owners: @adlerjohn, @sezna

Renaming color/token_id to asset_id (#476)
  docs/src/examples/fizzbuzz.md
  docs/src/examples/subcurrency.md
  docs/src/examples/wallet_smart_contract.md
  docs/src/sway-on-chain/scripts.md
  lib-std/src/context.sw
  test/src/e2e_vm_tests/test_programs/auth_testing_abi/src/main.sw
  test/src/e2e_vm_tests/test_programs/auth_testing_contract/src/main.sw
  test/src/e2e_vm_tests/test_programs/balance_test_abi/src/main.sw
  test/src/e2e_vm_tests/test_programs/balance_test_contract/src/main.sw
  test/src/e2e_vm_tests/test_programs/basic_storage/src/main.sw
  test/src/e2e_vm_tests/test_programs/basic_storage_abi/src/main.sw
  test/src/e2e_vm_tests/test_programs/caller_context_test/src/main.sw
  test/src/e2e_vm_tests/test_programs/context_testing_abi/src/main.sw
  test/src/e2e_vm_tests/test_programs/context_testing_contract/src/main.sw
  test/src/e2e_vm_tests/test_programs/contract_abi_impl/json_abi_output.json
  test/src/e2e_vm_tests/test_programs/contract_abi_impl/src/main.sw
  test/src/e2e_vm_tests/test_programs/contract_call/src/main.sw
  test/src/e2e_vm_tests/test_programs/contract_pure_calls_impure/src/main.sw
  test/src/e2e_vm_tests/test_programs/import_method_from_other_file/src/main.sw
  test/src/e2e_vm_tests/test_programs/increment_contract/src/main.sw
  test/src/e2e_vm_tests/test_programs/valid_impurity/json_abi_oracle.json
  test/src/e2e_vm_tests/test_programs/valid_impurity/src/main.sw
Owners: @adlerjohn, @sezna

deploy: 42f96d7b774462c6274e85a2883c314aa8187167
  latest/examples/fizzbuzz.html
  latest/examples/subcurrency.html
  latest/examples/wallet_smart_contract.html
  latest/print.html
  latest/searchindex.js
  latest/searchindex.json
  latest/sway-on-chain/scripts.html
Owners: none

Run the LSP via forc
  Cargo.lock
  Cargo.toml
  common/Cargo.toml
  common/src/constants.rs
  common/src/helpers.rs
  common/src/lib.rs
  forc/Cargo.toml
  forc/src/cli/commands/lsp.rs
  forc/src/cli/commands/mod.rs
  forc/src/cli/mod.rs
  forc/src/ops/forc_abi_json.rs
  forc/src/ops/forc_build.rs
  forc/src/ops/forc_dep_check.rs
  forc/src/ops/forc_deploy.rs
  forc/src/ops/forc_fmt.rs
  forc/src/ops/forc_init.rs
  forc/src/ops/forc_run.rs
  forc/src/ops/forc_update.rs
  forc/src/utils/cli_error.rs
  forc/src/utils/dependency.rs
  forc/src/utils/helpers.rs
  forc/src/utils/manifest.rs
  forc/src/utils/mod.rs
  sway-server/Cargo.toml
  sway-server/src/lib.rs
  sway-server/src/server.rs
Owners: @sezna

fmt
  forc/src/cli/commands/lsp.rs
Owners: @sezna

Update docs/src/advanced/generic_types.md
  docs/src/advanced/generic_types.md
Owners: @adlerjohn, @sezna

Update docs/src/advanced/generic_types.md
  docs/src/advanced/generic_types.md
Owners: @adlerjohn, @sezna

rename common to sway-utils
  Cargo.lock
  Cargo.toml
  common/Cargo.toml
  common/src/constants.rs
  common/src/helpers.rs
  common/src/lib.rs
  forc/Cargo.toml
  forc/src/cli/commands/lsp.rs
  forc/src/ops/forc_abi_json.rs
  forc/src/ops/forc_build.rs
  forc/src/ops/forc_dep_check.rs
  forc/src/ops/forc_deploy.rs
  forc/src/ops/forc_fmt.rs
  forc/src/ops/forc_init.rs
  forc/src/ops/forc_run.rs
  forc/src/ops/forc_update.rs
  forc/src/utils/cli_error.rs
  forc/src/utils/dependency.rs
  forc/src/utils/helpers.rs
  forc/src/utils/manifest.rs
  sway-server/Cargo.toml
  sway-server/src/server.rs
Owners: @sezna

alphabetize deps
  forc/Cargo.toml
  sway-server/Cargo.toml
Owners: @sezna

forgotten add
  sway-utils/Cargo.toml
  sway-utils/src/constants.rs
  sway-utils/src/helpers.rs
  sway-utils/src/lib.rs
Owners: none

fmt
  forc/src/ops/forc_abi_json.rs
  forc/src/ops/forc_build.rs
  forc/src/ops/forc_dep_check.rs
  forc/src/ops/forc_deploy.rs
  forc/src/ops/forc_fmt.rs
  forc/src/ops/forc_init.rs
  forc/src/ops/forc_run.rs
  forc/src/ops/forc_update.rs
  forc/src/utils/cli_error.rs
  forc/src/utils/dependency.rs
  forc/src/utils/helpers.rs
  sway-server/src/server.rs
Owners: @sezna

Run the LSP via forc (#485)
  Cargo.lock
  Cargo.toml
  forc/Cargo.toml
  forc/src/cli/commands/lsp.rs
  forc/src/cli/commands/mod.rs
  forc/src/cli/mod.rs
  forc/src/ops/forc_abi_json.rs
  forc/src/ops/forc_build.rs
  forc/src/ops/forc_dep_check.rs
  forc/src/ops/forc_deploy.rs
  forc/src/ops/forc_fmt.rs
  forc/src/ops/forc_init.rs
  forc/src/ops/forc_run.rs
  forc/src/ops/forc_update.rs
  forc/src/utils/cli_error.rs
  forc/src/utils/dependency.rs
  forc/src/utils/helpers.rs
  forc/src/utils/manifest.rs
  forc/src/utils/mod.rs
  sway-server/Cargo.toml
  sway-server/src/lib.rs
  sway-server/src/server.rs
  sway-utils/Cargo.toml
  sway-utils/src/constants.rs
  sway-utils/src/helpers.rs
  sway-utils/src/lib.rs
Owners: @sezna

.github/CODEOWNERS:

core_lang/ @sezna
forc/ @sezna
formatter/ @leviathanbeak
docs/ @adlerjohn @sezna
fuel-abi-cli/ @digorithm
fuels-abigen-macro/ @digorithm
fuels-rs/ @digorithm
lib-std/ @sezna
lib-core/ @sezna
test/ @sezna
core-types/ @leviathanbeak
scripts/ @leviathanbeak
