Repository FuelLabs/sway, pull requests merged in 2022-11, with the labels that each got.

#3231 Fix clippy issues related to appending format!-ed strings.
  sway-ir/src/analysis/dominator.rs
  sway-ir/src/function.rs
Labels: compiler, code quality

#3210 Fix bug which created dead and incorrectly typed blocks into IR, triggering a verification failure.
  sway-core/src/ir_generation/compile.rs
  sway-ir/src/constant.rs
  test/src/e2e_vm_tests/test_programs/should_pass/language/match_expressions_explicit_rets/.gitignore
  test/src/e2e_vm_tests/test_programs/should_pass/language/match_expressions_explicit_rets/Forc.lock
  test/src/e2e_vm_tests/test_programs/should_pass/language/match_expressions_explicit_rets/Forc.toml
  test/src/e2e_vm_tests/test_programs/should_pass/language/match_expressions_explicit_rets/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/language/match_expressions_explicit_rets/test.toml
Labels: bug, compiler: ir

#3236 Fix broken `fuel-specs` links in the Sway book and the standard library
  docs/src/advanced/assembly.md
  docs/src/blockchain-development/calling_contracts.md
  docs/src/blockchain-development/identifiers.md
  docs/src/reference/solidity_differences.md
  docs/src/sway-program-types/smart_contracts.md
  sway-core/src/asm_generation/programs/abstract.rs
  sway-lib-std/src/alloc.sw
  sway-lib-std/src/chain/auth.sw
  sway-lib-std/src/context/call_frames.sw
  sway-lib-std/src/context/registers.sw
  sway-types/src/lib.rs
  test/src/sdk-harness/test_projects/call_frames/mod.rs
Labels: lib: std, The Sway Book

#3238 Move error signals to new module
  sway-lib-std/src/error_signals.sw
  sway-lib-std/src/lib.sw
  sway-lib-std/src/message.sw
  sway-lib-std/src/revert.sw
  sway-lib-std/src/token.sw
Labels: enhancement, lib: std

#3181 fuel-core v0.13 upgrade
  .github/workflows/ci.yml
  Cargo.lock
  forc-pkg/Cargo.toml
  forc-pkg/src/pkg.rs
  forc-plugins/forc-client/Cargo.toml
  forc-plugins/forc-client/src/ops/deploy/cmd.rs
  forc-plugins/forc-client/src/ops/deploy/op.rs
  forc-plugins/forc-client/src/ops/run/cmd.rs
  forc-plugins/forc-client/src/ops/run/op.rs
  forc-plugins/forc-client/src/ops/tx_util.rs
  sway-core/Cargo.toml
  sway-core/src/asm_generation/asm_builder.rs
  sway-core/src/asm_generation/asm_builder/functions.rs
  sway-core/src/asm_lang/allocated_ops.rs
  sway-core/src/asm_lang/mod.rs
  sway-core/src/asm_lang/virtual_ops.rs
  sway-core/src/asm_lang/virtual_register.rs
  sway-core/src/ir_generation/function.rs
  sway-core/src/ir_generation/storage.rs
  sway-core/src/language/ty/program.rs
  sway-core/src/lib.rs
  sway-core/src/semantic_analysis/ast_node/declaration/storage.rs
  sway-types/Cargo.toml
  templates/sway-test-rs/template/Cargo.toml
  test/Cargo.toml
  test/src/e2e_vm_tests/harness.rs
  test/src/e2e_vm_tests/mod.rs
  test/src/e2e_vm_tests/test_programs/should_pass/require_contract_deployment/bal_opcode/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/require_contract_deployment/call_basic_storage/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/require_contract_deployment/call_increment_contract/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/require_contract_deployment/caller_context_test/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/require_contract_deployment/storage_access_caller/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/stdlib/logarithmic_test/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/stdlib/u128_log_test/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/stdlib/u128_root_test/src/main.sw
  test/src/sdk-harness/Cargo.toml
  test/src/sdk-harness/test_projects/block/mod.rs
  test/src/sdk-harness/test_projects/ec_recover_and_match_predicate/mod.rs
  test/src/sdk-harness/test_projects/logging/mod.rs
  test/src/sdk-harness/test_projects/predicate_data_simple/mod.rs
  test/src/sdk-harness/test_projects/predicate_data_struct/mod.rs
  test/src/sdk-harness/test_projects/script_data/mod.rs
  test/src/sdk-harness/test_projects/tx_fields/mod.rs
Labels: dependencies

#3235 Test ec_recover using SDK + fuel-crypto
  test/src/e2e_vm_tests/test_programs/should_pass/stdlib/ec_recover_test/json_abi_oracle.json
  test/src/e2e_vm_tests/test_programs/should_pass/stdlib/ec_recover_test/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/stdlib/ec_recover_test/test.toml
  test/src/sdk-harness/test_projects/ec_recover/.gitignore
  test/src/sdk-harness/test_projects/ec_recover/Forc.lock
  test/src/sdk-harness/test_projects/ec_recover/Forc.toml
  test/src/sdk-harness/test_projects/ec_recover/mod.rs
  test/src/sdk-harness/test_projects/ec_recover/src/main.sw
  test/src/sdk-harness/test_projects/harness.rs
Labels: lib: std, code quality, testing

#3157 Add intrinsics for operating on raw_ptrs
  sway-ast/src/intrinsics.rs
  sway-core/src/ir_generation/function.rs
  sway-core/src/semantic_analysis/ast_node/expression/intrinsic_function.rs
  sway-lib-core/src/raw_ptr.sw
  sway-lib-std/src/alloc.sw
  sway-lib-std/src/context/call_frames.sw
  sway-lib-std/src/message.sw
  sway-lib-std/src/storage.sw
  sway-lib-std/src/vec.sw
  test/src/e2e_vm_tests/test_programs/should_pass/language/fixing_generic_type/Forc.lock
  test/src/e2e_vm_tests/test_programs/should_pass/language/fixing_generic_type/Forc.toml
  test/src/e2e_vm_tests/test_programs/should_pass/language/fixing_generic_type/json_abi_oracle.json
  test/src/e2e_vm_tests/test_programs/should_pass/language/fixing_generic_type/src/buffer.sw
  test/src/e2e_vm_tests/test_programs/should_pass/language/fixing_generic_type/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/language/fixing_generic_type/src/pointer.sw
  test/src/e2e_vm_tests/test_programs/should_pass/language/fixing_generic_type/test.toml
  test/src/e2e_vm_tests/test_programs/should_pass/require_contract_deployment/call_basic_storage/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/stdlib/alloc/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/stdlib/raw_ptr/src/main.sw
Labels: lib: std, breaking, compiler: frontend

#3163 deprecate `forc-explore`
  Cargo.lock
  Cargo.toml
  forc-plugins/forc-explore/Cargo.toml
  forc-plugins/forc-explore/src/main.rs
Labels: forc, breaking

#3241 Generic trait `From<T>` in the standard library
  examples/arrays/Forc.lock
  examples/asm_return_tuple_pointer/Forc.lock
  examples/break_and_continue/Forc.lock
  examples/config_time_constants/Forc.lock
  examples/counter/Forc.lock
  examples/enums/Forc.lock
  examples/fizzbuzz/Forc.lock
  examples/hashing/Forc.lock
  examples/identity/Forc.lock
  examples/liquidity_pool/Forc.lock
  examples/match_statements/Forc.lock
  examples/msg_sender/Forc.lock
  examples/native_token/Forc.lock
  examples/ownership/Forc.lock
  examples/ref_mut_params/Forc.lock
  examples/signatures/Forc.lock
  examples/signatures/src/main.sw
  examples/storage_example/Forc.lock
  examples/storage_variables/Forc.lock
  examples/storage_vec/Forc.lock
  examples/tuples/Forc.lock
  examples/wallet_abi/Forc.lock
  examples/wallet_contract_caller_script/Forc.lock
  examples/wallet_smart_contract/Forc.lock
  sway-lib-std/src/address.sw
  sway-lib-std/src/b512.sw
  sway-lib-std/src/contract_id.sw
  sway-lib-std/src/convert.sw
  sway-lib-std/src/lib.sw
  sway-lib-std/src/prelude.sw
  sway-lib-std/src/u128.sw
  sway-lib-std/src/u256.sw
  sway-lib-std/src/vm/evm/evm_address.sw
  test/src/e2e_vm_tests/test_programs/should_pass/language/empty_method_initializer/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/language/eq_and_neq/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/stdlib/b512_struct_alignment/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/stdlib/b512_test/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/stdlib/evm_ecr/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/stdlib/u128_div_test/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/stdlib/u128_log_test/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/stdlib/u128_mul_test/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/stdlib/u128_root_test/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/stdlib/u128_test/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/stdlib/u256_div_test/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/stdlib/u256_mul_test/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/stdlib/u256_ops_test/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/stdlib/u256_test/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/stdlib/vec_swap/src/main.sw
  test/src/sdk-harness/test_projects/ec_recover/src/main.sw
Labels: lib: std, breaking

#3239 Disallow assigning to initialized registers in `asm` blocks
  Cargo.lock
  sway-ast/src/expr/op_code.rs
  sway-core/Cargo.toml
  sway-core/src/semantic_analysis/ast_node/expression/typed_expression.rs
  sway-error/src/error.rs
  sway-lib-core/src/ops.sw
  sway-parse/src/expr/op_code.rs
  test/src/e2e_vm_tests/test_programs/should_fail/asm_assign_to_initialized_reg/Forc.lock
  test/src/e2e_vm_tests/test_programs/should_fail/asm_assign_to_initialized_reg/Forc.toml
  test/src/e2e_vm_tests/test_programs/should_fail/asm_assign_to_initialized_reg/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_fail/asm_assign_to_initialized_reg/test.toml
  test/src/e2e_vm_tests/test_programs/should_fail/storage_conflict/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_fail/storage_ops_in_library/src/do_storage.sw
  test/src/e2e_vm_tests/test_programs/should_pass/language/asm_without_return/Forc.toml
  test/src/e2e_vm_tests/test_programs/should_pass/language/asm_without_return/src/main.sw
  test/src/ir_generation/tests/storage_metadata.sw
Labels: breaking, compiler: ui

#3247 Flatten the stdlib
  examples/identity/src/main.sw
  examples/liquidity_pool/src/main.sw
  examples/msg_sender/src/main.sw
  examples/subcurrency/src/main.sw
  examples/wallet_smart_contract/src/main.sw
  sway-lib-std/src/auth.sw
  sway-lib-std/src/call_frames.sw
  sway-lib-std/src/chain.sw
  sway-lib-std/src/context.sw
  sway-lib-std/src/ecr.sw
  sway-lib-std/src/flags.sw
  sway-lib-std/src/lib.sw
  sway-lib-std/src/reentrancy.sw
  sway-lib-std/src/registers.sw
  sway-lib-std/src/token.sw
  sway-lib-std/src/vm/evm/ecr.sw
  test/src/e2e_vm_tests/test_programs/should_fail/abort_control_flow_bad/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_fail/better_type_error_message/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/language/abort_control_flow_good/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/test_contracts/auth_testing_contract/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/test_contracts/context_testing_contract/src/main.sw
  test/src/sdk-harness/test_artifacts/auth_caller_contract/src/main.sw
  test/src/sdk-harness/test_artifacts/auth_caller_script/src/main.sw
  test/src/sdk-harness/test_artifacts/auth_testing_abi/src/main.sw
  test/src/sdk-harness/test_artifacts/auth_testing_contract/src/main.sw
  test/src/sdk-harness/test_artifacts/context_caller_contract/src/main.sw
  test/src/sdk-harness/test_artifacts/methods_contract/src/main.sw
  test/src/sdk-harness/test_artifacts/reentrancy_attacker_contract/src/main.sw
  test/src/sdk-harness/test_artifacts/reentrancy_target_contract/src/main.sw
  test/src/sdk-harness/test_projects/call_frames/src/main.sw
  test/src/sdk-harness/test_projects/context/src/main.sw
  test/src/sdk-harness/test_projects/registers/src/main.sw
  test/src/sdk-harness/test_projects/storage/src/main.sw
Labels: lib: std, code quality, breaking

#3257 fix: Sway formatter removing generic traits type parameters
  swayfmt/src/formatter/mod.rs
  swayfmt/src/items/item_trait.rs
  swayfmt/src/utils/language/where_clause.rs
Labels: bug, forc, formatter, P: critical

#3259 Rename constant_decleration to constant_declaration to fix spelling
  sway-core/src/semantic_analysis/ast_node/expression/typed_expression.rs
  sway-core/src/semantic_analysis/ast_node/expression/typed_expression/constant_declaration.rs
Labels: code quality

#3209 Add tests for generics and `Vec` in the abi (just as an input for now)
  test/src/sdk-harness/test_projects/generics_in_abi/Forc.lock
  test/src/sdk-harness/test_projects/generics_in_abi/Forc.toml
  test/src/sdk-harness/test_projects/generics_in_abi/mod.rs
  test/src/sdk-harness/test_projects/generics_in_abi/src/main.sw
  test/src/sdk-harness/test_projects/harness.rs
  test/src/sdk-harness/test_projects/vec_in_abi/Forc.lock
  test/src/sdk-harness/test_projects/vec_in_abi/Forc.toml
  test/src/sdk-harness/test_projects/vec_in_abi/mod.rs
  test/src/sdk-harness/test_projects/vec_in_abi/src/main.sw
Labels: testing

#3213 Type check trait methods during trait declaration.
  sway-core/src/declaration_engine/decl_mapping.rs
  sway-core/src/declaration_engine/declaration_engine.rs
  sway-core/src/declaration_engine/declaration_id.rs
  sway-core/src/declaration_engine/declaration_wrapper.rs
  sway-core/src/declaration_engine/mod.rs
  sway-core/src/declaration_engine/replace_declaration_id.rs
  sway-core/src/language/ty/ast_node.rs
  sway-core/src/language/ty/code_block.rs
  sway-core/src/language/ty/declaration/abi.rs
  sway-core/src/language/ty/declaration/function.rs
  sway-core/src/language/ty/declaration/trait.rs
  sway-core/src/language/ty/expression/expression.rs
  sway-core/src/language/ty/expression/expression_variant.rs
  sway-core/src/language/ty/expression/reassignment.rs
  sway-core/src/language/ty/expression/struct_exp_field.rs
  sway-core/src/semantic_analysis/ast_node/declaration.rs
  sway-core/src/semantic_analysis/ast_node/declaration/abi.rs
  sway-core/src/semantic_analysis/ast_node/declaration/impl_trait.rs
  sway-core/src/semantic_analysis/ast_node/declaration/mod.rs
  sway-core/src/semantic_analysis/ast_node/declaration/trait.rs
  sway-core/src/semantic_analysis/ast_node/declaration/trait_fn.rs
  sway-core/src/semantic_analysis/ast_node/expression/typed_expression.rs
  sway-core/src/semantic_analysis/ast_node/expression/typed_expression/function_application.rs
  sway-core/src/semantic_analysis/ast_node/expression/typed_expression/method_application.rs
  sway-core/src/semantic_analysis/ast_node/mod.rs
  sway-core/src/semantic_analysis/namespace/items.rs
  sway-core/src/semantic_analysis/namespace/namespace.rs
  sway-core/src/semantic_analysis/namespace/trait_map.rs
  sway-core/src/type_system/type_binding.rs
  sway-ir/src/optimize/constants.rs
  test/src/e2e_vm_tests/test_programs/should_pass/language/empty_method_initializer/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/language/supertraits_with_trait_methods/Forc.lock
  test/src/e2e_vm_tests/test_programs/should_pass/language/supertraits_with_trait_methods/Forc.toml
  test/src/e2e_vm_tests/test_programs/should_pass/language/supertraits_with_trait_methods/json_abi_oracle.json
  test/src/e2e_vm_tests/test_programs/should_pass/language/supertraits_with_trait_methods/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/language/supertraits_with_trait_methods/test.toml
Labels: compiler: frontend

#3269 Update the list of crates to verify the tag for
  .github/workflows/ci.yml
  Cargo.toml
Labels: ci

#3274 Address Clippy warnings due to Rust 1.65
  .github/workflows/ci.yml
  forc-pkg/src/lock.rs
  forc-pkg/src/manifest.rs
  forc-plugins/forc-client/src/ops/run/op.rs
  scripts/examples-checker/src/main.rs
  sway-core/src/asm_generation/asm_builder.rs
  sway-core/src/asm_generation/data_section.rs
  sway-core/src/control_flow_analysis/dead_code_analysis.rs
  sway-core/src/ir_generation/compile.rs
  sway-core/src/ir_generation/convert.rs
  sway-core/src/ir_generation/function.rs
  sway-core/src/ir_generation/storage.rs
  sway-core/src/lib.rs
  sway-core/src/semantic_analysis/ast_node/expression/match_expression/analysis/pattern.rs
  sway-core/src/semantic_analysis/ast_node/expression/match_expression/analysis/usefulness.rs
  sway-core/src/semantic_analysis/ast_node/expression/typed_expression.rs
  sway-ir/src/analysis/call_graph.rs
  sway-ir/src/optimize/inline.rs
  sway-ir/src/parser.rs
  sway-ir/src/printer.rs
  sway-lsp/src/core/document.rs
  sway-lsp/src/utils/sync.rs
  sway-types/src/lib.rs
  swayfmt/src/formatter/shape.rs
Labels: code quality

#3258 LSP: Show fn signature and type info, visibility, and mutability on hover requests.
  sway-lsp/src/capabilities/hover.rs
  sway-lsp/src/server.rs
  sway-lsp/src/utils/attributes.rs
  sway-lsp/src/utils/markup.rs
Labels: enhancement, language server

#2985 Sway unit test (i.e. `#[test]` fn) compilation
  .github/workflows/ci.yml
  Cargo.lock
  Cargo.toml
  forc-pkg/src/pkg.rs
  forc-test/Cargo.toml
  forc-test/src/lib.rs
  forc/Cargo.toml
  forc/src/cli/commands/test.rs
  sway-core/src/asm_generation/allocated_abstract_instruction_set.rs
  sway-core/src/asm_generation/asm_builder/functions.rs
  sway-core/src/asm_generation/checks.rs
  sway-core/src/asm_generation/finalized_asm.rs
  sway-core/src/asm_generation/from_ir.rs
  sway-core/src/asm_generation/mod.rs
  sway-core/src/asm_generation/programs.rs
  sway-core/src/asm_generation/programs/abstract.rs
  sway-core/src/asm_generation/programs/allocated.rs
  sway-core/src/asm_generation/programs/final.rs
  sway-core/src/ir_generation.rs
  sway-core/src/ir_generation/compile.rs
  sway-core/src/ir_generation/function.rs
  sway-core/src/language/ty/program.rs
  sway-core/src/lib.rs
  sway-core/src/semantic_analysis/program.rs
  sway-core/src/transform/to_parsed_lang/convert_parse_tree.rs
  sway-ir/src/function.rs
  sway-ir/src/parser.rs
  sway-ir/src/printer.rs
  sway-ir/tests/serialize/entry.ir
  test/Cargo.toml
  test/src/e2e_vm_tests/harness.rs
  test/src/e2e_vm_tests/mod.rs
  test/src/e2e_vm_tests/test_programs/README.md
  test/src/e2e_vm_tests/test_programs/should_pass/unit_tests/contract_multi_test/Forc.lock
  test/src/e2e_vm_tests/test_programs/should_pass/unit_tests/contract_multi_test/Forc.toml
  test/src/e2e_vm_tests/test_programs/should_pass/unit_tests/contract_multi_test/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/unit_tests/contract_multi_test/test.toml
  test/src/e2e_vm_tests/test_programs/should_pass/unit_tests/lib_multi_test/Forc.lock
  test/src/e2e_vm_tests/test_programs/should_pass/unit_tests/lib_multi_test/Forc.toml
  test/src/e2e_vm_tests/test_programs/should_pass/unit_tests/lib_multi_test/src/lib.sw
  test/src/e2e_vm_tests/test_programs/should_pass/unit_tests/lib_multi_test/test.toml
  test/src/e2e_vm_tests/test_programs/should_pass/unit_tests/lib_single_test/Forc.lock
  test/src/e2e_vm_tests/test_programs/should_pass/unit_tests/lib_single_test/Forc.toml
  test/src/e2e_vm_tests/test_programs/should_pass/unit_tests/lib_single_test/src/lib.sw
  test/src/e2e_vm_tests/test_programs/should_pass/unit_tests/lib_single_test/test.toml
  test/src/e2e_vm_tests/test_programs/should_pass/unit_tests/predicate_multi_test/Forc.lock
  test/src/e2e_vm_tests/test_programs/should_pass/unit_tests/predicate_multi_test/Forc.toml
  test/src/e2e_vm_tests/test_programs/should_pass/unit_tests/predicate_multi_test/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/unit_tests/predicate_multi_test/test.toml
  test/src/e2e_vm_tests/test_programs/should_pass/unit_tests/script_multi_test/Forc.lock
  test/src/e2e_vm_tests/test_programs/should_pass/unit_tests/script_multi_test/Forc.toml
  test/src/e2e_vm_tests/test_programs/should_pass/unit_tests/script_multi_test/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/unit_tests/script_multi_test/test.toml
  test/src/ir_generation/mod.rs
Labels: compiler, forc, testing, compiler: ir, compiler: codegen

#3212 LSP: Collect declaration tokens from std lib prelude and dependencies
  forc-pkg/src/pkg.rs
  forc-plugins/forc-doc/src/main.rs
  forc/src/ops/forc_check.rs
  sway-core/src/language/parsed/mod.rs
  sway-core/src/language/parsed/module.rs
  sway-core/src/language/parsed/program.rs
  sway-core/src/language/ty/program.rs
  sway-lsp/src/core/dependency.rs
  sway-lsp/src/core/mod.rs
  sway-lsp/src/core/session.rs
  sway-lsp/src/core/token.rs
Labels: language server, lib: std, lib: core

#3201 fix: create message to sign from transaction id bytes
  forc-plugins/forc-client/src/ops/tx_util.rs
Labels: bug, forc, P: critical

#3285 Tests revert in an if branch
  test/src/e2e_vm_tests/test_programs/should_pass/stdlib/if_type_revert/Forc.lock
  test/src/e2e_vm_tests/test_programs/should_pass/stdlib/if_type_revert/Forc.toml
  test/src/e2e_vm_tests/test_programs/should_pass/stdlib/if_type_revert/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/stdlib/if_type_revert/test.toml
Labels: testing

#3293 fix: remove std dependency for the workspace test
  test/src/e2e_vm_tests/test_programs/should_pass/forc/workspace_building/Forc.lock
  test/src/e2e_vm_tests/test_programs/should_pass/forc/workspace_building/test_contract/Forc.toml
Labels: bug, forc, testing, P: critical

#3290 Bump to `v0.30.1`
  Cargo.lock
  forc-pkg/Cargo.toml
  forc-plugins/forc-client/Cargo.toml
  forc-plugins/forc-doc/Cargo.toml
  forc-plugins/forc-fmt/Cargo.toml
  forc-plugins/forc-lsp/Cargo.toml
  forc-test/Cargo.toml
  forc-tracing/Cargo.toml
  forc-util/Cargo.toml
  forc/Cargo.toml
  sway-ast/Cargo.toml
  sway-core/Cargo.toml
  sway-error/Cargo.toml
  sway-ir/Cargo.toml
  sway-ir/sway-ir-macros/Cargo.toml
  sway-lsp/Cargo.toml
  sway-parse/Cargo.toml
  sway-types/Cargo.toml
  sway-utils/Cargo.toml
  swayfmt/Cargo.toml
Labels: release

#3253 Some micro-optimizations to `U128` and `U256`
  sway-lib-std/src/u128.sw
  sway-lib-std/src/u256.sw
  test/src/e2e_vm_tests/test_programs/should_pass/stdlib/u128_root_test/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/stdlib/u256_div_test/Forc.lock
  test/src/e2e_vm_tests/test_programs/should_pass/stdlib/u256_div_test/json_abi_oracle.json
  test/src/e2e_vm_tests/test_programs/should_pass/stdlib/u256_div_test/test.toml
  test/src/e2e_vm_tests/test_programs/should_pass/stdlib/u256_mul_test/Forc.lock
  test/src/e2e_vm_tests/test_programs/should_pass/stdlib/u256_mul_test/json_abi_oracle.json
  test/src/e2e_vm_tests/test_programs/should_pass/stdlib/u256_mul_test/test.toml
  test/src/e2e_vm_tests/test_programs/should_pass/stdlib/u256_ops_test/Forc.lock
  test/src/e2e_vm_tests/test_programs/should_pass/stdlib/u256_ops_test/json_abi_oracle.json
  test/src/e2e_vm_tests/test_programs/should_pass/stdlib/u256_ops_test/test.toml
Labels: lib: std, testing

#3273 VM instructions cleanup in the compiler and exposing `scwq`
  sway-ast/src/expr/op_code.rs
  sway-core/src/asm_lang/allocated_ops.rs
  sway-core/src/asm_lang/mod.rs
  sway-core/src/asm_lang/virtual_ops.rs
  sway-parse/src/expr/op_code.rs
Labels: code quality, compiler: parser, compiler: codegen

#3304 Bump to `fuels 0.30` and `fuel-core 0.14`
  .github/workflows/ci.yml
  Cargo.lock
  forc-plugins/forc-client/Cargo.toml
  forc/Cargo.toml
  templates/sway-test-rs/template/Cargo.toml
  templates/sway-test-rs/template/tests/harness.rs
  test/src/sdk-harness/Cargo.toml
  test/src/sdk-harness/test_projects/block/mod.rs
  test/src/sdk-harness/test_projects/ec_recover/mod.rs
  test/src/sdk-harness/test_projects/ec_recover_and_match_predicate/mod.rs
  test/src/sdk-harness/test_projects/predicate_data_simple/mod.rs
  test/src/sdk-harness/test_projects/predicate_data_struct/mod.rs
  test/src/sdk-harness/test_projects/token_ops/mod.rs
Labels: dependencies

#3240 sway-test-rs template; update instruction links
  templates/sway-test-rs/README.md
Labels: documentation

#3307 Update lock files for all examples
  examples/arrays/Forc.lock
  examples/asm_return_tuple_pointer/Forc.lock
  examples/break_and_continue/Forc.lock
  examples/config_time_constants/Forc.lock
  examples/counter/Forc.lock
  examples/enums/Forc.lock
  examples/fizzbuzz/Forc.lock
  examples/hashing/Forc.lock
  examples/identity/Forc.lock
  examples/liquidity_pool/Forc.lock
  examples/match_statements/Forc.lock
  examples/msg_sender/Forc.lock
  examples/native_token/Forc.lock
  examples/ownership/Forc.lock
  examples/ref_mut_params/Forc.lock
  examples/signatures/Forc.lock
  examples/storage_example/Forc.lock
  examples/storage_map/Forc.lock
  examples/storage_variables/Forc.lock
  examples/storage_vec/Forc.lock
  examples/structs/Forc.lock
  examples/subcurrency/Forc.lock
  examples/subcurrency/src/main.sw
  examples/tuples/Forc.lock
  examples/vec/Forc.lock
  examples/wallet_abi/Forc.lock
  examples/wallet_contract_caller_script/Forc.lock
  examples/wallet_smart_contract/Forc.lock
Labels: The Sway Book

#3279 Disallow control flow opcodes in `asm` blocks
  sway-ast/src/expr/op_code.rs
  sway-core/src/semantic_analysis/ast_node/expression/typed_expression.rs
  sway-error/src/error.rs
  sway-parse/src/expr/op_code.rs
  test/src/e2e_vm_tests/test_programs/should_fail/asm_disallowed_opcodes/Forc.lock
  test/src/e2e_vm_tests/test_programs/should_fail/asm_disallowed_opcodes/Forc.toml
  test/src/e2e_vm_tests/test_programs/should_fail/asm_disallowed_opcodes/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_fail/asm_disallowed_opcodes/test.toml
Labels: compiler: ui

#3288 Kinda allow returning `Vec`s from scripts
  sway-core/src/asm_generation/asm_builder.rs
  sway-core/src/asm_generation/asm_builder/functions.rs
  sway-core/src/asm_generation/from_ir.rs
  sway-core/src/ir_generation/convert.rs
  sway-core/src/ir_generation/function.rs
  sway-core/src/language/ty/program.rs
  sway-core/src/semantic_analysis/namespace/trait_map.rs
  sway-core/src/semantic_analysis/node_dependencies.rs
  sway-core/src/transform/to_parsed_lang/convert_parse_tree.rs
  sway-core/src/type_system/type_id.rs
  sway-core/src/type_system/type_info.rs
  sway-core/src/type_system/type_mapping.rs
  sway-core/src/type_system/unify.rs
  sway-error/src/error.rs
  sway-ir/src/irtype.rs
  sway-ir/src/optimize/inline.rs
  sway-ir/src/verify.rs
  sway-lib-core/src/lib.sw
  sway-lib-core/src/prelude.sw
  sway-lib-core/src/raw_slice.sw
  sway-lib-std/src/alloc.sw
  sway-lib-std/src/vec.sw
  test/src/e2e_vm_tests/test_programs/should_fail/raw_ptr/raw_ptr_ret/test.toml
  test/src/e2e_vm_tests/test_programs/should_fail/raw_ptr/vec_ret/test.toml
  test/src/e2e_vm_tests/test_programs/should_fail/raw_slice_ret/Forc.lock
  test/src/e2e_vm_tests/test_programs/should_fail/raw_slice_ret/Forc.toml
  test/src/e2e_vm_tests/test_programs/should_fail/raw_slice_ret/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_fail/raw_slice_ret/test.toml
  test/src/e2e_vm_tests/test_programs/should_pass/stdlib/raw_slice/Forc.lock
  test/src/e2e_vm_tests/test_programs/should_pass/stdlib/raw_slice/Forc.toml
  test/src/e2e_vm_tests/test_programs/should_pass/stdlib/raw_slice/json_abi_oracle.json
  test/src/e2e_vm_tests/test_programs/should_pass/stdlib/raw_slice/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/stdlib/raw_slice/test.toml
Labels: lib: std, compiler: ir, language feature, compiler: frontend

#3277 Prevent an illegal use of a generic from crashing the compiler
  sway-core/src/control_flow_analysis/analyze_return_paths.rs
  sway-core/src/control_flow_analysis/dead_code_analysis.rs
  sway-core/src/ir_generation/compile.rs
  sway-core/src/language/ty/declaration/declaration.rs
  sway-core/src/semantic_analysis/ast_node/declaration/declaration.rs
  sway-core/src/semantic_analysis/ast_node/declaration/function.rs
  sway-core/src/semantic_analysis/ast_node/declaration/impl_trait.rs
  sway-core/src/semantic_analysis/ast_node/declaration/mod.rs
  sway-core/src/semantic_analysis/ast_node/mod.rs
  sway-core/src/semantic_analysis/namespace/namespace.rs
  sway-core/src/semantic_analysis/storage_only_types.rs
  sway-error/src/error.rs
  sway-lsp/src/core/traverse_typed_tree.rs
  test/src/e2e_vm_tests/test_programs/should_fail/abi_method_signature_mismatch/test.toml
  test/src/e2e_vm_tests/test_programs/should_fail/abi_pure_calls_impure/test.toml
  test/src/e2e_vm_tests/test_programs/should_fail/contract_pure_calls_impure/test.toml
  test/src/e2e_vm_tests/test_programs/should_fail/generic_traits/test.toml
  test/src/e2e_vm_tests/test_programs/should_fail/illegal_use_of_generic/Forc.lock
  test/src/e2e_vm_tests/test_programs/should_fail/illegal_use_of_generic/Forc.toml
  test/src/e2e_vm_tests/test_programs/should_fail/illegal_use_of_generic/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_fail/illegal_use_of_generic/test.toml
  test/src/e2e_vm_tests/test_programs/should_fail/impure_abi_read_calls_impure_write/test.toml
  test/src/e2e_vm_tests/test_programs/should_fail/trait_method_signature_mismatch/test.toml
  test/src/e2e_vm_tests/test_programs/should_fail/where_clause_functions/test.toml
  test/src/e2e_vm_tests/test_programs/should_fail/where_clause_impls/test.toml
Labels: bug, P: critical

#3309 Add initial unit testing documentation to the Sway book
  docs/src/testing/index.md
  docs/src/testing/unit-testing.md
  forc/src/cli/commands/test.rs
Labels: forc, The Sway Book, documentation, forc-test

#3308 forc-doc: add name/about/versioning and fix option description
  forc-plugins/forc-doc/src/cli.rs
Labels: forc-doc

#3315 Switch evm_ec_recover test to use the SDK
  Cargo.lock
  Cargo.toml
  test-sig-gen-util/Cargo.toml
  test-sig-gen-util/src/main.rs
  test/src/e2e_vm_tests/test_programs/should_pass/stdlib/evm_ecr/Forc.lock
  test/src/e2e_vm_tests/test_programs/should_pass/stdlib/evm_ecr/json_abi_oracle.json
  test/src/e2e_vm_tests/test_programs/should_pass/stdlib/evm_ecr/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/stdlib/evm_ecr/test.toml
  test/src/sdk-harness/test_projects/evm_ec_recover/.gitignore
  test/src/sdk-harness/test_projects/evm_ec_recover/Forc.lock
  test/src/sdk-harness/test_projects/evm_ec_recover/Forc.toml
  test/src/sdk-harness/test_projects/evm_ec_recover/mod.rs
  test/src/sdk-harness/test_projects/evm_ec_recover/src/main.sw
  test/src/sdk-harness/test_projects/harness.rs
Labels: lib: std, code quality

#3328 Fix typeo in `predicates.md`
  docs/src/sway-program-types/predicates.md
Labels: The Sway Book

#3334 don't exhaustively match on transaction status in forc deploy
  forc-plugins/forc-client/src/ops/deploy/op.rs
Labels: forc

#3248 feat: Implement workspace deployment/running
  forc-pkg/src/pkg.rs
  forc-plugins/forc-client/src/ops/deploy/op.rs
  forc-plugins/forc-client/src/ops/mod.rs
  forc-plugins/forc-client/src/ops/pkg_util.rs
  forc-plugins/forc-client/src/ops/run/op.rs
  test/src/e2e_vm_tests/harness.rs
Labels: enhancement, forc, P: high

#3335 Bump to`v0.31.0`
  .github/workflows/ci.yml
  Cargo.lock
  forc-pkg/Cargo.toml
  forc-plugins/forc-client/Cargo.toml
  forc-plugins/forc-doc/Cargo.toml
  forc-plugins/forc-fmt/Cargo.toml
  forc-plugins/forc-lsp/Cargo.toml
  forc-test/Cargo.toml
  forc-tracing/Cargo.toml
  forc-util/Cargo.toml
  forc/Cargo.toml
  sway-ast/Cargo.toml
  sway-core/Cargo.toml
  sway-error/Cargo.toml
  sway-ir/Cargo.toml
  sway-ir/sway-ir-macros/Cargo.toml
  sway-lsp/Cargo.toml
  sway-parse/Cargo.toml
  sway-types/Cargo.toml
  sway-utils/Cargo.toml
  swayfmt/Cargo.toml
  test/src/sdk-harness/test_projects/evm_ec_recover/Forc.lock
  test/src/sdk-harness/test_projects/evm_ec_recover/Forc.toml
Labels: release

#3314 Adding documentation for the standard library
  sway-lib-std/src/assert.sw
  sway-lib-std/src/message.sw
  sway-lib-std/src/revert.sw
  sway-lib-std/src/storage.sw
  sway-lib-std/src/token.sw
  sway-lib-std/src/u128.sw
  sway-lib-std/src/u256.sw
  sway-lib-std/src/vec.sw
Labels: documentation

#3168 Add CEI pattern static analysis
  sway-core/src/lib.rs
  sway-core/src/semantic_analysis.rs
  sway-core/src/semantic_analysis/cei_pattern_analysis.rs
  sway-error/src/warning.rs
  test/src/e2e_vm_tests/test_programs/should_pass/static_analysis/cei_pattern_violation/Forc.lock
  test/src/e2e_vm_tests/test_programs/should_pass/static_analysis/cei_pattern_violation/Forc.toml
  test/src/e2e_vm_tests/test_programs/should_pass/static_analysis/cei_pattern_violation/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/static_analysis/cei_pattern_violation/test.toml
  test/src/e2e_vm_tests/test_programs/should_pass/static_analysis/cei_pattern_violation_in_asm_block/Forc.lock
  test/src/e2e_vm_tests/test_programs/should_pass/static_analysis/cei_pattern_violation_in_asm_block/Forc.toml
  test/src/e2e_vm_tests/test_programs/should_pass/static_analysis/cei_pattern_violation_in_asm_block/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/static_analysis/cei_pattern_violation_in_asm_block/test.toml
  test/src/e2e_vm_tests/test_programs/should_pass/static_analysis/cei_pattern_violation_in_asm_block_read/Forc.lock
  test/src/e2e_vm_tests/test_programs/should_pass/static_analysis/cei_pattern_violation_in_asm_block_read/Forc.toml
  test/src/e2e_vm_tests/test_programs/should_pass/static_analysis/cei_pattern_violation_in_asm_block_read/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/static_analysis/cei_pattern_violation_in_asm_block_read/test.toml
  test/src/e2e_vm_tests/test_programs/should_pass/static_analysis/cei_pattern_violation_in_codeblocks_other_than_in_functions/Forc.lock
  test/src/e2e_vm_tests/test_programs/should_pass/static_analysis/cei_pattern_violation_in_codeblocks_other_than_in_functions/Forc.toml
  test/src/e2e_vm_tests/test_programs/should_pass/static_analysis/cei_pattern_violation_in_codeblocks_other_than_in_functions/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/static_analysis/cei_pattern_violation_in_codeblocks_other_than_in_functions/test.toml
  test/src/e2e_vm_tests/test_programs/should_pass/static_analysis/cei_pattern_violation_in_if_statement/Forc.lock
  test/src/e2e_vm_tests/test_programs/should_pass/static_analysis/cei_pattern_violation_in_if_statement/Forc.toml
  test/src/e2e_vm_tests/test_programs/should_pass/static_analysis/cei_pattern_violation_in_if_statement/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/static_analysis/cei_pattern_violation_in_if_statement/test.toml
  test/src/e2e_vm_tests/test_programs/should_pass/static_analysis/cei_pattern_violation_in_standalone_function/Forc.lock
  test/src/e2e_vm_tests/test_programs/should_pass/static_analysis/cei_pattern_violation_in_standalone_function/Forc.toml
  test/src/e2e_vm_tests/test_programs/should_pass/static_analysis/cei_pattern_violation_in_standalone_function/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/static_analysis/cei_pattern_violation_in_standalone_function/test.toml
  test/src/e2e_vm_tests/test_programs/should_pass/static_analysis/cei_pattern_violation_more_complex_logic/Forc.lock
  test/src/e2e_vm_tests/test_programs/should_pass/static_analysis/cei_pattern_violation_more_complex_logic/Forc.toml
  test/src/e2e_vm_tests/test_programs/should_pass/static_analysis/cei_pattern_violation_more_complex_logic/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/static_analysis/cei_pattern_violation_more_complex_logic/test.toml
  test/src/e2e_vm_tests/test_programs/should_pass/static_analysis/cei_pattern_violation_storage_var_read/Forc.lock
  test/src/e2e_vm_tests/test_programs/should_pass/static_analysis/cei_pattern_violation_storage_var_read/Forc.toml
  test/src/e2e_vm_tests/test_programs/should_pass/static_analysis/cei_pattern_violation_storage_var_read/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/static_analysis/cei_pattern_violation_storage_var_read/test.toml
  test/src/e2e_vm_tests/test_programs/should_pass/static_analysis/cei_pattern_violation_storage_var_update/Forc.lock
  test/src/e2e_vm_tests/test_programs/should_pass/static_analysis/cei_pattern_violation_storage_var_update/Forc.toml
  test/src/e2e_vm_tests/test_programs/should_pass/static_analysis/cei_pattern_violation_storage_var_update/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/static_analysis/cei_pattern_violation_storage_var_update/test.toml
Labels: enhancement, compiler: frontend, compiler: ui, compiler: static-analysis

#3232 Fix CFG node uniqueness.
  sway-core/src/control_flow_analysis/dead_code_analysis.rs
  sway-core/src/control_flow_analysis/flow_graph/mod.rs
  sway-core/src/control_flow_analysis/flow_graph/namespace.rs
  sway-core/src/language/ty/ast_node.rs
  sway-core/src/language/ty/declaration/declaration.rs
  sway-types/src/ident.rs
  sway-types/src/span.rs
  test/src/e2e_vm_tests/test_programs/should_pass/dca/multiple_enums_same_name/Forc.lock
  test/src/e2e_vm_tests/test_programs/should_pass/dca/multiple_enums_same_name/Forc.toml
  test/src/e2e_vm_tests/test_programs/should_pass/dca/multiple_enums_same_name/src/colors1.sw
  test/src/e2e_vm_tests/test_programs/should_pass/dca/multiple_enums_same_name/src/colors2.sw
  test/src/e2e_vm_tests/test_programs/should_pass/dca/multiple_enums_same_name/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/dca/multiple_enums_same_name/test.toml
  test/src/e2e_vm_tests/test_programs/should_pass/dca/unused_enum/Forc.lock
  test/src/e2e_vm_tests/test_programs/should_pass/dca/unused_enum/Forc.toml
  test/src/e2e_vm_tests/test_programs/should_pass/dca/unused_enum/src/enum.sw
  test/src/e2e_vm_tests/test_programs/should_pass/dca/unused_enum/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/dca/unused_enum/src/utils.sw
  test/src/e2e_vm_tests/test_programs/should_pass/dca/unused_enum/test.toml
Labels: bug, P: critical, compiler: frontend

#3336 Simplify compose and decompose
  sway-lib-core/src/ops.sw
Labels: code quality

#3343 Bump to `fuels v0.31.0`
  Cargo.lock
  forc-plugins/forc-client/Cargo.toml
  templates/sway-test-rs/template/Cargo.toml
  test/src/sdk-harness/Cargo.toml
  test/src/sdk-harness/test_projects/block/mod.rs
  test/src/sdk-harness/test_projects/evm/mod.rs
  test/src/sdk-harness/test_projects/evm_ec_recover/mod.rs
  test/src/sdk-harness/test_projects/predicate_data_simple/mod.rs
  test/src/sdk-harness/test_projects/predicate_data_struct/mod.rs
  test/src/sdk-harness/test_projects/token_ops/mod.rs
Labels: dependencies

#3215 Adds error for doc comment before Dependency.
  sway-ast/src/dependency.rs
  sway-ast/src/item/mod.rs
  sway-ast/src/module.rs
  sway-core/src/lib.rs
  sway-core/src/transform/attribute.rs
  sway-core/src/transform/to_parsed_lang/convert_parse_tree.rs
  sway-error/src/convert_parse_tree_error.rs
  sway-parse/src/item/mod.rs
  sway-parse/src/module.rs
  swayfmt/src/module/item.rs
  swayfmt/src/module/mod.rs
  test/src/e2e_vm_tests/test_programs/should_fail/dep_annotated/Forc.lock
  test/src/e2e_vm_tests/test_programs/should_fail/dep_annotated/Forc.toml
  test/src/e2e_vm_tests/test_programs/should_fail/dep_annotated/src/bar.sw
  test/src/e2e_vm_tests/test_programs/should_fail/dep_annotated/src/baz.sw
  test/src/e2e_vm_tests/test_programs/should_fail/dep_annotated/src/foo.sw
  test/src/e2e_vm_tests/test_programs/should_fail/dep_annotated/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_fail/dep_annotated/test.toml
  test/src/e2e_vm_tests/test_programs/should_fail/dependency_not_at_beginning/Forc.lock
  test/src/e2e_vm_tests/test_programs/should_fail/dependency_not_at_beginning/Forc.toml
  test/src/e2e_vm_tests/test_programs/should_fail/dependency_not_at_beginning/json_abi_oracle.json
  test/src/e2e_vm_tests/test_programs/should_fail/dependency_not_at_beginning/src/a_dependency.sw
  test/src/e2e_vm_tests/test_programs/should_fail/dependency_not_at_beginning/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_fail/dependency_not_at_beginning/test.toml
Labels: compiler: frontend, compiler: parser

#3352 Bump to `v0.31.1`
  Cargo.lock
  forc-pkg/Cargo.toml
  forc-plugins/forc-client/Cargo.toml
  forc-plugins/forc-doc/Cargo.toml
  forc-plugins/forc-fmt/Cargo.toml
  forc-plugins/forc-lsp/Cargo.toml
  forc-test/Cargo.toml
  forc-tracing/Cargo.toml
  forc-util/Cargo.toml
  forc/Cargo.toml
  sway-ast/Cargo.toml
  sway-core/Cargo.toml
  sway-error/Cargo.toml
  sway-ir/Cargo.toml
  sway-ir/sway-ir-macros/Cargo.toml
  sway-lsp/Cargo.toml
  sway-parse/Cargo.toml
  sway-types/Cargo.toml
  sway-utils/Cargo.toml
  swayfmt/Cargo.toml
Labels: release

#3323 Document workspaces in The Sway Book
  docs/src/SUMMARY.md
  docs/src/forc/workspaces.md
Labels: enhancement, The Sway Book, P: high

#3349 Some stdlib cleanup
  sway-lib-std/src/assert.sw
  sway-lib-std/src/auth.sw
  sway-lib-std/src/inputs.sw
  sway-lib-std/src/logging.sw
  sway-lib-std/src/outputs.sw
  sway-lib-std/src/revert.sw
  sway-lib-std/src/storage.sw
  sway-lib-std/src/token.sw
  sway-lib-std/src/tx.sw
  sway-lib-std/src/u128.sw
  sway-lib-std/src/u256.sw
  sway-lib-std/src/vec.sw
Labels: lib: std, code quality

#3294 Refactor E2E CLI runner.
  Cargo.lock
  test/Cargo.toml
  test/src/e2e_vm_tests/harness.rs
  test/src/e2e_vm_tests/mod.rs
  test/src/ir_generation/mod.rs
  test/src/main.rs
Labels: enhancement, testing

#3356 Testing and fixing CEI pattern analysis (follow up for #3168)
  sway-core/src/semantic_analysis/cei_pattern_analysis.rs
  test/src/e2e_vm_tests/test_programs/should_pass/language/left_to_right_func_args_evaluation/Forc.lock
  test/src/e2e_vm_tests/test_programs/should_pass/language/left_to_right_func_args_evaluation/Forc.toml
  test/src/e2e_vm_tests/test_programs/should_pass/language/left_to_right_func_args_evaluation/json_abi_oracle.json
  test/src/e2e_vm_tests/test_programs/should_pass/language/left_to_right_func_args_evaluation/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/language/left_to_right_func_args_evaluation/test.toml
  test/src/e2e_vm_tests/test_programs/should_pass/static_analysis/cei_pattern_violation_in_func_app-1/Forc.lock
  test/src/e2e_vm_tests/test_programs/should_pass/static_analysis/cei_pattern_violation_in_func_app-1/Forc.toml
  test/src/e2e_vm_tests/test_programs/should_pass/static_analysis/cei_pattern_violation_in_func_app-1/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/static_analysis/cei_pattern_violation_in_func_app-1/test.toml
  test/src/e2e_vm_tests/test_programs/should_pass/static_analysis/cei_pattern_violation_in_func_app-2/Forc.lock
  test/src/e2e_vm_tests/test_programs/should_pass/static_analysis/cei_pattern_violation_in_func_app-2/Forc.toml
  test/src/e2e_vm_tests/test_programs/should_pass/static_analysis/cei_pattern_violation_in_func_app-2/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/static_analysis/cei_pattern_violation_in_func_app-2/test.toml
  test/src/e2e_vm_tests/test_programs/should_pass/static_analysis/cei_pattern_violation_in_func_app-3/Forc.lock
  test/src/e2e_vm_tests/test_programs/should_pass/static_analysis/cei_pattern_violation_in_func_app-3/Forc.toml
  test/src/e2e_vm_tests/test_programs/should_pass/static_analysis/cei_pattern_violation_in_func_app-3/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/static_analysis/cei_pattern_violation_in_func_app-3/test.toml
  test/src/e2e_vm_tests/test_programs/should_pass/static_analysis/cei_pattern_violation_in_if_statement-1/Forc.lock
  test/src/e2e_vm_tests/test_programs/should_pass/static_analysis/cei_pattern_violation_in_if_statement-1/Forc.toml
  test/src/e2e_vm_tests/test_programs/should_pass/static_analysis/cei_pattern_violation_in_if_statement-1/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/static_analysis/cei_pattern_violation_in_if_statement-1/test.toml
  test/src/e2e_vm_tests/test_programs/should_pass/static_analysis/cei_pattern_violation_in_if_statement-2/Forc.lock
  test/src/e2e_vm_tests/test_programs/should_pass/static_analysis/cei_pattern_violation_in_if_statement-2/Forc.toml
  test/src/e2e_vm_tests/test_programs/should_pass/static_analysis/cei_pattern_violation_in_if_statement-2/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/static_analysis/cei_pattern_violation_in_if_statement-2/test.toml
  test/src/e2e_vm_tests/test_programs/should_pass/static_analysis/cei_pattern_violation_in_intrinsic_call/Forc.lock
  test/src/e2e_vm_tests/test_programs/should_pass/static_analysis/cei_pattern_violation_in_intrinsic_call/Forc.toml
  test/src/e2e_vm_tests/test_programs/should_pass/static_analysis/cei_pattern_violation_in_intrinsic_call/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/static_analysis/cei_pattern_violation_in_intrinsic_call/test.toml
  test/src/e2e_vm_tests/test_programs/should_pass/static_analysis/cei_pattern_violation_in_match_statement-1/Forc.lock
  test/src/e2e_vm_tests/test_programs/should_pass/static_analysis/cei_pattern_violation_in_match_statement-1/Forc.toml
  test/src/e2e_vm_tests/test_programs/should_pass/static_analysis/cei_pattern_violation_in_match_statement-1/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/static_analysis/cei_pattern_violation_in_match_statement-1/test.toml
  test/src/e2e_vm_tests/test_programs/should_pass/static_analysis/cei_pattern_violation_in_tuple/Forc.lock
  test/src/e2e_vm_tests/test_programs/should_pass/static_analysis/cei_pattern_violation_in_tuple/Forc.toml
  test/src/e2e_vm_tests/test_programs/should_pass/static_analysis/cei_pattern_violation_in_tuple/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/static_analysis/cei_pattern_violation_in_tuple/test.toml
  test/src/e2e_vm_tests/test_programs/should_pass/static_analysis/cei_pattern_violation_in_while_loop-1/Forc.lock
  test/src/e2e_vm_tests/test_programs/should_pass/static_analysis/cei_pattern_violation_in_while_loop-1/Forc.toml
  test/src/e2e_vm_tests/test_programs/should_pass/static_analysis/cei_pattern_violation_in_while_loop-1/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/static_analysis/cei_pattern_violation_in_while_loop-1/test.toml
  test/src/e2e_vm_tests/test_programs/should_pass/static_analysis/cei_pattern_violation_in_while_loop-2/Forc.lock
  test/src/e2e_vm_tests/test_programs/should_pass/static_analysis/cei_pattern_violation_in_while_loop-2/Forc.toml
  test/src/e2e_vm_tests/test_programs/should_pass/static_analysis/cei_pattern_violation_in_while_loop-2/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/static_analysis/cei_pattern_violation_in_while_loop-2/test.toml
  test/src/e2e_vm_tests/test_programs/should_pass/static_analysis/cei_pattern_violation_in_while_loop-3/Forc.lock
  test/src/e2e_vm_tests/test_programs/should_pass/static_analysis/cei_pattern_violation_in_while_loop-3/Forc.toml
  test/src/e2e_vm_tests/test_programs/should_pass/static_analysis/cei_pattern_violation_in_while_loop-3/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/static_analysis/cei_pattern_violation_in_while_loop-3/test.toml
  test/src/e2e_vm_tests/test_programs/should_pass/static_analysis/cei_pattern_violation_in_while_loop-4/Forc.lock
  test/src/e2e_vm_tests/test_programs/should_pass/static_analysis/cei_pattern_violation_in_while_loop-4/Forc.toml
  test/src/e2e_vm_tests/test_programs/should_pass/static_analysis/cei_pattern_violation_in_while_loop-4/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/static_analysis/cei_pattern_violation_in_while_loop-4/test.toml
Labels: testing, compiler: ui, compiler: static-analysis

#3360 Add missing unit testing page to the sidebar in the Sway Book
  docs/src/SUMMARY.md
Labels: bug, The Sway Book, documentation

#3373 Add markdown formatting & support to `forc doc`
  Cargo.lock
  forc-plugins/forc-doc/Cargo.toml
  forc-plugins/forc-doc/src/render.rs
  sway-lsp/src/utils/markdown.rs
  sway-lsp/src/utils/mod.rs
Labels: enhancement, forc

#3364 `U128` Multiplication optimisation
  sway-lib-std/src/u128.sw
Labels: enhancement, lib: std

#3388 Fix "Sway Quickstart"
  docs/src/introduction/fuel_toolchain.md
  docs/src/introduction/index.md
  docs/src/introduction/sway_quickstart.md
Labels: The Sway Book

#3382 Cleanup reallocations in `forc doc` markdown function
  forc-plugins/forc-doc/src/render.rs
Labels: code quality, forc-doc

#3379 Minor refactor of `ast_node/expression/intrinsic_function.rs` and documenting intrinsics
  docs/src/SUMMARY.md
  docs/src/reference/compiler_intrinsics.md
  docs/src/reference/index.md
  sway-core/src/semantic_analysis/ast_node/expression/intrinsic_function.rs
Labels: code quality, The Sway Book, compiler: frontend

#3322 Enhance docs and add a few methods for `option.sw`
  sway-lib-std/src/lib.sw
  sway-lib-std/src/option.sw
  test/src/e2e_vm_tests/test_programs/should_pass/stdlib/option/src/data_structures.sw
  test/src/e2e_vm_tests/test_programs/should_pass/stdlib/option/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/stdlib/option/src/tests.sw
Labels: enhancement, lib: std, code quality

#3414 Improve warnings on unnecessary storage annotations
  sway-core/src/ir_generation/purity.rs
  sway-error/src/warning.rs
  test/src/e2e_vm_tests/test_programs/should_pass/static_analysis/storage_annotations_unused_read/Forc.lock
  test/src/e2e_vm_tests/test_programs/should_pass/static_analysis/storage_annotations_unused_read/Forc.toml
  test/src/e2e_vm_tests/test_programs/should_pass/static_analysis/storage_annotations_unused_read/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/static_analysis/storage_annotations_unused_read/test.toml
  test/src/e2e_vm_tests/test_programs/should_pass/static_analysis/storage_annotations_unused_read_and_write/Forc.lock
  test/src/e2e_vm_tests/test_programs/should_pass/static_analysis/storage_annotations_unused_read_and_write/Forc.toml
  test/src/e2e_vm_tests/test_programs/should_pass/static_analysis/storage_annotations_unused_read_and_write/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/static_analysis/storage_annotations_unused_read_and_write/test.toml
  test/src/e2e_vm_tests/test_programs/should_pass/static_analysis/storage_annotations_unused_write/Forc.lock
  test/src/e2e_vm_tests/test_programs/should_pass/static_analysis/storage_annotations_unused_write/Forc.toml
  test/src/e2e_vm_tests/test_programs/should_pass/static_analysis/storage_annotations_unused_write/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/static_analysis/storage_annotations_unused_write/test.toml
Labels: compiler: ui, compiler: static-analysis

#3415 `U256` multiplication optimisation
  sway-lib-std/src/u256.sw
Labels: enhancement, lib: std

#3416 Fix error message for arity mismatch on method calls
  sway-core/src/semantic_analysis/ast_node/expression/typed_expression.rs
  sway-core/src/semantic_analysis/ast_node/expression/typed_expression/function_application.rs
  sway-core/src/semantic_analysis/ast_node/expression/typed_expression/method_application.rs
  sway-error/src/error.rs
  test/src/e2e_vm_tests/test_programs/should_fail/excess_associated_fn_arguments/Forc.lock
  test/src/e2e_vm_tests/test_programs/should_fail/excess_associated_fn_arguments/Forc.toml
  test/src/e2e_vm_tests/test_programs/should_fail/excess_associated_fn_arguments/json_abi_oracle.json
  test/src/e2e_vm_tests/test_programs/should_fail/excess_associated_fn_arguments/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_fail/excess_associated_fn_arguments/test.toml
  test/src/e2e_vm_tests/test_programs/should_fail/excess_method_arguments/Forc.lock
  test/src/e2e_vm_tests/test_programs/should_fail/excess_method_arguments/Forc.toml
  test/src/e2e_vm_tests/test_programs/should_fail/excess_method_arguments/json_abi_oracle.json
  test/src/e2e_vm_tests/test_programs/should_fail/excess_method_arguments/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_fail/excess_method_arguments/test.toml
  test/src/e2e_vm_tests/test_programs/should_fail/missing_associated_fn_arguments/Forc.lock
  test/src/e2e_vm_tests/test_programs/should_fail/missing_associated_fn_arguments/Forc.toml
  test/src/e2e_vm_tests/test_programs/should_fail/missing_associated_fn_arguments/json_abi_oracle.json
  test/src/e2e_vm_tests/test_programs/should_fail/missing_associated_fn_arguments/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_fail/missing_associated_fn_arguments/test.toml
  test/src/e2e_vm_tests/test_programs/should_fail/missing_method_arguments/Forc.lock
  test/src/e2e_vm_tests/test_programs/should_fail/missing_method_arguments/Forc.toml
  test/src/e2e_vm_tests/test_programs/should_fail/missing_method_arguments/json_abi_oracle.json
  test/src/e2e_vm_tests/test_programs/should_fail/missing_method_arguments/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_fail/missing_method_arguments/test.toml
Labels: compiler: ui

#3424 Add a check in codegen to ensure all registers are initialised before use.
  sway-core/src/asm_generation/abstract_instruction_set.rs
  sway-core/src/asm_generation/from_ir.rs
  sway-core/src/asm_generation/programs/abstract.rs
Labels: enhancement, P: critical, compiler: codegen

#3392 Fix CEI analysis storage map/vec false positives
  sway-core/src/lib.rs
  sway-core/src/semantic_analysis/cei_pattern_analysis.rs
  test/src/e2e_vm_tests/test_programs/should_pass/static_analysis/cei_pattern_violation_more_complex_logic/test.toml
  test/src/e2e_vm_tests/test_programs/should_pass/static_analysis/cei_pattern_violation_storage_map_and_vec/Forc.lock
  test/src/e2e_vm_tests/test_programs/should_pass/static_analysis/cei_pattern_violation_storage_map_and_vec/Forc.toml
  test/src/e2e_vm_tests/test_programs/should_pass/static_analysis/cei_pattern_violation_storage_map_and_vec/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/static_analysis/cei_pattern_violation_storage_map_and_vec/test.toml
  test/src/e2e_vm_tests/test_programs/should_pass/static_analysis/cei_pattern_violation_storage_struct_read/Forc.lock
  test/src/e2e_vm_tests/test_programs/should_pass/static_analysis/cei_pattern_violation_storage_struct_read/Forc.toml
  test/src/e2e_vm_tests/test_programs/should_pass/static_analysis/cei_pattern_violation_storage_struct_read/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/static_analysis/cei_pattern_violation_storage_struct_read/test.toml
Labels: compiler: static-analysis

#3340 Use `fuels-types` instead of `sway-types` for JSON ABI types
  Cargo.lock
  forc-pkg/Cargo.toml
  forc-pkg/src/pkg.rs
  sway-core/Cargo.toml
  sway-core/src/language/ty/declaration/function.rs
  sway-core/src/language/ty/program.rs
  sway-core/src/type_system/type_id.rs
  sway-core/src/type_system/type_parameter.rs
  sway-types/src/lib.rs
Labels: forc, code quality

#3433 Revert changes to while loop handling in analyze_return_paths
  sway-core/src/control_flow_analysis/analyze_return_paths.rs
  test/src/e2e_vm_tests/test_programs/should_fail/while_explicit_ret_1/Forc.lock
  test/src/e2e_vm_tests/test_programs/should_fail/while_explicit_ret_1/Forc.toml
  test/src/e2e_vm_tests/test_programs/should_fail/while_explicit_ret_1/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_fail/while_explicit_ret_1/test.toml
  test/src/e2e_vm_tests/test_programs/should_fail/while_explicit_ret_2/Forc.lock
  test/src/e2e_vm_tests/test_programs/should_fail/while_explicit_ret_2/Forc.toml
  test/src/e2e_vm_tests/test_programs/should_fail/while_explicit_ret_2/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_fail/while_explicit_ret_2/test.toml
Labels: bug, P: critical, compiler: frontend

#3371 Introduce code relocation to avoid the need for far jumps.
  sway-core/src/asm_generation/allocated_abstract_instruction_set.rs
  sway-core/src/asm_generation/programs/allocated.rs
  test/src/e2e_vm_tests/test_programs/should_pass/language/far_jumps/many_blobs/Forc.lock
  test/src/e2e_vm_tests/test_programs/should_pass/language/far_jumps/many_blobs/Forc.toml
  test/src/e2e_vm_tests/test_programs/should_pass/language/far_jumps/many_blobs/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/language/far_jumps/many_blobs/test.toml
  test/src/e2e_vm_tests/test_programs/should_pass/language/far_jumps/single_blob/Forc.lock
  test/src/e2e_vm_tests/test_programs/should_pass/language/far_jumps/single_blob/Forc.toml
  test/src/e2e_vm_tests/test_programs/should_pass/language/far_jumps/single_blob/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/language/far_jumps/single_blob/test.toml
  test/src/ir_generation/tests/far_jumps.sw
Labels: compiler: codegen

#3412 fix: inject contract_dependency::CONTRACT_ID as b256
  forc-pkg/src/pkg.rs
  test/src/e2e_vm_tests/test_programs/should_pass/forc/contract_dependencies/contract_a/Forc.lock
  test/src/e2e_vm_tests/test_programs/should_pass/forc/contract_dependencies/contract_a/Forc.toml
  test/src/e2e_vm_tests/test_programs/should_pass/forc/contract_dependencies/contract_a/src/main.sw
Labels: bug, forc, dependencies, P: critical

#3367 Output manifest file parsing errors/warnings for workspace members
  forc-pkg/src/manifest.rs
Labels: bug, forc

#3460 Do not progress with IR generation if `deterministically_aborts`
  sway-core/src/ir_generation/function.rs
  sway-core/src/language/ty/ast_node.rs
  sway-core/src/language/ty/code_block.rs
  sway-core/src/language/ty/expression/expression.rs
  sway-core/src/language/ty/expression/intrinsic_function.rs
  sway-core/src/semantic_analysis/ast_node/code_block.rs
  sway-core/src/semantic_analysis/ast_node/expression/match_expression/typed/typed_match_branch.rs
  sway-core/src/semantic_analysis/ast_node/expression/typed_expression/if_expression.rs
  sway-core/src/types/deterministically_aborts.rs
  test/src/e2e_vm_tests/test_programs/should_pass/language/diverging_exprs/src/main.sw
Labels: bug, P: critical, compiler: frontend

#3461 Bump to `v0.31.2`
  Cargo.lock
  forc-pkg/Cargo.toml
  forc-plugins/forc-client/Cargo.toml
  forc-plugins/forc-doc/Cargo.toml
  forc-plugins/forc-fmt/Cargo.toml
  forc-plugins/forc-lsp/Cargo.toml
  forc-test/Cargo.toml
  forc-tracing/Cargo.toml
  forc-util/Cargo.toml
  forc/Cargo.toml
  sway-ast/Cargo.toml
  sway-core/Cargo.toml
  sway-error/Cargo.toml
  sway-ir/Cargo.toml
  sway-ir/sway-ir-macros/Cargo.toml
  sway-lsp/Cargo.toml
  sway-parse/Cargo.toml
  sway-types/Cargo.toml
  sway-utils/Cargo.toml
  swayfmt/Cargo.toml
Labels: release

#3467 Add a struct test for CEI pattern analysis
  test/src/e2e_vm_tests/test_programs/should_pass/static_analysis/cei_pattern_violation_in_struct/Forc.lock
  test/src/e2e_vm_tests/test_programs/should_pass/static_analysis/cei_pattern_violation_in_struct/Forc.toml
  test/src/e2e_vm_tests/test_programs/should_pass/static_analysis/cei_pattern_violation_in_struct/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/static_analysis/cei_pattern_violation_in_struct/test.toml
Labels: testing, compiler: static-analysis

#3435 Add code block formatting to `forc doc`
  Cargo.lock
  forc-plugins/forc-doc/Cargo.toml
  forc-plugins/forc-doc/src/render.rs
  sway-parse/src/item/item_struct.rs
  swayfmt/src/items/item_struct/tests.rs
  swayfmt/src/lib.rs
  swayfmt/src/parse.rs
Labels: enhancement, forc-doc

#3389 Explain VSCode formatter
  docs/src/introduction/fuel_toolchain.md
Labels: The Sway Book

#3458 Fix type inference for integer variables and constants with type ascriptions
  forc-plugins/forc-doc/src/render.rs
  sway-core/src/language/ty/declaration/constant.rs
  sway-core/src/language/ty/declaration/variable.rs
  sway-core/src/semantic_analysis/ast_node/declaration/declaration.rs
  sway-core/src/semantic_analysis/ast_node/declaration/function/function_parameter.rs
  sway-core/src/semantic_analysis/ast_node/expression/match_expression/typed/typed_match_branch.rs
  sway-core/src/semantic_analysis/ast_node/expression/typed_expression.rs
  test/src/e2e_vm_tests/test_programs/should_pass/language/integer_type_inference/Forc.lock
  test/src/e2e_vm_tests/test_programs/should_pass/language/integer_type_inference/Forc.toml
  test/src/e2e_vm_tests/test_programs/should_pass/language/integer_type_inference/json_abi_oracle.json
  test/src/e2e_vm_tests/test_programs/should_pass/language/integer_type_inference/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/language/integer_type_inference/test.toml
Labels: bug, P: critical, compiler: frontend

#3466 Fix formatter failure on traits with definition block
  swayfmt/src/formatter/mod.rs
  swayfmt/src/items/item_trait.rs
Labels: formatter

#3368 Prevent I/O while sourcing each path dependency
  forc-pkg/src/pkg.rs
  test/src/e2e_vm_tests/test_programs/should_fail/cyclic_dependency/dependency_a/test.toml
Labels: forc, code quality, forc-pkg

#3418 feat: forc command to init/new workspace
  docs/src/forc/workspaces.md
  forc-pkg/src/pkg.rs
  forc/src/cli/commands/init.rs
  forc/src/cli/commands/new.rs
  forc/src/ops/forc_init.rs
  forc/src/utils/defaults.rs
Labels: enhancement, forc

#3477 Fix Sway Quickstart link in the Sway Book
  docs/src/SUMMARY.md
Labels: The Sway Book, P: critical

#3478 Fix broken link to the Fuel Toolchain section in the book
  docs/src/SUMMARY.md
Labels: bug, The Sway Book, P: critical

#3479 Bump to `v0.31.3`
  Cargo.lock
  forc-pkg/Cargo.toml
  forc-plugins/forc-client/Cargo.toml
  forc-plugins/forc-doc/Cargo.toml
  forc-plugins/forc-fmt/Cargo.toml
  forc-plugins/forc-lsp/Cargo.toml
  forc-test/Cargo.toml
  forc-tracing/Cargo.toml
  forc-util/Cargo.toml
  forc/Cargo.toml
  sway-ast/Cargo.toml
  sway-core/Cargo.toml
  sway-error/Cargo.toml
  sway-ir/Cargo.toml
  sway-ir/sway-ir-macros/Cargo.toml
  sway-lsp/Cargo.toml
  sway-parse/Cargo.toml
  sway-types/Cargo.toml
  sway-utils/Cargo.toml
  swayfmt/Cargo.toml
Labels: release
