Repository FuelLabs/sway, pull requests merged in 2022-12, with the labels that each got.

#3476 ci: use cross to fix arm64 release step
  .github/workflows/ci.yml
Labels: ci, P: high

#3488 Rename core::num to core::primitives
  examples/hashing/src/main.sw
  sway-lib-core/src/lib.sw
  sway-lib-core/src/ops.sw
  sway-lib-core/src/prelude.sw
  sway-lib-core/src/primitives.sw
  sway-lib-std/src/hash.sw
  test/src/e2e_vm_tests/test_programs/should_pass/language/b256_bitwise_ops/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/language/numeric_constants/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/require_contract_deployment/caller_context_test/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/stdlib/alloc/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/stdlib/b512_test/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/stdlib/exponentiation_test/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/stdlib/intrinsics/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/stdlib/u256_div_test/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/stdlib/u256_mul_test/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/stdlib/u256_ops_test/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/stdlib/u256_test/src/main.sw
  test/src/sdk-harness/test_projects/hashing/src/main.sw
Labels: code quality, breaking, lib: core

#3489 Add CI job for unit tests
  .github/workflows/ci.yml
Labels: ci, lib: std, testing, lib: core

#3500 Update hash_enum docs
  test/src/sdk-harness/test_projects/hashing/mod.rs
Labels: testing, The Sway Book, P: low, documentation

#3497 `U128` and `U256` division optimisation
  sway-lib-std/src/u128.sw
  sway-lib-std/src/u256.sw
Labels: enhancement, lib: std

#3503 Fix DCA warnings for struct field access prefix expressions.
  sway-core/src/control_flow_analysis/dead_code_analysis.rs
  test/src/e2e_vm_tests/test_programs/should_pass/dca/constant_struct/Forc.lock
  test/src/e2e_vm_tests/test_programs/should_pass/dca/constant_struct/Forc.toml
  test/src/e2e_vm_tests/test_programs/should_pass/dca/constant_struct/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/dca/constant_struct/test.toml
Labels: bug, compiler, compiler: frontend

#3504 Fix DCA warnings for expressions reachable from while loop conditions.
  sway-core/src/control_flow_analysis/dead_code_analysis.rs
  test/src/e2e_vm_tests/test_programs/should_pass/dca/constant_while/Forc.lock
  test/src/e2e_vm_tests/test_programs/should_pass/dca/constant_while/Forc.toml
  test/src/e2e_vm_tests/test_programs/should_pass/dca/constant_while/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/dca/constant_while/test.toml
Labels: bug, compiler, compiler: frontend

#3495 Use borrowed types instead of owned types so that `TyProgram` is not consumed after IR generation
  forc-pkg/src/pkg.rs
  sway-core/src/ir_generation.rs
  sway-core/src/ir_generation/compile.rs
  sway-core/src/ir_generation/const_eval.rs
  sway-core/src/ir_generation/convert.rs
  sway-core/src/ir_generation/function.rs
  sway-core/src/ir_generation/types.rs
  sway-core/src/lib.rs
  test/src/ir_generation/mod.rs
Labels: compiler, code quality, compiler: ir, compiler: frontend

#3506 ci: pin linux release steps to ubuntu-20.04
  .github/workflows/ci.yml
Labels: ci

#3507 Add a DCA test for unused private functions in a library.
  test/src/e2e_vm_tests/test_programs/should_pass/dca/library/unused_priv_free_fn/Forc.lock
  test/src/e2e_vm_tests/test_programs/should_pass/dca/library/unused_priv_free_fn/Forc.toml
  test/src/e2e_vm_tests/test_programs/should_pass/dca/library/unused_priv_free_fn/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/dca/library/unused_priv_free_fn/test.toml
Labels: enhancement, compiler, compiler: frontend

#3499 Introduce additional spans in Array and String types
  sway-core/src/ir_generation/convert.rs
  sway-core/src/language/literal.rs
  sway-core/src/semantic_analysis/ast_node/declaration/function.rs
  sway-core/src/semantic_analysis/ast_node/expression/typed_expression.rs
  sway-core/src/semantic_analysis/namespace/items.rs
  sway-core/src/semantic_analysis/namespace/trait_map.rs
  sway-core/src/semantic_analysis/node_dependencies.rs
  sway-core/src/transform/to_parsed_lang/convert_parse_tree.rs
  sway-core/src/type_system/length.rs
  sway-core/src/type_system/mod.rs
  sway-core/src/type_system/type_engine.rs
  sway-core/src/type_system/type_id.rs
  sway-core/src/type_system/type_info.rs
  sway-core/src/type_system/type_mapping.rs
  sway-core/src/type_system/unify.rs
  sway-lsp/src/core/traverse_parse_tree.rs
  sway-lsp/src/server.rs
  sway-lsp/src/utils/token.rs
Labels: enhancement, P: critical, compiler: frontend

#3510 `U256` Subtraction fix
  sway-lib-std/src/u256.sw
  test/src/e2e_vm_tests/test_programs/should_pass/stdlib/u256_ops_test/src/main.sw
Labels: bug, lib: std

#3509 Introduce a way for entries generated by tests to be associated with their related function declaration
  sway-core/src/asm_generation/asm_builder.rs
  sway-core/src/asm_generation/asm_builder/functions.rs
  sway-core/src/asm_generation/finalized_asm.rs
  sway-core/src/asm_generation/from_ir.rs
  sway-core/src/asm_generation/programs.rs
  sway-core/src/asm_generation/programs/abstract.rs
  sway-core/src/asm_generation/programs/allocated.rs
  sway-core/src/asm_generation/programs/final.rs
  sway-core/src/declaration_engine/declaration_id.rs
  sway-core/src/ir_generation/compile.rs
  sway-core/src/ir_generation/function.rs
  sway-core/src/language/ty/module.rs
  sway-core/src/language/ty/program.rs
  sway-core/src/metadata.rs
  sway-ir/tests/serialize/test.ir
  test/src/ir_generation/mod.rs
  test/src/ir_generation/tests/test_metadata.sw
Labels: compiler: ir, compiler: frontend, forc-test

#3471 Add CSS styling to `forc doc`
  .markdownlintignore
  Cargo.lock
  forc-plugins/forc-doc/Cargo.toml
  forc-plugins/forc-doc/src/assets/FiraSans-Medium.woff2
  forc-plugins/forc-doc/src/assets/FiraSans-Regular.woff2
  forc-plugins/forc-doc/src/assets/NanumBarunGothic.ttf.woff2
  forc-plugins/forc-doc/src/assets/SourceCodePro-It.ttf.woff2
  forc-plugins/forc-doc/src/assets/SourceCodePro-Regular.ttf.woff2
  forc-plugins/forc-doc/src/assets/SourceCodePro-Semibold.ttf.woff2
  forc-plugins/forc-doc/src/assets/SourceSerif4-Bold.ttf.woff2
  forc-plugins/forc-doc/src/assets/SourceSerif4-It.ttf.woff2
  forc-plugins/forc-doc/src/assets/SourceSerif4-Regular.ttf.woff2
  forc-plugins/forc-doc/src/assets/ayu.css
  forc-plugins/forc-doc/src/assets/clipboard.svg
  forc-plugins/forc-doc/src/assets/down-arrow.svg
  forc-plugins/forc-doc/src/assets/normalize.css
  forc-plugins/forc-doc/src/assets/sway-logo.svg
  forc-plugins/forc-doc/src/assets/swaydoc.css
  forc-plugins/forc-doc/src/assets/toggle-minus.svg
  forc-plugins/forc-doc/src/assets/toggle-plus.svg
  forc-plugins/forc-doc/src/assets/wheel.svg
  forc-plugins/forc-doc/src/descriptor.rs
  forc-plugins/forc-doc/src/licenses/FiraSans-LICENSE.txt
  forc-plugins/forc-doc/src/licenses/LICENSE-APACHE.txt
  forc-plugins/forc-doc/src/licenses/LICENSE-MIT.txt
  forc-plugins/forc-doc/src/licenses/NanumBarunGothic-LICENSE.txt
  forc-plugins/forc-doc/src/licenses/README.md
  forc-plugins/forc-doc/src/licenses/SourceCodePro-LICENSE.txt
  forc-plugins/forc-doc/src/licenses/SourceSerif4-LICENSE.md
  forc-plugins/forc-doc/src/main.rs
  forc-plugins/forc-doc/src/render.rs
Labels: enhancement, forc-doc

#3463 LSP: Refactor the API
  sway-lsp/src/capabilities/completion.rs
  sway-lsp/src/capabilities/document_symbol.rs
  sway-lsp/src/capabilities/formatting.rs
  sway-lsp/src/capabilities/hover.rs
  sway-lsp/src/capabilities/inlay_hints.rs
  sway-lsp/src/capabilities/rename.rs
  sway-lsp/src/capabilities/semantic_tokens.rs
  sway-lsp/src/config.rs
  sway-lsp/src/core/document.rs
  sway-lsp/src/core/mod.rs
  sway-lsp/src/core/session.rs
  sway-lsp/src/core/sync.rs
  sway-lsp/src/core/token.rs
  sway-lsp/src/core/token_map.rs
  sway-lsp/src/lib.rs
  sway-lsp/src/server.rs
  sway-lsp/src/traverse/dependency.rs
  sway-lsp/src/traverse/mod.rs
  sway-lsp/src/traverse/parse_tree.rs
  sway-lsp/src/traverse/typed_tree.rs
  sway-lsp/src/utils/attributes.rs
  sway-lsp/src/utils/common.rs
  sway-lsp/src/utils/debug.rs
  sway-lsp/src/utils/mod.rs
  sway-lsp/src/utils/test.rs
  sway-lsp/src/utils/token.rs
Labels: language server, code quality

#3490 feat: `#[test(should_revert)]` attribute to indicate a unit test should revert
  Cargo.lock
  docs/src/testing/unit-testing.md
  forc-test/Cargo.toml
  forc-test/src/lib.rs
  test/src/e2e_vm_tests/test_programs/should_pass/unit_tests/should_revert/.gitignore
  test/src/e2e_vm_tests/test_programs/should_pass/unit_tests/should_revert/Forc.lock
  test/src/e2e_vm_tests/test_programs/should_pass/unit_tests/should_revert/Forc.toml
  test/src/e2e_vm_tests/test_programs/should_pass/unit_tests/should_revert/src/lib.sw
Labels: enhancement, forc-test

#3537 Add `--document-private-items` option to `forc doc`
  forc-plugins/forc-doc/src/cli.rs
  forc-plugins/forc-doc/src/descriptor.rs
  forc-plugins/forc-doc/src/doc.rs
  forc-plugins/forc-doc/src/main.rs
Labels: enhancement, forc-doc

#3539 Bump to `fuels 0.32`
  Cargo.lock
  forc-pkg/Cargo.toml
  forc-plugins/forc-client/Cargo.toml
  sway-core/Cargo.toml
  templates/sway-test-rs/template/Cargo.toml
  test/src/sdk-harness/Cargo.toml
  test/src/sdk-harness/test_projects/hashing/mod.rs
  test/src/sdk-harness/test_projects/logging/mod.rs
  test/src/sdk-harness/test_projects/parsing_logs/mod.rs
  test/src/sdk-harness/test_projects/predicate_data_simple/mod.rs
  test/src/sdk-harness/test_projects/predicate_data_struct/mod.rs
  test/src/sdk-harness/test_projects/reentrancy/mod.rs
  test/src/sdk-harness/test_projects/script_bytecode/mod.rs
  test/src/sdk-harness/test_projects/script_data/mod.rs
  test/src/sdk-harness/test_projects/tx_fields/mod.rs
Labels: dependencies

#3545 Adds function returning only `fn signature` in function code blocks
  forc-plugins/forc-doc/src/descriptor.rs
  forc-plugins/forc-doc/src/render.rs
Labels: enhancement, forc-doc

#3546 Include test function span information (file, line number) in forc test output
  forc-test/src/lib.rs
  forc/src/cli/commands/test.rs
Labels: enhancement, forc, forc-test

#3551 Fix span for unknown enum variant error
  sway-core/src/language/ty/declaration/enum.rs
  test/src/e2e_vm_tests/test_programs/should_fail/unknown_enum_variant/Forc.lock
  test/src/e2e_vm_tests/test_programs/should_fail/unknown_enum_variant/Forc.toml
  test/src/e2e_vm_tests/test_programs/should_fail/unknown_enum_variant/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_fail/unknown_enum_variant/test.toml
Labels: bug, P: critical, compiler: ui

#3280 Prevent stack overflow when defining a trait method with certain types
  sway-core/src/semantic_analysis/ast_node/declaration/impl_trait.rs
  sway-error/src/error.rs
  test/src/e2e_vm_tests/test_programs/should_fail/abi_method_signature_mismatch/test.toml
  test/src/e2e_vm_tests/test_programs/should_fail/trait_method_signature_mismatch/Forc.lock
  test/src/e2e_vm_tests/test_programs/should_fail/trait_method_signature_mismatch/Forc.toml
  test/src/e2e_vm_tests/test_programs/should_fail/trait_method_signature_mismatch/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_fail/trait_method_signature_mismatch/test.toml
Labels: bug, P: critical, compiler: frontend

#3454 New `Bytes` type module for the stdlib
  Cargo.lock
  sway-lib-core/src/raw_ptr.sw
  sway-lib-std/src/alloc.sw
  sway-lib-std/src/bytes.sw
  sway-lib-std/src/lib.sw
Labels: enhancement, lib: std

#3566 fix: reserved keywords are checked before creating dir with forc new
  forc/src/cli/commands/new.rs
Labels: bug, forc

#3568 typo in `U256` multiplication
  sway-lib-std/src/u256.sw
  test/src/e2e_vm_tests/test_programs/should_pass/stdlib/u256_div_test/src/main.sw
Labels: bug, lib: std, P: critical

#3557 formatter: fix handling of statements ending with `;` in `if else` blocks
  swayfmt/src/formatter/mod.rs
  swayfmt/src/utils/language/expr/tests.rs
  swayfmt/src/utils/language/statement.rs
Labels: bug, formatter

#3562 Fix DCA warnings for unused struct fields in contracts.
  sway-core/src/control_flow_analysis/dead_code_analysis.rs
  test/src/e2e_vm_tests/test_programs/should_pass/dca/contract/unused_struct_field/Forc.lock
  test/src/e2e_vm_tests/test_programs/should_pass/dca/contract/unused_struct_field/Forc.toml
  test/src/e2e_vm_tests/test_programs/should_pass/dca/contract/unused_struct_field/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/dca/contract/unused_struct_field/test.toml
  test/src/e2e_vm_tests/test_programs/should_pass/dca/contract/unused_struct_field_array/Forc.lock
  test/src/e2e_vm_tests/test_programs/should_pass/dca/contract/unused_struct_field_array/Forc.toml
  test/src/e2e_vm_tests/test_programs/should_pass/dca/contract/unused_struct_field_array/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/dca/contract/unused_struct_field_array/test.toml
  test/src/e2e_vm_tests/test_programs/should_pass/dca/contract/unused_struct_field_enum/Forc.lock
  test/src/e2e_vm_tests/test_programs/should_pass/dca/contract/unused_struct_field_enum/Forc.toml
  test/src/e2e_vm_tests/test_programs/should_pass/dca/contract/unused_struct_field_enum/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/dca/contract/unused_struct_field_enum/test.toml
  test/src/e2e_vm_tests/test_programs/should_pass/dca/contract/unused_struct_field_tuple/Forc.lock
  test/src/e2e_vm_tests/test_programs/should_pass/dca/contract/unused_struct_field_tuple/Forc.toml
  test/src/e2e_vm_tests/test_programs/should_pass/dca/contract/unused_struct_field_tuple/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/dca/contract/unused_struct_field_tuple/test.toml
Labels: bug, compiler, compiler: frontend

#3361 feat: Implement workspace testing
  forc-pkg/src/pkg.rs
  forc-test/src/lib.rs
  forc/src/cli/commands/test.rs
  sway-core/src/lib.rs
  test/src/e2e_vm_tests/harness.rs
  test/src/e2e_vm_tests/mod.rs
  test/src/e2e_vm_tests/test_programs/should_pass/unit_tests/workspace_test/Forc.lock
  test/src/e2e_vm_tests/test_programs/should_pass/unit_tests/workspace_test/Forc.toml
  test/src/e2e_vm_tests/test_programs/should_pass/unit_tests/workspace_test/contract_multi_test/Forc.lock
  test/src/e2e_vm_tests/test_programs/should_pass/unit_tests/workspace_test/contract_multi_test/Forc.toml
  test/src/e2e_vm_tests/test_programs/should_pass/unit_tests/workspace_test/contract_multi_test/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/unit_tests/workspace_test/lib_multi_test/Forc.lock
  test/src/e2e_vm_tests/test_programs/should_pass/unit_tests/workspace_test/lib_multi_test/Forc.toml
  test/src/e2e_vm_tests/test_programs/should_pass/unit_tests/workspace_test/lib_multi_test/src/lib.sw
  test/src/e2e_vm_tests/test_programs/should_pass/unit_tests/workspace_test/script_multi_test/Forc.lock
  test/src/e2e_vm_tests/test_programs/should_pass/unit_tests/workspace_test/script_multi_test/Forc.toml
  test/src/e2e_vm_tests/test_programs/should_pass/unit_tests/workspace_test/script_multi_test/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/unit_tests/workspace_test/test.toml
Labels: enhancement, forc

#3587 Eliminate some warnings in the `Bytes` library
  sway-lib-std/src/bytes.sw
Labels: lib: std, P: critical

#3588 Remove duplicate gas from std
  sway-lib-std/src/context.sw
  test/src/e2e_vm_tests/test_programs/should_pass/test_contracts/context_testing_contract/src/main.sw
  test/src/sdk-harness/test_artifacts/reentrancy_target_contract/src/main.sw
  test/src/sdk-harness/test_projects/context/src/main.sw
Labels: lib: std, code quality, breaking

#3556 formatter: introduce `context_after`; fix comment between if-else
  swayfmt/src/formatter/mod.rs
  swayfmt/src/utils/map/comments.rs
Labels: bug, formatter

#3523 Correctly compute predicate data pointer in codegen
  sway-core/src/asm_generation/asm_builder.rs
  sway-core/src/asm_generation/asm_builder/functions.rs
  sway-core/src/asm_generation/from_ir.rs
  sway-core/src/asm_lang/allocated_ops.rs
  test/src/e2e_vm_tests/test_programs/should_pass/language/main_args/main_args_predicate/test.toml
  test/src/ir_generation/tests/predicate_data_mult_args.sw
  test/src/ir_generation/tests/predicate_data_single_arg.sw
Labels: bug, compiler: codegen

#3593 Add types for the traversal stages so we can store `TypeEngine` and `TokenMap`
  sway-lsp/src/core/session.rs
  sway-lsp/src/traverse/dependency.rs
  sway-lsp/src/traverse/parsed_tree.rs
  sway-lsp/src/traverse/typed_tree.rs
Labels: language server, code quality

#3602 Bump to `v0.32.0`
  .github/workflows/ci.yml
  Cargo.lock
  forc-pkg/Cargo.toml
  forc-plugins/forc-client/Cargo.toml
  forc-plugins/forc-doc/Cargo.toml
  forc-plugins/forc-fmt/Cargo.toml
  forc-plugins/forc-lsp/Cargo.toml
  forc-test/Cargo.toml
  forc-tracing/Cargo.toml
  forc-util/Cargo.toml
  forc/Cargo.toml
  sway-ast/Cargo.toml
  sway-core/Cargo.toml
  sway-error/Cargo.toml
  sway-ir/Cargo.toml
  sway-ir/sway-ir-macros/Cargo.toml
  sway-lsp/Cargo.toml
  sway-parse/Cargo.toml
  sway-types/Cargo.toml
  sway-utils/Cargo.toml
  swayfmt/Cargo.toml
Labels: ci, release

#3603 Remove a forward slash in `Cargo.toml` for `forc-test`
  forc-test/Cargo.toml
Labels: dependencies, P: critical

#3606 Bump to `v0.32.1`
  Cargo.lock
  forc-pkg/Cargo.toml
  forc-plugins/forc-client/Cargo.toml
  forc-plugins/forc-doc/Cargo.toml
  forc-plugins/forc-fmt/Cargo.toml
  forc-plugins/forc-lsp/Cargo.toml
  forc-test/Cargo.toml
  forc-tracing/Cargo.toml
  forc-util/Cargo.toml
  forc/Cargo.toml
  sway-ast/Cargo.toml
  sway-core/Cargo.toml
  sway-error/Cargo.toml
  sway-ir/Cargo.toml
  sway-ir/sway-ir-macros/Cargo.toml
  sway-lsp/Cargo.toml
  sway-parse/Cargo.toml
  sway-types/Cargo.toml
  sway-utils/Cargo.toml
  swayfmt/Cargo.toml
Labels: release

#3469 Allow comma-separated annotations: `#[ann1, ann2, ...]`
  forc-plugins/forc-doc/src/render.rs
  sway-ast/src/attribute.rs
  sway-core/src/transform/attribute.rs
  sway-core/src/transform/to_parsed_lang/convert_parse_tree.rs
  sway-lsp/src/capabilities/hover.rs
  sway-lsp/src/utils/attributes.rs
  sway-parse/src/attribute.rs
  sway-parse/src/item/mod.rs
  sway-types/src/constants.rs
  swayfmt/src/formatter/mod.rs
  swayfmt/src/utils/language/attribute.rs
  test/src/e2e_vm_tests/test_programs/should_pass/language/test_multiple_attributes/Forc.lock
  test/src/e2e_vm_tests/test_programs/should_pass/language/test_multiple_attributes/Forc.toml
  test/src/e2e_vm_tests/test_programs/should_pass/language/test_multiple_attributes/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/language/test_multiple_attributes/test.toml
Labels: formatter, compiler: parser

#3592 Use an advisory lock to co-ordinate access to git checkout repos
  Cargo.lock
  forc-pkg/Cargo.toml
  forc-pkg/src/pkg.rs
Labels: bug, forc, forc-pkg

#3611 Update repo in response to clippy update
  forc-pkg/src/manifest.rs
  forc-pkg/src/pkg.rs
  forc-plugins/forc-doc/src/main.rs
  forc/src/cli/commands/parse_bytecode.rs
  forc/src/cli/plugin.rs
  forc/src/ops/forc_update.rs
  sway-core/src/asm_generation/allocated_abstract_instruction_set.rs
  sway-core/src/asm_generation/asm_builder.rs
  sway-core/src/asm_lang/virtual_ops.rs
  sway-core/src/ir_generation/compile.rs
  sway-core/src/semantic_analysis/ast_node/declaration/impl_trait.rs
  sway-lsp/src/capabilities/formatting.rs
  sway-lsp/src/capabilities/semantic_tokens.rs
  sway-types/src/lib.rs
  swayfmt/src/items/item_fn/mod.rs
  swayfmt/src/items/item_use/mod.rs
  swayfmt/src/utils/language/expr/mod.rs
  swayfmt/src/utils/language/pattern.rs
Labels: code quality

#3618 Bump to `v0.32.2`
  Cargo.lock
  forc-pkg/Cargo.toml
  forc-plugins/forc-client/Cargo.toml
  forc-plugins/forc-doc/Cargo.toml
  forc-plugins/forc-fmt/Cargo.toml
  forc-plugins/forc-lsp/Cargo.toml
  forc-test/Cargo.toml
  forc-tracing/Cargo.toml
  forc-util/Cargo.toml
  forc/Cargo.toml
  sway-ast/Cargo.toml
  sway-core/Cargo.toml
  sway-error/Cargo.toml
  sway-ir/Cargo.toml
  sway-ir/sway-ir-macros/Cargo.toml
  sway-lsp/Cargo.toml
  sway-parse/Cargo.toml
  sway-types/Cargo.toml
  sway-utils/Cargo.toml
  swayfmt/Cargo.toml
Labels: release

#3620 Only parse project if the changes could be written to disk
  sway-lsp/src/core/session.rs
  sway-lsp/src/error.rs
  sway-lsp/src/server.rs
Labels: bug, language server, code quality

#3631 Demonstrating bugfix to trait constraints
  test/src/e2e_vm_tests/test_programs/should_pass/language/where_clause_functions/src/main.sw
Labels: compiler: frontend

#3464 Add code action for generating ABI impl
  sway-lsp/src/capabilities/code_actions.rs
  sway-lsp/src/capabilities/code_actions/abi_impl.rs
  sway-lsp/src/capabilities/mod.rs
  sway-lsp/src/server.rs
Labels: enhancement, language server

#3619 Reorder block creation for `while` loops.
  sway-core/src/asm_generation/abstract_instruction_set.rs
  sway-core/src/ir_generation/function.rs
  sway-ir/src/error.rs
  sway-ir/src/optimize/inline.rs
  sway-ir/src/verify.rs
  test/src/e2e_vm_tests/mod.rs
  test/src/e2e_vm_tests/test_programs/should_pass/require_contract_deployment/call_basic_storage/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/test_abis/basic_storage_abi/Forc.lock
  test/src/ir_generation/tests/break.sw
  test/src/ir_generation/tests/continue.sw
  test/src/ir_generation/tests/let_reassign_while_loop.sw
Labels: bug, P: critical, compiler: codegen

#3617 Use `try_get` methods on `DashMap` to avoid potential deadlocks
  sway-lsp/src/capabilities/hover.rs
  sway-lsp/src/core/session.rs
  sway-lsp/src/core/sync.rs
  sway-lsp/src/core/token_map.rs
  sway-lsp/src/server.rs
  sway-lsp/src/traverse/dependency.rs
  sway-lsp/src/traverse/typed_tree.rs
Labels: language server, code quality

#3583 doc: explain `forc-client` installation in sway quickstart
  docs/book/src/introduction/installation.md
  docs/book/src/introduction/sway_quickstart.md
Labels: The Sway Book

#3625 Switch to `Bytes` type for `send_message` data param
  sway-lib-std/src/lib.sw
  sway-lib-std/src/message.sw
  test/src/sdk-harness/test_projects/token_ops/mod.rs
  test/src/sdk-harness/test_projects/token_ops/src/main.sw
Labels: lib: std, code quality, breaking

#3608 Result enhancements
  sway-lib-std/src/result.sw
  test/src/e2e_vm_tests/test_programs/should_pass/stdlib/result/src/data_structures.sw
  test/src/e2e_vm_tests/test_programs/should_pass/stdlib/result/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/stdlib/result/src/tests.sw
Labels: lib: std

#3607 Add context to documentable items & cleanup workspace
  forc-plugins/forc-doc/src/descriptor.rs
  forc-plugins/forc-doc/src/doc.rs
  forc-plugins/forc-doc/src/main.rs
  forc-plugins/forc-doc/src/render.rs
  sway-core/src/declaration_engine/mod.rs
  sway-core/src/language/ty/declaration/declaration.rs
Labels: enhancement, big, code quality, forc-doc

#3642 Extract FuelVM-specific instructions to umbrella instruction
  sway-core/src/asm_generation/asm_builder.rs
  sway-core/src/ir_generation/purity.rs
  sway-ir/src/block.rs
  sway-ir/src/instruction.rs
  sway-ir/src/optimize/inline.rs
  sway-ir/src/printer.rs
  sway-ir/src/value.rs
  sway-ir/src/verify.rs
Labels: code quality, compiler: ir

#3332 Make use of range storage in the compiler and the standard library
  docs/book/src/reference/compiler_intrinsics.md
  sway-core/src/asm_generation/asm_builder.rs
  sway-core/src/ir_generation/function.rs
  sway-core/src/semantic_analysis/ast_node/expression/intrinsic_function.rs
  sway-ir/src/error.rs
  sway-ir/src/instruction.rs
  sway-ir/src/optimize/inline.rs
  sway-ir/src/parser.rs
  sway-ir/src/printer.rs
  sway-ir/src/verify.rs
  sway-ir/tests/serialize/storage_load.ir
  sway-ir/tests/serialize/storage_store.ir
  sway-lib-std/src/storage.sw
  test/src/e2e_vm_tests/test_programs/should_pass/require_contract_deployment/call_basic_storage/Forc.lock
  test/src/e2e_vm_tests/test_programs/should_pass/require_contract_deployment/call_basic_storage/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/test_abis/basic_storage_abi/Forc.toml
  test/src/e2e_vm_tests/test_programs/should_pass/test_abis/basic_storage_abi/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/test_contracts/basic_storage/Forc.lock
  test/src/e2e_vm_tests/test_programs/should_pass/test_contracts/basic_storage/json_abi_oracle.json
  test/src/e2e_vm_tests/test_programs/should_pass/test_contracts/basic_storage/src/main.sw
Labels: lib: std, compiler: ir, compiler: frontend, compiler: codegen

#3599 updated the sway book reference
  README.md
Labels: The Sway Reference

#3640 Bump to `fuels 0.33`
  templates/sway-test-rs/template/Cargo.toml
  test/src/sdk-harness/Cargo.toml
Labels: dependencies

#3652 Update in "Example 2"
  docs/reference/src/documentation/misc/advanced-concepts/enums.md
Labels: good first issue, The Sway Reference

#3362 Introduces Never enum to lib-std.
  sway-core/src/language/ty/expression/match_expression.rs
  sway-core/src/semantic_analysis/ast_node/code_block.rs
  sway-core/src/semantic_analysis/ast_node/expression/match_expression/analysis/usefulness.rs
  sway-core/src/semantic_analysis/ast_node/expression/match_expression/typed/typed_match_expression.rs
  sway-core/src/type_system/type_info.rs
  sway-core/src/type_system/unify.rs
  sway-lib-core/src/lib.sw
  sway-lib-core/src/never.sw
  sway-lib-core/src/prelude.sw
  test/src/e2e_vm_tests/test_programs/should_fail/diverging_never/Forc.lock
  test/src/e2e_vm_tests/test_programs/should_fail/diverging_never/Forc.toml
  test/src/e2e_vm_tests/test_programs/should_fail/diverging_never/json_abi_oracle.json
  test/src/e2e_vm_tests/test_programs/should_fail/diverging_never/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_fail/diverging_never/test.toml
  test/src/e2e_vm_tests/test_programs/should_fail/match_expressions_empty_arms/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_fail/match_expressions_empty_arms/test.toml
  test/src/e2e_vm_tests/test_programs/should_pass/language/diverging_exprs/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/language/match_expressions_empty_enums/Forc.lock
  test/src/e2e_vm_tests/test_programs/should_pass/language/match_expressions_empty_enums/Forc.toml
  test/src/e2e_vm_tests/test_programs/should_pass/language/match_expressions_empty_enums/json_abi_oracle.json
  test/src/e2e_vm_tests/test_programs/should_pass/language/match_expressions_empty_enums/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/language/match_expressions_empty_enums/test.toml
Labels: lib: std, compiler: frontend

#3648 Add balance tree and output message effects to CEI analysis
  docs/book/src/blockchain-development/calling_contracts.md
  sway-core/src/semantic_analysis/cei_pattern_analysis.rs
  sway-error/src/warning.rs
  test/src/e2e_vm_tests/test_programs/should_pass/static_analysis/cei_pattern_violation/test.toml
  test/src/e2e_vm_tests/test_programs/should_pass/static_analysis/cei_pattern_violation_in_asm_block/test.toml
  test/src/e2e_vm_tests/test_programs/should_pass/static_analysis/cei_pattern_violation_in_asm_block_bal/Forc.lock
  test/src/e2e_vm_tests/test_programs/should_pass/static_analysis/cei_pattern_violation_in_asm_block_bal/Forc.toml
  test/src/e2e_vm_tests/test_programs/should_pass/static_analysis/cei_pattern_violation_in_asm_block_bal/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/static_analysis/cei_pattern_violation_in_asm_block_bal/test.toml
  test/src/e2e_vm_tests/test_programs/should_pass/static_analysis/cei_pattern_violation_in_asm_block_smo/Forc.lock
  test/src/e2e_vm_tests/test_programs/should_pass/static_analysis/cei_pattern_violation_in_asm_block_smo/Forc.toml
  test/src/e2e_vm_tests/test_programs/should_pass/static_analysis/cei_pattern_violation_in_asm_block_smo/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/static_analysis/cei_pattern_violation_in_asm_block_smo/test.toml
  test/src/e2e_vm_tests/test_programs/should_pass/static_analysis/cei_pattern_violation_in_asm_block_tr/Forc.lock
  test/src/e2e_vm_tests/test_programs/should_pass/static_analysis/cei_pattern_violation_in_asm_block_tr/Forc.toml
  test/src/e2e_vm_tests/test_programs/should_pass/static_analysis/cei_pattern_violation_in_asm_block_tr/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/static_analysis/cei_pattern_violation_in_asm_block_tr/test.toml
  test/src/e2e_vm_tests/test_programs/should_pass/static_analysis/cei_pattern_violation_in_asm_block_tro/Forc.lock
  test/src/e2e_vm_tests/test_programs/should_pass/static_analysis/cei_pattern_violation_in_asm_block_tro/Forc.toml
  test/src/e2e_vm_tests/test_programs/should_pass/static_analysis/cei_pattern_violation_in_asm_block_tro/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/static_analysis/cei_pattern_violation_in_asm_block_tro/test.toml
  test/src/e2e_vm_tests/test_programs/should_pass/static_analysis/cei_pattern_violation_in_codeblocks_other_than_in_functions/test.toml
  test/src/e2e_vm_tests/test_programs/should_pass/static_analysis/cei_pattern_violation_in_func_app-1/test.toml
  test/src/e2e_vm_tests/test_programs/should_pass/static_analysis/cei_pattern_violation_in_func_app-2/test.toml
  test/src/e2e_vm_tests/test_programs/should_pass/static_analysis/cei_pattern_violation_in_func_app-3/test.toml
  test/src/e2e_vm_tests/test_programs/should_pass/static_analysis/cei_pattern_violation_in_if_statement-1/test.toml
  test/src/e2e_vm_tests/test_programs/should_pass/static_analysis/cei_pattern_violation_in_if_statement-2/test.toml
  test/src/e2e_vm_tests/test_programs/should_pass/static_analysis/cei_pattern_violation_in_intrinsic_call/test.toml
  test/src/e2e_vm_tests/test_programs/should_pass/static_analysis/cei_pattern_violation_in_match_statement-1/test.toml
  test/src/e2e_vm_tests/test_programs/should_pass/static_analysis/cei_pattern_violation_in_standalone_function/test.toml
  test/src/e2e_vm_tests/test_programs/should_pass/static_analysis/cei_pattern_violation_in_struct/test.toml
  test/src/e2e_vm_tests/test_programs/should_pass/static_analysis/cei_pattern_violation_in_tuple/test.toml
  test/src/e2e_vm_tests/test_programs/should_pass/static_analysis/cei_pattern_violation_in_while_loop-1/test.toml
  test/src/e2e_vm_tests/test_programs/should_pass/static_analysis/cei_pattern_violation_in_while_loop-2/test.toml
  test/src/e2e_vm_tests/test_programs/should_pass/static_analysis/cei_pattern_violation_in_while_loop-3/test.toml
  test/src/e2e_vm_tests/test_programs/should_pass/static_analysis/cei_pattern_violation_in_while_loop-4/test.toml
  test/src/e2e_vm_tests/test_programs/should_pass/static_analysis/cei_pattern_violation_more_complex_logic/test.toml
  test/src/e2e_vm_tests/test_programs/should_pass/static_analysis/cei_pattern_violation_smo_intrinsic/Forc.lock
  test/src/e2e_vm_tests/test_programs/should_pass/static_analysis/cei_pattern_violation_smo_intrinsic/Forc.toml
  test/src/e2e_vm_tests/test_programs/should_pass/static_analysis/cei_pattern_violation_smo_intrinsic/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/static_analysis/cei_pattern_violation_smo_intrinsic/test.toml
  test/src/e2e_vm_tests/test_programs/should_pass/static_analysis/cei_pattern_violation_storage_map_and_vec/test.toml
  test/src/e2e_vm_tests/test_programs/should_pass/static_analysis/cei_pattern_violation_storage_var_update/test.toml
Labels: enhancement, compiler: static-analysis

#3653 Update link to TS SDK docs in the `forc` CLI
  forc/src/ops/forc_init.rs
Labels: forc

#3654 Parser recovery for incomplete path expressions/patterns
  sway-ast/src/item/item_use.rs
  sway-ast/src/path.rs
  sway-ast/src/pattern.rs
  sway-core/src/language/parsed/expression/scrutinee.rs
  sway-core/src/semantic_analysis/ast_node/expression/match_expression/typed/typed_scrutinee.rs
  sway-core/src/transform/to_parsed_lang/convert_parse_tree.rs
  sway-lsp/src/traverse/parsed_tree.rs
  sway-parse/src/expr/mod.rs
  sway-parse/src/item/item_use.rs
  sway-parse/src/path.rs
  sway-parse/src/pattern.rs
  swayfmt/src/items/item_use/mod.rs
  swayfmt/src/utils/language/pattern.rs
  test/src/e2e_vm_tests/test_programs/should_fail/recover_path_enum/Forc.lock
  test/src/e2e_vm_tests/test_programs/should_fail/recover_path_enum/Forc.toml
  test/src/e2e_vm_tests/test_programs/should_fail/recover_path_enum/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_fail/recover_path_enum/test.toml
  test/src/e2e_vm_tests/test_programs/should_fail/recover_path_lib_definition/Forc.lock
  test/src/e2e_vm_tests/test_programs/should_fail/recover_path_lib_definition/Forc.toml
  test/src/e2e_vm_tests/test_programs/should_fail/recover_path_lib_definition/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_fail/recover_path_lib_definition/test.toml
  test/src/e2e_vm_tests/test_programs/should_fail/recover_path_lib_import/Forc.lock
  test/src/e2e_vm_tests/test_programs/should_fail/recover_path_lib_import/Forc.toml
  test/src/e2e_vm_tests/test_programs/should_fail/recover_path_lib_import/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_fail/recover_path_lib_import/test.toml
  test/src/e2e_vm_tests/test_programs/should_fail/recover_path_pattern_matching/Forc.lock
  test/src/e2e_vm_tests/test_programs/should_fail/recover_path_pattern_matching/Forc.toml
  test/src/e2e_vm_tests/test_programs/should_fail/recover_path_pattern_matching/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_fail/recover_path_pattern_matching/test.toml
Labels: enhancement, compiler: parser

#3661 Block repeated ABI/trait declarations
  sway-core/src/semantic_analysis/ast_node/declaration/declaration.rs
  sway-core/src/semantic_analysis/namespace/items.rs
  test/src/e2e_vm_tests/test_programs/should_fail/repeated_abi_declaration/Forc.lock
  test/src/e2e_vm_tests/test_programs/should_fail/repeated_abi_declaration/Forc.toml
  test/src/e2e_vm_tests/test_programs/should_fail/repeated_abi_declaration/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_fail/repeated_abi_declaration/test.toml
  test/src/e2e_vm_tests/test_programs/should_fail/repeated_trait_declaration/Forc.lock
  test/src/e2e_vm_tests/test_programs/should_fail/repeated_trait_declaration/Forc.toml
  test/src/e2e_vm_tests/test_programs/should_fail/repeated_trait_declaration/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_fail/repeated_trait_declaration/test.toml
  test/src/e2e_vm_tests/test_programs/should_pass/language/where_clause_functions/src/main.sw
Labels: compiler: frontend, compiler: ui

#3662 Disable `self` parameters for ABI methods
  sway-core/src/transform/to_parsed_lang/convert_parse_tree.rs
  sway-error/src/convert_parse_tree_error.rs
  test/src/e2e_vm_tests/test_programs/should_fail/no_self_in_abi_method_signature/Forc.lock
  test/src/e2e_vm_tests/test_programs/should_fail/no_self_in_abi_method_signature/Forc.toml
  test/src/e2e_vm_tests/test_programs/should_fail/no_self_in_abi_method_signature/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_fail/no_self_in_abi_method_signature/test.toml
  test/src/e2e_vm_tests/test_programs/should_fail/no_self_in_method_provided_by_abi/Forc.lock
  test/src/e2e_vm_tests/test_programs/should_fail/no_self_in_method_provided_by_abi/Forc.toml
  test/src/e2e_vm_tests/test_programs/should_fail/no_self_in_method_provided_by_abi/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_fail/no_self_in_method_provided_by_abi/test.toml
Labels: compiler: frontend, compiler: ui
