Repository FuelLabs/sway, pull requests merged in 2023-06, with the labels that each got.

#4616 Replace recursive build strategy with `BuildPlan` compilation order
  forc-plugins/forc-doc/src/main.rs
Labels: forc-doc

#4619 Sway Reference: Section 9 Annotations. Document the payable annotation
  docs/reference/src/SUMMARY.md
  docs/reference/src/code/language/annotations/src/main.sw
  docs/reference/src/documentation/language/annotations/attributes/payable.md
Labels: The Sway Reference

#4622 Sway Reference: Section 9 Annotations: Testing
  docs/reference/src/code/language/annotations/src/main.sw
  docs/reference/src/documentation/language/annotations/attributes/test.md
Labels: The Sway Reference

#4377 Create devcontainer.json
  .devcontainer/devcontainer.json
Labels: language server

#4636 Sway Reference: Section 9 Annotations inline
  docs/reference/src/SUMMARY.md
  docs/reference/src/code/language/annotations/src/main.sw
  docs/reference/src/documentation/language/annotations/attributes/inline.md
Labels: The Sway Reference

#4624 Sway Reference: Section 9 annotations: allow dead code
  docs/reference/src/SUMMARY.md
  docs/reference/src/code/language/annotations/src/main.sw
  docs/reference/src/documentation/language/annotations/attributes/allow.md
Labels: The Sway Reference

#4638 Sway Reference: Style Guide name convention
  docs/reference/src/SUMMARY.md
  docs/reference/src/documentation/language/style-guide/name-convention.md
Labels: The Sway Reference

#4620 Adding documentation for generic traits and trait constraints on free functions.
  docs/book/src/SUMMARY.md
  docs/book/src/advanced/generics_and_trait_constraints.md
  docs/book/src/advanced/index.md
  examples/traits/.gitignore
  examples/traits/Forc.toml
  examples/traits/src/main.sw
Labels: The Sway Book, documentation

#4610 feat: prevent using dependency detail fields only relevant to git dependencies without specifying a git field in the manifest file
  forc-pkg/src/manifest.rs
Labels: enhancement, forc, forc-pkg

#4648 Cleanup stdlib warnings
  sway-core/src/semantic_analysis/ast_node/expression/intrinsic_function.rs
  sway-lib-core/src/primitive_conversions.sw
Labels: code quality

#4649 Test dot method calls disambiguation with `self`
  test/src/e2e_vm_tests/test_programs/should_pass/language/trait_method_qualified/src/main.sw
Labels: testing

#4617 Fixes sha256 returning erroneous results.
  docs/book/src/reference/compiler_intrinsics.md
  sway-ast/src/intrinsics.rs
  sway-core/src/asm_generation/from_ir.rs
  sway-core/src/ir_generation/const_eval.rs
  sway-core/src/ir_generation/function.rs
  sway-core/src/semantic_analysis/ast_node/expression/intrinsic_function.rs
  sway-core/src/semantic_analysis/cei_pattern_analysis.rs
  sway-lib-std/src/hash.sw
  test/src/e2e_vm_tests/test_programs/should_pass/language/configurable_consts/json_abi_oracle.json
  test/src/e2e_vm_tests/test_programs/should_pass/require_contract_deployment/call_basic_storage/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/stdlib/sha256/Forc.lock
  test/src/e2e_vm_tests/test_programs/should_pass/stdlib/sha256/Forc.toml
  test/src/e2e_vm_tests/test_programs/should_pass/stdlib/sha256/json_abi_oracle.json
  test/src/e2e_vm_tests/test_programs/should_pass/stdlib/sha256/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/stdlib/sha256/test.toml
  test/src/sdk-harness/test_projects/hashing/mod.rs
Labels: bug, lib: std, P: critical

#4658 make dir watcher use std::thread instead of async
  sway-lsp/src/core/session.rs
  sway-lsp/src/core/sync.rs
  sway-lsp/src/utils/keyword_docs.rs
Labels: language server, code quality

#4657 Bump tower-lsp and use the lsp_types crate directly
  Cargo.lock
  sway-lsp/Cargo.toml
  sway-lsp/src/capabilities/code_actions/abi_decl/abi_impl.rs
  sway-lsp/src/capabilities/code_actions/abi_decl/mod.rs
  sway-lsp/src/capabilities/code_actions/common/generate_doc.rs
  sway-lsp/src/capabilities/code_actions/constant_decl/mod.rs
  sway-lsp/src/capabilities/code_actions/enum_decl/doc_comment.rs
  sway-lsp/src/capabilities/code_actions/enum_decl/enum_impl.rs
  sway-lsp/src/capabilities/code_actions/enum_decl/mod.rs
  sway-lsp/src/capabilities/code_actions/enum_variant/mod.rs
  sway-lsp/src/capabilities/code_actions/function_decl/doc_comment.rs
  sway-lsp/src/capabilities/code_actions/function_decl/mod.rs
  sway-lsp/src/capabilities/code_actions/mod.rs
  sway-lsp/src/capabilities/code_actions/storage_field/mod.rs
  sway-lsp/src/capabilities/code_actions/struct_decl/mod.rs
  sway-lsp/src/capabilities/code_actions/struct_decl/struct_impl.rs
  sway-lsp/src/capabilities/code_actions/struct_decl/struct_new.rs
  sway-lsp/src/capabilities/code_actions/struct_field/mod.rs
  sway-lsp/src/capabilities/completion.rs
  sway-lsp/src/capabilities/diagnostic.rs
  sway-lsp/src/capabilities/document_symbol.rs
  sway-lsp/src/capabilities/formatting.rs
  sway-lsp/src/capabilities/highlight.rs
  sway-lsp/src/capabilities/hover/hover_link_contents.rs
  sway-lsp/src/capabilities/hover/mod.rs
  sway-lsp/src/capabilities/inlay_hints.rs
  sway-lsp/src/capabilities/on_enter.rs
  sway-lsp/src/capabilities/rename.rs
  sway-lsp/src/capabilities/runnable.rs
  sway-lsp/src/capabilities/semantic_tokens.rs
  sway-lsp/src/core/document.rs
  sway-lsp/src/core/session.rs
  sway-lsp/src/core/sync.rs
  sway-lsp/src/core/token.rs
  sway-lsp/src/core/token_map.rs
  sway-lsp/src/server.rs
  sway-lsp/src/utils/debug.rs
  sway-lsp/src/utils/document.rs
  sway-lsp/tests/utils/Cargo.toml
Labels: language server, code quality

#4653 Sway Ref: Style guide enum intro
  docs/reference/src/code/language/style-guide/enum_style/src/lib.sw
  docs/reference/src/documentation/language/style-guide/enums.md
Labels: The Sway Reference

#4669 chore: bump sdk to 0.43, fuel-core to 0.18.2
  .github/workflows/ci.yml
  Cargo.lock
  Cargo.toml
  forc-plugins/forc-client/Cargo.toml
  forc-plugins/forc-client/src/util/tx.rs
  test/src/sdk-harness/Cargo.lock
  test/src/sdk-harness/Cargo.toml
  test/src/sdk-harness/test_projects/auth/mod.rs
  test/src/sdk-harness/test_projects/block/mod.rs
  test/src/sdk-harness/test_projects/call_frames/mod.rs
  test/src/sdk-harness/test_projects/context/mod.rs
  test/src/sdk-harness/test_projects/contract_bytecode/mod.rs
  test/src/sdk-harness/test_projects/ec_recover/mod.rs
  test/src/sdk-harness/test_projects/ec_recover_and_match_predicate/mod.rs
  test/src/sdk-harness/test_projects/evm/mod.rs
  test/src/sdk-harness/test_projects/evm_ec_recover/mod.rs
  test/src/sdk-harness/test_projects/exponentiation/mod.rs
  test/src/sdk-harness/test_projects/generics_in_abi/mod.rs
  test/src/sdk-harness/test_projects/hashing/mod.rs
  test/src/sdk-harness/test_projects/low_level_call/mod.rs
  test/src/sdk-harness/test_projects/messages/mod.rs
  test/src/sdk-harness/test_projects/methods/mod.rs
  test/src/sdk-harness/test_projects/option_field_order/mod.rs
  test/src/sdk-harness/test_projects/option_in_abi/mod.rs
  test/src/sdk-harness/test_projects/parsing_logs/mod.rs
  test/src/sdk-harness/test_projects/predicate_data_simple/mod.rs
  test/src/sdk-harness/test_projects/predicate_data_struct/mod.rs
  test/src/sdk-harness/test_projects/registers/mod.rs
  test/src/sdk-harness/test_projects/result_in_abi/mod.rs
  test/src/sdk-harness/test_projects/storage/mod.rs
  test/src/sdk-harness/test_projects/storage_access/mod.rs
  test/src/sdk-harness/test_projects/storage_bytes/mod.rs
  test/src/sdk-harness/test_projects/storage_init/mod.rs
  test/src/sdk-harness/test_projects/storage_map/mod.rs
  test/src/sdk-harness/test_projects/storage_map_nested/mod.rs
  test/src/sdk-harness/test_projects/storage_vec/testgen.rs
  test/src/sdk-harness/test_projects/storage_vec_nested/mod.rs
  test/src/sdk-harness/test_projects/token_ops/mod.rs
  test/src/sdk-harness/test_projects/tx_fields/mod.rs
  test/src/sdk-harness/test_projects/type_aliases/mod.rs
  test/src/sdk-harness/test_projects/vec_in_abi/mod.rs
Labels: ci, dependencies

#4655 Sway Ref: Style guide pattern matching
  docs/reference/src/code/Forc.lock
  docs/reference/src/code/Forc.toml
  docs/reference/src/code/language/style-guide/pattern_matching/.gitignore
  docs/reference/src/code/language/style-guide/pattern_matching/Forc.toml
  docs/reference/src/code/language/style-guide/pattern_matching/src/lib.sw
  docs/reference/src/documentation/language/style-guide/pattern-matching.md
Labels: The Sway Reference

#4668 chore: make `fuel-tx` optional to `forc-util`
  forc-plugins/forc-client/src/cmd/deploy.rs
  forc-plugins/forc-client/src/op/run.rs
  forc-plugins/forc-tx/src/lib.rs
  forc-util/Cargo.toml
  forc-util/src/lib.rs
  forc/src/cli/commands/contract_id.rs
  forc/src/cli/commands/test.rs
Labels: forc, code quality

#4673 Refactor the `server.rs` module in the language server.
  sway-lsp/src/handlers/notification.rs
  sway-lsp/src/handlers/request.rs
  sway-lsp/src/lib.rs
  sway-lsp/src/lsp_ext.rs
  sway-lsp/src/server.rs
  sway-lsp/src/server_state.rs
  sway-lsp/tests/integration/code_actions.rs
  sway-lsp/tests/integration/lsp.rs
  sway-lsp/tests/lib.rs
Labels: language server, code quality

#4299 feature(forc-pkg): Support IPFS-sourced dependencies
  Cargo.lock
  docs/book/src/forc/dependencies.md
  forc-pkg/Cargo.toml
  forc-pkg/src/manifest.rs
  forc-pkg/src/pkg.rs
  forc-pkg/src/source/ipfs.rs
  forc-pkg/src/source/mod.rs
  forc-plugins/forc-client/src/op/deploy.rs
  forc-plugins/forc-client/src/op/run.rs
  forc-plugins/forc-client/src/util/pkg.rs
  forc-plugins/forc-doc/src/cli.rs
  forc-plugins/forc-doc/src/main.rs
  forc/src/cli/commands/check.rs
  forc/src/cli/commands/test.rs
  forc/src/cli/commands/update.rs
  forc/src/cli/shared.rs
  forc/src/ops/forc_build.rs
  forc/src/ops/forc_check.rs
  forc/src/ops/forc_contract_id.rs
  forc/src/ops/forc_predicate_root.rs
  forc/src/ops/forc_update.rs
  sway-lsp/src/core/session.rs
  sway-utils/src/constants.rs
  test/src/ir_generation/mod.rs
Labels: enhancement, forc, big, forc-pkg, forc-registry

#4683 Additional identity methods
  sway-lib-std/src/identity.sw
Labels: lib: std

#4695 fix: broken links, ignore DS_Store
  .gitignore
  docs/book/src/advanced/traits.md
Labels: documentation

#4688 Sway Ref: Assertions assert_eq
  docs/reference/src/SUMMARY.md
  docs/reference/src/code/operations/assertions/src/lib.sw
  docs/reference/src/documentation/operations/assertions/assert-eq.md
  docs/reference/src/documentation/operations/assertions/index.md
Labels: The Sway Reference

#4682 chore: make `clippy` warnings errors in `ci_checks` script
  ci_checks.sh
Labels: enhancement, ci

#4142 Add flag to reverse errors
  forc-pkg/src/manifest.rs
  forc-pkg/src/pkg.rs
  forc-plugins/forc-client/src/op/deploy.rs
  forc-plugins/forc-client/src/op/run.rs
  forc-util/src/lib.rs
  forc/src/cli/commands/test.rs
  forc/src/cli/shared.rs
  forc/src/ops/forc_build.rs
  forc/src/ops/forc_contract_id.rs
  forc/src/ops/forc_predicate_root.rs
Labels: enhancement, forc

#4694 Add `GTF_OUTPUT_COIN_ASSET_ID` and `GTF_OUTPUT_COIN_TO` opcode getters
  sway-lib-std/src/outputs.sw
  test/src/e2e_vm_tests/test_programs/should_pass/require_contract_deployment/call_basic_storage/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/require_contract_deployment/caller_context_test/src/main.sw
  test/src/sdk-harness/Forc.lock
  test/src/sdk-harness/Forc.toml
  test/src/sdk-harness/test_artifacts/tx_output_predicate/Forc.lock
  test/src/sdk-harness/test_artifacts/tx_output_predicate/Forc.toml
  test/src/sdk-harness/test_artifacts/tx_output_predicate/src/main.sw
  test/src/sdk-harness/test_projects/tx_fields/mod.rs
Labels: enhancement, lib: std, breaking

#4681 chore: fix default-feature warning for forc-client
  Cargo.toml
  forc-plugins/forc-client/Cargo.toml
Labels: enhancement, code quality

#4712 Fix documentation typo
  docs/book/src/common-collections/storage_map.md
Labels: documentation

#4714 Refactor `Bytes` type to use `From` trait
  sway-lib-std/src/bytes.sw
  sway-lib-std/src/low_level_call.sw
  sway-lib-std/src/storage/storage_bytes.sw
  test/src/sdk-harness/test_projects/storage_bytes/src/main.sw
Labels: lib: std, breaking

#4717 chore: bump git2-rs version to 0.17.2 and required libgit2 to v1.6.4
  Cargo.lock
  forc-pkg/Cargo.toml
Labels: enhancement, forc, dependencies

#4721 Fix style guide example not using local std
  docs/reference/src/code/Forc.lock
  docs/reference/src/code/language/style-guide/pattern_matching/Forc.toml
Labels: bug

#4715 feat: report the name of failing dependencies that cannot be sourced
  forc-pkg/src/pkg.rs
Labels: enhancement, forc-pkg

#4716 Minimal String type
  sway-lib-std/src/lib.sw
  sway-lib-std/src/string.sw
Labels: lib: std
