Repository FuelLabs/sway, pull requests merged in 2023-10, with the labels that each got.

#5157 chore/docs: improve wording and fix typos
  docs/book/src/advanced/assembly.md
  docs/book/src/testing/unit-testing.md
  sway-core/src/asm_generation/evm/evm_asm_builder.rs
  sway-core/src/language/ty/declaration/declaration.rs
Labels: documentation

#5155 Fix parser panics in edge cases
  sway-parse/src/lib.rs
  sway-parse/src/parser.rs
  sway-parse/src/token.rs
Labels: bug, compiler: parser

#5172 Added keccak256 tests for Hasher
  sway-lib-std/src/hash.sw
Labels: good first issue, lib: std, testing

#5148 Refactor use of destructive methods in `swayfmt`
  swayfmt/src/items/item_trait/mod.rs
  swayfmt/src/items/item_use/mod.rs
  swayfmt/src/utils/language/punctuated.rs
  swayfmt/src/utils/language/statement.rs
Labels: code quality

#5182 bug: Fix formatting for `ItemTraitItem` and `Annotated<T>`
  swayfmt/src/comments.rs
  swayfmt/src/formatter/mod.rs
  swayfmt/src/items/item_abi/mod.rs
  swayfmt/src/items/item_configurable/mod.rs
  swayfmt/src/items/item_enum/mod.rs
  swayfmt/src/items/item_fn/mod.rs
  swayfmt/src/items/item_impl/mod.rs
  swayfmt/src/items/item_storage/mod.rs
  swayfmt/src/items/item_struct/mod.rs
  swayfmt/src/items/item_trait/mod.rs
  swayfmt/src/items/item_use/mod.rs
  swayfmt/src/utils/language/attribute.rs
  swayfmt/src/utils/language/expr/asm_block.rs
  swayfmt/src/utils/language/expr/code_block.rs
  swayfmt/src/utils/language/expr/collections.rs
  swayfmt/src/utils/language/expr/conditional.rs
  swayfmt/src/utils/language/expr/mod.rs
  swayfmt/src/utils/language/expr/struct_field.rs
  swayfmt/src/utils/language/pattern.rs
  swayfmt/src/utils/language/punctuated.rs
  swayfmt/src/utils/language/where_clause.rs
Labels: bug, formatter

#5183 Remove `List` options from the formatter
  swayfmt/src/config/imports.rs
  swayfmt/src/config/items.rs
  swayfmt/src/config/lists.rs
  swayfmt/src/config/manifest.rs
  swayfmt/src/config/mod.rs
  swayfmt/src/config/user_opts.rs
Labels: code quality, formatter

#5144 docs: link to docs hub fuel installation guide
  docs/book/src/SUMMARY.md
  docs/book/src/introduction/fuel_toolchain.md
  docs/book/src/introduction/getting_started.md
  docs/book/src/introduction/index.md
  docs/book/src/introduction/installation.md
  docs/book/src/introduction/sway_quickstart.md
Labels: documentation

#5186 Fix formatting of `abi` & `trait` function signatures
  swayfmt/src/items/item_abi/tests.rs
  swayfmt/src/items/item_fn/mod.rs
  swayfmt/src/items/item_impl/mod.rs
  swayfmt/src/items/item_trait/tests.rs
Labels: bug, formatter

#5160 Implements qualified paths for associated types.
  forc-plugins/forc-doc/src/render/item/type_anchor.rs
  sway-core/src/abi_generation/evm_abi.rs
  sway-core/src/abi_generation/fuel_abi.rs
  sway-core/src/engine_threading.rs
  sway-core/src/language/call_path.rs
  sway-core/src/language/parsed/expression/method_name.rs
  sway-core/src/language/parsed/expression/mod.rs
  sway-core/src/language/parsed/expression/scrutinee.rs
  sway-core/src/language/ty/declaration/trait.rs
  sway-core/src/language/ty/expression/expression_variant.rs
  sway-core/src/semantic_analysis/ast_node/declaration/abi.rs
  sway-core/src/semantic_analysis/ast_node/declaration/impl_trait.rs
  sway-core/src/semantic_analysis/ast_node/expression/typed_expression.rs
  sway-core/src/semantic_analysis/ast_node/expression/typed_expression/method_application.rs
  sway-core/src/semantic_analysis/ast_node/expression/typed_expression/struct_instantiation.rs
  sway-core/src/semantic_analysis/namespace/root.rs
  sway-core/src/semantic_analysis/namespace/trait_map.rs
  sway-core/src/semantic_analysis/node_dependencies.rs
  sway-core/src/semantic_analysis/type_check_context.rs
  sway-core/src/transform/to_parsed_lang/convert_parse_tree.rs
  sway-core/src/type_system/ast_elements/binding.rs
  sway-core/src/type_system/id.rs
  sway-core/src/type_system/info.rs
  sway-core/src/type_system/unify/unify_check.rs
  sway-error/src/convert_parse_tree_error.rs
  sway-error/src/error.rs
  sway-lsp/src/core/token.rs
  sway-lsp/src/traverse/parsed_tree.rs
  sway-lsp/src/traverse/typed_tree.rs
  test/src/e2e_vm_tests/test_programs/should_fail/associated_type_multiple_traits_same_name/Forc.lock
  test/src/e2e_vm_tests/test_programs/should_fail/associated_type_multiple_traits_same_name/Forc.toml
  test/src/e2e_vm_tests/test_programs/should_fail/associated_type_multiple_traits_same_name/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_fail/associated_type_multiple_traits_same_name/test.toml
  test/src/e2e_vm_tests/test_programs/should_fail/trait_method_ambiguous/test.toml
  test/src/e2e_vm_tests/test_programs/should_fail/trait_method_generic_ambiguous/test.toml
  test/src/e2e_vm_tests/test_programs/should_pass/language/associated_type_and_associated_const/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/language/associated_type_fully_qualified/Forc.lock
  test/src/e2e_vm_tests/test_programs/should_pass/language/associated_type_fully_qualified/Forc.toml
  test/src/e2e_vm_tests/test_programs/should_pass/language/associated_type_fully_qualified/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/language/associated_type_fully_qualified/test.toml
Labels: enhancement, compiler: frontend

#5180 Add bytes conversions and move array conversions to std lib
  sway-lib-core/src/primitive_conversions.sw
  sway-lib-std/src/array_conversions.sw
  sway-lib-std/src/array_conversions/b256.sw
  sway-lib-std/src/array_conversions/u16.sw
  sway-lib-std/src/array_conversions/u256.sw
  sway-lib-std/src/array_conversions/u32.sw
  sway-lib-std/src/array_conversions/u64.sw
  sway-lib-std/src/bytes_conversions.sw
  sway-lib-std/src/bytes_conversions/b256.sw
  sway-lib-std/src/bytes_conversions/u16.sw
  sway-lib-std/src/bytes_conversions/u256.sw
  sway-lib-std/src/bytes_conversions/u32.sw
  sway-lib-std/src/bytes_conversions/u64.sw
  sway-lib-std/src/lib.sw
Labels: lib: std, breaking, lib: core

#5199 Use `u32` as exponent in `Power` instead of `Self`
  sway-lib-std/src/math.sw
  sway-lib-std/src/u128.sw
  test/src/e2e_vm_tests/test_programs/should_pass/stdlib/exponentiation_test/src/main.sw
  test/src/sdk-harness/test_artifacts/pow/src/main.sw
  test/src/sdk-harness/test_projects/exponentiation/mod.rs
Labels: lib: std, breaking

#5200 Implements generic trait constraints.
  sway-core/src/semantic_analysis/ast_node/declaration/enum.rs
  sway-core/src/semantic_analysis/ast_node/declaration/function.rs
  sway-core/src/semantic_analysis/ast_node/declaration/impl_trait.rs
  sway-core/src/semantic_analysis/ast_node/declaration/struct.rs
  sway-core/src/semantic_analysis/ast_node/declaration/trait.rs
  sway-core/src/type_system/ast_elements/trait_constraint.rs
  sway-core/src/type_system/ast_elements/type_argument.rs
  sway-core/src/type_system/ast_elements/type_parameter.rs
  sway-core/src/type_system/engine.rs
  sway-core/src/type_system/info.rs
  test/src/e2e_vm_tests/test_programs/should_fail/generic_traits/test.toml
  test/src/e2e_vm_tests/test_programs/should_pass/language/generic_trait_constraints/Forc.lock
  test/src/e2e_vm_tests/test_programs/should_pass/language/generic_trait_constraints/Forc.toml
  test/src/e2e_vm_tests/test_programs/should_pass/language/generic_trait_constraints/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/language/generic_trait_constraints/test.toml
Labels: enhancement, language feature, compiler: frontend

#4933 Allow method calls between impl self methods.
  .github/workflows/ci.yml
  sway-core/src/semantic_analysis/ast_node/declaration/impl_trait.rs
  test/src/e2e_vm_tests/test_programs/should_pass/language/associated_const_impl_self_order/Forc.lock
  test/src/e2e_vm_tests/test_programs/should_pass/language/associated_const_impl_self_order/Forc.toml
  test/src/e2e_vm_tests/test_programs/should_pass/language/associated_const_impl_self_order/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/language/associated_const_impl_self_order/test.toml
  test/src/e2e_vm_tests/test_programs/should_pass/language/impl_self_method/.gitignore
  test/src/e2e_vm_tests/test_programs/should_pass/language/impl_self_method/Forc.lock
  test/src/e2e_vm_tests/test_programs/should_pass/language/impl_self_method/Forc.toml
  test/src/e2e_vm_tests/test_programs/should_pass/language/impl_self_method/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/language/impl_self_method/test.toml
  test/src/e2e_vm_tests/test_programs/should_pass/language/impl_self_method_multiple/.gitignore
  test/src/e2e_vm_tests/test_programs/should_pass/language/impl_self_method_multiple/Forc.lock
  test/src/e2e_vm_tests/test_programs/should_pass/language/impl_self_method_multiple/Forc.toml
  test/src/e2e_vm_tests/test_programs/should_pass/language/impl_self_method_multiple/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/language/impl_self_method_multiple/test.toml
  test/src/e2e_vm_tests/test_programs/should_pass/language/impl_self_method_order/.gitignore
  test/src/e2e_vm_tests/test_programs/should_pass/language/impl_self_method_order/Forc.lock
  test/src/e2e_vm_tests/test_programs/should_pass/language/impl_self_method_order/Forc.toml
  test/src/e2e_vm_tests/test_programs/should_pass/language/impl_self_method_order/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/language/impl_self_method_order/test.toml
Labels: bug, enhancement, language feature, P: critical, compiler: frontend

#5215 Fix side effects in `if-let` expressions
  sway-core/src/transform/to_parsed_lang/convert_parse_tree.rs
  sway-lsp/tests/lib.rs
  test/src/e2e_vm_tests/test_programs/should_pass/language/if_let_no_side_effects/.gitignore
  test/src/e2e_vm_tests/test_programs/should_pass/language/if_let_no_side_effects/Forc.lock
  test/src/e2e_vm_tests/test_programs/should_pass/language/if_let_no_side_effects/Forc.toml
  test/src/e2e_vm_tests/test_programs/should_pass/language/if_let_no_side_effects/json_abi_oracle.json
  test/src/e2e_vm_tests/test_programs/should_pass/language/if_let_no_side_effects/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/language/if_let_no_side_effects/test.toml
  test/src/ir_generation/tests/enum_struct_string.sw
  test/src/ir_generation/tests/if_let_simple.sw
Labels: bug, compiler, P: critical, compiler: frontend

#5205 Add go-to definition for dependency types: `ImplTraits`
  Cargo.lock
  forc-plugins/forc-doc/Cargo.toml
  forc-plugins/forc-doc/src/cli.rs
  forc-plugins/forc-doc/src/doc/mod.rs
  forc-plugins/forc-doc/src/doc/module.rs
  forc-plugins/forc-doc/src/main.rs
  forc-plugins/forc-doc/src/render/item/context.rs
  forc-plugins/forc-doc/src/render/item/type_anchor.rs
  forc-plugins/forc-doc/src/tests/data/impl_traits/src/bar.sw
  forc-plugins/forc-doc/src/tests/expects/impl_trait/mod.rs
  forc-plugins/forc-doc/src/tests/expects/mod.rs
  forc-plugins/forc-doc/src/tests/mod.rs
Labels: enhancement, forc-doc

#5224 refactor: Move dir helpers from `forc-util` to `sway-utils`
  Cargo.lock
  forc-pkg/src/manifest.rs
  forc-plugins/forc-fmt/src/main.rs
  forc-util/Cargo.toml
  forc-util/src/lib.rs
  forc/src/ops/forc_clean.rs
  sway-utils/Cargo.toml
  sway-utils/src/helpers.rs
  swayfmt/Cargo.toml
  swayfmt/src/config/manifest.rs
Labels: code quality

#5218 Fixes error while using generic From and Into traits.
  sway-core/src/semantic_analysis/ast_node/expression/typed_expression/method_application.rs
  test/src/e2e_vm_tests/test_programs/should_pass/language/generic_trait_constraints/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/language/generic_trait_constraints/test.toml
Labels: bug, P: high, compiler: frontend

#5226 Optimize gas for `AssetId::new()` and `AssetId::default()` functions
  sway-lib-std/src/contract_id.sw
Labels: enhancement, lib: std

#5213 Refactor match expressions and fix critical issue
  sway-core/src/compiler_generated.rs
  sway-core/src/language/call_path.rs
  sway-core/src/language/ty/declaration/function.rs
  sway-core/src/language/ty/expression/match_expression.rs
  sway-core/src/language/ty/expression/storage.rs
  sway-core/src/lib.rs
  sway-core/src/semantic_analysis/ast_node/expression/match_expression/mod.rs
  sway-core/src/semantic_analysis/ast_node/expression/match_expression/typed/instantiate.rs
  sway-core/src/semantic_analysis/ast_node/expression/match_expression/typed/matcher.rs
  sway-core/src/semantic_analysis/ast_node/expression/match_expression/typed/mod.rs
  sway-core/src/semantic_analysis/ast_node/expression/match_expression/typed/typed_match_branch.rs
  sway-core/src/semantic_analysis/ast_node/expression/match_expression/typed/typed_match_expression.rs
  sway-core/src/semantic_analysis/ast_node/expression/typed_expression.rs
  sway-core/src/semantic_analysis/ast_node/expression/typed_expression/unsafe_downcast.rs
  sway-core/src/semantic_analysis/type_check_context.rs
  sway-core/src/transform/to_parsed_lang/context.rs
  sway-core/src/transform/to_parsed_lang/convert_parse_tree.rs
  sway-ir/src/optimize/sroa.rs
  sway-lsp/src/traverse/parsed_tree.rs
  sway-types/src/constants.rs
  sway-types/src/state.rs
  test/src/e2e_vm_tests/test_programs/should_pass/language/match_expressions/Forc.lock
  test/src/e2e_vm_tests/test_programs/should_pass/language/match_expressions/Forc.toml
  test/src/e2e_vm_tests/test_programs/should_pass/language/match_expressions/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/language/match_expressions_constants/src/lib.sw
  test/src/e2e_vm_tests/test_programs/should_pass/language/match_expressions_constants/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/language/match_expressions_constants/test.toml
  test/src/e2e_vm_tests/test_programs/should_pass/language/match_expressions_empty_enums/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/language/match_expressions_empty_enums/test.toml
  test/src/e2e_vm_tests/test_programs/should_pass/language/match_expressions_enums/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/language/match_expressions_explicit_rets/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/language/match_expressions_nested/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/language/match_expressions_or/src/lib_enum.sw
  test/src/e2e_vm_tests/test_programs/should_pass/language/match_expressions_or/src/lib_literal.sw
  test/src/e2e_vm_tests/test_programs/should_pass/language/match_expressions_or/src/lib_nested.sw
  test/src/e2e_vm_tests/test_programs/should_pass/language/match_expressions_or/src/lib_struct.sw
  test/src/e2e_vm_tests/test_programs/should_pass/language/match_expressions_or/src/lib_tuple.sw
  test/src/e2e_vm_tests/test_programs/should_pass/language/match_expressions_or/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/language/match_expressions_or/test.toml
  test/src/e2e_vm_tests/test_programs/should_pass/language/match_expressions_rest/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/language/match_expressions_rest/test.toml
  test/src/e2e_vm_tests/test_programs/should_pass/language/match_expressions_unreachable_catch_all_middle_arm/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/language/match_expressions_unreachable_catch_all_middle_arm/test.toml
  test/src/e2e_vm_tests/test_programs/should_pass/language/match_expressions_unreachable_middle_arm/test.toml
  test/src/ir_generation/tests/enum_struct_string.sw
  test/src/ir_generation/tests/if_let_simple.sw
Labels: bug, compiler, P: critical, compiler: frontend, compiler: static-analysis

#5207 Attempt to break long expressions into multiple lines
  examples/identity/src/main.sw
  examples/msg_sender/src/main.sw
  examples/storage_map/src/main.sw
  examples/storage_variables/src/main.sw
  examples/storage_vec/src/main.sw
  examples/subcurrency/src/main.sw
  examples/vec/src/main.sw
  examples/wallet_contract_caller_script/src/main.sw
  examples/wallet_smart_contract/src/main.sw
  swayfmt/src/config/heuristics.rs
  swayfmt/src/constants.rs
  swayfmt/src/formatter/shape.rs
  swayfmt/src/items/item_configurable/mod.rs
  swayfmt/src/items/item_enum/mod.rs
  swayfmt/src/items/item_fn/mod.rs
  swayfmt/src/items/item_storage/mod.rs
  swayfmt/src/items/item_struct/mod.rs
  swayfmt/src/utils/language/expr/mod.rs
  swayfmt/src/utils/language/expr/struct_field.rs
  swayfmt/src/utils/language/punctuated.rs
  swayfmt/src/utils/language/statement.rs
  swayfmt/tests/mod.rs
Labels: enhancement, formatter

#5153 #4318 `forc-crypto` plugin exposing a CLI for common-use cryptographic operations
  .github/workflows/ci.yml
  Cargo.lock
  Cargo.toml
  docs/book/src/SUMMARY.md
  docs/book/src/forc/plugins/forc_crypto.md
  forc-plugins/forc-crypto/Cargo.toml
  forc-plugins/forc-crypto/src/address.rs
  forc-plugins/forc-crypto/src/args.rs
  forc-plugins/forc-crypto/src/keccak256.rs
  forc-plugins/forc-crypto/src/keygen/mod.rs
  forc-plugins/forc-crypto/src/keygen/new_key.rs
  forc-plugins/forc-crypto/src/keygen/parse_secret.rs
  forc-plugins/forc-crypto/src/main.rs
  forc-plugins/forc-crypto/src/sha256.rs
Labels: enhancement, forc

#5222 Add code action to Qualify as Path
  sway-lsp/src/capabilities/code_actions/diagnostic/auto_import.rs
  sway-lsp/src/capabilities/code_actions/diagnostic/mod.rs
  sway-lsp/src/capabilities/code_actions/diagnostic/qualify.rs
  sway-lsp/src/capabilities/code_actions/mod.rs
  sway-lsp/tests/integration/code_actions.rs
Labels: language server

#5233 Add revert cases for new ecr functionality
  sway-lib-std/src/ecr.sw
Labels: lib: std, testing
