Repository FuelLabs/sway, pull requests merged in 2023-08, with the labels that each got.

#4894 refactor did_* lsp notifications to log errors in server module
  sway-lsp/src/core/sync.rs
  sway-lsp/src/handlers/notification.rs
  sway-lsp/src/server.rs
  sway-lsp/src/server_state.rs
Labels: language server, code quality

#4892 Support multi-span errors and warnings
  Cargo.lock
  forc-util/src/lib.rs
  sway-core/src/ir_generation/function.rs
  sway-core/src/semantic_analysis/ast_node/expression/intrinsic_function.rs
  sway-core/src/semantic_analysis/namespace/items.rs
  sway-error/Cargo.toml
  sway-error/src/diagnostic.rs
  sway-error/src/error.rs
  sway-error/src/lib.rs
  sway-error/src/warning.rs
  test/src/e2e_vm_tests/test_programs/should_fail/shadowing/shadowed_consts_and_vars/test.toml
  test/src/e2e_vm_tests/test_programs/should_fail/shadowing/shadowed_consts_and_vars_alias/test.toml
Labels: compiler, compiler: frontend, compiler: ui

#4889 Fixes replace_decls issue with nested and multiple types.
  sway-core/src/decl_engine/mapping.rs
  sway-core/src/decl_engine/mod.rs
  sway-core/src/decl_engine/ref.rs
  sway-core/src/decl_engine/replace_decls.rs
  sway-core/src/language/ty/ast_node.rs
  sway-core/src/language/ty/code_block.rs
  sway-core/src/language/ty/declaration/constant.rs
  sway-core/src/language/ty/declaration/function.rs
  sway-core/src/language/ty/expression/expression.rs
  sway-core/src/language/ty/expression/expression_variant.rs
  sway-core/src/language/ty/expression/reassignment.rs
  sway-core/src/language/ty/expression/struct_exp_field.rs
  sway-core/src/semantic_analysis/ast_node/declaration/impl_trait.rs
  sway-core/src/semantic_analysis/ast_node/declaration/trait.rs
  sway-core/src/semantic_analysis/ast_node/expression/typed_expression/function_application.rs
  sway-core/src/semantic_analysis/ast_node/expression/typed_expression/method_application.rs
  sway-core/src/semantic_analysis/namespace/namespace.rs
  sway-core/src/type_system/ast_elements/type_parameter.rs
  test/src/e2e_vm_tests/test_programs/should_pass/language/generic_tuple_trait/src/main.sw
Labels: bug, P: critical, compiler: frontend

#4899 Workaround: Do not inline functions that have pointer args
  sway-ir/src/optimize/inline.rs
  test/src/e2e_vm_tests/test_programs/should_pass/language/configurable_consts/json_abi_oracle.json
  test/src/e2e_vm_tests/test_programs/should_pass/require_contract_deployment/call_basic_storage/src/main.sw
  test/src/sdk-harness/Forc.lock
  test/src/sdk-harness/Forc.toml
  test/src/sdk-harness/test_projects/harness.rs
  test/src/sdk-harness/test_projects/low_level_call_bytes/Forc.lock
  test/src/sdk-harness/test_projects/low_level_call_bytes/Forc.toml
  test/src/sdk-harness/test_projects/low_level_call_bytes/mod.rs
  test/src/sdk-harness/test_projects/low_level_call_bytes/src/main.sw
Labels: bug, compiler: ir, P: critical

#4902 Use buildjet runner for gh-pages workflow
  .github/workflows/gh-pages.yml
Labels: ci

#4603 feat: enable providing main arguments to a script with `forc-run`
  forc-pkg/src/pkg.rs
  forc-plugins/forc-client/src/cmd/run.rs
  forc-plugins/forc-client/src/op/run/encode.rs
  forc-plugins/forc-client/src/op/run/mod.rs
  forc-plugins/forc-client/src/util/encode.rs
Labels: enhancement, forc-client

#4863 Update std-lib cryptographic functions to meet SRC-2 inline docs standard
  sway-lib-std/src/ecr.sw
  sway-lib-std/src/hash.sw
  sway-lib-std/src/message.sw
  sway-lib-std/src/vm/evm/ecr.sw
  sway-lib-std/src/vm/evm/evm_address.sw
Labels: lib: std, documentation

#4882 Update sway-lib-core to meet SRC-2 inline docs standard
  sway-lib-core/src/never.sw
  sway-lib-core/src/ops.sw
  sway-lib-core/src/primitive_conversions.sw
  sway-lib-core/src/primitives.sw
  sway-lsp/tests/lib.rs
Labels: lib: core, documentation

#4922 Refactor `parse_project` to return a result.
  sway-lsp/src/core/session.rs
  sway-lsp/src/error.rs
  sway-lsp/src/handlers/request.rs
  sway-lsp/src/server_state.rs
Labels: language server, code quality

#4920 Update registers.sw to meet SRC-2 inline docs standard
  sway-lib-std/src/registers.sw
Labels: lib: std, documentation

#4771 feat: show a list of accounts and their balances before selecting an account
  Cargo.lock
  forc-plugins/forc-client/src/util/tx.rs
  scripts/mdbook-forc-documenter/Cargo.toml
  scripts/mdbook-forc-documenter/src/lib.rs
Labels: enhancement, forc-deploy

#4926 Fix indentation for closing brace after comment
  swayfmt/src/formatter/mod.rs
  swayfmt/src/items/item_fn/mod.rs
  swayfmt/src/items/item_impl/tests.rs
  swayfmt/src/parse.rs
Labels: formatter

#4936 Fix formatting conditionals with comments
  sway-ast/src/expr/mod.rs
  sway-parse/src/attribute.rs
  sway-parse/src/expr/mod.rs
  sway-parse/src/module.rs
  sway-parse/src/parser.rs
  sway-parse/tests/noop_script.rs
  swayfmt/src/items/item_fn/tests.rs
  swayfmt/src/utils/language/expr/code_block.rs
  swayfmt/src/utils/language/expr/conditional.rs
Labels: formatter

#4937 Refactor indent utilies for readability
  swayfmt/src/comments.rs
  swayfmt/src/formatter/mod.rs
  swayfmt/src/formatter/shape.rs
  swayfmt/src/items/item_abi.rs
  swayfmt/src/items/item_configurable/mod.rs
  swayfmt/src/items/item_enum/mod.rs
  swayfmt/src/items/item_fn/mod.rs
  swayfmt/src/items/item_impl/mod.rs
  swayfmt/src/items/item_storage/mod.rs
  swayfmt/src/items/item_struct/mod.rs
  swayfmt/src/items/item_trait/mod.rs
  swayfmt/src/items/item_use/mod.rs
  swayfmt/src/utils/language/attribute.rs
  swayfmt/src/utils/language/expr/asm_block.rs
  swayfmt/src/utils/language/expr/code_block.rs
  swayfmt/src/utils/language/expr/collections.rs
  swayfmt/src/utils/language/expr/conditional.rs
  swayfmt/src/utils/language/expr/mod.rs
  swayfmt/src/utils/language/expr/struct_field.rs
  swayfmt/src/utils/language/pattern.rs
  swayfmt/src/utils/language/punctuated.rs
  swayfmt/src/utils/language/where_clause.rs
Labels: formatter

#4927 Add benchmark framework to `sway-lsp`
  Cargo.lock
  sway-lsp/Cargo.toml
  sway-lsp/benches/bench_main.rs
  sway-lsp/benches/lsp_benchmarks/compile.rs
  sway-lsp/benches/lsp_benchmarks/mod.rs
  sway-lsp/benches/lsp_benchmarks/requests.rs
  sway-lsp/benches/lsp_benchmarks/token_map.rs
  sway-lsp/src/capabilities/code_actions/mod.rs
  sway-lsp/src/capabilities/inlay_hints.rs
  sway-lsp/src/capabilities/on_enter.rs
  sway-lsp/src/core/mod.rs
  sway-lsp/src/core/session.rs
  sway-lsp/src/core/token_map.rs
  sway-lsp/src/handlers/request.rs
  sway-lsp/src/lib.rs
  sway-lsp/src/utils/mod.rs
  sway-lsp/tests/fixtures/benchmark/Forc.lock
  sway-lsp/tests/fixtures/benchmark/Forc.toml
  sway-lsp/tests/fixtures/benchmark/src/main.sw
Labels: language server

#4938 add std lib link to README
  README.md
Labels: documentation

#4939 feat: update `forc init/new` message to point users to new docs hub
  forc/src/ops/forc_init.rs
Labels: enhancement, forc

#4948 docs-ci: temporarily disable check-links for exact version usages in docs
  docs/reference/src/documentation/introduction/installation/cargo.md
  docs/reference/src/documentation/introduction/installation/index.md
  docs/reference/src/documentation/introduction/installation/source.md
  docs/reference/src/index.md
Labels: ci, documentation

#4945 Bump to v0.44.0
  Cargo.lock
  docs/reference/src/documentation/introduction/installation/cargo.md
  docs/reference/src/documentation/introduction/installation/index.md
  docs/reference/src/documentation/introduction/installation/source.md
  docs/reference/src/index.md
  forc-pkg/Cargo.toml
  forc-plugins/forc-client/Cargo.toml
  forc-plugins/forc-doc/Cargo.toml
  forc-plugins/forc-fmt/Cargo.toml
  forc-plugins/forc-lsp/Cargo.toml
  forc-plugins/forc-tx/Cargo.toml
  forc-test/Cargo.toml
  forc-tracing/Cargo.toml
  forc-util/Cargo.toml
  forc/Cargo.toml
  sway-ast/Cargo.toml
  sway-core/Cargo.toml
  sway-error/Cargo.toml
  sway-ir/Cargo.toml
  sway-ir/sway-ir-macros/Cargo.toml
  sway-lsp/Cargo.toml
  sway-parse/Cargo.toml
  sway-types/Cargo.toml
  sway-utils/Cargo.toml
  swayfmt/Cargo.toml
Labels: release

#4957 feat: deprecate `--unsigned` flag in favor of `--default-signer` for `forc-deploy/run`
  docs/book/src/forc/plugins/forc_client/index.md
  forc-plugins/forc-client/src/cmd/deploy.rs
  forc-plugins/forc-client/src/cmd/run.rs
  forc-plugins/forc-client/src/op/deploy.rs
  forc-plugins/forc-client/src/op/run/mod.rs
  forc-plugins/forc-client/src/util/tx.rs
Labels: bug, enhancement, P: critical, forc-deploy

#4913 feat: generate deployment artifacts with forc-deploy
  docs/book/src/forc/plugins/forc_client/index.md
  forc-plugins/forc-client/src/op/deploy.rs
Labels: enhancement, forc, forc-client, forc-deploy

#4969 Bump to v0.44.1
  Cargo.lock
  docs/reference/src/documentation/introduction/installation/cargo.md
  docs/reference/src/documentation/introduction/installation/index.md
  docs/reference/src/documentation/introduction/installation/source.md
  docs/reference/src/index.md
  forc-pkg/Cargo.toml
  forc-plugins/forc-client/Cargo.toml
  forc-plugins/forc-doc/Cargo.toml
  forc-plugins/forc-fmt/Cargo.toml
  forc-plugins/forc-lsp/Cargo.toml
  forc-plugins/forc-tx/Cargo.toml
  forc-test/Cargo.toml
  forc-tracing/Cargo.toml
  forc-util/Cargo.toml
  forc/Cargo.toml
  sway-ast/Cargo.toml
  sway-core/Cargo.toml
  sway-error/Cargo.toml
  sway-ir/Cargo.toml
  sway-ir/sway-ir-macros/Cargo.toml
  sway-lsp/Cargo.toml
  sway-parse/Cargo.toml
  sway-types/Cargo.toml
  sway-utils/Cargo.toml
  swayfmt/Cargo.toml
Labels: release

#4905 feat: derive first account with forc-deploy after creating a wallet
  forc-plugins/forc-client/src/util/tx.rs
Labels: enhancement, forc-client, forc-deploy

#4972 feat: forc-client points empty accounts to beta-4 faucet
  forc-plugins/forc-client/src/lib.rs
  forc-plugins/forc-client/src/util/tx.rs
Labels: enhancement, forc-client

#4961 Optimize language server performance
  sway-lsp/benches/lsp_benchmarks/token_map.rs
  sway-lsp/src/capabilities/code_actions/mod.rs
  sway-lsp/src/capabilities/completion.rs
  sway-lsp/src/capabilities/document_symbol.rs
  sway-lsp/src/capabilities/hover/mod.rs
  sway-lsp/src/capabilities/inlay_hints.rs
  sway-lsp/src/capabilities/rename.rs
  sway-lsp/src/capabilities/semantic_tokens.rs
  sway-lsp/src/core/session.rs
  sway-lsp/src/core/token.rs
  sway-lsp/src/core/token_map.rs
  sway-lsp/src/core/token_map_ext.rs
  sway-lsp/src/server_state.rs
  sway-lsp/src/traverse/dependency.rs
  sway-lsp/src/traverse/lexed_tree.rs
  sway-lsp/src/traverse/mod.rs
  sway-lsp/src/traverse/parsed_tree.rs
  sway-lsp/src/traverse/typed_tree.rs
  sway-lsp/src/utils/debug.rs
  sway-types/src/span.rs
Labels: language server, code quality

#4976 Use `lsp_types` directly in `sway-lsp` tests instead of simulating a client with `tower-lsp`
  Cargo.lock
  sway-lsp/src/handlers/notification.rs
  sway-lsp/src/handlers/request.rs
  sway-lsp/src/lib.rs
  sway-lsp/src/server_state.rs
  sway-lsp/tests/integration/code_actions.rs
  sway-lsp/tests/integration/lsp.rs
  sway-lsp/tests/lib.rs
  sway-lsp/tests/utils/Cargo.toml
  sway-lsp/tests/utils/src/lib.rs
Labels: language server, testing

#4830 Standard and core library inline documentation
  sway-lib-core/src/never.sw
  sway-lib-core/src/ops.sw
  sway-lib-core/src/primitive_conversions.sw
  sway-lib-core/src/primitives.sw
  sway-lib-core/src/raw_ptr.sw
  sway-lib-core/src/raw_slice.sw
  sway-lib-core/src/storage.sw
  sway-lib-std/src/address.sw
  sway-lib-std/src/alloc.sw
  sway-lib-std/src/assert.sw
  sway-lib-std/src/auth.sw
  sway-lib-std/src/b512.sw
  sway-lib-std/src/block.sw
  sway-lib-std/src/bytes.sw
  sway-lib-std/src/call_frames.sw
  sway-lib-std/src/constants.sw
  sway-lib-std/src/context.sw
  sway-lib-std/src/contract_id.sw
  sway-lib-std/src/convert.sw
  sway-lib-std/src/ecr.sw
  sway-lib-std/src/error_signals.sw
  sway-lib-std/src/external.sw
  sway-lib-std/src/flags.sw
  sway-lib-std/src/hash.sw
  sway-lib-std/src/identity.sw
  sway-lib-std/src/inputs.sw
  sway-lib-std/src/intrinsics.sw
  sway-lib-std/src/logging.sw
  sway-lib-std/src/low_level_call.sw
  sway-lib-std/src/message.sw
  sway-lib-std/src/option.sw
  sway-lib-std/src/outputs.sw
  sway-lib-std/src/registers.sw
  sway-lib-std/src/result.sw
  sway-lib-std/src/revert.sw
  sway-lib-std/src/storage/storable_slice.sw
  sway-lib-std/src/storage/storage_api.sw
  sway-lib-std/src/storage/storage_bytes.sw
  sway-lib-std/src/storage/storage_key.sw
  sway-lib-std/src/storage/storage_map.sw
  sway-lib-std/src/storage/storage_string.sw
  sway-lib-std/src/storage/storage_vec.sw
  sway-lib-std/src/string.sw
  sway-lib-std/src/token.sw
  sway-lib-std/src/tx.sw
  sway-lib-std/src/u128.sw
  sway-lib-std/src/u256.sw
  sway-lib-std/src/vec.sw
  sway-lib-std/src/vm/evm/ecr.sw
  sway-lib-std/src/vm/evm/evm_address.sw
  sway-lsp/tests/lib.rs
Labels: enhancement, lib: std, big, lib: core, documentation

#4998 docs: fix nft example links in docs
  docs/book/src/sway-program-types/libraries.md
Labels: bug, documentation

#4984 Fix runnables code lens in multi-file sway projects
  sway-lsp/benches/lsp_benchmarks/requests.rs
  sway-lsp/src/capabilities/code_lens.rs
  sway-lsp/src/capabilities/mod.rs
  sway-lsp/src/capabilities/runnable.rs
  sway-lsp/src/core/session.rs
  sway-lsp/src/handlers/request.rs
  sway-lsp/tests/fixtures/runnables/Forc.toml
  sway-lsp/tests/fixtures/runnables/src/main.sw
  sway-lsp/tests/fixtures/runnables/src/other.sw
  sway-lsp/tests/integration/lsp.rs
  sway-lsp/tests/lib.rs
  sway-lsp/tests/utils/src/lib.rs
Labels: language server

#4991 Add beta-4 target to forc, refactor with tests, and UX improvements
  docs/book/src/forc/plugins/forc_client/index.md
  forc-pkg/src/manifest.rs
  forc-plugins/forc-client/src/bin/deploy.rs
  forc-plugins/forc-client/src/bin/run.rs
  forc-plugins/forc-client/src/bin/submit.rs
  forc-plugins/forc-client/src/cmd/deploy.rs
  forc-plugins/forc-client/src/cmd/run.rs
  forc-plugins/forc-client/src/cmd/submit.rs
  forc-plugins/forc-client/src/constants.rs
  forc-plugins/forc-client/src/lib.rs
  forc-plugins/forc-client/src/op/deploy.rs
  forc-plugins/forc-client/src/op/run/mod.rs
  forc-plugins/forc-client/src/op/submit.rs
  forc-plugins/forc-client/src/util/gas.rs
  forc-plugins/forc-client/src/util/mod.rs
  forc-plugins/forc-client/src/util/node_url.rs
  forc-plugins/forc-client/src/util/target.rs
  forc-plugins/forc-client/src/util/tx.rs
  forc-plugins/forc-tx/src/lib.rs
  forc-tracing/src/lib.rs
  test/src/e2e_vm_tests/harness.rs
Labels: enhancement, forc-client, forc-deploy

#5007 Fix forc-fmt extra space before scoped block
  swayfmt/src/items/item_abi.rs
  swayfmt/src/items/item_configurable/mod.rs
  swayfmt/src/items/item_enum/mod.rs
  swayfmt/src/items/item_fn/mod.rs
  swayfmt/src/items/item_storage/mod.rs
  swayfmt/src/items/item_struct/mod.rs
  swayfmt/src/items/item_trait/mod.rs
  swayfmt/src/utils/language/expr/code_block.rs
  swayfmt/src/utils/language/expr/mod.rs
  swayfmt/src/utils/language/expr/struct_field.rs
  swayfmt/src/utils/language/expr/tests.rs
  swayfmt/src/utils/language/pattern.rs
Labels: formatter

#5004 Remove extra insert_trait_implementation_for_type
  sway-core/src/type_system/ast_elements/binding.rs
Labels: compiler: frontend

#5015 Fail formatting if there are syntax error nodes
  swayfmt/src/error.rs
  swayfmt/src/items/item_trait/mod.rs
  swayfmt/src/items/item_use/mod.rs
  swayfmt/src/utils/language/expr/mod.rs
  swayfmt/src/utils/language/pattern.rs
  swayfmt/src/utils/language/statement.rs
Labels: formatter

#5030 Fix diagnostics in multi file projects
  sway-lsp/src/capabilities/diagnostic.rs
  sway-lsp/src/core/session.rs
  sway-lsp/src/server_state.rs
  sway-lsp/tests/fixtures/diagnostics/multi_file/Forc.toml
  sway-lsp/tests/fixtures/diagnostics/multi_file/expected.json
  sway-lsp/tests/fixtures/diagnostics/multi_file/src/adt_tests.sw
  sway-lsp/tests/fixtures/diagnostics/multi_file/src/complex_tests.sw
  sway-lsp/tests/fixtures/diagnostics/multi_file/src/main.sw
  sway-lsp/tests/fixtures/diagnostics/multi_file/src/or_patterns.sw
  sway-lsp/tests/fixtures/diagnostics/multi_file/src/primitive_tests.sw
  sway-lsp/tests/lib.rs
Labels: language server

#5024 Fix name resolution for intrinsic arguments
  sway-core/src/language/ty/expression/expression_variant.rs
  test/src/e2e_vm_tests/test_programs/should_pass/language/name_resolution_inside_intrinsics/Forc.lock
  test/src/e2e_vm_tests/test_programs/should_pass/language/name_resolution_inside_intrinsics/Forc.toml
  test/src/e2e_vm_tests/test_programs/should_pass/language/name_resolution_inside_intrinsics/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/language/name_resolution_inside_intrinsics/test.toml
Labels: compiler: frontend

#4965 Improve warnings in `match` expressions
  sway-core/src/semantic_analysis/ast_node/expression/match_expression/analysis/mod.rs
  sway-core/src/semantic_analysis/ast_node/expression/match_expression/analysis/reachable_report.rs
  sway-core/src/semantic_analysis/ast_node/expression/match_expression/typed/matcher.rs
  sway-core/src/semantic_analysis/ast_node/expression/match_expression/typed/typed_scrutinee.rs
  sway-core/src/semantic_analysis/ast_node/expression/typed_expression.rs
  sway-error/src/diagnostic.rs
  sway-error/src/error.rs
  sway-error/src/warning.rs
  sway-lsp/src/capabilities/diagnostic.rs
  test/src/e2e_vm_tests/test_programs/should_fail/match_expressions_non_exhaustive/src/adt_tests.sw
  test/src/e2e_vm_tests/test_programs/should_fail/match_expressions_non_exhaustive/test.toml
  test/src/e2e_vm_tests/test_programs/should_pass/language/match_expressions_unreachable_catch_all_last_arm/Forc.lock
  test/src/e2e_vm_tests/test_programs/should_pass/language/match_expressions_unreachable_catch_all_last_arm/Forc.toml
  test/src/e2e_vm_tests/test_programs/should_pass/language/match_expressions_unreachable_catch_all_last_arm/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/language/match_expressions_unreachable_catch_all_last_arm/test.toml
  test/src/e2e_vm_tests/test_programs/should_pass/language/match_expressions_unreachable_catch_all_middle_arm/Forc.lock
  test/src/e2e_vm_tests/test_programs/should_pass/language/match_expressions_unreachable_catch_all_middle_arm/Forc.toml
  test/src/e2e_vm_tests/test_programs/should_pass/language/match_expressions_unreachable_catch_all_middle_arm/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/language/match_expressions_unreachable_catch_all_middle_arm/test.toml
  test/src/e2e_vm_tests/test_programs/should_pass/language/match_expressions_unreachable_last_arm/Forc.lock
  test/src/e2e_vm_tests/test_programs/should_pass/language/match_expressions_unreachable_last_arm/Forc.toml
  test/src/e2e_vm_tests/test_programs/should_pass/language/match_expressions_unreachable_last_arm/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/language/match_expressions_unreachable_last_arm/test.toml
  test/src/e2e_vm_tests/test_programs/should_pass/language/match_expressions_unreachable_middle_arm/Forc.lock
  test/src/e2e_vm_tests/test_programs/should_pass/language/match_expressions_unreachable_middle_arm/Forc.toml
  test/src/e2e_vm_tests/test_programs/should_pass/language/match_expressions_unreachable_middle_arm/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/language/match_expressions_unreachable_middle_arm/test.toml
Labels: compiler, compiler: frontend, compiler: ui

#5026 Bump to v0.45.0
  Cargo.lock
  docs/reference/src/documentation/introduction/installation/cargo.md
  docs/reference/src/documentation/introduction/installation/index.md
  docs/reference/src/documentation/introduction/installation/source.md
  docs/reference/src/index.md
  forc-pkg/Cargo.toml
  forc-plugins/forc-client/Cargo.toml
  forc-plugins/forc-doc/Cargo.toml
  forc-plugins/forc-fmt/Cargo.toml
  forc-plugins/forc-lsp/Cargo.toml
  forc-plugins/forc-tx/Cargo.toml
  forc-test/Cargo.toml
  forc-tracing/Cargo.toml
  forc-util/Cargo.toml
  forc/Cargo.toml
  sway-ast/Cargo.toml
  sway-core/Cargo.toml
  sway-error/Cargo.toml
  sway-ir/Cargo.toml
  sway-ir/sway-ir-macros/Cargo.toml
  sway-lsp/Cargo.toml
  sway-parse/Cargo.toml
  sway-types/Cargo.toml
  sway-utils/Cargo.toml
  swayfmt/Cargo.toml
Labels: release

#5011 Fix forc-fmt panic when lexing fails
  forc-plugins/forc-doc/src/doc/descriptor.rs
  forc-plugins/forc-fmt/src/main.rs
  swayfmt/src/formatter/mod.rs
  swayfmt/src/parse.rs
  swayfmt/test_macros/src/lib.rs
Labels: formatter

#5045 Ensure generic values used with a `StorageMap` are hashable
  sway-lib-std/src/storage/storage_map.sw
Labels: lib: std, breaking

#5014 Fix panic in forc-fmt with special chars
  swayfmt/src/comments.rs
  swayfmt/src/items/item_fn/tests.rs
  swayfmt/src/parse.rs
  swayfmt/src/utils/map/newline.rs
Labels: formatter

#4992 Add Appendix A: Keywords to Sway book
  docs/book/src/SUMMARY.md
  docs/book/src/reference/index.md
  docs/book/src/reference/keywords.md
Labels: enhancement, The Sway Book

#5038 [1645] Enhanced PackageManifest parsing
  Cargo.lock
  forc-pkg/Cargo.toml
  forc-pkg/src/manifest.rs
  forc-pkg/src/pkg.rs
  forc-pkg/tests/invalid/duplicate_keys/Forc.toml
  forc-util/src/lib.rs
  forc/Cargo.toml
  forc/src/ops/forc_template.rs
  swayfmt/Cargo.toml
  swayfmt/src/config/manifest.rs
  test/Cargo.toml
Labels: enhancement, forc-pkg

#5055 Add `Eq` implementation for `String`
  sway-lib-std/src/string.sw
Labels: bug, lib: std

#5054 Fixes assert_eq always passing for U256
  sway-core/src/ir_generation/compile.rs
  sway-core/src/language/call_path.rs
  sway-core/src/language/ty/declaration/function.rs
  sway-core/src/semantic_analysis/ast_node/declaration/function.rs
  sway-core/src/semantic_analysis/ast_node/declaration/trait_fn.rs
  sway-core/src/semantic_analysis/ast_node/mod.rs
  test/src/e2e_vm_tests/test_programs/should_pass/stdlib/assert_eq_u256_revert/.gitignore
  test/src/e2e_vm_tests/test_programs/should_pass/stdlib/assert_eq_u256_revert/Forc.lock
  test/src/e2e_vm_tests/test_programs/should_pass/stdlib/assert_eq_u256_revert/Forc.toml
  test/src/e2e_vm_tests/test_programs/should_pass/stdlib/assert_eq_u256_revert/json_abi_oracle.json
  test/src/e2e_vm_tests/test_programs/should_pass/stdlib/assert_eq_u256_revert/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/stdlib/assert_eq_u256_revert/test.toml
Labels: P: critical, compiler: frontend
