Repository FuelLabs/sway, pull requests merged in 2023-01, with the labels that each got.

#3669 Enable LSP to work with multiple projects simultaneously
  Cargo.lock
  sway-lsp/Cargo.toml
  sway-lsp/src/server.rs
Labels: language server, P: critical

#3668 Small fixes for incorrect rebasing in 3411
  sway-lsp/Cargo.toml
  sway-lsp/src/core/session.rs
  sway-lsp/src/error.rs
  sway-lsp/src/server.rs
Labels: language server, code quality

#3675 Return the lexing stage produced by `sway_parse` from `forc-pkg::check()`
  forc-pkg/src/pkg.rs
  forc-plugins/forc-doc/src/main.rs
  forc/src/ops/forc_check.rs
  sway-ast/src/module.rs
  sway-core/src/language/lexed/mod.rs
  sway-core/src/language/lexed/program.rs
  sway-core/src/language/mod.rs
  sway-core/src/lib.rs
  sway-lsp/src/core/session.rs
Labels: compiler: frontend, forc-pkg

#3591 LSP: Collect keywords
  Cargo.lock
  sway-core/src/language/lexed/mod.rs
  sway-core/src/lib.rs
  sway-lsp/Cargo.toml
  sway-lsp/src/capabilities/completion.rs
  sway-lsp/src/capabilities/document_symbol.rs
  sway-lsp/src/capabilities/semantic_tokens.rs
  sway-lsp/src/core/session.rs
  sway-lsp/src/core/token.rs
  sway-lsp/src/traverse/lexed_tree.rs
  sway-lsp/src/traverse/mod.rs
Labels: language server

#3647 Adds interface for generating links between `items` & `modules`
  forc-plugins/forc-doc/src/descriptor.rs
  forc-plugins/forc-doc/src/doc.rs
  forc-plugins/forc-doc/src/main.rs
  forc-plugins/forc-doc/src/render.rs
Labels: enhancement, big, forc-doc

#3687 Adds a better error message in the case of using `ref` and `deref` expressions
  sway-core/src/transform/to_parsed_lang/convert_parse_tree.rs
  sway-error/src/convert_parse_tree_error.rs
  test/src/e2e_vm_tests/test_programs/should_fail/ref_and_deref_expressions/Forc.lock
  test/src/e2e_vm_tests/test_programs/should_fail/ref_and_deref_expressions/Forc.toml
  test/src/e2e_vm_tests/test_programs/should_fail/ref_and_deref_expressions/json_abi_oracle.json
  test/src/e2e_vm_tests/test_programs/should_fail/ref_and_deref_expressions/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_fail/ref_and_deref_expressions/test.toml
Labels: bug, P: low, compiler: parser

#3689 Add an error message about nested function definitions.
  sway-core/src/semantic_analysis/ast_node/declaration/function.rs
  sway-core/src/semantic_analysis/ast_node/declaration/impl_trait.rs
  sway-core/src/semantic_analysis/type_check_context.rs
  test/src/e2e_vm_tests/test_programs/should_fail/nested_functions/Forc.lock
  test/src/e2e_vm_tests/test_programs/should_fail/nested_functions/Forc.toml
  test/src/e2e_vm_tests/test_programs/should_fail/nested_functions/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_fail/nested_functions/test.toml
Labels: bug, P: low, compiler: ui

#3703 Bump to `v0.33.0`
  Cargo.lock
  forc-pkg/Cargo.toml
  forc-plugins/forc-client/Cargo.toml
  forc-plugins/forc-doc/Cargo.toml
  forc-plugins/forc-fmt/Cargo.toml
  forc-plugins/forc-lsp/Cargo.toml
  forc-test/Cargo.toml
  forc-tracing/Cargo.toml
  forc-util/Cargo.toml
  forc/Cargo.toml
  sway-ast/Cargo.toml
  sway-core/Cargo.toml
  sway-error/Cargo.toml
  sway-ir/Cargo.toml
  sway-ir/sway-ir-macros/Cargo.toml
  sway-lsp/Cargo.toml
  sway-parse/Cargo.toml
  sway-types/Cargo.toml
  sway-utils/Cargo.toml
  swayfmt/Cargo.toml
Labels: release

#3684 Exclude tests from `ParseTree` after parsing if they are not enabled
  forc-pkg/src/pkg.rs
  forc-plugins/forc-doc/src/main.rs
  forc/src/cli/commands/check.rs
  forc/src/ops/forc_check.rs
  sway-core/src/language/parsed/declaration.rs
  sway-core/src/language/parsed/declaration/function.rs
  sway-core/src/language/parsed/mod.rs
  sway-core/src/language/parsed/program.rs
  sway-core/src/lib.rs
  sway-lsp/src/core/session.rs
  test/src/ir_generation/mod.rs
Labels: bug, compiler: frontend, forc-test

#3710 Demonstrate that the bug for re-importing in order to access functionality is resolved
  test/src/e2e_vm_tests/test_programs/should_pass/language/import_method_from_other_file/Forc.lock
  test/src/e2e_vm_tests/test_programs/should_pass/language/import_method_from_other_file/Forc.toml
  test/src/e2e_vm_tests/test_programs/should_pass/language/import_method_from_other_file/src/asset.sw
  test/src/e2e_vm_tests/test_programs/should_pass/language/import_method_from_other_file/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/language/import_method_from_other_file/src/utils.sw
Labels: bug, P: high, compiler: frontend

#3705 Fixes nested generic type inference errors.
  sway-core/src/type_system/type_mapping.rs
  test/src/e2e_vm_tests/test_programs/should_pass/language/generic_transpose/Forc.lock
  test/src/e2e_vm_tests/test_programs/should_pass/language/generic_transpose/Forc.toml
  test/src/e2e_vm_tests/test_programs/should_pass/language/generic_transpose/json_abi_oracle.json
  test/src/e2e_vm_tests/test_programs/should_pass/language/generic_transpose/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/language/generic_transpose/test.toml
Labels: bug, compiler, compiler: frontend

#3726 LSP: Save the `LexedProgram` AST to a temp file
  sway-lsp/src/core/session.rs
  sway-lsp/src/server.rs
Labels: language server

#3734 Fix enum variant unit type span in `convert_parse_tree`
  sway-core/src/transform/to_parsed_lang/convert_parse_tree.rs
Labels: bug, forc-doc

#3735 LSP: Collect tuple index Span
  sway-lsp/src/traverse/parsed_tree.rs
  sway-lsp/src/traverse/typed_tree.rs
Labels: language server

#3709 Fix bug in calculating missing patterns in nested enum matching in match expressions
  sway-core/src/semantic_analysis/ast_node/expression/match_expression/analysis/pattern.rs
  sway-core/src/semantic_analysis/ast_node/expression/match_expression/analysis/range.rs
  sway-core/src/semantic_analysis/ast_node/expression/match_expression/analysis/usefulness.rs
  test/src/e2e_vm_tests/test_programs/should_fail/match_expressions_non_exhaustive/Forc.lock
  test/src/e2e_vm_tests/test_programs/should_fail/match_expressions_non_exhaustive/Forc.toml
  test/src/e2e_vm_tests/test_programs/should_fail/match_expressions_non_exhaustive/src/adt_tests.sw
  test/src/e2e_vm_tests/test_programs/should_fail/match_expressions_non_exhaustive/src/complex_tests.sw
  test/src/e2e_vm_tests/test_programs/should_fail/match_expressions_non_exhaustive/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_fail/match_expressions_non_exhaustive/src/primitive_tests.sw
  test/src/e2e_vm_tests/test_programs/should_fail/match_expressions_non_exhaustive/test.toml
Labels: bug, P: high, compiler: frontend, compiler: ui

#3739 LSP: Collect supertraits from the `ParseProgram`
  sway-core/src/language/parsed/declaration/trait.rs
  sway-lsp/src/traverse/parsed_tree.rs
Labels: language server

#3738 Optionally store the length span of array expressions
  sway-core/src/language/parsed/expression/mod.rs
  sway-core/src/semantic_analysis/ast_node/expression/typed_expression.rs
  sway-core/src/semantic_analysis/node_dependencies.rs
  sway-core/src/transform/to_parsed_lang/convert_parse_tree.rs
  sway-lsp/src/traverse/parsed_tree.rs
Labels: language server, compiler: frontend

#3748 LSP: Collect type_ascription from `TyConstantDeclaration`
  sway-core/src/language/ty/declaration/constant.rs
  sway-core/src/semantic_analysis/ast_node/declaration/declaration.rs
  sway-lsp/src/traverse/typed_tree.rs
Labels: language server, compiler: frontend

#3749 Add LSP option to hide compiler warnings and errors
  sway-lsp/src/capabilities/diagnostic.rs
  sway-lsp/src/config.rs
  sway-lsp/src/core/session.rs
  sway-lsp/src/error.rs
  sway-lsp/src/server.rs
Labels: language server

#3753 LSP: Collect attribute name tokens
  sway-lsp/src/capabilities/completion.rs
  sway-lsp/src/capabilities/document_symbol.rs
  sway-lsp/src/capabilities/semantic_tokens.rs
  sway-lsp/src/core/token.rs
  sway-lsp/src/traverse/lexed_tree.rs
  sway-lsp/src/traverse/mod.rs
  sway-lsp/src/traverse/parsed_tree.rs
Labels: language server

#3750 LSP: Collect `IntrinsicFunctionExpression` tokens
  sway-core/src/language/parsed/expression/mod.rs
  sway-core/src/semantic_analysis/ast_node/expression/typed_expression.rs
  sway-core/src/transform/to_parsed_lang/convert_parse_tree.rs
  sway-lsp/src/core/token.rs
  sway-lsp/src/traverse/parsed_tree.rs
Labels: language server, compiler: frontend

#3761 Pretty print `Vec<TyAstNode>`
  sway-lsp/src/server.rs
  sway-lsp/src/utils/debug.rs
Labels: language server, compiler: ui

#3755 fix: forc checks validity of parent manifests before assuming it is a workspace manifest
  forc-pkg/src/manifest.rs
  forc-util/src/lib.rs
  test/src/e2e_vm_tests/test_programs/should_pass/forc/parent_pkg_manifest/Forc.toml
  test/src/e2e_vm_tests/test_programs/should_pass/forc/parent_pkg_manifest/contract_a/.gitignore
  test/src/e2e_vm_tests/test_programs/should_pass/forc/parent_pkg_manifest/contract_a/Forc.lock
  test/src/e2e_vm_tests/test_programs/should_pass/forc/parent_pkg_manifest/contract_a/Forc.toml
  test/src/e2e_vm_tests/test_programs/should_pass/forc/parent_pkg_manifest/contract_a/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/forc/parent_pkg_manifest/contract_a/test.toml
Labels: bug, P: critical, forc-pkg

#3764 Bug fix to type inference with placeholder types for nested types
  sway-core/src/type_system/type_mapping.rs
  test/src/e2e_vm_tests/test_programs/should_pass/language/generic_type_inference/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/language/generic_type_inference/src/utils.sw
Labels: bug, P: critical, compiler: frontend

#3765 Update rustdoc comments to reflect the new `DeclEngine` names
  sway-core/src/decl_engine/engine.rs
  sway-core/src/decl_engine/wrapper.rs
Labels: code quality

#3626 Low level call std-lib functionality
  sway-lib-std/src/lib.sw
  sway-lib-std/src/low_level_call.sw
  sway-lib-std/src/u256.sw
  test/src/sdk-harness/test_artifacts/low_level_callee_contract/.gitignore
  test/src/sdk-harness/test_artifacts/low_level_callee_contract/Forc.lock
  test/src/sdk-harness/test_artifacts/low_level_callee_contract/Forc.toml
  test/src/sdk-harness/test_artifacts/low_level_callee_contract/src/main.sw
  test/src/sdk-harness/test_projects/harness.rs
  test/src/sdk-harness/test_projects/low_level_call/Forc.lock
  test/src/sdk-harness/test_projects/low_level_call/Forc.toml
  test/src/sdk-harness/test_projects/low_level_call/mod.rs
  test/src/sdk-harness/test_projects/low_level_call/src/main.sw
Labels: lib: std

#3773 Fix command for updating 'forc' from cargo
  docs/book/src/introduction/installation.md
Labels: bug, forc, documentation

#3776 Improve error message for calling methods on error types
  sway-core/src/semantic_analysis/namespace/namespace.rs
  test/src/e2e_vm_tests/test_programs/should_fail/unknown_types_in_contract/Forc.lock
  test/src/e2e_vm_tests/test_programs/should_fail/unknown_types_in_contract/Forc.toml
  test/src/e2e_vm_tests/test_programs/should_fail/unknown_types_in_contract/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_fail/unknown_types_in_contract/test.toml
Labels: enhancement, P: high, compiler: frontend, compiler: ui

#3766 Update error reporting for mismatched ABI method
  sway-core/src/decl_engine/mapping.rs
  sway-core/src/semantic_analysis/ast_node/declaration/impl_trait.rs
  sway-core/src/type_system/type_parameter.rs
  test/src/e2e_vm_tests/test_programs/should_fail/contract_wrong_method_return_type/Forc.lock
  test/src/e2e_vm_tests/test_programs/should_fail/contract_wrong_method_return_type/Forc.toml
  test/src/e2e_vm_tests/test_programs/should_fail/contract_wrong_method_return_type/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_fail/contract_wrong_method_return_type/test.toml
Labels: bug, compiler: ui

#3777 Error out when `Vec` is used in a `storage` block
  sway-ast/src/item/item_storage.rs
  sway-core/src/language/parsed/declaration/storage.rs
  sway-core/src/language/ty/program.rs
  sway-core/src/semantic_analysis/ast_node/declaration/declaration.rs
  sway-core/src/transform/to_parsed_lang/convert_parse_tree.rs
  sway-error/src/error.rs
  test/src/e2e_vm_tests/test_programs/should_fail/storage_types/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_fail/storage_types/test.toml
Labels: enhancement, compiler: ui

#3730 Merge `Type` and `Aggregate` into a copyable `Type`
  sway-core/src/asm_generation/data_section.rs
  sway-core/src/asm_generation/evm/evm_asm_builder.rs
  sway-core/src/asm_generation/from_ir.rs
  sway-core/src/asm_generation/fuel/fuel_asm_builder.rs
  sway-core/src/asm_generation/fuel/functions.rs
  sway-core/src/ir_generation/compile.rs
  sway-core/src/ir_generation/const_eval.rs
  sway-core/src/ir_generation/convert.rs
  sway-core/src/ir_generation/function.rs
  sway-core/src/ir_generation/storage.rs
  sway-core/src/ir_generation/types.rs
  sway-core/src/lib.rs
  sway-ir/src/constant.rs
  sway-ir/src/context.rs
  sway-ir/src/instruction.rs
  sway-ir/src/irtype.rs
  sway-ir/src/local_var.rs
  sway-ir/src/optimize/constants.rs
  sway-ir/src/optimize/inline.rs
  sway-ir/src/optimize/mem2reg.rs
  sway-ir/src/parser.rs
  sway-ir/src/printer.rs
  sway-ir/src/verify.rs
Labels: compiler: ir

#3775 doc: update docs and forc new/init message to point to discourse instead of discord
  docs/book/src/reference/contributing_to_sway.md
  forc/src/ops/forc_init.rs
Labels: enhancement, forc, The Sway Book

#3774 feat: workspace support for `forc clean`
  forc/src/ops/forc_clean.rs
Labels: bug, enhancement, forc-pkg

#3784 Remove `VariableMutability::ExportedConst`
  sway-core/src/control_flow_analysis/dead_code_analysis.rs
  sway-core/src/language/ty/declaration/declaration.rs
  sway-core/src/language/ty/variable_mutability.rs
  sway-core/src/semantic_analysis/namespace/module.rs
Labels: code quality, compiler: frontend, compiler: parser

#3769 Make compiler dead code warning spans use name instead of entire block
  Cargo.lock
  sway-core/src/control_flow_analysis/dead_code_analysis.rs
  sway-error/src/warning.rs
  sway-lsp/Cargo.toml
  sway-lsp/src/core/session.rs
  sway-lsp/src/core/token_map.rs
  sway-lsp/src/server.rs
  sway-lsp/src/utils/test.rs
  sway-lsp/test/fixtures/diagnostics/dead_code/.gitignore
  sway-lsp/test/fixtures/diagnostics/dead_code/Forc.lock
  sway-lsp/test/fixtures/diagnostics/dead_code/Forc.toml
  sway-lsp/test/fixtures/diagnostics/dead_code/expected.json
  sway-lsp/test/fixtures/diagnostics/dead_code/src/main.sw
Labels: enhancement, language server, compiler: frontend

#3728 Improves trait map insertion and getting.
  forc-pkg/src/pkg.rs
  sway-core/src/language/call_path.rs
  sway-core/src/semantic_analysis/namespace/items.rs
  sway-core/src/semantic_analysis/namespace/module.rs
  sway-core/src/semantic_analysis/namespace/namespace.rs
  sway-core/src/type_system/type_parameter.rs
  test/src/e2e_vm_tests/test_programs/should_pass/language/generic_result_method/Forc.lock
  test/src/e2e_vm_tests/test_programs/should_pass/language/generic_result_method/Forc.toml
  test/src/e2e_vm_tests/test_programs/should_pass/language/generic_result_method/json_abi_oracle.json
  test/src/e2e_vm_tests/test_programs/should_pass/language/generic_result_method/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/language/generic_result_method/test.toml
  test/src/e2e_vm_tests/test_programs/should_pass/language/where_clause_functions/src/main.sw
Labels: code quality

#3582 Add a `forc-tx` plugin purely for constructing TXs from CLI
  .github/workflows/ci.yml
  Cargo.lock
  Cargo.toml
  forc-plugins/forc-tx/Cargo.toml
  forc-plugins/forc-tx/src/lib.rs
  forc-plugins/forc-tx/src/main.rs
Labels: enhancement, forc, forc-client

#3806 Bump to `v0.33.1`
  Cargo.lock
  forc-pkg/Cargo.toml
  forc-plugins/forc-client/Cargo.toml
  forc-plugins/forc-doc/Cargo.toml
  forc-plugins/forc-fmt/Cargo.toml
  forc-plugins/forc-lsp/Cargo.toml
  forc-plugins/forc-tx/Cargo.toml
  forc-test/Cargo.toml
  forc-tracing/Cargo.toml
  forc-util/Cargo.toml
  forc/Cargo.toml
  sway-ast/Cargo.toml
  sway-core/Cargo.toml
  sway-error/Cargo.toml
  sway-ir/Cargo.toml
  sway-ir/sway-ir-macros/Cargo.toml
  sway-lsp/Cargo.toml
  sway-lsp/test/fixtures/diagnostics/dead_code/Forc.lock
  sway-lsp/test/fixtures/diagnostics/dead_code/Forc.toml
  sway-parse/Cargo.toml
  sway-types/Cargo.toml
  sway-utils/Cargo.toml
  swayfmt/Cargo.toml
Labels: release

#3770 Introduce a way to inject items into project namespaces through `forc-pkg`
  forc-pkg/src/pkg.rs
  forc-plugins/forc-client/src/ops/deploy/op.rs
  forc-plugins/forc-client/src/ops/run/op.rs
  forc-test/src/lib.rs
  forc/src/ops/forc_build.rs
Labels: enhancement, code quality, forc-pkg

#3785 fix(formatter): fix else indentation after comment between if-else
  swayfmt/src/formatter/mod.rs
  swayfmt/src/utils/map/comments.rs
Labels: bug, formatter

#3800 Show dead code with reduced opacity
  sway-core/src/control_flow_analysis/dead_code_analysis.rs
  sway-lsp/src/capabilities/diagnostic.rs
  sway-lsp/test/fixtures/diagnostics/dead_code/expected.json
  sway-types/src/span.rs
Labels: language server, compiler: frontend, compiler: ui

#3778 Add index file navigation to `forc doc`
  forc-plugins/forc-doc/src/doc.rs
  forc-plugins/forc-doc/src/main.rs
  forc-plugins/forc-doc/src/render.rs
  sway-core/src/language/ty/declaration/declaration.rs
Labels: enhancement, big, forc-doc

#3821 Fix typeo in `std::contract_id`
  sway-lib-std/src/contract_id.sw
Labels: lib: std, code quality

#3808 Add a flag to print `Log` and `LogData` receipts emitted from tests
  Cargo.lock
  forc-plugins/forc-client/Cargo.toml
  forc-plugins/forc-client/src/ops/run/op.rs
  forc-test/Cargo.toml
  forc-test/src/lib.rs
  forc-util/Cargo.toml
  forc-util/src/lib.rs
  forc/src/cli/commands/test.rs
  test/src/e2e_vm_tests/harness.rs
Labels: enhancement, forc-test

#2707 Extend support for Input::Message type fields in std::inputs
  sway-lib-std/src/inputs.sw
  sway-lib-std/src/lib.sw
  sway-lib-std/src/outputs.sw
  sway-lib-std/src/tx.sw
  test/src/e2e_vm_tests/test_programs/should_pass/require_contract_deployment/call_basic_storage/src/main.sw
  test/src/sdk-harness/test_artifacts/tx_contract/src/main.sw
  test/src/sdk-harness/test_projects/script_data/mod.rs
  test/src/sdk-harness/test_projects/tx_fields/Forc.lock
  test/src/sdk-harness/test_projects/tx_fields/Forc.toml
  test/src/sdk-harness/test_projects/tx_fields/mod.rs
  test/src/sdk-harness/test_projects/tx_fields/src/main.sw
Labels: lib: std, P: high, blocked

#3828 Fix order of logs such that they are printed after tested function name
  Cargo.lock
  forc-test/Cargo.toml
  forc-test/src/lib.rs
  forc/src/cli/commands/test.rs
  test/src/e2e_vm_tests/harness.rs
Labels: enhancement, forc-test

#3819 Replace runnables custom fn with LSP codeLens
  sway-lsp/src/server.rs
Labels: enhancement, language server

#3826 Disallow returning `StorageMap` and `StorageVec` from contract methods and standalone functions
  sway-core/src/semantic_analysis/storage_only_types.rs
  test/src/e2e_vm_tests/test_programs/should_fail/storage_types/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_fail/storage_types/test.toml
Labels: enhancement, compiler: static-analysis

#3823 Align asm opcodes to 4 chars in formatter
  examples/asm_return_tuple_pointer/src/main.sw
  sway-ast/src/expr/op_code.rs
  swayfmt/src/formatter/mod.rs
  swayfmt/src/utils/language/expr/asm_block.rs
Labels: enhancement, formatter

#3690 Disallow repeated symbols where applicable
  sway-core/src/semantic_analysis/ast_node/declaration/declaration.rs
  sway-core/src/semantic_analysis/namespace/items.rs
  sway-core/src/semantic_analysis/namespace/module.rs
  sway-core/src/semantic_analysis/namespace/root.rs
  sway-error/src/error.rs
  test/src/e2e_vm_tests/test_programs/should_fail/array_oob_variable_index/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_fail/name_shadowing/Forc.lock
  test/src/e2e_vm_tests/test_programs/should_fail/name_shadowing/json_abi_oracle.json
  test/src/e2e_vm_tests/test_programs/should_fail/name_shadowing/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_fail/name_shadowing/test.toml
  test/src/e2e_vm_tests/test_programs/should_fail/repeated_abi_declaration/Forc.lock
  test/src/e2e_vm_tests/test_programs/should_fail/repeated_abi_declaration/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_fail/repeated_abi_declaration/test.toml
  test/src/e2e_vm_tests/test_programs/should_fail/repeated_trait_declaration/Forc.lock
  test/src/e2e_vm_tests/test_programs/should_fail/repeated_trait_declaration/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_fail/repeated_trait_declaration/test.toml
  test/src/e2e_vm_tests/test_programs/should_fail/shadowing/shadowed_consts_and_vars/Forc.lock
  test/src/e2e_vm_tests/test_programs/should_fail/shadowing/shadowed_consts_and_vars/Forc.toml
  test/src/e2e_vm_tests/test_programs/should_fail/shadowing/shadowed_consts_and_vars/src/lib.sw
  test/src/e2e_vm_tests/test_programs/should_fail/shadowing/shadowed_consts_and_vars/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_fail/shadowing/shadowed_consts_and_vars/test.toml
  test/src/e2e_vm_tests/test_programs/should_fail/shadowing/shadowed_consts_and_vars_alias/Forc.lock
  test/src/e2e_vm_tests/test_programs/should_fail/shadowing/shadowed_consts_and_vars_alias/Forc.toml
  test/src/e2e_vm_tests/test_programs/should_fail/shadowing/shadowed_consts_and_vars_alias/src/lib.sw
  test/src/e2e_vm_tests/test_programs/should_fail/shadowing/shadowed_consts_and_vars_alias/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_fail/shadowing/shadowed_consts_and_vars_alias/test.toml
  test/src/e2e_vm_tests/test_programs/should_fail/shadowing/shadowed_types_and_traits/Forc.lock
  test/src/e2e_vm_tests/test_programs/should_fail/shadowing/shadowed_types_and_traits/Forc.toml
  test/src/e2e_vm_tests/test_programs/should_fail/shadowing/shadowed_types_and_traits/src/lib.sw
  test/src/e2e_vm_tests/test_programs/should_fail/shadowing/shadowed_types_and_traits/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_fail/shadowing/shadowed_types_and_traits/test.toml
  test/src/e2e_vm_tests/test_programs/should_fail/shadowing/shadowed_types_and_traits_alias/Forc.lock
  test/src/e2e_vm_tests/test_programs/should_fail/shadowing/shadowed_types_and_traits_alias/Forc.toml
  test/src/e2e_vm_tests/test_programs/should_fail/shadowing/shadowed_types_and_traits_alias/src/lib.sw
  test/src/e2e_vm_tests/test_programs/should_fail/shadowing/shadowed_types_and_traits_alias/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_fail/shadowing/shadowed_types_and_traits_alias/test.toml
  test/src/e2e_vm_tests/test_programs/should_pass/language/const_global_shadow/test.toml
  test/src/e2e_vm_tests/test_programs/should_pass/language/shadowing/shadowed_glob_imports/Forc.lock
  test/src/e2e_vm_tests/test_programs/should_pass/language/shadowing/shadowed_glob_imports/Forc.toml
  test/src/e2e_vm_tests/test_programs/should_pass/language/shadowing/shadowed_glob_imports/src/lib.sw
  test/src/e2e_vm_tests/test_programs/should_pass/language/shadowing/shadowed_glob_imports/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/language/shadowing/shadowed_glob_imports/test.toml
Labels: bug, P: critical, compiler: frontend, compiler: ui

#3682 Introduce a `context` to `convert_parse_tree`
  sway-core/src/language/ty/program.rs
  sway-core/src/lib.rs
  sway-core/src/semantic_analysis/namespace/module.rs
  sway-core/src/transform/to_parsed_lang/context.rs
  sway-core/src/transform/to_parsed_lang/convert_parse_tree.rs
  sway-core/src/transform/to_parsed_lang/mod.rs
  sway-error/src/convert_parse_tree_error.rs
  test/src/e2e_vm_tests/test_programs/should_fail/multiple_config_blocks/Forc.lock
  test/src/e2e_vm_tests/test_programs/should_fail/multiple_config_blocks/Forc.toml
  test/src/e2e_vm_tests/test_programs/should_fail/multiple_config_blocks/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_fail/multiple_config_blocks/test.toml
Labels: enhancement, compiler: parser

#3832 Fixed `self` in trait methods
  forc-plugins/forc-doc/src/render.rs
Labels: bug, forc-doc

#3851 feat: forc-fmt workspace support
  Cargo.lock
  forc-plugins/forc-fmt/Cargo.toml
  forc-plugins/forc-fmt/src/main.rs
Labels: forc, formatter

#3786 Add additional sections under `Libraries`
  docs/book/src/sway-program-types/libraries.md
Labels: The Sway Book

#3848 Add docstring previews to index files
  forc-plugins/forc-doc/src/descriptor.rs
  forc-plugins/forc-doc/src/doc.rs
  forc-plugins/forc-doc/src/render.rs
Labels: enhancement, forc-doc

#3838 Add spans to compiler errors to prevent their incorrect deduplication
  sway-core/src/language/ty/declaration/storage.rs
  sway-core/src/language/ty/declaration/struct.rs
  sway-core/src/language/ty/program.rs
  sway-core/src/semantic_analysis/ast_node/declaration/abi.rs
  sway-core/src/semantic_analysis/ast_node/declaration/function/function_parameter.rs
  sway-core/src/semantic_analysis/ast_node/declaration/impl_trait.rs
  sway-core/src/semantic_analysis/ast_node/expression/typed_expression.rs
  sway-core/src/semantic_analysis/ast_node/expression/typed_expression/method_application.rs
  sway-core/src/semantic_analysis/ast_node/mod.rs
  sway-core/src/semantic_analysis/namespace/items.rs
  sway-core/src/semantic_analysis/namespace/module.rs
  sway-core/src/type_system/info.rs
  sway-error/src/error.rs
  test/src/e2e_vm_tests/test_programs/should_fail/error_deduplication/Forc.lock
  test/src/e2e_vm_tests/test_programs/should_fail/error_deduplication/Forc.toml
  test/src/e2e_vm_tests/test_programs/should_fail/error_deduplication/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_fail/error_deduplication/test.toml
  test/src/e2e_vm_tests/test_programs/should_fail/unknown_types_in_contract/test.toml
  test/src/e2e_vm_tests/test_programs/should_fail/where_clause_adts/test.toml
Labels: compiler: ui

#3866 Fix the bug regarding methods not being found for types.
  sway-core/src/semantic_analysis/ast_node/declaration/function.rs
  sway-core/src/semantic_analysis/ast_node/declaration/trait_fn.rs
  sway-core/src/semantic_analysis/ast_node/expression/typed_expression/function_application.rs
  sway-core/src/semantic_analysis/ast_node/expression/typed_expression/method_application.rs
  sway-core/src/semantic_analysis/namespace/namespace.rs
  sway-core/src/semantic_analysis/namespace/trait_map.rs
  sway-core/src/type_system/engine.rs
  sway-core/src/type_system/unify.rs
  test/src/e2e_vm_tests/test_programs/should_pass/language/generic_type_inference/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/language/generic_type_inference/src/utils.sw
Labels: bug, P: critical, compiler: frontend

#3840 feat: error out if more than one package declares the same package name in a workspace
  forc-pkg/src/manifest.rs
  test/src/e2e_vm_tests/test_programs/should_fail/duplicate_pkg_names_in_workspace/Forc.lock
  test/src/e2e_vm_tests/test_programs/should_fail/duplicate_pkg_names_in_workspace/Forc.toml
  test/src/e2e_vm_tests/test_programs/should_fail/duplicate_pkg_names_in_workspace/contract/Forc.toml
  test/src/e2e_vm_tests/test_programs/should_fail/duplicate_pkg_names_in_workspace/contract/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_fail/duplicate_pkg_names_in_workspace/contract2/Forc.toml
  test/src/e2e_vm_tests/test_programs/should_fail/duplicate_pkg_names_in_workspace/contract2/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_fail/duplicate_pkg_names_in_workspace/script/Forc.toml
  test/src/e2e_vm_tests/test_programs/should_fail/duplicate_pkg_names_in_workspace/script/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_fail/duplicate_pkg_names_in_workspace/script2/Forc.toml
  test/src/e2e_vm_tests/test_programs/should_fail/duplicate_pkg_names_in_workspace/script2/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_fail/duplicate_pkg_names_in_workspace/test.toml
Labels: forc, forc-pkg

#3847 Add missing tokens inside turbofish
  sway-core/src/ir_generation/function.rs
  sway-core/src/language/ty/expression/expression_variant.rs
  sway-core/src/semantic_analysis/ast_node/expression/typed_expression.rs
  sway-core/src/semantic_analysis/ast_node/expression/typed_expression/enum_instantiation.rs
  sway-core/src/semantic_analysis/ast_node/expression/typed_expression/function_application.rs
  sway-core/src/semantic_analysis/ast_node/expression/typed_expression/method_application.rs
  sway-core/src/type_system/binding.rs
  sway-lsp/src/server.rs
  sway-lsp/src/traverse/parsed_tree.rs
  sway-lsp/src/traverse/typed_tree.rs
  sway-lsp/test/fixtures/tokens/turbofish/.gitignore
  sway-lsp/test/fixtures/tokens/turbofish/Forc.lock
  sway-lsp/test/fixtures/tokens/turbofish/Forc.toml
  sway-lsp/test/fixtures/tokens/turbofish/src/main.sw
Labels: compiler, language server, compiler: frontend

#3839 Refactor and fix `collect_types_metadata` for `TyProgram`
  sway-core/src/language/ty/ast_node.rs
  sway-core/src/language/ty/program.rs
  sway-core/src/type_system/collect_types_metadata.rs
  test/src/e2e_vm_tests/test_programs/should_pass/unit_tests/contract_with_nested_libs/Forc.lock
  test/src/e2e_vm_tests/test_programs/should_pass/unit_tests/contract_with_nested_libs/Forc.toml
  test/src/e2e_vm_tests/test_programs/should_pass/unit_tests/contract_with_nested_libs/src/inner.sw
  test/src/e2e_vm_tests/test_programs/should_pass/unit_tests/contract_with_nested_libs/src/inner2.sw
  test/src/e2e_vm_tests/test_programs/should_pass/unit_tests/contract_with_nested_libs/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/unit_tests/contract_with_nested_libs/test.toml
  test/src/e2e_vm_tests/test_programs/should_pass/unit_tests/nested_libs/Forc.lock
  test/src/e2e_vm_tests/test_programs/should_pass/unit_tests/nested_libs/Forc.toml
  test/src/e2e_vm_tests/test_programs/should_pass/unit_tests/nested_libs/src/inner.sw
  test/src/e2e_vm_tests/test_programs/should_pass/unit_tests/nested_libs/src/inner2.sw
  test/src/e2e_vm_tests/test_programs/should_pass/unit_tests/nested_libs/src/lib.sw
  test/src/e2e_vm_tests/test_programs/should_pass/unit_tests/nested_libs/test.toml
  test/src/e2e_vm_tests/test_programs/should_pass/unit_tests/predicate_with_nested_libs/Forc.lock
  test/src/e2e_vm_tests/test_programs/should_pass/unit_tests/predicate_with_nested_libs/Forc.toml
  test/src/e2e_vm_tests/test_programs/should_pass/unit_tests/predicate_with_nested_libs/src/inner.sw
  test/src/e2e_vm_tests/test_programs/should_pass/unit_tests/predicate_with_nested_libs/src/inner2.sw
  test/src/e2e_vm_tests/test_programs/should_pass/unit_tests/predicate_with_nested_libs/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/unit_tests/predicate_with_nested_libs/test.toml
  test/src/e2e_vm_tests/test_programs/should_pass/unit_tests/script_with_nested_libs/Forc.lock
  test/src/e2e_vm_tests/test_programs/should_pass/unit_tests/script_with_nested_libs/Forc.toml
  test/src/e2e_vm_tests/test_programs/should_pass/unit_tests/script_with_nested_libs/src/inner.sw
  test/src/e2e_vm_tests/test_programs/should_pass/unit_tests/script_with_nested_libs/src/inner2.sw
  test/src/e2e_vm_tests/test_programs/should_pass/unit_tests/script_with_nested_libs/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/unit_tests/script_with_nested_libs/test.toml
Labels: bug, P: critical, compiler: frontend

#3872 Small reorganisation of asm_generation/fuel.
  sway-core/src/asm_generation/asm_builder.rs
  sway-core/src/asm_generation/evm/evm_asm_builder.rs
  sway-core/src/asm_generation/finalized_asm.rs
  sway-core/src/asm_generation/from_ir.rs
  sway-core/src/asm_generation/fuel/abstract_instruction_set.rs
  sway-core/src/asm_generation/fuel/allocated_abstract_instruction_set.rs
  sway-core/src/asm_generation/fuel/checks.rs
  sway-core/src/asm_generation/fuel/compiler_constants.rs
  sway-core/src/asm_generation/fuel/data_section.rs
  sway-core/src/asm_generation/fuel/fuel_asm_builder.rs
  sway-core/src/asm_generation/fuel/functions.rs
  sway-core/src/asm_generation/fuel/mod.rs
  sway-core/src/asm_generation/fuel/register_allocator.rs
  sway-core/src/asm_generation/fuel/register_sequencer.rs
  sway-core/src/asm_generation/mod.rs
  sway-core/src/asm_generation/programs.rs
  sway-core/src/asm_generation/programs/abstract.rs
  sway-core/src/asm_generation/programs/allocated.rs
  sway-core/src/asm_generation/programs/final.rs
  sway-core/src/asm_lang/allocated_ops.rs
  sway-core/src/asm_lang/mod.rs
  sway-core/src/asm_lang/virtual_immediate.rs
  sway-core/src/asm_lang/virtual_ops.rs
  sway-core/src/asm_lang/virtual_register.rs
  sway-core/src/lib.rs
Labels: code quality, compiler: codegen

#3729 feat: inject contract id into the namespace for tests automatically
  docs/book/src/testing/unit-testing.md
  forc-pkg/src/pkg.rs
  forc-plugins/forc-client/src/ops/deploy/op.rs
  forc-plugins/forc-client/src/ops/run/op.rs
  forc-test/src/lib.rs
  forc/src/ops/forc_build.rs
  test/src/e2e_vm_tests/test_programs/should_pass/unit_tests/contract_multi_test/src/main.sw
Labels: enhancement, forc-test

#3867 Remove decl engine cloning for built package generation
  forc-pkg/src/pkg.rs
  forc-test/src/lib.rs
  sway-core/src/decl_engine/engine.rs
Labels: bug, forc, forc-test, forc-pkg

#3874 Fix bug in "Advanced Calls" section in Sway book
  docs/book/src/blockchain-development/calling_contracts.md
Labels: bug, The Sway Book

#3862 Update `std::storage::get` and `std::storage::StorageMap::get` to return an `Option`
  docs/book/src/common-collections/storage_map.md
  docs/book/src/reference/compiler_intrinsics.md
  docs/reference/src/code/operations/storage/storage_map/src/main.sw
  docs/reference/src/documentation/misc/workarounds/missing-features.md
  docs/reference/src/documentation/operations/storage/libraries/storage-map.md
  docs/reference/src/documentation/operations/storage/libraries/store-get.md
  examples/cei_analysis/src/main.sw
  examples/storage_example/src/main.sw
  examples/storage_map/src/main.sw
  examples/subcurrency/src/main.sw
  sway-core/src/asm_generation/fuel/fuel_asm_builder.rs
  sway-core/src/semantic_analysis/ast_node/expression/intrinsic_function.rs
  sway-ir/src/instruction.rs
  sway-lib-std/src/storage.sw
  test/src/e2e_vm_tests/test_programs/should_fail/generics_in_contract/Forc.toml
  test/src/e2e_vm_tests/test_programs/should_fail/generics_in_contract/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_fail/generics_in_contract/test.toml
  test/src/e2e_vm_tests/test_programs/should_pass/require_contract_deployment/call_basic_storage/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/static_analysis/cei_pattern_violation_storage_map_and_vec/Forc.toml
  test/src/e2e_vm_tests/test_programs/should_pass/static_analysis/cei_pattern_violation_storage_map_and_vec/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/test_abis/basic_storage_abi/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/test_contracts/basic_storage/json_abi_oracle.json
  test/src/e2e_vm_tests/test_programs/should_pass/test_contracts/basic_storage/src/main.sw
  test/src/sdk-harness/test_projects/low_level_call/mod.rs
  test/src/sdk-harness/test_projects/storage/mod.rs
  test/src/sdk-harness/test_projects/storage/src/main.sw
  test/src/sdk-harness/test_projects/storage_map/mod.rs
  test/src/sdk-harness/test_projects/storage_map/src/main.sw
Labels: lib: std, compiler: ir, breaking, compiler: frontend, compiler: codegen

#3884 Add a `--locked` arg to more invocations of `cargo` in the CI.
  .github/workflows/ci.yml
Labels: ci

#3870 Refactor doc strings in `sway-lib-std`
  sway-lib-std/src/address.sw
  sway-lib-std/src/alloc.sw
  sway-lib-std/src/assert.sw
  sway-lib-std/src/auth.sw
  sway-lib-std/src/b512.sw
  sway-lib-std/src/block.sw
  sway-lib-std/src/bytes.sw
  sway-lib-std/src/call_frames.sw
  sway-lib-std/src/contract_id.sw
  sway-lib-std/src/error_signals.sw
  sway-lib-std/src/flags.sw
  sway-lib-std/src/hash.sw
  sway-lib-std/src/identity.sw
  sway-lib-std/src/inputs.sw
  sway-lib-std/src/low_level_call.sw
  sway-lib-std/src/message.sw
  sway-lib-std/src/option.sw
  sway-lib-std/src/outputs.sw
  sway-lib-std/src/prelude.sw
  sway-lib-std/src/reentrancy.sw
  sway-lib-std/src/registers.sw
  sway-lib-std/src/result.sw
  sway-lib-std/src/revert.sw
  sway-lib-std/src/storage.sw
  sway-lib-std/src/token.sw
  sway-lib-std/src/tx.sw
  sway-lib-std/src/u128.sw
  sway-lib-std/src/u256.sw
  sway-lib-std/src/vec.sw
  sway-lib-std/src/vm/evm/evm_address.sw
Labels: lib: std

#3846 chore: change type of `module_info` field on `RenderedDocument` to `ModuleInfo`
  forc-plugins/forc-doc/src/main.rs
  forc-plugins/forc-doc/src/render.rs
Labels: code quality, forc-doc

#3869 feat: Adds Markdown formatting to item previews in `forc doc`
  forc-plugins/forc-doc/src/descriptor.rs
  forc-plugins/forc-doc/src/doc.rs
  forc-plugins/forc-doc/src/render.rs
Labels: enhancement, forc-doc

#3879 Bump SDK to 0.34
  test/src/sdk-harness/Cargo.toml
  test/src/sdk-harness/test_projects/auth/mod.rs
  test/src/sdk-harness/test_projects/block/mod.rs
  test/src/sdk-harness/test_projects/call_frames/mod.rs
  test/src/sdk-harness/test_projects/context/mod.rs
  test/src/sdk-harness/test_projects/contract_bytecode/mod.rs
  test/src/sdk-harness/test_projects/ec_recover/mod.rs
  test/src/sdk-harness/test_projects/ec_recover_and_match_predicate/mod.rs
  test/src/sdk-harness/test_projects/ec_recover_and_match_predicate/src/main.sw
  test/src/sdk-harness/test_projects/evm/mod.rs
  test/src/sdk-harness/test_projects/evm_ec_recover/mod.rs
  test/src/sdk-harness/test_projects/exponentiation/mod.rs
  test/src/sdk-harness/test_projects/generics_in_abi/mod.rs
  test/src/sdk-harness/test_projects/hashing/mod.rs
  test/src/sdk-harness/test_projects/logging/mod.rs
  test/src/sdk-harness/test_projects/low_level_call/mod.rs
  test/src/sdk-harness/test_projects/messages/mod.rs
  test/src/sdk-harness/test_projects/methods/mod.rs
  test/src/sdk-harness/test_projects/option_field_order/mod.rs
  test/src/sdk-harness/test_projects/option_in_abi/mod.rs
  test/src/sdk-harness/test_projects/parsing_logs/mod.rs
  test/src/sdk-harness/test_projects/predicate_data_simple/mod.rs
  test/src/sdk-harness/test_projects/predicate_data_struct/mod.rs
  test/src/sdk-harness/test_projects/reentrancy/mod.rs
  test/src/sdk-harness/test_projects/registers/mod.rs
  test/src/sdk-harness/test_projects/result_in_abi/mod.rs
  test/src/sdk-harness/test_projects/script_data/mod.rs
  test/src/sdk-harness/test_projects/storage/mod.rs
  test/src/sdk-harness/test_projects/storage_map/mod.rs
  test/src/sdk-harness/test_projects/storage_vec/array/utils.rs
  test/src/sdk-harness/test_projects/storage_vec/b256/utils.rs
  test/src/sdk-harness/test_projects/storage_vec/bool/utils.rs
  test/src/sdk-harness/test_projects/storage_vec/enum/utils.rs
  test/src/sdk-harness/test_projects/storage_vec/str/utils.rs
  test/src/sdk-harness/test_projects/storage_vec/struct/utils.rs
  test/src/sdk-harness/test_projects/storage_vec/tuple/utils.rs
  test/src/sdk-harness/test_projects/storage_vec/u16/utils.rs
  test/src/sdk-harness/test_projects/storage_vec/u32/utils.rs
  test/src/sdk-harness/test_projects/storage_vec/u64/utils.rs
  test/src/sdk-harness/test_projects/storage_vec/u8/utils.rs
  test/src/sdk-harness/test_projects/token_ops/mod.rs
  test/src/sdk-harness/test_projects/tx_fields/mod.rs
  test/src/sdk-harness/test_projects/vec_in_abi/mod.rs
Labels: testing

#3881 Fix bug with replacing the self type.
  sway-core/src/semantic_analysis/ast_node/declaration/function.rs
  sway-core/src/semantic_analysis/ast_node/declaration/impl_trait.rs
  sway-core/src/type_system/id.rs
  test/src/e2e_vm_tests/test_programs/should_pass/language/generic_type_inference/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/language/generic_type_inference/src/utils.sw
Labels: bug, P: critical, compiler: frontend

#3889 Impl From<b256> for Bytes
  sway-lib-std/src/bytes.sw
Labels: enhancement, lib: std

#3898 Improve performance of `AbstractInstructionSet::verify(self)`
  sway-core/src/asm_generation/fuel/abstract_instruction_set.rs
Labels: code quality, compiler: codegen

#3892 Add `ops::*` to the prelude in `core`
  sway-core/src/semantic_analysis/namespace/trait_map.rs
  sway-lib-core/src/prelude.sw
  test/src/e2e_vm_tests/test_programs/should_fail/redefine_method_from_core/Forc.lock
  test/src/e2e_vm_tests/test_programs/should_fail/redefine_method_from_core/Forc.toml
  test/src/e2e_vm_tests/test_programs/should_fail/redefine_method_from_core/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_fail/redefine_method_from_core/test.toml
  test/src/e2e_vm_tests/test_programs/should_pass/language/generic_type_inference/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/language/generic_type_inference/src/utils.sw
  test/src/e2e_vm_tests/test_programs/should_pass/language/if_implicit_unit/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/language/trait_import_with_star/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/language/trait_import_with_star/src/shiftable.sw
  test/src/e2e_vm_tests/test_programs/should_pass/language/trait_override_bug/json_abi_oracle.json
  test/src/e2e_vm_tests/test_programs/should_pass/language/trait_override_bug/test.toml
Labels: breaking, lib: core, P: critical, compiler: frontend

#3902 Format `sway-lib-core` and `sway-lib-std`
  sway-lib-core/src/never.sw
  sway-lib-core/src/ops.sw
  sway-lib-std/src/low_level_call.sw
  sway-lib-std/src/message.sw
  sway-lib-std/src/result.sw
Labels: lib: std, code quality

#3858 feat(fmt): allow a single file for `--path`
  forc-plugins/forc-fmt/src/main.rs
Labels: formatter

#3849 Add run button for sway tests
  sway-core/src/transform/attribute.rs
  sway-core/src/transform/to_parsed_lang/convert_parse_tree.rs
  sway-lsp/src/capabilities/runnable.rs
  sway-lsp/src/core/session.rs
  sway-lsp/src/lib.rs
  sway-lsp/src/server.rs
  sway-lsp/src/utils/test.rs
Labels: language server

#3899 Add a TryFrom trait
  sway-lib-std/src/b256.sw
  sway-lib-std/src/convert.sw
  sway-lib-std/src/lib.sw
  sway-lib-std/src/option.sw
Labels: enhancement, lib: std

#3909 Improve performance of the register allocator (4.5X)
  sway-core/src/asm_generation/fuel/abstract_instruction_set.rs
  sway-core/src/asm_generation/fuel/register_allocator.rs
  sway-core/src/asm_generation/programs/abstract.rs
  sway-core/src/asm_lang/mod.rs
  sway-core/src/asm_lang/virtual_ops.rs
  test/src/e2e_vm_tests/test_programs/should_pass/require_contract_deployment/call_basic_storage/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/require_contract_deployment/caller_context_test/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/require_contract_deployment/storage_access_caller/src/main.sw
Labels: code quality, compiler: codegen

#3901 Rename Shiftable trait
  sway-lib-core/src/ops.sw
  sway-lib-std/src/u128.sw
  sway-lib-std/src/u256.sw
  test/src/e2e_vm_tests/test_programs/should_fail/redefine_method_from_core/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_fail/redefine_method_from_core/test.toml
  test/src/e2e_vm_tests/test_programs/should_pass/language/if_implicit_unit/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/language/trait_import_with_star/src/shiftable.sw
Labels: lib: std, code quality

#3883 Better token handling inside turbofish
  sway-ast/src/path.rs
  sway-ast/src/ty/mod.rs
  sway-core/src/language/ty/expression/expression_variant.rs
  sway-core/src/semantic_analysis/ast_node/expression/intrinsic_function.rs
  sway-core/src/semantic_analysis/ast_node/expression/match_expression/typed/typed_scrutinee.rs
  sway-core/src/semantic_analysis/ast_node/expression/typed_expression.rs
  sway-core/src/semantic_analysis/ast_node/expression/typed_expression/enum_instantiation.rs
  sway-core/src/semantic_analysis/ast_node/expression/typed_expression/struct_instantiation.rs
  sway-core/src/transform/to_parsed_lang/convert_parse_tree.rs
  sway-core/src/type_system/binding.rs
  sway-core/src/type_system/type_argument.rs
  sway-lsp/src/server.rs
  sway-lsp/src/traverse/parsed_tree.rs
  sway-lsp/src/traverse/typed_tree.rs
  sway-lsp/test/fixtures/tokens/turbofish/src/main.sw
  sway-types/src/span.rs
Labels: language server, compiler: frontend

#3912 Add an `assert_eq` function to `std::assert`
  sway-lib-std/src/assert.sw
  sway-lib-std/src/auth.sw
  sway-lib-std/src/error_signals.sw
  sway-lib-std/src/vec.sw
  test/src/e2e_vm_tests/test_programs/should_pass/require_contract_deployment/call_basic_storage/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/stdlib/assert_eq/.gitignore
  test/src/e2e_vm_tests/test_programs/should_pass/stdlib/assert_eq/Forc.lock
  test/src/e2e_vm_tests/test_programs/should_pass/stdlib/assert_eq/Forc.toml
  test/src/e2e_vm_tests/test_programs/should_pass/stdlib/assert_eq/json_abi_oracle.json
  test/src/e2e_vm_tests/test_programs/should_pass/stdlib/assert_eq/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/stdlib/assert_eq/test.toml
Labels: enhancement, lib: std

#3915 Fix handling of empty code blocks
  swayfmt/src/formatter/mod.rs
  swayfmt/src/utils/language/expr/conditional.rs
  swayfmt/src/utils/language/expr/mod.rs
Labels: bug, forc, formatter

#3895 Bytes: refactor & rename `join` to `append`
  sway-lib-std/src/bytes.sw
  sway-lib-std/src/low_level_call.sw
Labels: lib: std, code quality, breaking

#3913 Improve performance of liveness analysis in the register allocator (4.3X)
  sway-core/src/asm_generation/fuel/register_allocator.rs
  sway-core/src/asm_lang/mod.rs
Labels: code quality, compiler: codegen

#3876 Introduce `__state_clear`, `std::storage::clear`, and `std::storage::StorageMap::remove`
  sway-ast/src/intrinsics.rs
  sway-core/src/asm_generation/fuel/fuel_asm_builder.rs
  sway-core/src/asm_lang/allocated_ops.rs
  sway-core/src/ir_generation/function.rs
  sway-core/src/ir_generation/purity.rs
  sway-core/src/semantic_analysis/ast_node/expression/intrinsic_function.rs
  sway-core/src/semantic_analysis/cei_pattern_analysis.rs
  sway-ir/src/instruction.rs
  sway-ir/src/optimize/inline.rs
  sway-ir/src/parser.rs
  sway-ir/src/printer.rs
  sway-ir/src/verify.rs
  sway-lib-std/src/storage.sw
  test/src/e2e_vm_tests/test_programs/should_fail/storage_clear_incorrect_purity_annotation/Forc.lock
  test/src/e2e_vm_tests/test_programs/should_fail/storage_clear_incorrect_purity_annotation/Forc.toml
  test/src/e2e_vm_tests/test_programs/should_fail/storage_clear_incorrect_purity_annotation/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_fail/storage_clear_incorrect_purity_annotation/test.toml
  test/src/e2e_vm_tests/test_programs/should_pass/require_contract_deployment/call_basic_storage/src/main.sw
  test/src/sdk-harness/test_projects/ec_recover_and_match_predicate/mod.rs
  test/src/sdk-harness/test_projects/storage/mod.rs
  test/src/sdk-harness/test_projects/storage/src/main.sw
  test/src/sdk-harness/test_projects/storage_map/mod.rs
  test/src/sdk-harness/test_projects/storage_map/src/main.sw
Labels: lib: std, compiler: ir, language feature, compiler: frontend, compiler: parser, compiler: codegen

#3919 Rename `std::math::Exponentiate` trait
  sway-lib-std/src/math.sw
  sway-lib-std/src/u128.sw
Labels: lib: std, code quality, breaking

#3854 feat(fmt): introduce formatting comments together with src
  sway-types/src/span.rs
  swayfmt/src/comments.rs
  swayfmt/src/formatter/mod.rs
  swayfmt/src/lib.rs
  swayfmt/src/utils/language/expr/conditional.rs
  swayfmt/src/utils/map/byte_span.rs
  swayfmt/src/utils/map/comments.rs
Labels: formatter

#3907 Allow go to definition on traits
  sway-core/src/language/parsed/declaration/trait.rs
  sway-core/src/language/ty/declaration/impl_trait.rs
  sway-core/src/language/ty/declaration/trait.rs
  sway-core/src/semantic_analysis/ast_node/declaration/declaration.rs
  sway-core/src/semantic_analysis/ast_node/declaration/impl_trait.rs
  sway-core/src/transform/to_parsed_lang/convert_parse_tree.rs
  sway-lsp/src/core/token.rs
  sway-lsp/src/server.rs
  sway-lsp/src/traverse/typed_tree.rs
  sway-lsp/test/fixtures/tokens/traits/.gitignore
  sway-lsp/test/fixtures/tokens/traits/Forc.lock
  sway-lsp/test/fixtures/tokens/traits/Forc.toml
  sway-lsp/test/fixtures/tokens/traits/src/main.sw
  sway-lsp/test/fixtures/tokens/traits/src/traits.sw
Labels: compiler, language server, compiler: frontend

#3930 Fix handling of empty documents
  forc-plugins/forc-doc/src/descriptor.rs
  forc-plugins/forc-doc/src/doc.rs
  forc-plugins/forc-doc/src/render.rs
Labels: bug, P: critical, forc-doc

#3921 [bug] U128.pow. n.pow(two) still equals n
  sway-lib-std/src/u128.sw
  test/src/e2e_vm_tests/test_programs/should_pass/stdlib/u128_pow_test/.gitignore
  test/src/e2e_vm_tests/test_programs/should_pass/stdlib/u128_pow_test/Forc.lock
  test/src/e2e_vm_tests/test_programs/should_pass/stdlib/u128_pow_test/Forc.toml
  test/src/e2e_vm_tests/test_programs/should_pass/stdlib/u128_pow_test/src/main.sw
Labels: bug, lib: std, P: critical

#3933 Bump `toml-edit` and `tower-lsp` to latest versions
  Cargo.lock
  forc/Cargo.toml
  sway-lsp/Cargo.toml
Labels: dependencies

#3922 Helper method: Write all AST's to disk
  Cargo.lock
  sway-lsp/Cargo.toml
  sway-lsp/src/server.rs
  sway-lsp/src/utils/test.rs
Labels: language server

#3941 Refactor `forc-client` in preparation for new `forc submit` command
  Cargo.lock
  forc-plugins/forc-client/Cargo.toml
  forc-plugins/forc-client/src/bin/deploy/main.rs
  forc-plugins/forc-client/src/bin/run/main.rs
  forc-plugins/forc-client/src/cmd/deploy.rs
  forc-plugins/forc-client/src/cmd/mod.rs
  forc-plugins/forc-client/src/cmd/run.rs
  forc-plugins/forc-client/src/lib.rs
  forc-plugins/forc-client/src/op/deploy.rs
  forc-plugins/forc-client/src/op/mod.rs
  forc-plugins/forc-client/src/op/run.rs
  forc-plugins/forc-client/src/ops/deploy/cmd.rs
  forc-plugins/forc-client/src/ops/deploy/mod.rs
  forc-plugins/forc-client/src/ops/mod.rs
  forc-plugins/forc-client/src/ops/run/cmd.rs
  forc-plugins/forc-client/src/ops/run/mod.rs
  forc-plugins/forc-client/src/util/mod.rs
  forc-plugins/forc-client/src/util/pkg.rs
  forc-plugins/forc-client/src/util/tx.rs
  forc-plugins/forc-tx/Cargo.toml
  forc-plugins/forc-tx/src/lib.rs
  forc/src/cli/commands/test.rs
  forc/src/cli/shared.rs
  forc/src/ops/forc_build.rs
  test/src/e2e_vm_tests/harness.rs
Labels: forc, code quality, forc-client, forc-tx

#3691 Change `expect` messages to `Result` in `forc doc`
  forc-plugins/forc-doc/src/descriptor.rs
  forc-plugins/forc-doc/src/doc.rs
  forc-plugins/forc-doc/src/main.rs
  forc-plugins/forc-doc/src/render.rs
Labels: code quality, forc-doc
