Repository FuelLabs/sway, pull requests merged in 2023-04, with the labels that each got.

#4382 chore(`forc-doc`): Reorganizes the file tree
  forc-plugins/forc-doc/src/doc/descriptor.rs
  forc-plugins/forc-doc/src/doc/mod.rs
  forc-plugins/forc-doc/src/doc/module.rs
  forc-plugins/forc-doc/src/main.rs
  forc-plugins/forc-doc/src/render.rs
  forc-plugins/forc-doc/src/render/constant.rs
  forc-plugins/forc-doc/src/render/index.rs
  forc-plugins/forc-doc/src/render/item/components.rs
  forc-plugins/forc-doc/src/render/item/context.rs
  forc-plugins/forc-doc/src/render/item/mod.rs
  forc-plugins/forc-doc/src/render/item/type_anchor.rs
  forc-plugins/forc-doc/src/render/link.rs
  forc-plugins/forc-doc/src/render/mod.rs
  forc-plugins/forc-doc/src/render/sidebar.rs
  forc-plugins/forc-doc/src/render/title.rs
  forc-plugins/forc-doc/src/render/util/format/code_block.rs
  forc-plugins/forc-doc/src/render/util/format/constant.rs
  forc-plugins/forc-doc/src/render/util/format/docstring.rs
  forc-plugins/forc-doc/src/render/util/format/mod.rs
  forc-plugins/forc-doc/src/render/util/mod.rs
Labels: code quality, forc-doc

#4381 Allow importing enum variants
  sway-core/src/control_flow_analysis/analyze_return_paths.rs
  sway-core/src/control_flow_analysis/dead_code_analysis.rs
  sway-core/src/ir_generation/compile.rs
  sway-core/src/ir_generation/function.rs
  sway-core/src/language/parsed/expression/mod.rs
  sway-core/src/language/ty/declaration/declaration.rs
  sway-core/src/monomorphize/gather/declaration.rs
  sway-core/src/monomorphize/instruct/declaration.rs
  sway-core/src/semantic_analysis/ast_node/declaration/impl_trait.rs
  sway-core/src/semantic_analysis/ast_node/expression/match_expression/typed/typed_scrutinee.rs
  sway-core/src/semantic_analysis/ast_node/expression/typed_expression.rs
  sway-core/src/semantic_analysis/ast_node/mod.rs
  sway-core/src/semantic_analysis/namespace/module.rs
  sway-core/src/semantic_analysis/namespace/namespace.rs
  sway-core/src/semantic_analysis/namespace/root.rs
  sway-core/src/semantic_analysis/node_dependencies.rs
  sway-core/src/semantic_analysis/storage_only_types.rs
  sway-core/src/transform/to_parsed_lang/convert_parse_tree.rs
  sway-core/src/type_system/ast_elements/binding.rs
  sway-lsp/src/traverse/parsed_tree.rs
  sway-lsp/src/traverse/typed_tree.rs
  test/src/e2e_vm_tests/test_programs/should_fail/import_error_ambiguity/Forc.lock
  test/src/e2e_vm_tests/test_programs/should_fail/import_error_ambiguity/Forc.toml
  test/src/e2e_vm_tests/test_programs/should_fail/import_error_ambiguity/json_abi_oracle.json
  test/src/e2e_vm_tests/test_programs/should_fail/import_error_ambiguity/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_fail/import_error_ambiguity/src/submodule.sw
  test/src/e2e_vm_tests/test_programs/should_fail/import_error_ambiguity/test.toml
  test/src/e2e_vm_tests/test_programs/should_fail/match_expressions_wrong_struct/test.toml
  test/src/e2e_vm_tests/test_programs/should_pass/language/enum_variant_imports/Forc.lock
  test/src/e2e_vm_tests/test_programs/should_pass/language/enum_variant_imports/Forc.toml
  test/src/e2e_vm_tests/test_programs/should_pass/language/enum_variant_imports/json_abi_oracle.json
  test/src/e2e_vm_tests/test_programs/should_pass/language/enum_variant_imports/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/language/enum_variant_imports/src/submodule.sw
  test/src/e2e_vm_tests/test_programs/should_pass/language/enum_variant_imports/test.toml
Labels: enhancement, language feature, compiler: frontend

#4367 docs: fix the `return_data` action value example
  test/src/e2e_vm_tests/test_programs/README.md
Labels: documentation

#4292 Conditional compilation
  sway-core/src/lib.rs
  sway-core/src/transform/attribute.rs
  sway-core/src/transform/to_parsed_lang/context.rs
  sway-core/src/transform/to_parsed_lang/convert_parse_tree.rs
  sway-error/src/convert_parse_tree_error.rs
  sway-types/src/constants.rs
  test/src/e2e_vm_tests/test_programs/should_fail/conditional_compilation/bad_target/Forc.lock
  test/src/e2e_vm_tests/test_programs/should_fail/conditional_compilation/bad_target/Forc.toml
  test/src/e2e_vm_tests/test_programs/should_fail/conditional_compilation/bad_target/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_fail/conditional_compilation/bad_target/test.toml
  test/src/e2e_vm_tests/test_programs/should_fail/conditional_compilation/no_target/Forc.lock
  test/src/e2e_vm_tests/test_programs/should_fail/conditional_compilation/no_target/Forc.toml
  test/src/e2e_vm_tests/test_programs/should_fail/conditional_compilation/no_target/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_fail/conditional_compilation/no_target/test.toml
  test/src/e2e_vm_tests/test_programs/should_pass/conditional_compilation/compile/Forc.lock
  test/src/e2e_vm_tests/test_programs/should_pass/conditional_compilation/compile/Forc.toml
  test/src/e2e_vm_tests/test_programs/should_pass/conditional_compilation/compile/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/conditional_compilation/compile/test.toml
  test/src/e2e_vm_tests/test_programs/should_pass/conditional_compilation/run/Forc.lock
  test/src/e2e_vm_tests/test_programs/should_pass/conditional_compilation/run/Forc.toml
  test/src/e2e_vm_tests/test_programs/should_pass/conditional_compilation/run/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/conditional_compilation/run/test.toml
Labels: language feature, compiler: frontend, EVM, MidenVM

#4362 feat: allow multiple salt declarations in `forc deploy`
  forc-pkg/src/manifest.rs
  forc-plugins/forc-client/src/cmd/deploy.rs
  forc-plugins/forc-client/src/op/deploy.rs
  forc-plugins/forc-client/src/op/run.rs
  forc-plugins/forc-client/src/util/pkg.rs
  forc-plugins/forc-client/test/data/manifests/contract_with_dep/Forc.toml
  forc-plugins/forc-client/test/data/manifests/contract_with_dep_with_salt_conflict/Forc.toml
  forc-plugins/forc-client/test/data/manifests/standalone_contract/Forc.toml
  forc-plugins/forc-client/test/data/manifests/standalone_contract_b/Forc.toml
Labels: forc, forc-client

#4338 feat: add `forc contract-id` and `forc predicate-id` commands
  Cargo.lock
  docs/book/src/SUMMARY.md
  docs/book/src/forc/commands/forc_contract-id.md
  docs/book/src/forc/commands/forc_predicate-root.md
  forc-pkg/src/pkg.rs
  forc-plugins/forc-client/src/cmd/deploy.rs
  forc-plugins/forc-tx/Cargo.toml
  forc-plugins/forc-tx/src/lib.rs
  forc-util/Cargo.toml
  forc-util/src/lib.rs
  forc/src/cli/commands/contract_id.rs
  forc/src/cli/commands/mod.rs
  forc/src/cli/commands/predicate_root.rs
  forc/src/cli/mod.rs
  forc/src/ops/forc_contract_id.rs
  forc/src/ops/forc_predicate_root.rs
  forc/src/ops/mod.rs
Labels: enhancement, forc

#4392 LSP: Refactor to use `Engines` where possible
  sway-core/src/engine_threading.rs
  sway-lsp/src/capabilities/code_actions/struct_decl/struct_new.rs
  sway-lsp/src/capabilities/hover.rs
  sway-lsp/src/capabilities/rename.rs
  sway-lsp/src/core/session.rs
  sway-lsp/src/core/token.rs
  sway-lsp/src/core/token_map.rs
Labels: language server, code quality

#4391 Bump to fuels `v0.39.0`
  .github/workflows/ci.yml
  templates/sway-test-rs/template/Cargo.toml
  templates/sway-test-rs/template/tests/harness.rs
  test/src/sdk-harness/Cargo.lock
  test/src/sdk-harness/Cargo.toml
  test/src/sdk-harness/test_projects/auth/mod.rs
  test/src/sdk-harness/test_projects/block/mod.rs
  test/src/sdk-harness/test_projects/call_frames/mod.rs
  test/src/sdk-harness/test_projects/configurables_in_contract/mod.rs
  test/src/sdk-harness/test_projects/configurables_in_script/mod.rs
  test/src/sdk-harness/test_projects/context/mod.rs
  test/src/sdk-harness/test_projects/contract_bytecode/mod.rs
  test/src/sdk-harness/test_projects/ec_recover/mod.rs
  test/src/sdk-harness/test_projects/ec_recover_and_match_predicate/mod.rs
  test/src/sdk-harness/test_projects/evm/mod.rs
  test/src/sdk-harness/test_projects/evm_ec_recover/mod.rs
  test/src/sdk-harness/test_projects/exponentiation/mod.rs
  test/src/sdk-harness/test_projects/generics_in_abi/mod.rs
  test/src/sdk-harness/test_projects/hashing/mod.rs
  test/src/sdk-harness/test_projects/logging/mod.rs
  test/src/sdk-harness/test_projects/low_level_call/mod.rs
  test/src/sdk-harness/test_projects/messages/mod.rs
  test/src/sdk-harness/test_projects/methods/mod.rs
  test/src/sdk-harness/test_projects/option_field_order/mod.rs
  test/src/sdk-harness/test_projects/option_in_abi/mod.rs
  test/src/sdk-harness/test_projects/parsing_logs/mod.rs
  test/src/sdk-harness/test_projects/predicate_data_simple/mod.rs
  test/src/sdk-harness/test_projects/predicate_data_struct/mod.rs
  test/src/sdk-harness/test_projects/registers/mod.rs
  test/src/sdk-harness/test_projects/result_in_abi/mod.rs
  test/src/sdk-harness/test_projects/script_data/mod.rs
  test/src/sdk-harness/test_projects/storage/mod.rs
  test/src/sdk-harness/test_projects/storage_bytes/mod.rs
  test/src/sdk-harness/test_projects/storage_map/mod.rs
  test/src/sdk-harness/test_projects/storage_vec/testgen.rs
  test/src/sdk-harness/test_projects/token_ops/mod.rs
  test/src/sdk-harness/test_projects/tx_fields/mod.rs
  test/src/sdk-harness/test_projects/type_aliases/mod.rs
  test/src/sdk-harness/test_projects/vec_in_abi/mod.rs
Labels: ci, testing, dependencies

#4390 Bug: ArithmeticOverflow when multiplying two large U256 numbers
  sway-lib-std/src/u256.sw
  test/src/e2e_vm_tests/test_programs/should_pass/stdlib/u256_mul_test/src/main.sw
Labels: bug, lib: std

#4388 Bump to `v0.36.0`
  Cargo.lock
  forc-pkg/Cargo.toml
  forc-plugins/forc-client/Cargo.toml
  forc-plugins/forc-doc/Cargo.toml
  forc-plugins/forc-fmt/Cargo.toml
  forc-plugins/forc-lsp/Cargo.toml
  forc-plugins/forc-tx/Cargo.toml
  forc-test/Cargo.toml
  forc-tracing/Cargo.toml
  forc-util/Cargo.toml
  forc/Cargo.toml
  sway-ast/Cargo.toml
  sway-core/Cargo.toml
  sway-error/Cargo.toml
  sway-ir/Cargo.toml
  sway-ir/sway-ir-macros/Cargo.toml
  sway-lsp/Cargo.toml
  sway-parse/Cargo.toml
  sway-types/Cargo.toml
  sway-utils/Cargo.toml
  swayfmt/Cargo.toml
Labels: release

#4397 Bump to `v0.36.1`
  Cargo.lock
  Cargo.toml
  forc-pkg/Cargo.toml
  forc-plugins/forc-client/Cargo.toml
  forc-plugins/forc-doc/Cargo.toml
  forc-plugins/forc-fmt/Cargo.toml
  forc-plugins/forc-lsp/Cargo.toml
  forc-plugins/forc-tx/Cargo.toml
  forc-test/Cargo.toml
  forc-tracing/Cargo.toml
  forc-util/Cargo.toml
  forc/Cargo.toml
  sway-ast/Cargo.toml
  sway-core/Cargo.toml
  sway-error/Cargo.toml
  sway-ir/Cargo.toml
  sway-ir/sway-ir-macros/Cargo.toml
  sway-lsp/Cargo.toml
  sway-parse/Cargo.toml
  sway-types/Cargo.toml
  sway-utils/Cargo.toml
  swayfmt/Cargo.toml
Labels: release

#4398 Use a `DeclRef` for the "EnumVariant" variant.
  sway-core/src/control_flow_analysis/dead_code_analysis.rs
  sway-core/src/language/ty/declaration/declaration.rs
  sway-core/src/semantic_analysis/ast_node/expression/match_expression/typed/typed_scrutinee.rs
  sway-core/src/semantic_analysis/namespace/module.rs
  sway-core/src/semantic_analysis/storage_only_types.rs
  sway-core/src/type_system/ast_elements/binding.rs
  sway-lsp/src/traverse/typed_tree.rs
Labels: code quality, compiler: frontend

#4396 Bump to `fuel-core v0.17.8`
  .github/workflows/ci.yml
Labels: dependencies

#4400 Update `runs-on` for the `publish` step to get more disk space
  .github/workflows/ci.yml
Labels: ci

#4395 feat: parallel unit test runners
  Cargo.lock
  docs/book/src/testing/unit-testing.md
  forc-test/Cargo.toml
  forc-test/src/lib.rs
  forc/src/cli/commands/test.rs
  test/src/e2e_vm_tests/harness.rs
Labels: enhancement, forc, forc-test

#4401 Bump to `v0.37.0`
  Cargo.lock
  forc-pkg/Cargo.toml
  forc-plugins/forc-client/Cargo.toml
  forc-plugins/forc-doc/Cargo.toml
  forc-plugins/forc-fmt/Cargo.toml
  forc-plugins/forc-lsp/Cargo.toml
  forc-plugins/forc-tx/Cargo.toml
  forc-test/Cargo.toml
  forc-tracing/Cargo.toml
  forc-util/Cargo.toml
  forc/Cargo.toml
  sway-ast/Cargo.toml
  sway-core/Cargo.toml
  sway-error/Cargo.toml
  sway-ir/Cargo.toml
  sway-ir/sway-ir-macros/Cargo.toml
  sway-lsp/Cargo.toml
  sway-parse/Cargo.toml
  sway-types/Cargo.toml
  sway-utils/Cargo.toml
  swayfmt/Cargo.toml
Labels: release

#4403 Switch the `cargo-test-lib-std` CI job to use `buildjet-4vcpu-ubuntu-2204` (Speeding up CI ~2X)
  .github/workflows/ci.yml
Labels: ci

#4393 Add conditional compilation by `program_type`
  sway-core/src/language/parsed/program.rs
  sway-core/src/transform/attribute.rs
  sway-core/src/transform/to_parsed_lang/context.rs
  sway-core/src/transform/to_parsed_lang/convert_parse_tree.rs
  sway-error/src/convert_parse_tree_error.rs
  sway-types/src/constants.rs
  test/src/e2e_vm_tests/test_programs/should_fail/conditional_compilation/bad_program_type/Forc.lock
  test/src/e2e_vm_tests/test_programs/should_fail/conditional_compilation/bad_program_type/Forc.toml
  test/src/e2e_vm_tests/test_programs/should_fail/conditional_compilation/bad_program_type/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_fail/conditional_compilation/bad_program_type/test.toml
  test/src/e2e_vm_tests/test_programs/should_fail/conditional_compilation/mismatching_program_type/Forc.lock
  test/src/e2e_vm_tests/test_programs/should_fail/conditional_compilation/mismatching_program_type/Forc.toml
  test/src/e2e_vm_tests/test_programs/should_fail/conditional_compilation/mismatching_program_type/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_fail/conditional_compilation/mismatching_program_type/test.toml
  test/src/e2e_vm_tests/test_programs/should_pass/conditional_compilation/compile/src/main.sw
Labels: compiler: frontend

#4412 fix: enable package manifest file verification during `PackageManifestFile::new`
  forc-pkg/src/manifest.rs
  forc-plugins/forc-client/src/op/deploy.rs
  forc-plugins/forc-client/test/data/contract_with_dep/.gitignore
  forc-plugins/forc-client/test/data/contract_with_dep/Forc.toml
  forc-plugins/forc-client/test/data/contract_with_dep/src/main.sw
  forc-plugins/forc-client/test/data/contract_with_dep_with_salt_conflict/.gitignore
  forc-plugins/forc-client/test/data/contract_with_dep_with_salt_conflict/Forc.toml
  forc-plugins/forc-client/test/data/contract_with_dep_with_salt_conflict/src/main.sw
  forc-plugins/forc-client/test/data/standalone_contract/.gitignore
  forc-plugins/forc-client/test/data/standalone_contract/Forc.toml
  forc-plugins/forc-client/test/data/standalone_contract/src/main.sw
  forc-plugins/forc-client/test/data/standalone_contract_b/.gitignore
  forc-plugins/forc-client/test/data/standalone_contract_b/Forc.toml
  forc-plugins/forc-client/test/data/standalone_contract_b/src/main.sw
Labels: bug, forc-pkg

#4414 Optimize LSP `parse_project`
  sway-lsp/src/capabilities/diagnostic.rs
  sway-lsp/src/core/session.rs
  sway-lsp/src/error.rs
  sway-lsp/src/server.rs
  sway-lsp/tests/utils/src/lib.rs
Labels: language server

#4341 feat: enable raw pointer return from scripts
  sway-core/src/language/ty/program.rs
  sway-error/src/error.rs
  test/src/e2e_vm_tests/test_programs/should_fail/raw_ptr/raw_ptr_ret/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_fail/raw_ptr/raw_ptr_ret/test.toml
  test/src/e2e_vm_tests/test_programs/should_fail/raw_ptr/vec_ret/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_fail/raw_ptr/vec_ret/test.toml
  test/src/e2e_vm_tests/test_programs/should_pass/language/raw_ptr/raw_ptr_ret/Forc.lock
  test/src/e2e_vm_tests/test_programs/should_pass/language/raw_ptr/raw_ptr_ret/Forc.toml
  test/src/e2e_vm_tests/test_programs/should_pass/language/raw_ptr/raw_ptr_ret/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/language/raw_ptr/raw_ptr_ret/test.toml
  test/src/e2e_vm_tests/test_programs/should_pass/language/raw_ptr/vec_ret/Forc.lock
  test/src/e2e_vm_tests/test_programs/should_pass/language/raw_ptr/vec_ret/Forc.toml
  test/src/e2e_vm_tests/test_programs/should_pass/language/raw_ptr/vec_ret/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/language/raw_ptr/vec_ret/test.toml
Labels: enhancement, language feature, compiler: frontend

#4430 Reduce data section usage by attempting to store smaller offsets when compiling `get_local_var`
  sway-core/src/asm_generation/fuel/fuel_asm_builder.rs
Labels: P: critical, compiler: codegen

#4431 Allow any `Ident` when parsing `asm` block instruction opcodes
  sway-parse/src/expr/asm.rs
  test/src/e2e_vm_tests/test_programs/should_fail/unrecognized_opcode/Forc.lock
  test/src/e2e_vm_tests/test_programs/should_fail/unrecognized_opcode/Forc.toml
  test/src/e2e_vm_tests/test_programs/should_fail/unrecognized_opcode/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_fail/unrecognized_opcode/test.toml
  test/src/e2e_vm_tests/test_programs/should_pass/language/asm_expr_basic/Forc.toml
  test/src/e2e_vm_tests/test_programs/should_pass/language/asm_expr_basic/src/main.sw
Labels: bug, P: critical, compiler: parser

#4407 feat: disallow nested packages
  Cargo.lock
  forc-pkg/src/manifest.rs
  forc-plugins/forc-fmt/src/main.rs
  forc-util/Cargo.toml
  forc-util/src/lib.rs
  forc/src/ops/forc_clean.rs
  test/src/e2e_vm_tests/test_programs/should_fail/forc/nested_package/.gitignore
  test/src/e2e_vm_tests/test_programs/should_fail/forc/nested_package/Forc.toml
  test/src/e2e_vm_tests/test_programs/should_fail/forc/nested_package/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_fail/forc/nested_package/src/sub_package/.gitignore
  test/src/e2e_vm_tests/test_programs/should_fail/forc/nested_package/src/sub_package/Forc.toml
  test/src/e2e_vm_tests/test_programs/should_fail/forc/nested_package/src/sub_package/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_fail/forc/nested_package/test.toml
Labels: enhancement, forc, forc-pkg

#4297 Experimental: `StorageKey` feature
  forc-pkg/src/manifest.rs
  forc-pkg/src/pkg.rs
  forc-plugins/forc-client/src/op/deploy.rs
  forc-plugins/forc-client/src/op/run.rs
  forc-test/src/lib.rs
  forc/src/cli/commands/test.rs
  forc/src/cli/shared.rs
  forc/src/ops/forc_build.rs
  forc/src/ops/forc_contract_id.rs
  forc/src/ops/forc_predicate_root.rs
  sway-core/src/build_config.rs
  sway-core/src/ir_generation.rs
  sway-core/src/ir_generation/compile.rs
  sway-core/src/ir_generation/function.rs
  sway-core/src/ir_generation/storage.rs
  sway-core/src/language/ty/program.rs
  sway-core/src/lib.rs
  sway-core/src/semantic_analysis/ast_node/declaration/storage.rs
  sway-core/src/semantic_analysis/ast_node/expression/typed_expression.rs
  sway-core/src/semantic_analysis/program.rs
  sway-core/src/semantic_analysis/type_check_context.rs
  sway-lib-core/src/experimental.sw
  sway-lib-core/src/experimental/storage.sw
  sway-lib-core/src/lib.sw
  sway-lib-std/src/experimental.sw
  sway-lib-std/src/experimental/storage.sw
  sway-lib-std/src/lib.sw
  sway-lib-std/src/vm.sw
  test/src/ir_generation/mod.rs
  test/src/sdk-harness/build.sh
  test/src/sdk-harness/test_projects/experimental_storage/Forc.lock
  test/src/sdk-harness/test_projects/experimental_storage/Forc.toml
  test/src/sdk-harness/test_projects/experimental_storage/mod.rs
  test/src/sdk-harness/test_projects/experimental_storage/src/main.sw
  test/src/sdk-harness/test_projects/experimental_storage_init/Forc.lock
  test/src/sdk-harness/test_projects/experimental_storage_init/Forc.toml
  test/src/sdk-harness/test_projects/experimental_storage_init/mod.rs
  test/src/sdk-harness/test_projects/experimental_storage_init/src/main.sw
  test/src/sdk-harness/test_projects/experimental_storage_map/Forc.lock
  test/src/sdk-harness/test_projects/experimental_storage_map/Forc.toml
  test/src/sdk-harness/test_projects/experimental_storage_map/mod.rs
  test/src/sdk-harness/test_projects/experimental_storage_map/src/main.sw
  test/src/sdk-harness/test_projects/harness.rs
Labels: lib: std, formatter, language feature, compiler: frontend, compiler: parser

#4277 Add LSP renaming functionality
  sway-lsp/src/capabilities/document_symbol.rs
  sway-lsp/src/capabilities/rename.rs
  sway-lsp/src/capabilities/semantic_tokens.rs
  sway-lsp/src/core/session.rs
  sway-lsp/src/core/sync.rs
  sway-lsp/src/core/token.rs
  sway-lsp/src/core/token_map.rs
  sway-lsp/src/error.rs
  sway-lsp/src/server.rs
  sway-lsp/src/traverse/parsed_tree.rs
  sway-lsp/src/traverse/typed_tree.rs
  sway-lsp/tests/fixtures/renaming/.gitignore
  sway-lsp/tests/fixtures/renaming/Forc.toml
  sway-lsp/tests/fixtures/renaming/src/main.sw
  sway-lsp/tests/fixtures/renaming/src/test_mod.sw
  sway-lsp/tests/integration/lsp.rs
  sway-lsp/tests/lib.rs
  sway-parse/src/lib.rs
  sway-parse/src/token.rs
Labels: enhancement, language server

#4435 Bump to `v0.37.1`
  Cargo.lock
  forc-pkg/Cargo.toml
  forc-plugins/forc-client/Cargo.toml
  forc-plugins/forc-doc/Cargo.toml
  forc-plugins/forc-fmt/Cargo.toml
  forc-plugins/forc-lsp/Cargo.toml
  forc-plugins/forc-tx/Cargo.toml
  forc-test/Cargo.toml
  forc-tracing/Cargo.toml
  forc-util/Cargo.toml
  forc/Cargo.toml
  sway-ast/Cargo.toml
  sway-core/Cargo.toml
  sway-error/Cargo.toml
  sway-ir/Cargo.toml
  sway-ir/sway-ir-macros/Cargo.toml
  sway-lsp/Cargo.toml
  sway-parse/Cargo.toml
  sway-types/Cargo.toml
  sway-utils/Cargo.toml
  swayfmt/Cargo.toml
Labels: release

#4440 feat: `forc contract-id` print contract name before printing id for workspaces
  forc/src/ops/forc_contract_id.rs
Labels: enhancement, forc

#4442 Fix ref mut parameter checking to apply to all function parameters.
  sway-core/src/semantic_analysis/ast_node/declaration/function.rs
  sway-core/src/semantic_analysis/ast_node/declaration/function/function_parameter.rs
  test/src/e2e_vm_tests/test_programs/should_fail/abi_ref_mut/test.toml
  test/src/e2e_vm_tests/test_programs/should_fail/mutable_fn_args_impl_self/Forc.lock
  test/src/e2e_vm_tests/test_programs/should_fail/mutable_fn_args_impl_self/Forc.toml
  test/src/e2e_vm_tests/test_programs/should_fail/mutable_fn_args_impl_self/json_abi_oracle.json
  test/src/e2e_vm_tests/test_programs/should_fail/mutable_fn_args_impl_self/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_fail/mutable_fn_args_impl_self/test.toml
Labels: bug, compiler, P: critical, compiler: frontend

#4441 U256 c fix
  sway-lib-std/src/u256.sw
  test/src/e2e_vm_tests/test_programs/should_pass/stdlib/u256_mul_test/src/main.sw
Labels: bug, lib: std, P: critical

#4445 Failure to delete the only element of `Vec` of length 1
  sway-lib-std/src/vec.sw
Labels: bug

#4447 chore: deprecate `built_pkgs_with_manifest()`
  forc-plugins/forc-client/src/op/deploy.rs
  forc-plugins/forc-client/src/op/run.rs
  forc-plugins/forc-client/src/util/pkg.rs
Labels: code quality, forc-pkg

#4433 refactor: `forc-doc`- move headers above descriptions and add extra vertical spacing between items
  forc-plugins/forc-doc/src/assets/swaydoc.css
Labels: enhancement, forc-doc

#4434 Add the LSP highlighting capability.
  sway-lsp/src/capabilities/code_actions/mod.rs
  sway-lsp/src/capabilities/code_actions/struct_decl/struct_new.rs
  sway-lsp/src/capabilities/rename.rs
  sway-lsp/src/core/mod.rs
  sway-lsp/src/core/session.rs
  sway-lsp/src/core/token_map.rs
  sway-lsp/src/core/token_map_ext.rs
  sway-lsp/src/server.rs
  sway-lsp/tests/fixtures/renaming/src/test_mod.sw
Labels: language server

#4455 refactor: Introduce `ForcResult` and `ForcError` to propagate return code with error message
  forc-util/src/lib.rs
  forc/src/cli/commands/addr2line.rs
  forc/src/cli/commands/build.rs
  forc/src/cli/commands/check.rs
  forc/src/cli/commands/clean.rs
  forc/src/cli/commands/completions.rs
  forc/src/cli/commands/contract_id.rs
  forc/src/cli/commands/init.rs
  forc/src/cli/commands/new.rs
  forc/src/cli/commands/parse_bytecode.rs
  forc/src/cli/commands/plugins.rs
  forc/src/cli/commands/predicate_root.rs
  forc/src/cli/commands/template.rs
  forc/src/cli/commands/test.rs
  forc/src/cli/commands/update.rs
  forc/src/cli/mod.rs
  forc/src/main.rs
  forc/src/ops/forc_build.rs
  forc/src/ops/forc_init.rs
Labels: enhancement, forc, code quality

#4457 Refactor `TyDecl` Enum and Separate Structs for Improved Code Organization
  forc-plugins/forc-doc/src/doc/descriptor.rs
  sway-core/src/control_flow_analysis/analyze_return_paths.rs
  sway-core/src/control_flow_analysis/dead_code_analysis.rs
  sway-core/src/ir_generation/compile.rs
  sway-core/src/ir_generation/const_eval.rs
  sway-core/src/ir_generation/function.rs
  sway-core/src/language/ty/ast_node.rs
  sway-core/src/language/ty/declaration/declaration.rs
  sway-core/src/language/ty/expression/expression_variant.rs
  sway-core/src/language/ty/module.rs
  sway-core/src/language/ty/program.rs
  sway-core/src/monomorphize/gather/declaration.rs
  sway-core/src/monomorphize/instruct/declaration.rs
  sway-core/src/semantic_analysis/ast_node/code_block.rs
  sway-core/src/semantic_analysis/ast_node/declaration/declaration.rs
  sway-core/src/semantic_analysis/ast_node/declaration/impl_trait.rs
  sway-core/src/semantic_analysis/ast_node/declaration/supertrait.rs
  sway-core/src/semantic_analysis/ast_node/declaration/trait.rs
  sway-core/src/semantic_analysis/ast_node/expression/match_expression/typed/typed_scrutinee.rs
  sway-core/src/semantic_analysis/ast_node/expression/typed_expression.rs
  sway-core/src/semantic_analysis/cei_pattern_analysis.rs
  sway-core/src/semantic_analysis/coins_analysis.rs
  sway-core/src/semantic_analysis/namespace/module.rs
  sway-core/src/semantic_analysis/program.rs
  sway-core/src/semantic_analysis/storage_only_types.rs
  sway-core/src/type_system/ast_elements/binding.rs
  sway-core/src/type_system/ast_elements/trait_constraint.rs
  sway-core/src/type_system/ast_elements/type_parameter.rs
  sway-core/src/type_system/engine.rs
  sway-lsp/src/capabilities/code_actions/mod.rs
  sway-lsp/src/capabilities/code_actions/struct_decl/struct_new.rs
  sway-lsp/src/capabilities/hover.rs
  sway-lsp/src/capabilities/rename.rs
  sway-lsp/src/core/token_map.rs
  sway-lsp/src/traverse/dependency.rs
  sway-lsp/src/traverse/typed_tree.rs
  sway-lsp/src/utils/debug.rs
Labels: compiler: frontend

#4348 Implement OR match pattern
  docs/book/src/basics/control_flow.md
  docs/reference/src/code/language/control_flow/src/lib.sw
  docs/reference/src/documentation/language/control-flow/match/single-line.md
  examples/match_statements/src/main.sw
  sway-ast/src/pattern.rs
  sway-core/src/language/parsed/expression/scrutinee.rs
  sway-core/src/language/ty/expression/match_expression.rs
  sway-core/src/language/ty/expression/scrutinee.rs
  sway-core/src/semantic_analysis/ast_node/expression/match_expression/analysis/constructor_factory.rs
  sway-core/src/semantic_analysis/ast_node/expression/match_expression/analysis/matrix.rs
  sway-core/src/semantic_analysis/ast_node/expression/match_expression/analysis/patstack.rs
  sway-core/src/semantic_analysis/ast_node/expression/match_expression/analysis/pattern.rs
  sway-core/src/semantic_analysis/ast_node/expression/match_expression/analysis/usefulness.rs
  sway-core/src/semantic_analysis/ast_node/expression/match_expression/typed/matcher.rs
  sway-core/src/semantic_analysis/ast_node/expression/match_expression/typed/typed_match_branch.rs
  sway-core/src/semantic_analysis/ast_node/expression/match_expression/typed/typed_match_expression.rs
  sway-core/src/semantic_analysis/ast_node/expression/match_expression/typed/typed_scrutinee.rs
  sway-core/src/semantic_analysis/ast_node/expression/typed_expression/unsafe_downcast.rs
  sway-core/src/transform/to_parsed_lang/convert_parse_tree.rs
  sway-error/src/convert_parse_tree_error.rs
  sway-error/src/error.rs
  sway-lsp/src/traverse/parsed_tree.rs
  sway-lsp/src/traverse/typed_tree.rs
  sway-parse/src/pattern.rs
  swayfmt/src/utils/language/pattern.rs
  test/src/e2e_vm_tests/test_programs/should_fail/match_expressions_non_exhaustive/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_fail/match_expressions_non_exhaustive/src/or_patterns.sw
  test/src/e2e_vm_tests/test_programs/should_fail/match_expressions_non_exhaustive/test.toml
  test/src/e2e_vm_tests/test_programs/should_pass/language/match_expressions_or/Forc.lock
  test/src/e2e_vm_tests/test_programs/should_pass/language/match_expressions_or/Forc.toml
  test/src/e2e_vm_tests/test_programs/should_pass/language/match_expressions_or/json_abi_oracle.json
  test/src/e2e_vm_tests/test_programs/should_pass/language/match_expressions_or/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/language/match_expressions_or/test.toml
Labels: compiler: frontend, compiler: parser

#4460 refactor: better error formatting for `ForcResult`
  forc-util/src/lib.rs
  forc/src/main.rs
Labels: bug, enhancement, forc

#4086 feat: workspace level patch table added
  docs/book/src/forc/workspaces.md
  forc-pkg/src/manifest.rs
  forc-pkg/src/source/mod.rs
Labels: enhancement, forc-pkg

#4467 LSP: Rewrite `TyProgram` traversal to use the `Parse` trait.
  sway-lsp/src/core/session.rs
  sway-lsp/src/core/token.rs
  sway-lsp/src/traverse/mod.rs
  sway-lsp/src/traverse/typed_tree.rs
Labels: language server, code quality

#4456 feat: enable contract calls from unit tests in scripts
  forc-test/src/lib.rs
  test/src/e2e_vm_tests/test_programs/should_pass/unit_tests/contract-multi-contract-calls/Forc.lock
  test/src/e2e_vm_tests/test_programs/should_pass/unit_tests/contract-multi-contract-calls/Forc.toml
  test/src/e2e_vm_tests/test_programs/should_pass/unit_tests/contract-multi-contract-calls/contract2/Forc.lock
  test/src/e2e_vm_tests/test_programs/should_pass/unit_tests/contract-multi-contract-calls/contract2/Forc.toml
  test/src/e2e_vm_tests/test_programs/should_pass/unit_tests/contract-multi-contract-calls/contract2/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/unit_tests/contract-multi-contract-calls/contract_multi_test/Forc.lock
  test/src/e2e_vm_tests/test_programs/should_pass/unit_tests/contract-multi-contract-calls/contract_multi_test/Forc.toml
  test/src/e2e_vm_tests/test_programs/should_pass/unit_tests/contract-multi-contract-calls/contract_multi_test/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/unit_tests/contract-multi-contract-calls/test.toml
  test/src/e2e_vm_tests/test_programs/should_pass/unit_tests/script-contract-calls/Forc.lock
  test/src/e2e_vm_tests/test_programs/should_pass/unit_tests/script-contract-calls/Forc.toml
  test/src/e2e_vm_tests/test_programs/should_pass/unit_tests/script-contract-calls/contract_to_call/Forc.lock
  test/src/e2e_vm_tests/test_programs/should_pass/unit_tests/script-contract-calls/contract_to_call/Forc.toml
  test/src/e2e_vm_tests/test_programs/should_pass/unit_tests/script-contract-calls/contract_to_call/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/unit_tests/script-contract-calls/script_multi_test/Forc.lock
  test/src/e2e_vm_tests/test_programs/should_pass/unit_tests/script-contract-calls/script_multi_test/Forc.toml
  test/src/e2e_vm_tests/test_programs/should_pass/unit_tests/script-contract-calls/script_multi_test/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/unit_tests/script-contract-calls/test.toml
Labels: enhancement, forc-test

#4465 Sort forc-doc links alphabetically, add std-lib docs definitions
  forc-plugins/forc-doc/src/render/link.rs
  sway-lib-std/src/assert.sw
  sway-lib-std/src/auth.sw
  sway-lib-std/src/block.sw
  sway-lib-std/src/bytes.sw
  sway-lib-std/src/constants.sw
  sway-lib-std/src/context.sw
  sway-lib-std/src/ecr.sw
  sway-lib-std/src/experimental.sw
  sway-lib-std/src/experimental/storage.sw
  sway-lib-std/src/external.sw
  sway-lib-std/src/hash.sw
  sway-lib-std/src/identity.sw
  sway-lib-std/src/inputs.sw
  sway-lib-std/src/low_level_call.sw
  sway-lib-std/src/math.sw
  sway-lib-std/src/message.sw
  sway-lib-std/src/option.sw
  sway-lib-std/src/outputs.sw
  sway-lib-std/src/revert.sw
  sway-lib-std/src/storage.sw
  sway-lib-std/src/tx.sw
  sway-lib-std/src/u128.sw
  sway-lib-std/src/u256.sw
  sway-lib-std/src/vec.sw
  sway-lib-std/src/vm.sw
  sway-lib-std/src/vm/evm.sw
  sway-lib-std/src/vm/evm/ecr.sw
  sway-lsp/tests/lib.rs
Labels: lib: std, forc-doc

#4469 Fix hover docs for self and boolean keywords
  sway-lsp/src/capabilities/hover.rs
  sway-lsp/tests/lib.rs
Labels: bug, language server

#4463 feat: exit with 101 from forc-test if there are failing tests
  docs/book/src/testing/unit-testing.md
  forc-util/src/lib.rs
  forc/src/cli/commands/test.rs
Labels: enhancement, forc-test

#4476 Switch the Sway `sdk-harness` tests to use `Forc` workspaces instead of the bash script `build.sh`
  .github/workflows/ci.yml
  test/src/sdk-harness/Forc.lock
  test/src/sdk-harness/Forc.toml
  test/src/sdk-harness/README.md
  test/src/sdk-harness/build.sh
  test/src/sdk-harness/test_projects/block/src/main.sw
  test/src/sdk-harness/test_projects/configurables_in_contract/src/main.sw
  test/src/sdk-harness/test_projects/context/src/main.sw
  test/src/sdk-harness/test_projects/ec_recover_and_match_predicate/src/main.sw
  test/src/sdk-harness/test_projects/evm_ec_recover/Forc.toml
  test/src/sdk-harness/test_projects/generics_in_abi/src/main.sw
  test/src/sdk-harness/test_projects/harness.rs
  test/src/sdk-harness/test_projects/low_level_call/src/main.sw
  test/src/sdk-harness/test_projects/option_in_abi/src/main.sw
  test/src/sdk-harness/test_projects/registers/src/main.sw
  test/src/sdk-harness/test_projects/result_in_abi/src/main.sw
  test/src/sdk-harness/test_projects/storage/src/main.sw
Labels: testing

#4454 Bugfix: use the index param in std::tx::tx_witness_pointer
  sway-lib-std/src/tx.sw
  test/src/sdk-harness/test_projects/tx_fields/mod.rs
Labels: bug, lib: std

#4479 Adding subsection on address and contract types
  docs/book/src/reference/solidity_differences.md
Labels: The Sway Book, documentation

#4425 Implement associated consts for ABIs
  sway-core/src/control_flow_analysis/dead_code_analysis.rs
  sway-core/src/ir_generation/compile.rs
  sway-core/src/ir_generation/const_eval.rs
  sway-core/src/semantic_analysis/ast_node/declaration/abi.rs
  sway-core/src/semantic_analysis/ast_node/declaration/impl_trait.rs
  sway-core/src/semantic_analysis/ast_node/declaration/trait.rs
  test/src/e2e_vm_tests/test_programs/should_fail/abi_associated_const_access/Forc.lock
  test/src/e2e_vm_tests/test_programs/should_fail/abi_associated_const_access/Forc.toml
  test/src/e2e_vm_tests/test_programs/should_fail/abi_associated_const_access/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_fail/abi_associated_const_access/test.toml
  test/src/e2e_vm_tests/test_programs/should_fail/abi_associated_const_missing_impl/Forc.lock
  test/src/e2e_vm_tests/test_programs/should_fail/abi_associated_const_missing_impl/Forc.toml
  test/src/e2e_vm_tests/test_programs/should_fail/abi_associated_const_missing_impl/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_fail/abi_associated_const_missing_impl/test.toml
  test/src/e2e_vm_tests/test_programs/should_fail/abi_associated_const_missing_type_ascription/Forc.lock
  test/src/e2e_vm_tests/test_programs/should_fail/abi_associated_const_missing_type_ascription/Forc.toml
  test/src/e2e_vm_tests/test_programs/should_fail/abi_associated_const_missing_type_ascription/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_fail/abi_associated_const_missing_type_ascription/test.toml
  test/src/e2e_vm_tests/test_programs/should_fail/abi_associated_const_multiple_same_name/Forc.lock
  test/src/e2e_vm_tests/test_programs/should_fail/abi_associated_const_multiple_same_name/Forc.toml
  test/src/e2e_vm_tests/test_programs/should_fail/abi_associated_const_multiple_same_name/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_fail/abi_associated_const_multiple_same_name/test.toml
  test/src/e2e_vm_tests/test_programs/should_pass/language/associated_const_abi/Forc.lock
  test/src/e2e_vm_tests/test_programs/should_pass/language/associated_const_abi/Forc.toml
  test/src/e2e_vm_tests/test_programs/should_pass/language/associated_const_abi/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/language/associated_const_abi/test.toml
  test/src/e2e_vm_tests/test_programs/should_pass/language/associated_const_abi_default/Forc.lock
  test/src/e2e_vm_tests/test_programs/should_pass/language/associated_const_abi_default/Forc.toml
  test/src/e2e_vm_tests/test_programs/should_pass/language/associated_const_abi_default/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/language/associated_const_abi_default/test.toml
  test/src/e2e_vm_tests/test_programs/should_pass/language/associated_const_abi_multiple/Forc.lock
  test/src/e2e_vm_tests/test_programs/should_pass/language/associated_const_abi_multiple/Forc.toml
  test/src/e2e_vm_tests/test_programs/should_pass/language/associated_const_abi_multiple/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/language/associated_const_abi_multiple/test.toml
  test/src/e2e_vm_tests/test_programs/should_pass/language/associated_const_trait_impl_method/Forc.lock
  test/src/e2e_vm_tests/test_programs/should_pass/language/associated_const_trait_impl_method/Forc.toml
  test/src/e2e_vm_tests/test_programs/should_pass/language/associated_const_trait_impl_method/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/language/associated_const_trait_impl_method/test.toml
  test/src/e2e_vm_tests/test_programs/should_pass/test_abis/abi_with_associated_constant/Forc.lock
  test/src/e2e_vm_tests/test_programs/should_pass/test_abis/abi_with_associated_constant/Forc.toml
  test/src/e2e_vm_tests/test_programs/should_pass/test_abis/abi_with_associated_constant/json_abi_oracle.json
  test/src/e2e_vm_tests/test_programs/should_pass/test_abis/abi_with_associated_constant/src/main.sw
Labels: enhancement, compiler, compiler: frontend

#4472 fix(fmt): redundant newline insertions in commented code
  swayfmt/src/utils/map/newline.rs
  swayfmt/tests/mod.rs
Labels: bug, formatter

#4337 Implements aliases support in DCA.
  sway-core/src/control_flow_analysis/dead_code_analysis.rs
  sway-core/src/control_flow_analysis/flow_graph/namespace.rs
  sway-core/src/ir_generation/function.rs
  sway-core/src/language/ty/ast_node.rs
  sway-core/src/language/ty/declaration/declaration.rs
  sway-core/src/language/ty/expression/expression.rs
  sway-core/src/language/ty/expression/expression_variant.rs
  sway-core/src/language/ty/expression/scrutinee.rs
  sway-core/src/semantic_analysis/ast_node/expression/match_expression/typed/matcher.rs
  sway-core/src/semantic_analysis/ast_node/expression/match_expression/typed/typed_scrutinee.rs
  sway-core/src/semantic_analysis/ast_node/expression/typed_expression.rs
  sway-core/src/semantic_analysis/ast_node/expression/typed_expression/enum_instantiation.rs
  sway-core/src/semantic_analysis/ast_node/expression/typed_expression/function_application.rs
  sway-core/src/semantic_analysis/ast_node/expression/typed_expression/method_application.rs
  sway-core/src/semantic_analysis/ast_node/expression/typed_expression/struct_instantiation.rs
  sway-core/src/semantic_analysis/ast_node/expression/typed_expression/unsafe_downcast.rs
  sway-core/src/type_system/ast_elements/binding.rs
  sway-lsp/src/traverse/typed_tree.rs
  test/src/e2e_vm_tests/test_programs/should_fail/type_alias_unknown_type/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/dca/alias_lib/Forc.lock
  test/src/e2e_vm_tests/test_programs/should_pass/dca/alias_lib/Forc.toml
  test/src/e2e_vm_tests/test_programs/should_pass/dca/alias_lib/src/lib.sw
  test/src/e2e_vm_tests/test_programs/should_pass/dca/alias_lib/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/dca/alias_lib/test.toml
  test/src/e2e_vm_tests/test_programs/should_pass/dca/alias_type_ascription/Forc.lock
  test/src/e2e_vm_tests/test_programs/should_pass/dca/alias_type_ascription/Forc.toml
  test/src/e2e_vm_tests/test_programs/should_pass/dca/alias_type_ascription/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/dca/alias_type_ascription/test.toml
  test/src/e2e_vm_tests/test_programs/should_pass/dca/alias_type_ascription_generic/Forc.lock
  test/src/e2e_vm_tests/test_programs/should_pass/dca/alias_type_ascription_generic/Forc.toml
  test/src/e2e_vm_tests/test_programs/should_pass/dca/alias_type_ascription_generic/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/dca/alias_type_ascription_generic/test.toml
  test/src/e2e_vm_tests/test_programs/should_pass/dca/alias_unused/Forc.lock
  test/src/e2e_vm_tests/test_programs/should_pass/dca/alias_unused/Forc.toml
  test/src/e2e_vm_tests/test_programs/should_pass/dca/alias_unused/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/dca/alias_unused/test.toml
  test/src/e2e_vm_tests/test_programs/should_pass/dca/allow_dead_code/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/dca/impl_self/Forc.lock
  test/src/e2e_vm_tests/test_programs/should_pass/dca/impl_self/Forc.toml
  test/src/e2e_vm_tests/test_programs/should_pass/dca/impl_self/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/dca/impl_self/test.toml
  test/src/e2e_vm_tests/test_programs/should_pass/dca/impl_self_alias/Forc.lock
  test/src/e2e_vm_tests/test_programs/should_pass/dca/impl_self_alias/Forc.toml
  test/src/e2e_vm_tests/test_programs/should_pass/dca/impl_self_alias/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/dca/impl_self_alias/test.toml
  test/src/e2e_vm_tests/test_programs/should_pass/dca/impl_self_alias2/Forc.lock
  test/src/e2e_vm_tests/test_programs/should_pass/dca/impl_self_alias2/Forc.toml
  test/src/e2e_vm_tests/test_programs/should_pass/dca/impl_self_alias2/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/dca/impl_self_alias2/test.toml
Labels: P: critical, compiler: frontend, DCA

#4459 Fixes `Self` not found in match statement.
  sway-core/src/semantic_analysis/ast_node/declaration/impl_trait.rs
  test/src/e2e_vm_tests/test_programs/should_pass/language/match_expressions_with_self/src/main.sw
Labels: bug, P: critical, compiler: frontend

#4486 ci: bump ci to use rust 1.69.0
  .github/workflows/ci.yml
  sway-ast/src/brackets.rs
Labels: ci, code quality

#4492 Bump to v0.37.2
  Cargo.lock
  forc-pkg/Cargo.toml
  forc-plugins/forc-client/Cargo.toml
  forc-plugins/forc-doc/Cargo.toml
  forc-plugins/forc-fmt/Cargo.toml
  forc-plugins/forc-lsp/Cargo.toml
  forc-plugins/forc-tx/Cargo.toml
  forc-test/Cargo.toml
  forc-tracing/Cargo.toml
  forc-util/Cargo.toml
  forc/Cargo.toml
  sway-ast/Cargo.toml
  sway-core/Cargo.toml
  sway-error/Cargo.toml
  sway-ir/Cargo.toml
  sway-ir/sway-ir-macros/Cargo.toml
  sway-lsp/Cargo.toml
  sway-parse/Cargo.toml
  sway-types/Cargo.toml
  sway-utils/Cargo.toml
  swayfmt/Cargo.toml
Labels: release

#4488 fix broken installation url, typo
  docs/book/src/introduction/installation.md
Labels: bug, The Sway Book

#4496 ci: extract out verify_tags step from publish job into its own job
  .github/workflows/ci.yml
Labels: ci

#4493 Add block_header_hash() function
  sway-lib-std/src/block.sw
  test/src/sdk-harness/Cargo.lock
  test/src/sdk-harness/test_artifacts/block_test_abi/src/main.sw
  test/src/sdk-harness/test_projects/block/mod.rs
  test/src/sdk-harness/test_projects/block/src/main.sw
Labels: enhancement, lib: std

#3836 Adds support for where clauses in impl self methods.
  sway-core/src/language/call_path.rs
  sway-core/src/semantic_analysis/ast_node/expression/match_expression/typed/typed_scrutinee.rs
  sway-core/src/semantic_analysis/ast_node/expression/typed_expression/method_application.rs
  sway-core/src/transform/to_parsed_lang/convert_parse_tree.rs
  sway-core/src/type_system/ast_elements/type_parameter.rs
  sway-core/src/type_system/mod.rs
  test/src/e2e_vm_tests/test_programs/should_pass/language/generic_impl_self_where/Forc.lock
  test/src/e2e_vm_tests/test_programs/should_pass/language/generic_impl_self_where/Forc.toml
  test/src/e2e_vm_tests/test_programs/should_pass/language/generic_impl_self_where/json_abi_oracle.json
  test/src/e2e_vm_tests/test_programs/should_pass/language/generic_impl_self_where/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/language/generic_impl_self_where/src/traits.sw
  test/src/e2e_vm_tests/test_programs/should_pass/language/generic_impl_self_where/src/traits/nested_traits.sw
  test/src/e2e_vm_tests/test_programs/should_pass/language/generic_impl_self_where/test.toml
  test/src/e2e_vm_tests/test_programs/should_pass/language/where_clause_methods/Forc.lock
  test/src/e2e_vm_tests/test_programs/should_pass/language/where_clause_methods/Forc.toml
  test/src/e2e_vm_tests/test_programs/should_pass/language/where_clause_methods/json_abi_oracle.json
  test/src/e2e_vm_tests/test_programs/should_pass/language/where_clause_methods/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/language/where_clause_methods/test.toml
Labels: language feature, P: critical, compiler: frontend

#4483 Added to msg_sender to prelude and removed from swayfiles
  docs/book/src/introduction/standard_library.md
  docs/reference/src/code/examples/access-control/ownership/src/main.sw
  docs/reference/src/code/examples/wallet/src/main.sw
  docs/reference/src/code/operations/call_data/src/lib.sw
  docs/reference/src/code/operations/storage/storage_map/src/main.sw
  docs/reference/src/code/operations/storage/storage_vec/src/main.sw
  docs/reference/src/documentation/misc/prelude.md
  docs/reference/src/documentation/operations/call-data/msg-sender.md
  examples/cei_analysis/src/main.sw
  examples/identity/src/main.sw
  examples/msg_sender/src/main.sw
  examples/subcurrency/src/main.sw
  examples/wallet_smart_contract/src/main.sw
  sway-lib-std/src/prelude.sw
  test/src/e2e_vm_tests/test_programs/should_fail/better_type_error_message/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_fail/non_payable_non_script_call_with_non_zero_coins/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_fail/non_payable_non_zero_coins_const/src/wallet.sw
  test/src/e2e_vm_tests/test_programs/should_fail/non_payable_non_zero_coins_let_binding/src/wallet.sw
  test/src/e2e_vm_tests/test_programs/should_fail/non_payable_non_zero_coins_literal/src/wallet.sw
  test/src/e2e_vm_tests/test_programs/should_fail/supertraits_for_abis_ownable1/src/ownable.sw
  test/src/e2e_vm_tests/test_programs/should_fail/supertraits_for_abis_ownable2/src/ownable.sw
  test/src/e2e_vm_tests/test_programs/should_pass/non_payable_implicit_zero_coins/src/wallet.sw
  test/src/e2e_vm_tests/test_programs/should_pass/non_payable_zero_coins_let_binding/src/wallet.sw
  test/src/e2e_vm_tests/test_programs/should_pass/payable_non_zero_coins/src/wallet.sw
  test/src/e2e_vm_tests/test_programs/should_pass/static_analysis/cei_pattern_violation_more_complex_logic/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/static_analysis/cei_pattern_violation_storage_map_and_vec/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/static_analysis/cei_pattern_violation_storage_struct_read/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/supertraits_for_abis_ownable/src/ownable.sw
  test/src/sdk-harness/test_artifacts/auth_caller_contract/src/main.sw
  test/src/sdk-harness/test_artifacts/auth_caller_script/src/main.sw
  test/src/sdk-harness/test_artifacts/auth_testing_abi/src/main.sw
  test/src/sdk-harness/test_artifacts/methods_contract/src/main.sw
Labels: enhancement, lib: std, The Sway Book, The Sway Reference

#3731 Where clauses on `impl` blocks
  sway-core/src/semantic_analysis/ast_node/declaration/impl_trait.rs
  test/src/e2e_vm_tests/test_programs/should_fail/where_clause_impls/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_fail/where_clause_impls/test.toml
  test/src/e2e_vm_tests/test_programs/should_pass/language/where_clause_impls/Forc.lock
  test/src/e2e_vm_tests/test_programs/should_pass/language/where_clause_impls/Forc.toml
  test/src/e2e_vm_tests/test_programs/should_pass/language/where_clause_impls/json_abi_oracle.json
  test/src/e2e_vm_tests/test_programs/should_pass/language/where_clause_impls/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/language/where_clause_impls/test.toml
Labels: enhancement, language feature, P: critical, compiler: frontend

#4507 Fix parser panic on empty file
  sway-parse/src/parser.rs
Labels: bug, compiler: parser
