Repository FuelLabs/sway, pull requests merged in 2023-02, with the labels that each got.

#3905 Optimizations to the match exhaustivity checking algorithm
  sway-core/src/semantic_analysis/ast_node/expression/match_expression/analysis/constructor_factory.rs
  sway-core/src/semantic_analysis/ast_node/expression/match_expression/analysis/matrix.rs
  sway-core/src/semantic_analysis/ast_node/expression/match_expression/analysis/pattern.rs
  sway-core/src/semantic_analysis/ast_node/expression/match_expression/analysis/usefulness.rs
  test/src/e2e_vm_tests/test_programs/should_fail/match_expressions_non_exhaustive/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/stdlib/chess/Forc.lock
  test/src/e2e_vm_tests/test_programs/should_pass/stdlib/chess/Forc.toml
  test/src/e2e_vm_tests/test_programs/should_pass/stdlib/chess/src/huge_enum.sw
  test/src/e2e_vm_tests/test_programs/should_pass/stdlib/chess/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/stdlib/chess/test.toml
Labels: compiler

#3942 Traverse IR blocks using a reverse post order traverse of the CFG
  sway-core/src/asm_generation/fuel/functions.rs
  test/src/e2e_vm_tests/test_programs/should_pass/language/complex_cfg/Forc.lock
  test/src/e2e_vm_tests/test_programs/should_pass/language/complex_cfg/Forc.toml
  test/src/e2e_vm_tests/test_programs/should_pass/language/complex_cfg/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/language/complex_cfg/test.toml
  test/src/e2e_vm_tests/test_programs/should_pass/language/configurable_consts/json_abi_oracle.json
  test/src/e2e_vm_tests/test_programs/should_pass/require_contract_deployment/call_basic_storage/src/main.sw
Labels: bug, P: critical, compiler: codegen

#3962 Temporarily remove `assert_eq` from the standard library
  sway-lib-std/src/assert.sw
  sway-lib-std/src/prelude.sw
  test/src/e2e_vm_tests/test_programs/should_pass/language/generic_type_inference/json_abi_oracle.json
  test/src/e2e_vm_tests/test_programs/should_pass/language/generic_type_inference/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/stdlib/assert_eq/test.toml
Labels: lib: std

#3943 Bump to `v0.34.0`
  Cargo.lock
  forc-pkg/Cargo.toml
  forc-plugins/forc-client/Cargo.toml
  forc-plugins/forc-doc/Cargo.toml
  forc-plugins/forc-fmt/Cargo.toml
  forc-plugins/forc-lsp/Cargo.toml
  forc-plugins/forc-tx/Cargo.toml
  forc-test/Cargo.toml
  forc-tracing/Cargo.toml
  forc-util/Cargo.toml
  forc/Cargo.toml
  sway-ast/Cargo.toml
  sway-core/Cargo.toml
  sway-error/Cargo.toml
  sway-ir/Cargo.toml
  sway-ir/sway-ir-macros/Cargo.toml
  sway-lsp/Cargo.toml
  sway-parse/Cargo.toml
  sway-types/Cargo.toml
  sway-utils/Cargo.toml
  swayfmt/Cargo.toml
Labels: release

#3965 Update to latest etk/pest.
  Cargo.lock
  sway-core/Cargo.toml
Labels: compiler, code quality

#3792 Display documentation for sway keywords
  Cargo.lock
  sway-lsp/Cargo.toml
  sway-lsp/src/capabilities/hover.rs
  sway-lsp/src/server.rs
  sway-lsp/src/utils/keyword_docs.rs
  sway-lsp/src/utils/mod.rs
  sway-parse/src/keywords.rs
  sway-parse/src/lib.rs
Labels: enhancement, language server, documentation

#3959 refactor(fmt): move tests
  swayfmt/src/formatter/mod.rs
  swayfmt/tests/mod.rs
Labels: formatter

#3956 fix(fmt): comments in empty traits and structs
  swayfmt/src/comments.rs
  swayfmt/src/formatter/mod.rs
  swayfmt/src/items/item_struct/mod.rs
  swayfmt/src/items/item_trait.rs
  swayfmt/tests/mod.rs
Labels: formatter

#3968 Optimizations to simplify_cfg/merge_blocks
  sway-ir/src/optimize/simplify_cfg.rs
  test/src/e2e_vm_tests/mod.rs
Labels: code quality, compiler: ir

#3969 Update link to Fuel Spec book
  docs/book/src/README.md
Labels: The Sway Book, documentation

#3951 Add error code for assert
  sway-lib-std/src/assert.sw
  sway-lib-std/src/error_signals.sw
  test/src/e2e_vm_tests/test_programs/should_fail/vec_set_index_out_of_bounds/test.toml
  test/src/e2e_vm_tests/test_programs/should_fail/vec_swap_param1_out_of_bounds/test.toml
  test/src/e2e_vm_tests/test_programs/should_fail/vec_swap_param2_out_of_bounds/test.toml
  test/src/e2e_vm_tests/test_programs/should_pass/language/configurable_consts/json_abi_oracle.json
  test/src/e2e_vm_tests/test_programs/should_pass/require_contract_deployment/call_basic_storage/src/main.sw
  test/src/sdk-harness/test_projects/reentrancy/mod.rs
  test/src/sdk-harness/test_projects/storage_vec/array/mod.rs
  test/src/sdk-harness/test_projects/storage_vec/b256/mod.rs
  test/src/sdk-harness/test_projects/storage_vec/bool/mod.rs
  test/src/sdk-harness/test_projects/storage_vec/enum/mod.rs
  test/src/sdk-harness/test_projects/storage_vec/str/mod.rs
  test/src/sdk-harness/test_projects/storage_vec/struct/mod.rs
  test/src/sdk-harness/test_projects/storage_vec/tuple/mod.rs
  test/src/sdk-harness/test_projects/storage_vec/u16/mod.rs
  test/src/sdk-harness/test_projects/storage_vec/u32/mod.rs
  test/src/sdk-harness/test_projects/storage_vec/u64/mod.rs
  test/src/sdk-harness/test_projects/storage_vec/u8/mod.rs
Labels: enhancement, lib: std

#3960 refactor(fmt): cleanup testsuite using helper fn and macro
  swayfmt/tests/macros.rs
  swayfmt/tests/mod.rs
Labels: formatter

#3937 Add CI step for publishing `sway-lib-std` docs
  .github/workflows/ci.yml
  .github/workflows/gh-pages.yml
Labels: ci, lib: std

#3676 Fixes issue with generic trait impls using the same method names.
  sway-core/src/semantic_analysis/namespace/namespace.rs
  sway-core/src/semantic_analysis/namespace/trait_map.rs
  test/src/e2e_vm_tests/test_programs/should_pass/language/generic_traits/src/main.sw
Labels: bug, compiler, P: critical

#3920 Add a new PR template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: documentation

#3971 Add tokens for call paths
  forc-pkg/src/pkg.rs
  sway-core/src/language/parsed/expression/method_name.rs
  sway-core/src/language/ty/expression/expression_variant.rs
  sway-core/src/semantic_analysis/ast_node/expression/match_expression/typed/matcher.rs
  sway-core/src/semantic_analysis/ast_node/expression/typed_expression.rs
  sway-core/src/semantic_analysis/ast_node/expression/typed_expression/constant_declaration.rs
  sway-core/src/semantic_analysis/ast_node/expression/typed_expression/enum_instantiation.rs
  sway-core/src/semantic_analysis/ast_node/expression/typed_expression/method_application.rs
  sway-core/src/semantic_analysis/ast_node/expression/typed_expression/struct_instantiation.rs
  sway-core/src/semantic_analysis/namespace/module.rs
  sway-core/src/semantic_analysis/namespace/namespace.rs
  sway-core/src/type_system/binding.rs
  sway-lsp/src/core/session.rs
  sway-lsp/src/server.rs
  sway-lsp/src/traverse/parsed_tree.rs
  sway-lsp/src/traverse/typed_tree.rs
  sway-lsp/test/fixtures/tokens/paths/.gitignore
  sway-lsp/test/fixtures/tokens/paths/Forc.lock
  sway-lsp/test/fixtures/tokens/paths/Forc.toml
  sway-lsp/test/fixtures/tokens/paths/src/deep_mod.sw
  sway-lsp/test/fixtures/tokens/paths/src/deep_mod/deeper_mod.sw
  sway-lsp/test/fixtures/tokens/paths/src/main.sw
  sway-lsp/test/fixtures/tokens/paths/src/test_mod.sw
Labels: compiler, language server, compiler: frontend

#3984 Updated `mdbook` verson in CI
  .github/workflows/ci.yml
  .github/workflows/gh-pages.yml
Labels: ci

#3986 fix: prevent duplicate sway unit test execution
  forc-test/src/lib.rs
Labels: bug, forc-test

#3987 refactor: general clean-up for `forc-test`
  forc-pkg/src/pkg.rs
  forc-test/src/lib.rs
Labels: code quality, forc-test

#3983 Update sway book `README`
  docs/book/README.md
  scripts/mdbook-forc-documenter/README.md
Labels: documentation

#3993 Add tokens for import statements
  sway-core/src/control_flow_analysis/analyze_return_paths.rs
  sway-core/src/control_flow_analysis/dead_code_analysis.rs
  sway-core/src/ir_generation/const_eval.rs
  sway-core/src/ir_generation/function.rs
  sway-core/src/language/parsed/use_statement.rs
  sway-core/src/language/ty/ast_node.rs
  sway-core/src/language/ty/mod.rs
  sway-core/src/language/ty/side_effect/mod.rs
  sway-core/src/language/ty/side_effect/side_effect.rs
  sway-core/src/language/ty/side_effect/use_statement.rs
  sway-core/src/semantic_analysis/ast_node/declaration/impl_trait.rs
  sway-core/src/semantic_analysis/ast_node/mod.rs
  sway-core/src/semantic_analysis/cei_pattern_analysis.rs
  sway-core/src/semantic_analysis/storage_only_types.rs
  sway-core/src/transform/to_parsed_lang/convert_parse_tree.rs
  sway-lsp/src/core/token.rs
  sway-lsp/src/server.rs
  sway-lsp/src/traverse/parsed_tree.rs
  sway-lsp/src/traverse/typed_tree.rs
  sway-lsp/src/utils/debug.rs
  sway-lsp/test/fixtures/tokens/paths/src/main.sw
Labels: compiler, language server, compiler: frontend

#3990 Add goto and hover tests for `TyConstantDeclaration` tokens
  sway-lsp/src/server.rs
  sway-lsp/src/utils/keyword_docs.rs
  sway-lsp/test/fixtures/tokens/consts/.gitignore
  sway-lsp/test/fixtures/tokens/consts/Forc.toml
  sway-lsp/test/fixtures/tokens/consts/src/main.sw
  sway-lsp/test/fixtures/tokens/consts/src/more_consts.sw
  sway-lsp/test/fixtures/tokens/variables/src/main.sw
Labels: language server, testing

#3979 Enter tracking for comment continuation
  sway-lsp/src/capabilities/mod.rs
  sway-lsp/src/capabilities/on_enter.rs
  sway-lsp/src/config.rs
  sway-lsp/src/core/document.rs
  sway-lsp/src/core/session.rs
  sway-lsp/src/server.rs
  sway-lsp/test/fixtures/diagnostics/dead_code/src/main.sw
Labels: enhancement, language server

#3698 Remove reentrancy library
  docs/book/src/blockchain-development/calling_contracts.md
  docs/reference/src/code/operations/re_entrency/Forc.lock
  docs/reference/src/code/operations/re_entrency/Forc.toml
  docs/reference/src/code/operations/re_entrency/src/main.sw
  docs/reference/src/documentation/operations/reentrancy.md
  sway-lib-std/src/lib.sw
  sway-lib-std/src/reentrancy.sw
  test/src/sdk-harness/test_artifacts/reentrancy_attacker_abi/.gitignore
  test/src/sdk-harness/test_artifacts/reentrancy_attacker_abi/Forc.lock
  test/src/sdk-harness/test_artifacts/reentrancy_attacker_abi/Forc.toml
  test/src/sdk-harness/test_artifacts/reentrancy_attacker_abi/src/main.sw
  test/src/sdk-harness/test_artifacts/reentrancy_attacker_contract/.gitignore
  test/src/sdk-harness/test_artifacts/reentrancy_attacker_contract/Forc.lock
  test/src/sdk-harness/test_artifacts/reentrancy_attacker_contract/Forc.toml
  test/src/sdk-harness/test_artifacts/reentrancy_attacker_contract/src/main.sw
  test/src/sdk-harness/test_artifacts/reentrancy_target_abi/.gitignore
  test/src/sdk-harness/test_artifacts/reentrancy_target_abi/Forc.lock
  test/src/sdk-harness/test_artifacts/reentrancy_target_abi/Forc.toml
  test/src/sdk-harness/test_artifacts/reentrancy_target_abi/src/main.sw
  test/src/sdk-harness/test_artifacts/reentrancy_target_contract/.gitignore
  test/src/sdk-harness/test_artifacts/reentrancy_target_contract/Forc.lock
  test/src/sdk-harness/test_artifacts/reentrancy_target_contract/Forc.toml
  test/src/sdk-harness/test_artifacts/reentrancy_target_contract/src/main.sw
  test/src/sdk-harness/test_projects/harness.rs
  test/src/sdk-harness/test_projects/reentrancy/mod.rs
Labels: lib: std, breaking

#3856 A new pass manager
  Cargo.lock
  sway-core/src/lib.rs
  sway-core/src/metadata.rs
  sway-ir/Cargo.toml
  sway-ir/src/bin/opt.rs
  sway-ir/src/optimize/constants.rs
  sway-ir/src/optimize/dce.rs
  sway-ir/src/optimize/inline.rs
  sway-ir/src/optimize/mem2reg.rs
  sway-ir/src/optimize/simplify_cfg.rs
  sway-ir/src/pass_manager.rs
  sway-ir/tests/tests.rs
  test/src/ir_generation/mod.rs
Labels: compiler: ir

#4009 Remove unused configurables from the JSON ABI
  forc-pkg/src/pkg.rs
  test/src/e2e_vm_tests/test_programs/should_pass/language/configurable_consts/src/main.sw
Labels: forc, ABI, forc-pkg

#3991 Fixes unrelated error while using unknown generic type parameter.
  sway-core/src/type_system/binding.rs
  test/src/e2e_vm_tests/test_programs/should_fail/insufficient_type_info/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_fail/insufficient_type_info/test.toml
  test/src/e2e_vm_tests/test_programs/should_fail/insufficient_type_info_fnret/test.toml
Labels: bug, compiler: frontend, compiler: ui

#4007 Fixes regression caused by enum and struct callpaths.
  sway-core/src/type_system/unify.rs
  sway-core/src/type_system/unify_check.rs
  test/src/e2e_vm_tests/test_programs/should_fail/multiple_enums_with_the_same_name/test.toml
  test/src/e2e_vm_tests/test_programs/should_fail/multiple_structs_with_the_same_name/test.toml
  test/src/e2e_vm_tests/test_programs/should_pass/language/import_with_different_callpaths/Forc.lock
  test/src/e2e_vm_tests/test_programs/should_pass/language/import_with_different_callpaths/Forc.toml
  test/src/e2e_vm_tests/test_programs/should_pass/language/import_with_different_callpaths/json_abi_oracle.json
  test/src/e2e_vm_tests/test_programs/should_pass/language/import_with_different_callpaths/src/data_structures.sw
  test/src/e2e_vm_tests/test_programs/should_pass/language/import_with_different_callpaths/src/eq_impls.sw
  test/src/e2e_vm_tests/test_programs/should_pass/language/import_with_different_callpaths/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/language/import_with_different_callpaths/test.toml
Labels: bug, P: critical, compiler: frontend

#4015 Reorganize LSP tests
  Cargo.lock
  sway-lsp/Cargo.toml
  sway-lsp/src/capabilities/on_enter.rs
  sway-lsp/src/core/document.rs
  sway-lsp/src/core/session.rs
  sway-lsp/src/lib.rs
  sway-lsp/src/server.rs
  sway-lsp/src/utils/keyword_docs.rs
  sway-lsp/src/utils/mod.rs
  sway-lsp/src/utils/test.rs
  sway-lsp/tests/fixtures/cats.txt
  sway-lsp/tests/fixtures/diagnostics/dead_code/.gitignore
  sway-lsp/tests/fixtures/diagnostics/dead_code/Forc.lock
  sway-lsp/tests/fixtures/diagnostics/dead_code/Forc.toml
  sway-lsp/tests/fixtures/diagnostics/dead_code/expected.json
  sway-lsp/tests/fixtures/diagnostics/dead_code/src/main.sw
  sway-lsp/tests/fixtures/tokens/consts/.gitignore
  sway-lsp/tests/fixtures/tokens/consts/Forc.toml
  sway-lsp/tests/fixtures/tokens/consts/src/main.sw
  sway-lsp/tests/fixtures/tokens/consts/src/more_consts.sw
  sway-lsp/tests/fixtures/tokens/modules/.gitignore
  sway-lsp/tests/fixtures/tokens/modules/Forc.lock
  sway-lsp/tests/fixtures/tokens/modules/Forc.toml
  sway-lsp/tests/fixtures/tokens/modules/src/dir_mod/mod.sw
  sway-lsp/tests/fixtures/tokens/modules/src/lib.sw
  sway-lsp/tests/fixtures/tokens/modules/src/test_mod.sw
  sway-lsp/tests/fixtures/tokens/paths/.gitignore
  sway-lsp/tests/fixtures/tokens/paths/Forc.lock
  sway-lsp/tests/fixtures/tokens/paths/Forc.toml
  sway-lsp/tests/fixtures/tokens/paths/src/deep_mod.sw
  sway-lsp/tests/fixtures/tokens/paths/src/deep_mod/deeper_mod.sw
  sway-lsp/tests/fixtures/tokens/paths/src/main.sw
  sway-lsp/tests/fixtures/tokens/paths/src/test_mod.sw
  sway-lsp/tests/fixtures/tokens/traits/.gitignore
  sway-lsp/tests/fixtures/tokens/traits/Forc.lock
  sway-lsp/tests/fixtures/tokens/traits/Forc.toml
  sway-lsp/tests/fixtures/tokens/traits/src/main.sw
  sway-lsp/tests/fixtures/tokens/traits/src/traits.sw
  sway-lsp/tests/fixtures/tokens/turbofish/.gitignore
  sway-lsp/tests/fixtures/tokens/turbofish/Forc.lock
  sway-lsp/tests/fixtures/tokens/turbofish/Forc.toml
  sway-lsp/tests/fixtures/tokens/turbofish/src/main.sw
  sway-lsp/tests/fixtures/tokens/variables/.gitignore
  sway-lsp/tests/fixtures/tokens/variables/Forc.lock
  sway-lsp/tests/fixtures/tokens/variables/Forc.toml
  sway-lsp/tests/fixtures/tokens/variables/src/main.sw
  sway-lsp/tests/integration/lsp.rs
  sway-lsp/tests/integration/mod.rs
  sway-lsp/tests/lib.rs
  sway-lsp/tests/utils/Cargo.toml
  sway-lsp/tests/utils/src/lib.rs
Labels: language server, code quality, testing

#4004 Update all crates for recent `fuel-asm` refactor. `fuel-vm` -> `0.26`, `fuel-core` -> `0.17`.
  .github/workflows/ci.yml
  Cargo.lock
  Cargo.toml
  docs/book/src/SUMMARY.md
  forc-test/src/lib.rs
  forc/src/cli/commands/parse_bytecode.rs
  sway-core/src/asm_generation/finalized_asm.rs
  sway-core/src/asm_lang/allocated_ops.rs
  sway-core/src/asm_lang/virtual_register.rs
Labels: compiler, forc, compiler: codegen

#3961 Fuel Core v0.17.0 Upgrade
  .github/workflows/ci.yml
  Cargo.lock
  Cargo.toml
  ci_checks.sh
  forc-plugins/forc-client/Cargo.toml
  forc-plugins/forc-client/src/cmd/deploy.rs
  forc-plugins/forc-client/src/cmd/run.rs
  forc-plugins/forc-client/src/op/deploy.rs
  forc-plugins/forc-client/src/op/run.rs
  forc-plugins/forc-client/src/util/tx.rs
  forc-plugins/forc-doc/Cargo.toml
  forc-plugins/forc-tx/Cargo.toml
  forc-test/Cargo.toml
  forc-test/src/lib.rs
  forc-util/Cargo.toml
  forc-util/src/lib.rs
  forc/Cargo.toml
  forc/src/cli/commands/parse_bytecode.rs
  scripts/examples-checker/Cargo.toml
  scripts/mdbook-forc-documenter/Cargo.toml
  sway-core/Cargo.toml
  sway-core/src/asm_generation/finalized_asm.rs
  sway-core/src/asm_lang/allocated_ops.rs
  sway-core/src/asm_lang/virtual_register.rs
  sway-lib-std/src/inputs.sw
  sway-types/Cargo.toml
  templates/sway-test-rs/template/Cargo.toml
  templates/sway-test-rs/template/tests/harness.rs
  test/Cargo.toml
  test/src/e2e_vm_tests/harness.rs
  test/src/e2e_vm_tests/test_programs/should_pass/language/multi_impl_self/tests/harness.rs
  test/src/ir_generation/tests/predicate_data_mult_args.sw
  test/src/ir_generation/tests/predicate_data_single_arg.sw
  test/src/sdk-harness/Cargo.toml
  test/src/sdk-harness/test_projects/contract_bytecode/mod.rs
  test/src/sdk-harness/test_projects/ec_recover/mod.rs
  test/src/sdk-harness/test_projects/ec_recover_and_match_predicate/mod.rs
  test/src/sdk-harness/test_projects/evm/mod.rs
  test/src/sdk-harness/test_projects/evm_ec_recover/mod.rs
  test/src/sdk-harness/test_projects/generics_in_abi/mod.rs
  test/src/sdk-harness/test_projects/hashing/mod.rs
  test/src/sdk-harness/test_projects/low_level_call/mod.rs
  test/src/sdk-harness/test_projects/messages/mod.rs
  test/src/sdk-harness/test_projects/option_in_abi/mod.rs
  test/src/sdk-harness/test_projects/parsing_logs/mod.rs
  test/src/sdk-harness/test_projects/predicate_data_simple/mod.rs
  test/src/sdk-harness/test_projects/predicate_data_struct/mod.rs
  test/src/sdk-harness/test_projects/result_in_abi/mod.rs
  test/src/sdk-harness/test_projects/script_bytecode/mod.rs
  test/src/sdk-harness/test_projects/script_data/mod.rs
  test/src/sdk-harness/test_projects/storage/mod.rs
  test/src/sdk-harness/test_projects/storage_map/mod.rs
  test/src/sdk-harness/test_projects/storage_vec/b256/utils.rs
  test/src/sdk-harness/test_projects/storage_vec/str/utils.rs
  test/src/sdk-harness/test_projects/token_ops/mod.rs
  test/src/sdk-harness/test_projects/tx_fields/mod.rs
  test/src/sdk-harness/test_projects/vec_in_abi/mod.rs
Labels: ci, dependencies

#4001 Introduce a `StorageBytes` type in the standard library
  sway-lib-std/src/lib.sw
  sway-lib-std/src/storage.sw
  test/src/sdk-harness/test_projects/harness.rs
  test/src/sdk-harness/test_projects/storage_bytes/.gitignore
  test/src/sdk-harness/test_projects/storage_bytes/Forc.lock
  test/src/sdk-harness/test_projects/storage_bytes/Forc.toml
  test/src/sdk-harness/test_projects/storage_bytes/mod.rs
  test/src/sdk-harness/test_projects/storage_bytes/src/main.sw
Labels: enhancement, lib: std

#4028 Add a new `name` field on `DeclId` and remove some unnecessary lookups in the `DeclEngine`
  sway-core/src/asm_generation/fuel/functions.rs
  sway-core/src/control_flow_analysis/analyze_return_paths.rs
  sway-core/src/control_flow_analysis/dead_code_analysis.rs
  sway-core/src/control_flow_analysis/flow_graph/mod.rs
  sway-core/src/decl_engine/engine.rs
  sway-core/src/decl_engine/id.rs
  sway-core/src/decl_engine/mapping.rs
  sway-core/src/decl_engine/mod.rs
  sway-core/src/decl_engine/wrapper.rs
  sway-core/src/language/ty/ast_node.rs
  sway-core/src/language/ty/declaration/declaration.rs
  sway-core/src/language/ty/program.rs
  sway-core/src/semantic_analysis/ast_node/declaration/impl_trait.rs
  sway-core/src/semantic_analysis/ast_node/declaration/trait.rs
  sway-core/src/semantic_analysis/namespace/namespace.rs
  sway-core/src/semantic_analysis/namespace/trait_map.rs
  sway-core/src/type_system/type_parameter.rs
  sway-lsp/src/core/session.rs
  sway-lsp/src/traverse/dependency.rs
  sway-lsp/src/traverse/typed_tree.rs
Labels: code quality, compiler: frontend

#4033 Remove branch based fuel-core dep for sdk-harness
  test/src/sdk-harness/Cargo.toml
  test/src/sdk-harness/test_projects/predicate_data_simple/mod.rs
  test/src/sdk-harness/test_projects/predicate_data_struct/mod.rs
  test/src/sdk-harness/test_projects/tx_fields/mod.rs
Labels: ci, P: critical

#4014 Add `HashWithEngines` impls for more types
  sway-ast/src/intrinsics.rs
  sway-core/src/decl_engine/id.rs
  sway-core/src/decl_engine/wrapper.rs
  sway-core/src/engine_threading.rs
  sway-core/src/language/asm.rs
  sway-core/src/language/literal.rs
  sway-core/src/language/parsed/declaration/trait.rs
  sway-core/src/language/parsed/use_statement.rs
  sway-core/src/language/ty/ast_node.rs
  sway-core/src/language/ty/code_block.rs
  sway-core/src/language/ty/declaration/abi.rs
  sway-core/src/language/ty/declaration/constant.rs
  sway-core/src/language/ty/declaration/declaration.rs
  sway-core/src/language/ty/declaration/enum.rs
  sway-core/src/language/ty/declaration/function.rs
  sway-core/src/language/ty/declaration/impl_trait.rs
  sway-core/src/language/ty/declaration/storage.rs
  sway-core/src/language/ty/declaration/struct.rs
  sway-core/src/language/ty/declaration/trait.rs
  sway-core/src/language/ty/declaration/trait_fn.rs
  sway-core/src/language/ty/declaration/variable.rs
  sway-core/src/language/ty/expression/asm.rs
  sway-core/src/language/ty/expression/expression.rs
  sway-core/src/language/ty/expression/expression_variant.rs
  sway-core/src/language/ty/expression/intrinsic_function.rs
  sway-core/src/language/ty/expression/reassignment.rs
  sway-core/src/language/ty/expression/storage.rs
  sway-core/src/language/ty/expression/struct_exp_field.rs
  sway-core/src/language/ty/side_effect/side_effect.rs
  sway-core/src/language/ty/side_effect/use_statement.rs
  sway-core/src/language/ty/variable_mutability.rs
  sway-core/src/lib.rs
  sway-core/src/transform/attribute.rs
  sway-core/src/type_system/binding.rs
  sway-core/src/type_system/engine.rs
  sway-core/src/type_system/info.rs
  sway-core/src/type_system/trait_constraint.rs
  sway-core/src/type_system/type_argument.rs
  sway-core/src/type_system/type_parameter.rs
  sway-types/src/state.rs
Labels: code quality, compiler: frontend

#4031 LSP tests for `TyFunctionDeclaration`
  sway-lsp/tests/fixtures/tokens/functions/.gitignore
  sway-lsp/tests/fixtures/tokens/functions/Forc.toml
  sway-lsp/tests/fixtures/tokens/functions/src/main.sw
  sway-lsp/tests/lib.rs
Labels: language server, testing

#3885 Add a `forc-submit` plugin command for submitting txs to a given node
  .github/workflows/ci.yml
  Cargo.lock
  docs/book/README.md
  docs/book/src/SUMMARY.md
  docs/book/src/forc/plugins/forc_client/forc_submit.md
  forc-plugins/forc-client/Cargo.toml
  forc-plugins/forc-client/src/bin/deploy.rs
  forc-plugins/forc-client/src/bin/run.rs
  forc-plugins/forc-client/src/bin/submit.rs
  forc-plugins/forc-client/src/cmd/deploy.rs
  forc-plugins/forc-client/src/cmd/mod.rs
  forc-plugins/forc-client/src/cmd/run.rs
  forc-plugins/forc-client/src/cmd/submit.rs
  forc-plugins/forc-client/src/lib.rs
  forc-plugins/forc-client/src/op/deploy.rs
  forc-plugins/forc-client/src/op/mod.rs
  forc-plugins/forc-client/src/op/run.rs
  forc-plugins/forc-client/src/op/submit.rs
Labels: forc, forc-client, forc-tx, forc-submit

#4035 Add tokens for match scrutinees
  sway-core/src/control_flow_analysis/dead_code_analysis.rs
  sway-core/src/ir_generation/const_eval.rs
  sway-core/src/ir_generation/function.rs
  sway-core/src/language/ty/expression/expression.rs
  sway-core/src/language/ty/expression/expression_variant.rs
  sway-core/src/language/ty/expression/mod.rs
  sway-core/src/language/ty/expression/scrutinee.rs
  sway-core/src/semantic_analysis/ast_node/declaration/impl_trait.rs
  sway-core/src/semantic_analysis/ast_node/expression/match_expression/analysis/pattern.rs
  sway-core/src/semantic_analysis/ast_node/expression/match_expression/typed/matcher.rs
  sway-core/src/semantic_analysis/ast_node/expression/match_expression/typed/typed_scrutinee.rs
  sway-core/src/semantic_analysis/ast_node/expression/typed_expression.rs
  sway-core/src/semantic_analysis/cei_pattern_analysis.rs
  sway-core/src/semantic_analysis/coins_analysis.rs
  sway-core/src/semantic_analysis/storage_only_types.rs
  sway-lsp/src/core/token.rs
  sway-lsp/src/traverse/parsed_tree.rs
  sway-lsp/src/traverse/typed_tree.rs
  sway-lsp/tests/fixtures/tokens/matches/.gitignore
  sway-lsp/tests/fixtures/tokens/matches/Forc.lock
  sway-lsp/tests/fixtures/tokens/matches/Forc.toml
  sway-lsp/tests/fixtures/tokens/matches/src/main.sw
  sway-lsp/tests/integration/lsp.rs
  sway-lsp/tests/lib.rs
Labels: language server, compiler: frontend

#3795 Adds support for `Enum::<T>::Variant`.
  sway-core/src/semantic_analysis/ast_node/expression/intrinsic_function.rs
  sway-core/src/semantic_analysis/ast_node/expression/typed_expression.rs
  sway-core/src/semantic_analysis/ast_node/expression/typed_expression/method_application.rs
  sway-core/src/semantic_analysis/ast_node/expression/typed_expression/struct_instantiation.rs
  sway-core/src/semantic_analysis/node_dependencies.rs
  sway-core/src/transform/to_parsed_lang/convert_parse_tree.rs
  sway-core/src/type_system/binding.rs
  sway-error/src/convert_parse_tree_error.rs
  sway-error/src/error.rs
  sway-lsp/src/traverse/parsed_tree.rs
  sway-lsp/src/traverse/typed_tree.rs
  test/src/e2e_vm_tests/test_programs/should_fail/generics_multiple_type_arguments/Forc.lock
  test/src/e2e_vm_tests/test_programs/should_fail/generics_multiple_type_arguments/Forc.toml
  test/src/e2e_vm_tests/test_programs/should_fail/generics_multiple_type_arguments/json_abi_oracle.json
  test/src/e2e_vm_tests/test_programs/should_fail/generics_multiple_type_arguments/src/inner_lib.sw
  test/src/e2e_vm_tests/test_programs/should_fail/generics_multiple_type_arguments/src/lib_a.sw
  test/src/e2e_vm_tests/test_programs/should_fail/generics_multiple_type_arguments/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_fail/generics_multiple_type_arguments/test.toml
  test/src/e2e_vm_tests/test_programs/should_fail/generics_not_supported/Forc.lock
  test/src/e2e_vm_tests/test_programs/should_fail/generics_not_supported/Forc.toml
  test/src/e2e_vm_tests/test_programs/should_fail/generics_not_supported/json_abi_oracle.json
  test/src/e2e_vm_tests/test_programs/should_fail/generics_not_supported/src/inner_lib.sw
  test/src/e2e_vm_tests/test_programs/should_fail/generics_not_supported/src/lib_a.sw
  test/src/e2e_vm_tests/test_programs/should_fail/generics_not_supported/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_fail/generics_not_supported/test.toml
  test/src/e2e_vm_tests/test_programs/should_pass/language/generic_enum/src/main.sw
Labels: bug, language feature, breaking, P: critical, compiler: parser

#4041 Fix reference formatting in forc doc
  forc-plugins/forc-doc/src/render.rs
Labels: P: critical, forc-doc

#4044 Update links in libraries.md
  docs/book/src/sway-program-types/libraries.md
Labels: The Sway Book

#4042 Add tokens for function parameters, return types and type ascriptions
  forc-plugins/forc-doc/src/render.rs
  sway-core/src/abi_generation/evm_json_abi.rs
  sway-core/src/abi_generation/fuel_json_abi.rs
  sway-core/src/control_flow_analysis/analyze_return_paths.rs
  sway-core/src/control_flow_analysis/dead_code_analysis.rs
  sway-core/src/ir_generation/compile.rs
  sway-core/src/ir_generation/function.rs
  sway-core/src/language/parsed/declaration/constant.rs
  sway-core/src/language/parsed/declaration/function.rs
  sway-core/src/language/parsed/declaration/variable.rs
  sway-core/src/language/ty/declaration/constant.rs
  sway-core/src/language/ty/declaration/declaration.rs
  sway-core/src/language/ty/declaration/function.rs
  sway-core/src/language/ty/declaration/variable.rs
  sway-core/src/language/ty/program.rs
  sway-core/src/semantic_analysis/ast_node/declaration/abi.rs
  sway-core/src/semantic_analysis/ast_node/declaration/declaration.rs
  sway-core/src/semantic_analysis/ast_node/declaration/function.rs
  sway-core/src/semantic_analysis/ast_node/declaration/function/function_parameter.rs
  sway-core/src/semantic_analysis/ast_node/declaration/impl_trait.rs
  sway-core/src/semantic_analysis/ast_node/declaration/trait.rs
  sway-core/src/semantic_analysis/ast_node/declaration/trait_fn.rs
  sway-core/src/semantic_analysis/ast_node/expression/match_expression/typed/typed_match_branch.rs
  sway-core/src/semantic_analysis/ast_node/expression/typed_expression.rs
  sway-core/src/semantic_analysis/ast_node/expression/typed_expression/function_application.rs
  sway-core/src/semantic_analysis/ast_node/expression/typed_expression/method_application.rs
  sway-core/src/semantic_analysis/namespace/namespace.rs
  sway-core/src/semantic_analysis/node_dependencies.rs
  sway-core/src/semantic_analysis/storage_only_types.rs
  sway-core/src/transform/to_parsed_lang/convert_parse_tree.rs
  sway-core/src/type_system/type_argument.rs
  sway-lsp/src/capabilities/code_actions/abi_impl.rs
  sway-lsp/src/capabilities/hover.rs
  sway-lsp/src/capabilities/inlay_hints.rs
  sway-lsp/src/traverse/parsed_tree.rs
  sway-lsp/src/traverse/typed_tree.rs
  sway-lsp/tests/fixtures/tokens/consts/src/main.sw
  sway-lsp/tests/fixtures/tokens/variables/src/main.sw
  sway-lsp/tests/lib.rs
Labels: compiler, language server, compiler: frontend

#4039 Update installation.md for beta-3
  docs/book/src/introduction/installation.md
Labels: The Sway Book, documentation

#4026 Changes TypeInfo::Custom to have call paths.
  sway-core/src/abi_generation/evm_json_abi.rs
  sway-core/src/abi_generation/fuel_json_abi.rs
  sway-core/src/language/parsed/expression/scrutinee.rs
  sway-core/src/semantic_analysis/ast_node/declaration/impl_trait.rs
  sway-core/src/semantic_analysis/ast_node/expression/match_expression/typed/typed_scrutinee.rs
  sway-core/src/semantic_analysis/ast_node/expression/typed_expression.rs
  sway-core/src/semantic_analysis/ast_node/expression/typed_expression/method_application.rs
  sway-core/src/semantic_analysis/ast_node/expression/typed_expression/struct_instantiation.rs
  sway-core/src/semantic_analysis/namespace/root.rs
  sway-core/src/semantic_analysis/namespace/trait_map.rs
  sway-core/src/semantic_analysis/node_dependencies.rs
  sway-core/src/transform/to_parsed_lang/convert_parse_tree.rs
  sway-core/src/type_system/engine.rs
  sway-core/src/type_system/id.rs
  sway-core/src/type_system/info.rs
  sway-core/src/type_system/unify_check.rs
  sway-lsp/src/core/token.rs
  sway-lsp/src/traverse/parsed_tree.rs
  sway-lsp/src/traverse/typed_tree.rs
  test/src/e2e_vm_tests/test_programs/should_fail/invalid_fully_qualified_type/Forc.lock
  test/src/e2e_vm_tests/test_programs/should_fail/invalid_fully_qualified_type/Forc.toml
  test/src/e2e_vm_tests/test_programs/should_fail/invalid_fully_qualified_type/src/foo.sw
  test/src/e2e_vm_tests/test_programs/should_fail/invalid_fully_qualified_type/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_fail/invalid_fully_qualified_type/test.toml
  test/src/e2e_vm_tests/test_programs/should_pass/language/typeinfo_custom_callpath/Forc.lock
  test/src/e2e_vm_tests/test_programs/should_pass/language/typeinfo_custom_callpath/Forc.toml
  test/src/e2e_vm_tests/test_programs/should_pass/language/typeinfo_custom_callpath/json_abi_oracle.json
  test/src/e2e_vm_tests/test_programs/should_pass/language/typeinfo_custom_callpath/src/foo.sw
  test/src/e2e_vm_tests/test_programs/should_pass/language/typeinfo_custom_callpath/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/language/typeinfo_custom_callpath/test.toml
  test/src/e2e_vm_tests/test_programs/should_pass/language/typeinfo_custom_callpath2/Forc.lock
  test/src/e2e_vm_tests/test_programs/should_pass/language/typeinfo_custom_callpath2/Forc.toml
  test/src/e2e_vm_tests/test_programs/should_pass/language/typeinfo_custom_callpath2/json_abi_oracle.json
  test/src/e2e_vm_tests/test_programs/should_pass/language/typeinfo_custom_callpath2/src/foo.sw
  test/src/e2e_vm_tests/test_programs/should_pass/language/typeinfo_custom_callpath2/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/language/typeinfo_custom_callpath2/test.toml
  test/src/e2e_vm_tests/test_programs/should_pass/language/typeinfo_custom_callpath_with_import/Forc.lock
  test/src/e2e_vm_tests/test_programs/should_pass/language/typeinfo_custom_callpath_with_import/Forc.toml
  test/src/e2e_vm_tests/test_programs/should_pass/language/typeinfo_custom_callpath_with_import/json_abi_oracle.json
  test/src/e2e_vm_tests/test_programs/should_pass/language/typeinfo_custom_callpath_with_import/src/foo.sw
  test/src/e2e_vm_tests/test_programs/should_pass/language/typeinfo_custom_callpath_with_import/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/language/typeinfo_custom_callpath_with_import/test.toml
Labels: enhancement, language feature, compiler: frontend, compiler: parser

#4048 Change hyphens to underscores for library names when running `forc new/init`
  forc/src/ops/forc_init.rs
Labels: bug, forc

#4061 Fix suffix token handling for enum and struct
  sway-core/src/language/ty/expression/expression.rs
  sway-core/src/language/ty/expression/expression_variant.rs
  sway-core/src/semantic_analysis/ast_node/expression/typed_expression.rs
  sway-core/src/semantic_analysis/ast_node/expression/typed_expression/enum_instantiation.rs
  sway-lsp/src/traverse/typed_tree.rs
  sway-lsp/tests/fixtures/tokens/paths/src/deep_mod/deeper_mod.sw
  sway-lsp/tests/fixtures/tokens/paths/src/main.sw
  sway-lsp/tests/lib.rs
Labels: compiler, language server, compiler: frontend

#4066 Add tokens for generic custom type fields
  forc-plugins/forc-doc/src/render.rs
  sway-core/src/abi_generation/evm_json_abi.rs
  sway-core/src/abi_generation/fuel_json_abi.rs
  sway-core/src/control_flow_analysis/dead_code_analysis.rs
  sway-core/src/ir_generation/convert.rs
  sway-core/src/ir_generation/types.rs
  sway-core/src/language/parsed/declaration/enum.rs
  sway-core/src/language/parsed/declaration/storage.rs
  sway-core/src/language/parsed/declaration/struct.rs
  sway-core/src/language/ty/declaration/enum.rs
  sway-core/src/language/ty/declaration/storage.rs
  sway-core/src/language/ty/declaration/struct.rs
  sway-core/src/language/ty/expression/expression.rs
  sway-core/src/language/ty/program.rs
  sway-core/src/semantic_analysis/ast_node/declaration/declaration.rs
  sway-core/src/semantic_analysis/ast_node/declaration/enum.rs
  sway-core/src/semantic_analysis/ast_node/declaration/struct.rs
  sway-core/src/semantic_analysis/ast_node/expression/typed_expression/enum_instantiation.rs
  sway-core/src/semantic_analysis/ast_node/expression/typed_expression/struct_field_access.rs
  sway-core/src/semantic_analysis/ast_node/expression/typed_expression/struct_instantiation.rs
  sway-core/src/semantic_analysis/ast_node/expression/typed_expression/unsafe_downcast.rs
  sway-core/src/semantic_analysis/ast_node/mod.rs
  sway-core/src/semantic_analysis/namespace/items.rs
  sway-core/src/semantic_analysis/namespace/trait_map.rs
  sway-core/src/semantic_analysis/node_dependencies.rs
  sway-core/src/semantic_analysis/storage_only_types.rs
  sway-core/src/transform/to_parsed_lang/convert_parse_tree.rs
  sway-core/src/type_system/id.rs
  sway-core/src/type_system/info.rs
  sway-core/src/type_system/mod.rs
  sway-core/src/type_system/substitute.rs
  sway-core/src/type_system/unify.rs
  sway-lsp/src/capabilities/hover.rs
  sway-lsp/src/traverse/parsed_tree.rs
  sway-lsp/src/traverse/typed_tree.rs
  sway-lsp/tests/fixtures/tokens/consts/src/main.sw
  sway-lsp/tests/fixtures/tokens/fields/.gitignore
  sway-lsp/tests/fixtures/tokens/fields/Forc.lock
  sway-lsp/tests/fixtures/tokens/fields/Forc.toml
  sway-lsp/tests/fixtures/tokens/fields/src/main.sw
  sway-lsp/tests/lib.rs
Labels: compiler, language server, compiler: frontend

#4057 LSP tests for `TyEnumDeclaration` and `TyStructDeclaration`
  sway-lsp/tests/fixtures/tokens/enums/.gitignore
  sway-lsp/tests/fixtures/tokens/enums/Forc.toml
  sway-lsp/tests/fixtures/tokens/enums/src/main.sw
  sway-lsp/tests/fixtures/tokens/functions/src/main.sw
  sway-lsp/tests/fixtures/tokens/structs/.gitignore
  sway-lsp/tests/fixtures/tokens/structs/Forc.toml
  sway-lsp/tests/fixtures/tokens/structs/src/main.sw
  sway-lsp/tests/integration/lsp.rs
  sway-lsp/tests/lib.rs
Labels: language server, testing

#4068 beta-3 updates
  docs/book/src/introduction/sway_quickstart.md
Labels: The Sway Book

#4069 fix: add span based filter for `forc-test` test counts
  forc-test/src/lib.rs
Labels: bug, forc-test

#4032 Add code actions for struct and refactor
  sway-core/src/decl_engine/mod.rs
  sway-core/src/language/ty/declaration/abi.rs
  sway-lsp/src/capabilities/code_actions.rs
  sway-lsp/src/capabilities/code_actions/abi_decl/abi_impl.rs
  sway-lsp/src/capabilities/code_actions/abi_decl/mod.rs
  sway-lsp/src/capabilities/code_actions/abi_impl.rs
  sway-lsp/src/capabilities/code_actions/mod.rs
  sway-lsp/src/capabilities/code_actions/struct_decl/mod.rs
  sway-lsp/src/capabilities/code_actions/struct_decl/struct_impl.rs
  sway-lsp/src/capabilities/code_actions/struct_decl/struct_new.rs
  sway-lsp/src/traverse/parsed_tree.rs
  sway-lsp/tests/integration/code_actions.rs
  sway-lsp/tests/integration/lsp.rs
  sway-lsp/tests/integration/mod.rs
  sway-lsp/tests/lib.rs
  sway-lsp/tests/utils/src/lib.rs
  test/src/e2e_vm_tests/test_programs/should_pass/language/generic_impl_self/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/language/self_impl_reassignment/src/main.sw
Labels: language server

#4067 Pass dependencies and resolution in the pass manager
  sway-core/src/lib.rs
  sway-ir/src/analysis/dominator.rs
  sway-ir/src/bin/opt.rs
  sway-ir/src/optimize/constants.rs
  sway-ir/src/optimize/dce.rs
  sway-ir/src/optimize/inline.rs
  sway-ir/src/optimize/mem2reg.rs
  sway-ir/src/optimize/simplify_cfg.rs
  sway-ir/src/pass_manager.rs
  sway-ir/tests/tests.rs
  test/src/ir_generation/mod.rs
Labels: compiler: ir, compiler: optimization

#4075 Collect full call paths in generic types
  sway-core/src/language/call_path.rs
  sway-core/src/semantic_analysis/ast_node/declaration/function.rs
  sway-core/src/semantic_analysis/ast_node/declaration/trait_fn.rs
  sway-core/src/semantic_analysis/ast_node/expression/intrinsic_function.rs
  sway-core/src/semantic_analysis/ast_node/expression/match_expression/typed/typed_match_branch.rs
  sway-core/src/semantic_analysis/ast_node/expression/match_expression/typed/typed_scrutinee.rs
  sway-core/src/semantic_analysis/ast_node/expression/typed_expression.rs
  sway-core/src/transform/to_parsed_lang/convert_parse_tree.rs
  sway-core/src/type_system/mod.rs
  sway-core/src/type_system/type_argument.rs
  sway-lsp/src/capabilities/inlay_hints.rs
  sway-lsp/src/traverse/parsed_tree.rs
  sway-lsp/src/traverse/typed_tree.rs
  sway-lsp/tests/fixtures/tokens/fields/src/foo.sw
  sway-lsp/tests/fixtures/tokens/fields/src/main.sw
  sway-lsp/tests/lib.rs
  sway-types/src/span.rs
Labels: compiler, language server, compiler: frontend

#4090 Update expected revert string in `storage_vec` tests to fix CI failure
  test/src/sdk-harness/test_projects/storage_bytes/mod.rs
  test/src/sdk-harness/test_projects/storage_vec/array/mod.rs
  test/src/sdk-harness/test_projects/storage_vec/b256/mod.rs
  test/src/sdk-harness/test_projects/storage_vec/bool/mod.rs
  test/src/sdk-harness/test_projects/storage_vec/enum/mod.rs
  test/src/sdk-harness/test_projects/storage_vec/str/mod.rs
  test/src/sdk-harness/test_projects/storage_vec/struct/mod.rs
  test/src/sdk-harness/test_projects/storage_vec/tuple/mod.rs
  test/src/sdk-harness/test_projects/storage_vec/u16/mod.rs
  test/src/sdk-harness/test_projects/storage_vec/u32/mod.rs
  test/src/sdk-harness/test_projects/storage_vec/u64/mod.rs
  test/src/sdk-harness/test_projects/storage_vec/u8/mod.rs
Labels: testing, P: critical

#4089 Small refactor to the method call to type check a list of `TypeParameter`
  sway-core/src/semantic_analysis/ast_node/declaration/enum.rs
  sway-core/src/semantic_analysis/ast_node/declaration/function.rs
  sway-core/src/semantic_analysis/ast_node/declaration/impl_trait.rs
  sway-core/src/semantic_analysis/ast_node/declaration/struct.rs
  sway-core/src/semantic_analysis/ast_node/declaration/trait.rs
  sway-core/src/type_system/type_parameter.rs
Labels: code quality, compiler: frontend

#4077 `Not` trait implementation for `U128` and `U256`
  sway-lib-std/src/u128.sw
  sway-lib-std/src/u256.sw
  test/src/e2e_vm_tests/test_programs/should_pass/stdlib/u128_test/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/stdlib/u256_ops_test/src/main.sw
Labels: enhancement, lib: std

#4087 Additional rustdoc documentation for `DeclRef`
  sway-core/src/decl_engine/ref.rs
Labels: code quality, compiler: frontend

#4082 Implement `OrdWithEngines` for some types
  sway-core/src/engine_threading.rs
  sway-core/src/language/ty/declaration/enum.rs
  sway-core/src/language/ty/declaration/struct.rs
  sway-core/src/semantic_analysis/namespace/trait_map.rs
  sway-core/src/type_system/info.rs
  sway-core/src/type_system/trait_constraint.rs
  sway-core/src/type_system/type_argument.rs
  sway-core/src/type_system/type_parameter.rs
  sway-types/src/integer_bits.rs
Labels: code quality, compiler: frontend

#4088 Bump to `v0.35.1`
  Cargo.lock
  forc-pkg/Cargo.toml
  forc-plugins/forc-client/Cargo.toml
  forc-plugins/forc-doc/Cargo.toml
  forc-plugins/forc-fmt/Cargo.toml
  forc-plugins/forc-lsp/Cargo.toml
  forc-plugins/forc-tx/Cargo.toml
  forc-test/Cargo.toml
  forc-tracing/Cargo.toml
  forc-util/Cargo.toml
  forc/Cargo.toml
  sway-ast/Cargo.toml
  sway-core/Cargo.toml
  sway-error/Cargo.toml
  sway-ir/Cargo.toml
  sway-ir/sway-ir-macros/Cargo.toml
  sway-lsp/Cargo.toml
  sway-parse/Cargo.toml
  sway-types/Cargo.toml
  sway-utils/Cargo.toml
  swayfmt/Cargo.toml
Labels: release

#4038 bug(fmt): do not iteratively call forc-fmt over members on the root dir
  forc-plugins/forc-fmt/src/main.rs
  forc-util/src/lib.rs
Labels: formatter

#4081 Support inner doc attributes with `#!` & `//!` syntax
  sway-ast/src/attribute.rs
  sway-ast/src/keywords.rs
  sway-core/src/language/parsed/module.rs
  sway-core/src/language/ty/module.rs
  sway-core/src/lib.rs
  sway-core/src/semantic_analysis/module.rs
  sway-error/src/error.rs
  sway-error/src/parser_error.rs
  sway-parse/src/attribute.rs
  sway-parse/src/item/mod.rs
  sway-parse/src/keywords.rs
  sway-parse/src/lib.rs
  sway-parse/src/module.rs
  sway-parse/src/token.rs
  swayfmt/src/error.rs
  swayfmt/src/formatter/mod.rs
  swayfmt/src/parse.rs
  swayfmt/src/utils/language/attribute.rs
  swayfmt/src/utils/map/comments.rs
  swayfmt/src/utils/map/newline.rs
  swayfmt/tests/mod.rs
Labels: enhancement, compiler: parser

#4110 Add `mut` keyword to `append()` in the `Bytes` type
  sway-lib-std/src/bytes.sw
Labels: bug, lib: std

#4084 fix(fmt): match branch enum extra newline
  swayfmt/src/utils/language/expr/tests.rs
  swayfmt/src/utils/language/punctuated.rs
Labels: bug, formatter

#4093 fix: empty fn comments
  swayfmt/src/items/item_fn/mod.rs
  swayfmt/tests/mod.rs
Labels: bug, formatter

#4085 `forc-tx`: Improve error handling using `thiserror`. Fix `panic!`ing version/help output.
  Cargo.lock
  forc-plugins/forc-tx/Cargo.toml
  forc-plugins/forc-tx/src/lib.rs
  forc-plugins/forc-tx/src/main.rs
Labels: bug, enhancement, forc, forc-tx

#4113 Limit inner doc comment attributes to `Module`
  sway-parse/src/attribute.rs
  sway-parse/src/item/mod.rs
  sway-parse/src/token.rs
  swayfmt/tests/mod.rs
Labels: bug, compiler: parser

#3999 feat: Upon test failure, output revert code with human-readable label and associated logs
  Cargo.lock
  forc-test/Cargo.toml
  forc-test/src/lib.rs
  forc/src/cli/commands/test.rs
Labels: enhancement, P: high, forc-test

#4115 add missing go to def tests for structs
  sway-lsp/tests/lib.rs
Labels: language server, testing

#4116 feat: Add salt flag to `forc deploy`, maturity flag to `deploy` and `run`
  Cargo.lock
  forc-plugins/forc-client/Cargo.toml
  forc-plugins/forc-client/src/cmd/deploy.rs
  forc-plugins/forc-client/src/cmd/run.rs
  forc-plugins/forc-client/src/op/deploy.rs
  forc-plugins/forc-client/src/op/run.rs
  forc-plugins/forc-tx/src/lib.rs
Labels: enhancement, forc, forc-client, forc-tx

#4123 Bump to `v0.35.2`
  Cargo.lock
  forc-pkg/Cargo.toml
  forc-plugins/forc-client/Cargo.toml
  forc-plugins/forc-doc/Cargo.toml
  forc-plugins/forc-fmt/Cargo.toml
  forc-plugins/forc-lsp/Cargo.toml
  forc-plugins/forc-tx/Cargo.toml
  forc-test/Cargo.toml
  forc-tracing/Cargo.toml
  forc-util/Cargo.toml
  forc/Cargo.toml
  sway-ast/Cargo.toml
  sway-core/Cargo.toml
  sway-error/Cargo.toml
  sway-ir/Cargo.toml
  sway-ir/sway-ir-macros/Cargo.toml
  sway-lsp/Cargo.toml
  sway-parse/Cargo.toml
  sway-types/Cargo.toml
  sway-utils/Cargo.toml
  swayfmt/Cargo.toml
Labels: release

#4122 docs: updated docs with missing supported workspace commands
  docs/book/src/forc/workspaces.md
Labels: enhancement, documentation

#4100 refactor(fmt): dedup `fmt_test!` macros
  Cargo.lock
  Cargo.toml
  swayfmt/Cargo.toml
  swayfmt/src/items/item_enum/tests.rs
  swayfmt/src/items/item_fn/tests.rs
  swayfmt/src/items/item_impl/tests.rs
  swayfmt/src/items/item_storage/tests.rs
  swayfmt/src/items/item_struct/tests.rs
  swayfmt/src/items/item_use/tests.rs
  swayfmt/src/utils/language/expr/tests.rs
  swayfmt/test_macros/Cargo.toml
  swayfmt/test_macros/src/lib.rs
  swayfmt/tests/macros.rs
  swayfmt/tests/mod.rs
Labels: formatter

#4128 Collect `Expression` from asm register decls
  sway-core/src/language/parsed/expression/asm.rs
  sway-core/src/language/ty/expression/asm.rs
  sway-lsp/src/traverse/parsed_tree.rs
  sway-lsp/src/traverse/typed_tree.rs
Labels: language server

#4094 Collect tokens for intrinsics' turbofish
  sway-lsp/src/traverse/parsed_tree.rs
  sway-lsp/src/traverse/typed_tree.rs
  sway-lsp/tests/fixtures/tokens/turbofish/src/main.sw
  sway-lsp/tests/lib.rs
Labels: language server

#4005 feat(fmt): comments in item abi
  examples/wallet_abi/src/main.sw
  sway-ast/src/item/item_configurable.rs
  sway-ast/src/token.rs
  sway-parse/src/token.rs
  swayfmt/src/comments.rs
  swayfmt/src/formatter/mod.rs
  swayfmt/src/items/item_abi.rs
  swayfmt/src/items/item_fn/mod.rs
  swayfmt/src/items/item_struct/mod.rs
  swayfmt/src/items/item_trait.rs
  swayfmt/src/module/mod.rs
  swayfmt/src/utils/language/attribute.rs
  swayfmt/src/utils/language/expr/conditional.rs
  swayfmt/src/utils/map/byte_span.rs
  swayfmt/tests/mod.rs
Labels: formatter

#4133 Fixes struct and enum call path comparison to use suffix.
  sway-core/src/type_system/info.rs
  sway-core/src/type_system/unify_check.rs
  test/src/e2e_vm_tests/test_programs/should_pass/test_contracts/return_struct/Forc.lock
  test/src/e2e_vm_tests/test_programs/should_pass/test_contracts/return_struct/Forc.toml
  test/src/e2e_vm_tests/test_programs/should_pass/test_contracts/return_struct/json_abi_oracle.json
  test/src/e2e_vm_tests/test_programs/should_pass/test_contracts/return_struct/src/data_structures.sw
  test/src/e2e_vm_tests/test_programs/should_pass/test_contracts/return_struct/src/interface.sw
  test/src/e2e_vm_tests/test_programs/should_pass/test_contracts/return_struct/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/test_contracts/return_struct/test.toml
Labels: bug, compiler, P: critical

#4121 Add Google Analytics ID to book.toml
  docs/book/book.toml
Labels: enhancement, The Sway Book

#4118 create workspace for examples folder
  forc.toml
Labels: enhancement

#4079 beta-3 update
  examples/identity/src/errors.sw
  examples/identity/src/main.sw
  examples/msg_sender/src/main.sw
  examples/subcurrency/src/main.sw
  examples/wallet_abi/src/main.sw
  examples/wallet_smart_contract/src/main.sw
Labels: The Sway Book

#4145 refactor: Move the examples workspace manifest into examples directory. Use it in CI.
  .github/workflows/ci.yml
  Cargo.lock
  Cargo.toml
  ci_checks.sh
  examples/Forc.lock
  examples/Forc.toml
  examples/abi_supertraits/Forc.lock
  examples/arrays/Forc.lock
  examples/asm_return_tuple_pointer/Forc.lock
  examples/break_and_continue/Forc.lock
  examples/cei_analysis/Forc.lock
  examples/config_time_constants/Forc.lock
  examples/counter/Forc.lock
  examples/enums/Forc.lock
  examples/fizzbuzz/Forc.lock
  examples/hashing/Forc.lock
  examples/identity/Forc.lock
  examples/liquidity_pool/Forc.lock
  examples/match_statements/Forc.lock
  examples/msg_sender/Forc.lock
  examples/native_token/Forc.lock
  examples/ownership/Forc.lock
  examples/ref_mut_params/Forc.lock
  examples/signatures/Forc.lock
  examples/storage_example/Forc.lock
  examples/storage_map/Forc.lock
  examples/storage_variables/Forc.lock
  examples/storage_vec/Forc.lock
  examples/structs/Forc.lock
  examples/subcurrency/Forc.lock
  examples/tuples/Forc.lock
  examples/vec/Forc.lock
  examples/wallet_abi/Forc.lock
  examples/wallet_contract_caller_script/Forc.lock
  examples/wallet_smart_contract/Forc.lock
  forc.toml
  scripts/examples-checker/Cargo.toml
  scripts/examples-checker/src/main.rs
Labels: ci, code quality

#4146 Update Sway book section on `forc-wallet` for changes in v0.2.0
  docs/book/src/forc/plugins/forc_client/index.md
Labels: forc, documentation

#4147 fix(fmt): forc-fmt check
  forc-plugins/forc-fmt/src/main.rs
Labels: bug, formatter

#4107 Update `match` examples
  docs/book/src/basics/control_flow.md
  examples/match_statements/src/main.sw
Labels: The Sway Book

#4135 Bump to `v0.35.3`
  Cargo.lock
  forc-pkg/Cargo.toml
  forc-plugins/forc-client/Cargo.toml
  forc-plugins/forc-doc/Cargo.toml
  forc-plugins/forc-fmt/Cargo.toml
  forc-plugins/forc-lsp/Cargo.toml
  forc-plugins/forc-tx/Cargo.toml
  forc-test/Cargo.toml
  forc-tracing/Cargo.toml
  forc-util/Cargo.toml
  forc/Cargo.toml
  sway-ast/Cargo.toml
  sway-core/Cargo.toml
  sway-error/Cargo.toml
  sway-ir/Cargo.toml
  sway-ir/sway-ir-macros/Cargo.toml
  sway-lsp/Cargo.toml
  sway-parse/Cargo.toml
  sway-types/Cargo.toml
  sway-utils/Cargo.toml
  swayfmt/Cargo.toml
Labels: release

#4096 Represent module level doc comments in `forc doc`
  forc-plugins/forc-doc/src/doc.rs
  forc-plugins/forc-doc/src/main.rs
  forc-plugins/forc-doc/src/render.rs
  sway-core/src/language/ty/program.rs
  sway-lib-std/src/lib.sw
  sway-lsp/tests/lib.rs
  sway-parse/src/lib.rs
Labels: enhancement, forc-doc

#4153 ci: fix forc-fmt usage in CI when checking examples
  .github/workflows/ci.yml
Labels: ci, formatter

#4132 Add usage docs for Salt feature
  docs/book/src/introduction/sway_quickstart.md
Labels: enhancement, The Sway Book, documentation

#4167 Fix: add type_def for `GenericTypeForFunctionScope` and fix storage field type_def
  sway-lsp/src/traverse/typed_tree.rs
Labels: bug, language server

#4165 Add LSP tests for `TyAbiDeclaration`
  sway-lsp/src/capabilities/hover.rs
  sway-lsp/src/core/session.rs
  sway-lsp/src/core/token.rs
  sway-lsp/src/traverse/typed_tree.rs
  sway-lsp/src/utils/attributes.rs
  sway-lsp/tests/fixtures/tokens/abi/.gitignore
  sway-lsp/tests/fixtures/tokens/abi/Forc.toml
  sway-lsp/tests/fixtures/tokens/abi/src/main.sw
  sway-lsp/tests/lib.rs
Labels: language server, testing

#3894 add Result to blockchain types
  docs/book/src/SUMMARY.md
  docs/book/src/basics/commonly_used_library_types.md
  examples/Forc.lock
  examples/Forc.toml
  examples/option/Forc.toml
  examples/option/src/main.sw
  examples/result/Forc.toml
  examples/result/src/main.sw
  sway-lib-std/src/option.sw
  sway-lib-std/src/result.sw
  sway-lsp/tests/lib.rs
Labels: lib: std, The Sway Book, documentation

#4168 refactor(`forc-pkg`): Abstract out `source`-related items from `pkg`
  forc-pkg/src/lib.rs
  forc-pkg/src/lock.rs
  forc-pkg/src/manifest.rs
  forc-pkg/src/pkg.rs
  forc-pkg/src/source/git.rs
  forc-pkg/src/source/mod.rs
  forc-pkg/src/source/path.rs
  forc-pkg/src/source/reg.rs
  forc/src/ops/forc_template.rs
Labels: forc, code quality, forc-pkg

#4169 DCA now detects dead code when all branches return explicitly.
  sway-core/src/control_flow_analysis/dead_code_analysis.rs
  test/src/e2e_vm_tests/test_programs/should_pass/dca/all_paths_return/Forc.lock
  test/src/e2e_vm_tests/test_programs/should_pass/dca/all_paths_return/Forc.toml
  test/src/e2e_vm_tests/test_programs/should_pass/dca/all_paths_return/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/dca/all_paths_return/test.toml
Labels: enhancement, compiler: frontend, DCA

#4176 Add syntax highlighting to code blocks in `forc doc`
  forc-plugins/forc-doc/src/assets/ayu.min.css
  forc-plugins/forc-doc/src/assets/highlight.js
  forc-plugins/forc-doc/src/assets/sway.js
  forc-plugins/forc-doc/src/main.rs
  forc-plugins/forc-doc/src/render.rs
  scripts/highlightjs/build.sh
Labels: enhancement, forc-doc

#4171 Storage Vector Test Refactor
  test/src/sdk-harness/test_artifacts/storage_vec/svec_array/src/main.sw
  test/src/sdk-harness/test_artifacts/storage_vec/svec_b256/src/main.sw
  test/src/sdk-harness/test_artifacts/storage_vec/svec_bool/src/main.sw
  test/src/sdk-harness/test_artifacts/storage_vec/svec_enum/src/main.sw
  test/src/sdk-harness/test_artifacts/storage_vec/svec_str/src/main.sw
  test/src/sdk-harness/test_artifacts/storage_vec/svec_struct/src/main.sw
  test/src/sdk-harness/test_artifacts/storage_vec/svec_tuple/src/main.sw
  test/src/sdk-harness/test_artifacts/storage_vec/svec_u16/src/main.sw
  test/src/sdk-harness/test_artifacts/storage_vec/svec_u32/src/main.sw
  test/src/sdk-harness/test_artifacts/storage_vec/svec_u64/src/main.sw
  test/src/sdk-harness/test_artifacts/storage_vec/svec_u8/src/main.sw
  test/src/sdk-harness/test_projects/storage_vec/array/mod.rs
  test/src/sdk-harness/test_projects/storage_vec/array/utils.rs
  test/src/sdk-harness/test_projects/storage_vec/b256/mod.rs
  test/src/sdk-harness/test_projects/storage_vec/b256/utils.rs
  test/src/sdk-harness/test_projects/storage_vec/bool/mod.rs
  test/src/sdk-harness/test_projects/storage_vec/bool/utils.rs
  test/src/sdk-harness/test_projects/storage_vec/enum/mod.rs
  test/src/sdk-harness/test_projects/storage_vec/enum/utils.rs
  test/src/sdk-harness/test_projects/storage_vec/mod.rs
  test/src/sdk-harness/test_projects/storage_vec/str/mod.rs
  test/src/sdk-harness/test_projects/storage_vec/str/utils.rs
  test/src/sdk-harness/test_projects/storage_vec/struct/mod.rs
  test/src/sdk-harness/test_projects/storage_vec/struct/utils.rs
  test/src/sdk-harness/test_projects/storage_vec/svec_array.rs
  test/src/sdk-harness/test_projects/storage_vec/svec_b256.rs
  test/src/sdk-harness/test_projects/storage_vec/svec_bool.rs
  test/src/sdk-harness/test_projects/storage_vec/svec_enum.rs
  test/src/sdk-harness/test_projects/storage_vec/svec_str.rs
  test/src/sdk-harness/test_projects/storage_vec/svec_struct.rs
  test/src/sdk-harness/test_projects/storage_vec/svec_tuple.rs
  test/src/sdk-harness/test_projects/storage_vec/svec_u16.rs
  test/src/sdk-harness/test_projects/storage_vec/svec_u32.rs
  test/src/sdk-harness/test_projects/storage_vec/svec_u64.rs
  test/src/sdk-harness/test_projects/storage_vec/svec_u8.rs
  test/src/sdk-harness/test_projects/storage_vec/testgen.rs
  test/src/sdk-harness/test_projects/storage_vec/tuple/mod.rs
  test/src/sdk-harness/test_projects/storage_vec/tuple/utils.rs
  test/src/sdk-harness/test_projects/storage_vec/u16/mod.rs
  test/src/sdk-harness/test_projects/storage_vec/u16/utils.rs
  test/src/sdk-harness/test_projects/storage_vec/u32/mod.rs
  test/src/sdk-harness/test_projects/storage_vec/u32/utils.rs
  test/src/sdk-harness/test_projects/storage_vec/u64/mod.rs
  test/src/sdk-harness/test_projects/storage_vec/u64/utils.rs
  test/src/sdk-harness/test_projects/storage_vec/u8/mod.rs
  test/src/sdk-harness/test_projects/storage_vec/u8/utils.rs
Labels: testing

#4182 Remove unnecessary call to export methods defined for trait fn return types.
  sway-core/src/semantic_analysis/ast_node/declaration/trait_fn.rs
Labels: bug, code quality, compiler: frontend

#4187 feat(forc-pkg): Print *before* compiling each package. Only print after on warnings/error.
  Cargo.lock
  forc-pkg/Cargo.toml
  forc-pkg/src/lock.rs
  forc-pkg/src/pkg.rs
  forc-pkg/src/source/git.rs
  forc-pkg/src/source/mod.rs
  forc-tracing/src/lib.rs
  forc-util/src/lib.rs
Labels: enhancement, forc, forc-pkg

#4188 feat(forc-pkg): Improve workspace build summary
  forc-pkg/src/pkg.rs
Labels: enhancement, forc, forc-pkg

#4183 Small refactor to only create a `TraitMap` entry for the supertraits if there are supertraits.
  sway-core/src/semantic_analysis/ast_node/declaration/impl_trait.rs
Labels: bug, code quality, compiler: frontend

#4190 Clear memory from type and decl engines
  sway-lsp/src/core/session.rs
Labels: bug, language server

#4129 feat(fmt): format comments supertraits
  examples/abi_supertraits/src/main.sw
  sway-parse/src/token.rs
  swayfmt/src/comments.rs
  swayfmt/src/items/item_fn/mod.rs
  swayfmt/src/module/mod.rs
  swayfmt/src/utils/language/attribute.rs
  swayfmt/tests/mod.rs
Labels: formatter

#4178 feat: display gas used for unit tests
  forc-test/src/lib.rs
  forc/src/cli/commands/test.rs
Labels: enhancement, forc-test

#4202 Simplify stored types during token collection
  sway-lsp/src/capabilities/rename.rs
  sway-lsp/src/core/token.rs
  sway-lsp/src/traverse/lexed_tree.rs
  sway-lsp/src/traverse/parsed_tree.rs
  sway-lsp/src/traverse/typed_tree.rs
  sway-lsp/tests/lib.rs
Labels: language server

#4204 Add `std` docs to the sway book
  docs/book/src/introduction/standard_library.md
  sway-lib-std/src/lib.sw
  sway-lsp/tests/lib.rs
Labels: lib: std, The Sway Book, documentation
