Repository FuelLabs/sway, pull requests merged in 2023-07, with the labels that each got.

#4725 Implement `StorageString` to std-lib
  sway-lib-std/src/storage.sw
  sway-lib-std/src/storage/storage_string.sw
  test/src/sdk-harness/Forc.lock
  test/src/sdk-harness/Forc.toml
  test/src/sdk-harness/test_projects/harness.rs
  test/src/sdk-harness/test_projects/storage_string/.gitignore
  test/src/sdk-harness/test_projects/storage_string/Forc.lock
  test/src/sdk-harness/test_projects/storage_string/Forc.toml
  test/src/sdk-harness/test_projects/storage_string/mod.rs
  test/src/sdk-harness/test_projects/storage_string/src/main.sw
Labels: lib: std

#4726 remove unused debug flag
  Cargo.toml
Labels: code quality

#4680 feat: add encoding capability to forc-client for variable encoding
  Cargo.lock
  forc-plugins/forc-client/Cargo.toml
  forc-plugins/forc-client/src/util/encode.rs
  forc-plugins/forc-client/src/util/mod.rs
Labels: enhancement, forc-client

#4735 Fix inlay hints
  sway-lsp/src/lib.rs
  sway-lsp/src/server.rs
Labels: bug, language server

#4736 Doc storage read unwrap_or clarification.
  examples/storage_variables/src/main.sw
Labels: documentation

#4730 return diagnostics from parser errors
  sway-lsp/src/core/session.rs
Labels: language server

#4741 Conversion from `str` literals to `String`
  sway-lib-std/src/string.sw
Labels: lib: std

#4749 ci: bump rust version to 1.70
  .github/workflows/ci.yml
Labels: ci

#4727 filter out `CompileError::UnknownVariable` errors when `CONTRACT_ID` isn't injected into namespace
  forc-pkg/src/pkg.rs
Labels: language server, forc-pkg

#4750 refactor: move `sysinfo` behind a feature flag and only enable it for non-macos builds
  forc-pkg/Cargo.toml
  forc-pkg/src/pkg.rs
  sway-core/Cargo.toml
  sway-core/src/lib.rs
  sway-utils/src/performance.rs
Labels: enhancement, dependencies

#4753 Fix block height type to conform to spec
  sway-lib-std/src/block.sw
  test/src/e2e_vm_tests/test_programs/should_pass/stdlib/block_height/src/main.sw
  test/src/sdk-harness/test_artifacts/block_test_abi/src/main.sw
  test/src/sdk-harness/test_projects/block/src/main.sw
Labels: bug, lib: std, breaking

#4755 chore: bump to v0.42.0
  Cargo.lock
  forc-pkg/Cargo.toml
  forc-plugins/forc-client/Cargo.toml
  forc-plugins/forc-doc/Cargo.toml
  forc-plugins/forc-fmt/Cargo.toml
  forc-plugins/forc-lsp/Cargo.toml
  forc-plugins/forc-tx/Cargo.toml
  forc-test/Cargo.toml
  forc-tracing/Cargo.toml
  forc-util/Cargo.toml
  forc/Cargo.toml
  sway-ast/Cargo.toml
  sway-core/Cargo.toml
  sway-error/Cargo.toml
  sway-ir/Cargo.toml
  sway-ir/sway-ir-macros/Cargo.toml
  sway-lsp/Cargo.toml
  sway-parse/Cargo.toml
  sway-types/Cargo.toml
  sway-utils/Cargo.toml
  swayfmt/Cargo.toml
Labels: release

#4752 feat: integrate forc-wallet and forc-deploy
  Cargo.lock
  forc-plugins/forc-client/Cargo.toml
  forc-plugins/forc-client/src/cmd/deploy.rs
  forc-plugins/forc-client/src/cmd/run.rs
  forc-plugins/forc-client/src/op/deploy.rs
  forc-plugins/forc-client/src/op/run.rs
  forc-plugins/forc-client/src/util/tx.rs
Labels: enhancement, forc-deploy

#4766 feat: improve deployed message for forc-deploy
  forc-plugins/forc-client/src/op/deploy.rs
Labels: enhancement, forc-deploy

#4762 feat: improve error message in case of insufficient funds
  forc-plugins/forc-client/src/util/tx.rs
Labels: enhancement, forc-deploy

#4760 feat: make `--random-salt` default to forc-deploy and remove it as a flag
  forc-plugins/forc-client/src/cmd/deploy.rs
  forc-plugins/forc-client/src/op/deploy.rs
  test/src/e2e_vm_tests/harness.rs
Labels: enhancement, forc-deploy

#4764 feat: add `--target` and `--testnet` parameters to `forc-deploy`
  forc-plugins/forc-client/src/cmd/deploy.rs
  forc-plugins/forc-client/src/lib.rs
  forc-plugins/forc-client/src/op/deploy.rs
  forc-plugins/forc-client/src/util/mod.rs
Labels: enhancement, forc-deploy

#4768 Fix typo in opt.rs
  sway-ir/src/bin/opt.rs
Labels: code quality, compiler: ir

#4775 fix: remove dependency on std for `regalloc_spill` unit test
  test/src/e2e_vm_tests/test_programs/should_pass/unit_tests/regalloc_spill/Forc.lock
  test/src/e2e_vm_tests/test_programs/should_pass/unit_tests/regalloc_spill/Forc.toml
Labels: bug, ci, P: critical

#4767 chore: bump to v0.42.1
  Cargo.lock
  forc-pkg/Cargo.toml
  forc-plugins/forc-client/Cargo.toml
  forc-plugins/forc-doc/Cargo.toml
  forc-plugins/forc-fmt/Cargo.toml
  forc-plugins/forc-lsp/Cargo.toml
  forc-plugins/forc-tx/Cargo.toml
  forc-test/Cargo.toml
  forc-tracing/Cargo.toml
  forc-util/Cargo.toml
  forc/Cargo.toml
  sway-ast/Cargo.toml
  sway-core/Cargo.toml
  sway-error/Cargo.toml
  sway-ir/Cargo.toml
  sway-ir/sway-ir-macros/Cargo.toml
  sway-lsp/Cargo.toml
  sway-parse/Cargo.toml
  sway-types/Cargo.toml
  sway-utils/Cargo.toml
  swayfmt/Cargo.toml
  test/src/sdk-harness/Cargo.lock
Labels: release

#4777 Fixes missing replace_decl for variable declarations.
  sway-core/src/language/ty/ast_node.rs
  test/src/e2e_vm_tests/test_programs/should_pass/language/generic_where_in_impl_self2/Forc.lock
  test/src/e2e_vm_tests/test_programs/should_pass/language/generic_where_in_impl_self2/Forc.toml
  test/src/e2e_vm_tests/test_programs/should_pass/language/generic_where_in_impl_self2/json_abi_oracle.json
  test/src/e2e_vm_tests/test_programs/should_pass/language/generic_where_in_impl_self2/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/language/generic_where_in_impl_self2/test.toml
Labels: bug, P: critical, compiler: frontend

#4780 constcombine pass optimizing unary and binary operators
  sway-ir/src/optimize.rs
  sway-ir/src/optimize/constants.rs
  sway-ir/src/parser.rs
  test/src/e2e_vm_tests/test_programs/should_pass/require_contract_deployment/call_basic_storage/src/main.sw
  test/src/ir_generation/mod.rs
  test/src/ir_generation/tests/let_const_init.sw
  test/src/main.rs
Labels: compiler: ir, breaking

#4791 Improve error message when contract calls its own method
  sway-core/src/semantic_analysis/ast_node/declaration/abi.rs
  sway-core/src/semantic_analysis/ast_node/expression/typed_expression/method_application.rs
  sway-error/src/error.rs
  test/src/e2e_vm_tests/test_programs/should_fail/contract_calls_its_method/Forc.lock
  test/src/e2e_vm_tests/test_programs/should_fail/contract_calls_its_method/Forc.toml
  test/src/e2e_vm_tests/test_programs/should_fail/contract_calls_its_method/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_fail/contract_calls_its_method/test.toml
Labels: ABI, compiler: frontend, compiler: ui

#4802 stdlib: remove `decompose` function for `u256`
  sway-lib-std/src/u256.sw
Labels: lib: std

#4793 Improve flag library functionality
  sway-lib-std/src/flags.sw
  sway-lib-std/src/u128.sw
  test/src/e2e_vm_tests/test_programs/should_pass/require_contract_deployment/call_basic_storage/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/require_contract_deployment/call_increment_contract/src/main.sw
Labels: lib: std, breaking

#4801 Add documentation for LSP with different IDEs
  docs/book/src/SUMMARY.md
  docs/book/src/introduction/fuel_toolchain.md
  docs/book/src/lsp/features.md
  docs/book/src/lsp/index.md
  docs/book/src/lsp/installation.md
Labels: language server, documentation

#4660 Sway Ref: Style guide unused variables
  docs/reference/src/SUMMARY.md
  docs/reference/src/code/Forc.lock
  docs/reference/src/code/Forc.toml
  docs/reference/src/code/language/style-guide/unused_variables/.gitignore
  docs/reference/src/code/language/style-guide/unused_variables/Forc.toml
  docs/reference/src/code/language/style-guide/unused_variables/src/lib.sw
  docs/reference/src/documentation/language/style-guide/unused-variables.md
Labels: The Sway Reference

#4805 chore: bump rust version to 1.71
  .github/workflows/ci.yml
  sway-ir/src/function.rs
  sway-ir/src/optimize/dce.rs
  sway-ir/src/optimize/mem2reg.rs
  sway-ir/src/optimize/memcpyopt.rs
  sway-ir/src/optimize/simplify_cfg.rs
Labels: ci

#4751 Update Sway Book and ownership example to use ownership library and src-5 standard
  docs/book/src/blockchain-development/access_control.md
  examples/Forc.lock
  examples/ownership/Forc.toml
  examples/ownership/src/main.sw
Labels: The Sway Book

#4808 chore: add forc-pkg codeowner
  .github/CODEOWNERS
Labels: forc-pkg

#4832 Remove dependency on external library for Ownership example
  examples/Forc.lock
  examples/ownership/Forc.toml
  examples/ownership/src/main.sw
Labels: The Sway Book, P: critical

#4836 Update all storage inline docs to follow SRC-2 standard
  sway-lib-std/src/storage/storable_slice.sw
  sway-lib-std/src/storage/storage_api.sw
  sway-lib-std/src/storage/storage_bytes.sw
  sway-lib-std/src/storage/storage_key.sw
  sway-lib-std/src/storage/storage_map.sw
  sway-lib-std/src/storage/storage_string.sw
  sway-lib-std/src/storage/storage_vec.sw
Labels: lib: std, documentation

#4825 ci: bump nightly rust version to 2023-04-01
  .github/workflows/ci.yml
Labels: ci

#4840 Show compiler error messages for unit tests that do not compile
  test/src/e2e_vm_tests/mod.rs
Labels: testing

#4829 Numeric type inference
  sway-core/src/asm_generation/from_ir.rs
  sway-core/src/ir_generation/const_eval.rs
  sway-core/src/semantic_analysis/ast_node/expression/intrinsic_function.rs
  sway-core/src/semantic_analysis/ast_node/expression/typed_expression.rs
  sway-core/src/semantic_analysis/coins_analysis.rs
  sway-core/src/semantic_analysis/namespace/namespace.rs
  sway-core/src/semantic_analysis/namespace/trait_map.rs
  sway-core/src/transform/to_parsed_lang/convert_parse_tree.rs
  sway-core/src/type_system/engine.rs
  sway-core/src/type_system/id.rs
  sway-core/src/type_system/info.rs
  sway-core/src/type_system/unify/unifier.rs
  sway-core/src/type_system/unify/unify_check.rs
  sway-error/src/warning.rs
  sway-ir/src/error.rs
  sway-ir/src/irtype.rs
  sway-ir/src/verify.rs
  sway-lib-core/src/primitive_conversions.sw
  sway-lib-core/src/primitives.sw
  sway-lib-std/src/auth.sw
  sway-lib-std/src/inputs.sw
  sway-lib-std/src/lib.sw
  sway-lib-std/src/prelude.sw
  sway-lib-std/src/primitive_conversions.sw
  sway-lsp/tests/fixtures/tokens/consts/src/more_consts.sw
  test/src/e2e_vm_tests/test_programs/should_fail/abort_control_flow_bad/test.toml
  test/src/e2e_vm_tests/test_programs/should_fail/binop_intrinsics/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_fail/binop_intrinsics/test.toml
  test/src/e2e_vm_tests/test_programs/should_fail/eq_intrinsic/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_fail/eq_intrinsic/test.toml
  test/src/e2e_vm_tests/test_programs/should_fail/match_expressions_wrong_struct/test.toml
  test/src/e2e_vm_tests/test_programs/should_fail/where_clause_impls/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_fail/wrongly_sized_tuple_destructuring/test.toml
  test/src/e2e_vm_tests/test_programs/should_pass/language/associated_const_impl_local_same_name/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/language/associated_const_impl_multiple/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/language/binop_intrinsics/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/language/fix_opcode_bug/json_abi_oracle.json
  test/src/e2e_vm_tests/test_programs/should_pass/language/fix_opcode_bug/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/language/generic_functions/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/language/generic_impl_self/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/language/generic_traits/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/language/integer_type_inference/Forc.lock
  test/src/e2e_vm_tests/test_programs/should_pass/language/integer_type_inference/Forc.toml
  test/src/e2e_vm_tests/test_programs/should_pass/language/integer_type_inference/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/language/numeric_constants/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/language/tuple_access/json_abi_oracle.json
  test/src/e2e_vm_tests/test_programs/should_pass/language/tuple_access/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/language/use_full_path_names/json_abi_oracle.json
  test/src/e2e_vm_tests/test_programs/should_pass/language/use_full_path_names/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/stdlib/vec/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/test_contracts/issue_1512_repro/Forc.lock
  test/src/e2e_vm_tests/test_programs/should_pass/test_contracts/issue_1512_repro/Forc.toml
  test/src/e2e_vm_tests/test_programs/should_pass/test_contracts/issue_1512_repro/src/main.sw
  test/src/sdk-harness/test_artifacts/tx_contract/src/main.sw
  test/src/sdk-harness/test_projects/generics_in_abi/src/main.sw
  test/src/sdk-harness/test_projects/token_ops/src/main.sw
Labels: lib: std, compiler: ir, breaking, lib: core, compiler: frontend

#4823 Don't force inliner in case of ref type function args
  sway-core/src/asm_generation/fuel/functions.rs
  sway-core/src/asm_generation/fuel/register_allocator.rs
  sway-ir/src/optimize/dce.rs
  sway-ir/src/optimize/inline.rs
  sway-ir/tests/dce/dce3.ir
  test/src/e2e_vm_tests/test_programs/should_pass/language/configurable_consts/json_abi_oracle.json
  test/src/e2e_vm_tests/test_programs/should_pass/require_contract_deployment/array_of_structs_caller/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/require_contract_deployment/call_abi_with_tuples/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/require_contract_deployment/call_basic_storage/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/require_contract_deployment/call_contract_with_type_aliases/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/require_contract_deployment/call_increment_contract/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/require_contract_deployment/caller_context_test/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/require_contract_deployment/nested_struct_args_caller/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/require_contract_deployment/storage_access_caller/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/require_contract_deployment/token_ops_test/src/main.sw
  test/src/ir_generation/tests/fn_call.sw
Labels: compiler: codegen

#4822 Collect module kind span for ParseModule
  sway-core/src/language/parsed/module.rs
  sway-core/src/lib.rs
  sway-core/src/semantic_analysis/module.rs
  sway-lsp/src/server_state.rs
  sway-lsp/src/traverse/parsed_tree.rs
Labels: language server, compiler: frontend

#4845 Update memory manipulation libs to meet SRC-2 inline docs standard
  sway-lib-core/src/raw_ptr.sw
  sway-lib-core/src/raw_slice.sw
  sway-lib-std/src/alloc.sw
Labels: lib: std, documentation

#4846 Update assertion and results to meet SRC-2 inline docs standard
  sway-lib-std/src/assert.sw
  sway-lib-std/src/logging.sw
  sway-lib-std/src/option.sw
  sway-lib-std/src/result.sw
  sway-lib-std/src/revert.sw
Labels: lib: std, documentation

#4827 feat: forc-deploy suggests creating a new wallet if the wallet is missing
  forc-plugins/forc-client/src/util/tx.rs
Labels: enhancement

#4847 Correct usage of terms "ABI" and "JSON ABI"
  forc-pkg/src/pkg.rs
  sway-core/src/abi_generation/evm_abi.rs
  sway-core/src/abi_generation/fuel_abi.rs
  sway-core/src/abi_generation/mod.rs
Labels: code quality, ABI

#4853 Fix clippy warnings introduced recently.
  sway-core/src/lib.rs
Labels: compiler, code quality

#4718 Update fuel-core to 0.19
  .github/workflows/ci.yml
  Cargo.lock
  Cargo.toml
  ci_checks.sh
  forc-pkg/src/pkg.rs
  forc-plugins/forc-client/Cargo.toml
  forc-plugins/forc-client/src/util/tx.rs
  forc-plugins/forc-tx/src/lib.rs
  sway-core/src/asm_generation/fuel/fuel_asm_builder.rs
  sway-core/src/asm_generation/fuel/register_allocator.rs
  sway-core/src/ir_generation/const_eval.rs
  sway-ir/src/irtype.rs
  sway-ir/src/optimize/constants.rs
  sway-ir/src/optimize/memcpyopt.rs
  templates/sway-test-rs/template/Cargo.toml
  test/src/e2e_vm_tests/mod.rs
  test/src/e2e_vm_tests/test_programs/should_pass/require_contract_deployment/array_of_structs_caller/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/require_contract_deployment/bal_opcode/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/require_contract_deployment/call_abi_with_tuples/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/require_contract_deployment/call_basic_storage/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/require_contract_deployment/call_contract_with_type_aliases/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/require_contract_deployment/call_increment_contract/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/require_contract_deployment/caller_auth_test/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/require_contract_deployment/caller_context_test/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/require_contract_deployment/nested_struct_args_caller/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/require_contract_deployment/storage_access_caller/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/require_contract_deployment/token_ops_test/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/unit_tests/workspace_test/contract_multi_test/src/main.sw
  test/src/sdk-harness/Cargo.lock
  test/src/sdk-harness/Cargo.toml
  test/src/sdk-harness/test_projects/predicate_data_simple/mod.rs
  test/src/sdk-harness/test_projects/predicate_data_struct/mod.rs
  test/src/sdk-harness/test_projects/script_data/mod.rs
  test/src/sdk-harness/test_projects/tx_fields/mod.rs
Labels: dependencies

#4856 Fix flaky lsp test: publish_diagnostics_dead_code_warning
  sway-lsp/tests/utils/src/lib.rs
Labels: bug, ci

#4860 assign correct semantics to struct expression name accounting for `Self`
  sway-lsp/src/traverse/parsed_tree.rs
Labels: language server, breaking

#4858 Assign correct type_defs to struct field and function param names
  sway-lsp/src/traverse/typed_tree.rs
Labels: bug, language server

#4871 Use the `Self` annotation in implementation blocks
  sway-lib-core/src/primitive_conversions.sw
  sway-lib-core/src/primitives.sw
  sway-lib-core/src/raw_ptr.sw
  sway-lib-std/src/address.sw
  sway-lib-std/src/b512.sw
  sway-lib-std/src/bytes.sw
  sway-lib-std/src/contract_id.sw
  sway-lib-std/src/identity.sw
  sway-lib-std/src/option.sw
  sway-lib-std/src/result.sw
  sway-lib-std/src/string.sw
  sway-lib-std/src/u128.sw
  sway-lib-std/src/u256.sw
  sway-lib-std/src/vec.sw
  sway-lib-std/src/vm/evm/evm_address.sw
Labels: lib: std, code quality

#4873 Update `CallPath<T>` impl of `Display`
  sway-core/src/language/call_path.rs
Labels: code quality

#4864 Updates to storage docs to meet SRC-2 inline docs standard
  sway-lib-core/src/storage.sw
  sway-lib-std/src/storage/storage_api.sw
  sway-lib-std/src/storage/storage_bytes.sw
  sway-lib-std/src/storage/storage_string.sw
Labels: lib: std, documentation

#4837 Update inline docs of address, contract id, and identity to meet SRC-2 standards
  sway-lib-std/src/address.sw
  sway-lib-std/src/contract_id.sw
  sway-lib-std/src/identity.sw
  sway-lsp/tests/lib.rs
Labels: lib: std, documentation

#4851 Std-lib external, call_frames, and context inline docs updates to meet SRC-2 standard
  sway-lib-std/src/call_frames.sw
  sway-lib-std/src/context.sw
  sway-lib-std/src/external.sw
Labels: lib: std, documentation

#4876 Custom on_enter LSP method
  sway-lsp/src/capabilities/on_enter.rs
  sway-lsp/src/handlers/notification.rs
  sway-lsp/src/handlers/request.rs
  sway-lsp/src/lib.rs
  sway-lsp/src/lsp_ext.rs
  sway-lsp/src/server.rs
Labels: language server
