Repository FuelLabs/sway, pull requests merged in 2023-09, with the labels that each got.

#5074 Split compilation and traversal stages
  sway-lsp/benches/lsp_benchmarks/compile.rs
  sway-lsp/src/core/session.rs
Labels: language server

#5001 Parallelize traversing AST's in the language server
  Cargo.lock
  sway-lsp/Cargo.toml
  sway-lsp/src/core/session.rs
  sway-lsp/src/core/token_map.rs
  sway-lsp/src/traverse/lexed_tree.rs
  sway-lsp/src/traverse/parsed_tree.rs
Labels: language server

#5087 Accumulate typechecking methods in `impl TypeCheckContext`, part 1
  sway-core/src/semantic_analysis/ast_node/declaration/abi.rs
  sway-core/src/semantic_analysis/ast_node/declaration/constant.rs
  sway-core/src/semantic_analysis/ast_node/declaration/declaration.rs
  sway-core/src/semantic_analysis/ast_node/declaration/enum.rs
  sway-core/src/semantic_analysis/ast_node/declaration/function.rs
  sway-core/src/semantic_analysis/ast_node/declaration/function/function_parameter.rs
  sway-core/src/semantic_analysis/ast_node/declaration/impl_trait.rs
  sway-core/src/semantic_analysis/ast_node/declaration/struct.rs
  sway-core/src/semantic_analysis/ast_node/declaration/trait.rs
  sway-core/src/semantic_analysis/ast_node/declaration/trait_fn.rs
  sway-core/src/semantic_analysis/ast_node/expression/intrinsic_function.rs
  sway-core/src/semantic_analysis/ast_node/expression/typed_expression.rs
  sway-core/src/semantic_analysis/ast_node/expression/typed_expression/method_application.rs
  sway-core/src/semantic_analysis/ast_node/expression/typed_expression/struct_instantiation.rs
  sway-core/src/semantic_analysis/ast_node/mod.rs
  sway-core/src/semantic_analysis/namespace/namespace.rs
  sway-core/src/semantic_analysis/type_check_context.rs
  sway-core/src/type_system/ast_elements/binding.rs
Labels: compiler: frontend

#5089 Implement `Hash` trait for `Bytes` and `String` types
  sway-lib-std/src/bytes.sw
  sway-lib-std/src/hash.sw
  sway-lib-std/src/string.sw
  test/src/e2e_vm_tests/test_programs/should_pass/language/configurable_consts/json_abi_oracle.json
  test/src/e2e_vm_tests/test_programs/should_pass/require_contract_deployment/call_basic_storage/src/main.sw
Labels: lib: std, breaking

#5093 Fix clippy warnings
  sway-lsp/src/capabilities/hover/mod.rs
  sway-lsp/src/core/token.rs
  sway-lsp/src/core/token_map.rs
  sway-lsp/src/traverse/typed_tree.rs
Labels: language server

#5085 Emit compile error if a match arm variable is declared more than once
  Cargo.lock
  forc-util/src/lib.rs
  sway-core/Cargo.toml
  sway-core/src/semantic_analysis/ast_node/expression/match_expression/analysis/duplicates.rs
  sway-core/src/semantic_analysis/ast_node/expression/match_expression/analysis/mod.rs
  sway-core/src/semantic_analysis/ast_node/expression/typed_expression.rs
  sway-error/Cargo.toml
  sway-error/src/diagnostic.rs
  sway-error/src/error.rs
  sway-error/src/warning.rs
  test/src/e2e_vm_tests/test_programs/should_fail/match_expressions_duplicate_variables/Forc.lock
  test/src/e2e_vm_tests/test_programs/should_fail/match_expressions_duplicate_variables/Forc.toml
  test/src/e2e_vm_tests/test_programs/should_fail/match_expressions_duplicate_variables/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_fail/match_expressions_duplicate_variables/test.toml
  test/src/e2e_vm_tests/test_programs/should_pass/language/match_expressions_unreachable_catch_all_last_arm/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/language/match_expressions_unreachable_last_arm/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/language/match_expressions_unreachable_middle_arm/src/main.sw
Labels: compiler, compiler: frontend, compiler: ui, compiler: static-analysis

#4955 Introduce the `AssetId` type
  docs/reference/src/code/operations/asset_operations/src/lib.sw
  examples/liquidity_pool/src/main.sw
  examples/native_token/src/main.sw
  sway-lib-std/src/address.sw
  sway-lib-std/src/alias.sw
  sway-lib-std/src/asset_id.sw
  sway-lib-std/src/call_frames.sw
  sway-lib-std/src/constants.sw
  sway-lib-std/src/context.sw
  sway-lib-std/src/contract_id.sw
  sway-lib-std/src/identity.sw
  sway-lib-std/src/inputs.sw
  sway-lib-std/src/lib.sw
  sway-lib-std/src/low_level_call.sw
  sway-lib-std/src/outputs.sw
  sway-lib-std/src/prelude.sw
  sway-lib-std/src/token.sw
  test/src/e2e_vm_tests/test_programs/should_pass/language/const_decl_with_call_path/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/language/type_alias/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/require_contract_deployment/caller_context_test/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/require_contract_deployment/token_ops_test/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/static_analysis/cei_pattern_violation_in_asm_block_tr/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/static_analysis/cei_pattern_violation_in_asm_block_tro/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/test_abis/context_testing_abi/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/test_abis/contract_with_type_aliases_abi/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/test_abis/test_fuel_coin_abi/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/test_contracts/context_testing_contract/json_abi_oracle.json
  test/src/e2e_vm_tests/test_programs/should_pass/test_contracts/context_testing_contract/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/test_contracts/contract_with_type_aliases/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/test_contracts/test_fuel_coin_contract/json_abi_oracle.json
  test/src/e2e_vm_tests/test_programs/should_pass/test_contracts/test_fuel_coin_contract/src/main.sw
  test/src/sdk-harness/test_artifacts/call_frames_test_abi/src/main.sw
  test/src/sdk-harness/test_artifacts/context_caller_contract/src/main.sw
  test/src/sdk-harness/test_artifacts/tx_output_predicate/src/main.sw
  test/src/sdk-harness/test_projects/call_frames/src/main.sw
  test/src/sdk-harness/test_projects/context/src/main.sw
  test/src/sdk-harness/test_projects/token_ops/src/main.sw
  test/src/sdk-harness/test_projects/type_aliases/src/main.sw
Labels: lib: std, breaking

#5088 Accumulate typechecking methods in `impl TypeCheckContext`, part 2
  sway-core/src/language/ty/declaration/enum.rs
  sway-core/src/language/ty/declaration/function.rs
  sway-core/src/language/ty/declaration/struct.rs
  sway-core/src/language/ty/declaration/trait.rs
  sway-core/src/language/ty/declaration/trait_fn.rs
  sway-core/src/language/ty/expression/expression_variant.rs
  sway-core/src/semantic_analysis.rs
  sway-core/src/semantic_analysis/ast_node/declaration/constant.rs
  sway-core/src/semantic_analysis/ast_node/declaration/declaration.rs
  sway-core/src/semantic_analysis/ast_node/declaration/enum.rs
  sway-core/src/semantic_analysis/ast_node/declaration/function.rs
  sway-core/src/semantic_analysis/ast_node/declaration/function/function_parameter.rs
  sway-core/src/semantic_analysis/ast_node/declaration/impl_trait.rs
  sway-core/src/semantic_analysis/ast_node/declaration/struct.rs
  sway-core/src/semantic_analysis/ast_node/declaration/supertrait.rs
  sway-core/src/semantic_analysis/ast_node/declaration/trait_fn.rs
  sway-core/src/semantic_analysis/ast_node/expression/intrinsic_function.rs
  sway-core/src/semantic_analysis/ast_node/expression/match_expression/typed/typed_scrutinee.rs
  sway-core/src/semantic_analysis/ast_node/expression/typed_expression.rs
  sway-core/src/semantic_analysis/ast_node/expression/typed_expression/function_application.rs
  sway-core/src/semantic_analysis/ast_node/expression/typed_expression/method_application.rs
  sway-core/src/semantic_analysis/ast_node/expression/typed_expression/struct_instantiation.rs
  sway-core/src/semantic_analysis/namespace/items.rs
  sway-core/src/semantic_analysis/namespace/root.rs
  sway-core/src/semantic_analysis/type_check_context.rs
  sway-core/src/type_system/ast_elements/binding.rs
  sway-core/src/type_system/ast_elements/trait_constraint.rs
  sway-core/src/type_system/engine.rs
  sway-core/src/type_system/priv_prelude.rs
Labels: compiler: frontend

#5098 Catch compiler panics in Sway unit tests
  test/src/e2e_vm_tests/harness.rs
Labels: enhancement, testing

#5092 Ignore patches from workspace members
  forc-pkg/src/manifest.rs
  forc-pkg/tests/invalid/patch_workspace_and_package/Forc.toml
  forc-pkg/tests/invalid/patch_workspace_and_package/test_package/Forc.toml
  forc-pkg/tests/invalid/patch_workspace_and_package/test_package/src/main.sw
  forc-pkg/tests/test_package/Forc.toml
  forc-pkg/tests/test_package/src/main.sw
  forc-util/src/lib.rs
  sway-lsp/src/core/sync.rs
Labels: forc-pkg

#5099 Add a "this" method to ContractId
  sway-lib-std/src/call_frames.sw
  sway-lib-std/src/contract_id.sw
  test/src/sdk-harness/test_artifacts/call_frames_test_abi/src/main.sw
  test/src/sdk-harness/test_projects/call_frames/mod.rs
  test/src/sdk-harness/test_projects/call_frames/src/main.sw
Labels: enhancement, lib: std

#5101 Fixed formatting of `Module` doc comments
  swayfmt/src/formatter/mod.rs
  swayfmt/tests/mod.rs
Labels: bug, formatter

#5096 Add `new()` function to `StorageKey`
  sway-lib-core/src/storage.sw
  sway-lib-std/src/storage/storage_key.sw
  sway-lib-std/src/storage/storage_map.sw
  sway-lib-std/src/storage/storage_vec.sw
Labels: lib: std, storage

#5100 Adjust existing Diagnostic API according to the Expressive Diagnostics RFC
  forc-util/src/lib.rs
  sway-core/src/semantic_analysis/ast_node/expression/typed_expression.rs
  sway-error/src/diagnostic.rs
  sway-error/src/error.rs
  sway-error/src/warning.rs
  test/src/e2e_vm_tests/test_programs/should_fail/match_expressions_duplicate_variables/test.toml
  test/src/e2e_vm_tests/test_programs/should_fail/match_expressions_non_exhaustive/test.toml
  test/src/e2e_vm_tests/test_programs/should_fail/shadowing/shadowed_consts_and_vars/test.toml
  test/src/e2e_vm_tests/test_programs/should_fail/shadowing/shadowed_consts_and_vars_alias/test.toml
  test/src/e2e_vm_tests/test_programs/should_pass/language/match_expressions_unreachable_catch_all_last_arm/test.toml
  test/src/e2e_vm_tests/test_programs/should_pass/language/match_expressions_unreachable_catch_all_middle_arm/test.toml
  test/src/e2e_vm_tests/test_programs/should_pass/language/match_expressions_unreachable_last_arm/test.toml
  test/src/e2e_vm_tests/test_programs/should_pass/language/match_expressions_unreachable_middle_arm/test.toml
Labels: compiler, compiler: frontend

#5112 Fix Check Links tests
  docs/book/src/sway-program-types/libraries.md
Labels: The Sway Book, P: critical

#5109 SwayFmt: remove {} around single imports
  swayfmt/src/items/item_use/mod.rs
  swayfmt/src/items/item_use/tests.rs
Labels: formatter

#5117 Fix catch-all OR match arms
  sway-core/src/semantic_analysis/ast_node/expression/match_expression/typed/typed_scrutinee.rs
  test/src/e2e_vm_tests/test_programs/should_pass/language/match_expressions_unreachable_catch_all_last_arm/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/language/match_expressions_unreachable_catch_all_last_arm/test.toml
  test/src/e2e_vm_tests/test_programs/should_pass/language/match_expressions_unreachable_catch_all_middle_arm/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/language/match_expressions_unreachable_catch_all_middle_arm/test.toml
  test/src/e2e_vm_tests/test_programs/should_pass/language/match_expressions_unreachable_last_arm/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/language/match_expressions_unreachable_middle_arm/src/main.sw
Labels: bug, compiler, compiler: frontend

#5118 Fix rename for alias and function prefixes
  sway-lsp/src/core/token.rs
  sway-lsp/src/traverse/typed_tree.rs
  sway-lsp/tests/fixtures/renaming/src/main.sw
  sway-lsp/tests/lib.rs
Labels: language server

#4795 Optimize Storage read/write api
  sway-lib-std/src/storage/storage_api.sw
  sway-lib-std/src/storage/storage_map.sw
  sway-lib-std/src/storage/storage_vec.sw
  test/src/e2e_vm_tests/test_programs/should_pass/require_contract_deployment/call_basic_storage/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/require_contract_deployment/call_increment_contract/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/require_contract_deployment/storage_access_caller/src/main.sw
Labels: lib: std, breaking

#5120 Bump to v0.46.0
  .github/workflows/ci.yml
  Cargo.lock
  docs/reference/src/documentation/introduction/installation/cargo.md
  docs/reference/src/documentation/introduction/installation/index.md
  docs/reference/src/documentation/introduction/installation/source.md
  docs/reference/src/index.md
  forc-pkg/Cargo.toml
  forc-plugins/forc-client/Cargo.toml
  forc-plugins/forc-doc/Cargo.toml
  forc-plugins/forc-fmt/Cargo.toml
  forc-plugins/forc-lsp/Cargo.toml
  forc-plugins/forc-tx/Cargo.toml
  forc-test/Cargo.toml
  forc-tracing/Cargo.toml
  forc-util/Cargo.toml
  forc/Cargo.toml
  sway-ast/Cargo.toml
  sway-core/Cargo.toml
  sway-error/Cargo.toml
  sway-ir/Cargo.toml
  sway-ir/sway-ir-macros/Cargo.toml
  sway-lsp/Cargo.toml
  sway-parse/Cargo.toml
  sway-types/Cargo.toml
  sway-utils/Cargo.toml
  swayfmt/Cargo.toml
  test/src/sdk-harness/Cargo.lock
Labels: release

#5094 Synchronize code_lens request & provide better UX for `forc-fmt` <> `sway-lsp` interaction.
  Cargo.lock
  forc-pkg/Cargo.toml
  forc-pkg/src/pkg.rs
  forc-pkg/src/source/git/mod.rs
  forc-pkg/src/source/ipfs.rs
  forc-plugins/forc-fmt/src/main.rs
  forc-util/Cargo.toml
  forc-util/src/lib.rs
  sway-lsp/Cargo.toml
  sway-lsp/benches/lsp_benchmarks/requests.rs
  sway-lsp/src/core/document.rs
  sway-lsp/src/error.rs
  sway-lsp/src/handlers/notification.rs
  sway-lsp/src/handlers/request.rs
  sway-lsp/src/server.rs
  sway-lsp/tests/integration/lsp.rs
Labels: language server, formatter

#5132 Update deployment dockerfile to rust 1.72
  deployment/Dockerfile
Labels: bug, ci, P: critical

#5126 Adds a `README` to `forc-doc`
  forc-plugins/forc-doc/README.md
  forc-plugins/forc-doc/src/cli.rs
  forc-plugins/forc-doc/src/doc/descriptor.rs
  forc-plugins/forc-doc/src/doc/mod.rs
  forc-plugins/forc-doc/src/doc/module.rs
  forc-plugins/forc-doc/src/main.rs
  forc-plugins/forc-doc/src/render/index.rs
  forc-plugins/forc-doc/src/render/item/components.rs
  forc-plugins/forc-doc/src/render/item/context.rs
  forc-plugins/forc-doc/src/render/item/type_anchor.rs
  forc-plugins/forc-doc/src/render/link.rs
  forc-plugins/forc-doc/src/render/mod.rs
  forc-plugins/forc-doc/src/render/search.rs
  forc-plugins/forc-doc/src/render/util/format/docstring.rs
  forc-plugins/forc-doc/src/render/util/format/mod.rs
  forc-plugins/forc-doc/src/render/util/mod.rs
  forc-plugins/forc-doc/src/static.files/ayu.css
  forc-plugins/forc-doc/src/static.files/swaydoc.css
Labels: documentation, forc-doc

#5104 Fix issues with variables in match arm alternatives
  Cargo.lock
  sway-core/Cargo.toml
  sway-core/src/semantic_analysis/ast_node/expression/match_expression/typed/matcher.rs
  sway-core/src/semantic_analysis/ast_node/expression/match_expression/typed/typed_match_branch.rs
  sway-error/src/error.rs
  sway-error/src/warning.rs
  test/src/e2e_vm_tests/test_programs/should_fail/match_expressions_duplicate_variables/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_fail/match_expressions_duplicate_variables/test.toml
  test/src/e2e_vm_tests/test_programs/should_fail/match_expressions_or_mismatched_types/Forc.lock
  test/src/e2e_vm_tests/test_programs/should_fail/match_expressions_or_mismatched_types/Forc.toml
  test/src/e2e_vm_tests/test_programs/should_fail/match_expressions_or_mismatched_types/src/lib.sw
  test/src/e2e_vm_tests/test_programs/should_fail/match_expressions_or_mismatched_types/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_fail/match_expressions_or_mismatched_types/test.toml
  test/src/e2e_vm_tests/test_programs/should_fail/match_expressions_or_missing_variables/Forc.lock
  test/src/e2e_vm_tests/test_programs/should_fail/match_expressions_or_missing_variables/Forc.toml
  test/src/e2e_vm_tests/test_programs/should_fail/match_expressions_or_missing_variables/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_fail/match_expressions_or_missing_variables/test.toml
  test/src/e2e_vm_tests/test_programs/should_pass/language/match_expressions_unreachable_catch_all_last_arm/test.toml
  test/src/e2e_vm_tests/test_programs/should_pass/language/match_expressions_unreachable_catch_all_middle_arm/test.toml
  test/src/e2e_vm_tests/test_programs/should_pass/language/match_expressions_unreachable_last_arm/test.toml
  test/src/e2e_vm_tests/test_programs/should_pass/language/match_expressions_unreachable_middle_arm/test.toml
Labels: bug, compiler, compiler: frontend, compiler: ui, compiler: static-analysis

#5138 Rename and expose inputs_owner function
  sway-lib-std/src/auth.sw
Labels: lib: std

#5137 fix: take `include_tests` into account for module AST cache
  forc-test/src/lib.rs
  forc-test/test_data/test_contract/.gitignore
  forc-test/test_data/test_contract/Forc.lock
  forc-test/test_data/test_contract/Forc.toml
  forc-test/test_data/test_contract/src/main.sw
  forc-test/test_data/test_predicate/.gitignore
  forc-test/test_data/test_predicate/Forc.lock
  forc-test/test_data/test_predicate/Forc.toml
  forc-test/test_data/test_predicate/src/main.sw
  forc-test/test_data/test_script/.gitignore
  forc-test/test_data/test_script/Forc.lock
  forc-test/test_data/test_script/Forc.toml
  forc-test/test_data/test_script/src/main.sw
  sway-core/src/lib.rs
  sway-core/src/query_engine/mod.rs
Labels: bug, compiler: frontend, forc-test

#5127 Extend primitive conversions and implement `TryFrom` trait for integer values
  sway-lib-core/src/prelude.sw
  sway-lib-core/src/primitive_conversions.sw
  sway-lib-std/src/lib.sw
  sway-lib-std/src/primitive_conversions.sw
  sway-lib-std/src/primitive_conversions/b256.sw
  sway-lib-std/src/primitive_conversions/str.sw
  sway-lib-std/src/primitive_conversions/u16.sw
  sway-lib-std/src/primitive_conversions/u32.sw
  sway-lib-std/src/primitive_conversions/u64.sw
  sway-lib-std/src/primitive_conversions/u8.sw
  test/src/e2e_vm_tests/test_programs/should_pass/language/integer_type_inference/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/test_contracts/issue_1512_repro/src/main.sw
  test/src/sdk-harness/test_projects/token_ops/src/main.sw
Labels: enhancement, lib: std, breaking

#5141 Fix trait interface method name resolution during typechecking of `impl`
  sway-core/src/semantic_analysis/ast_node/declaration/impl_trait.rs
  test/src/e2e_vm_tests/test_programs/should_pass/language/name_resolution_after_monomorphization/Forc.lock
  test/src/e2e_vm_tests/test_programs/should_pass/language/name_resolution_after_monomorphization/Forc.toml
  test/src/e2e_vm_tests/test_programs/should_pass/language/name_resolution_after_monomorphization/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/language/name_resolution_after_monomorphization/test.toml
Labels: compiler: frontend

#5123 Enable storing of a `Vec` with the `StorageVec` type
  sway-lib-std/src/storage/storage_vec.sw
  test/src/sdk-harness/Forc.lock
  test/src/sdk-harness/Forc.toml
  test/src/sdk-harness/test_projects/harness.rs
  test/src/sdk-harness/test_projects/storage_vec_to_vec/Forc.toml
  test/src/sdk-harness/test_projects/storage_vec_to_vec/mod.rs
  test/src/sdk-harness/test_projects/storage_vec_to_vec/src/main.sw
Labels: enhancement, lib: std, breaking

#5146 Forbid bidirectional flow control characters in literals
  Cargo.lock
  sway-error/src/lex_error.rs
  sway-parse/Cargo.toml
  sway-parse/src/token.rs
Labels: bug, breaking, compiler: parser

#5149 Bump to v0.46.1
  Cargo.lock
  docs/reference/src/documentation/introduction/installation/cargo.md
  docs/reference/src/documentation/introduction/installation/index.md
  docs/reference/src/documentation/introduction/installation/source.md
  docs/reference/src/index.md
  forc-pkg/Cargo.toml
  forc-plugins/forc-client/Cargo.toml
  forc-plugins/forc-doc/Cargo.toml
  forc-plugins/forc-fmt/Cargo.toml
  forc-plugins/forc-lsp/Cargo.toml
  forc-plugins/forc-tx/Cargo.toml
  forc-test/Cargo.toml
  forc-tracing/Cargo.toml
  forc-util/Cargo.toml
  forc/Cargo.toml
  sway-ast/Cargo.toml
  sway-core/Cargo.toml
  sway-error/Cargo.toml
  sway-ir/Cargo.toml
  sway-ir/sway-ir-macros/Cargo.toml
  sway-lsp/Cargo.toml
  sway-parse/Cargo.toml
  sway-types/Cargo.toml
  sway-utils/Cargo.toml
  swayfmt/Cargo.toml
Labels: release

#5150 Implement TODO in Storage API
  sway-lib-std/src/inputs.sw
  sway-lib-std/src/storage/storage_api.sw
  test/src/e2e_vm_tests/test_programs/should_pass/require_contract_deployment/call_basic_storage/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/require_contract_deployment/call_increment_contract/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/require_contract_deployment/storage_access_caller/src/main.sw
Labels: lib: std, code quality, breaking

#5154 Code quality updates for `Option` usage throughout the std lib
  sway-lib-std/src/identity.sw
  sway-lib-std/src/outputs.sw
  sway-lib-std/src/storage/storage_string.sw
  sway-lib-std/src/vec.sw
Labels: lib: std, code quality
