Repository FuelLabs/sway, pull requests merged in 2023-03, with the labels that each got.

#4159 fix: calculate contract dependency ids with tests disabled
  forc-pkg/src/pkg.rs
  forc-plugins/forc-client/src/op/deploy.rs
  forc-plugins/forc-client/src/op/run.rs
  forc-test/src/lib.rs
  test/src/e2e_vm_tests/harness.rs
Labels: bug, forc-pkg

#4214 Fix broken link and missing summary item for the "Attributes" chapter
  docs/book/src/SUMMARY.md
Labels: bug, The Sway Book

#4216 Update the invalid link to Developer Quickstart Guide in the Sway Docs.
  docs/book/src/introduction/sway_quickstart.md
Labels: The Sway Book

#4017 Add links for types that go to their definitions
  forc-plugins/forc-doc/src/descriptor.rs
  forc-plugins/forc-doc/src/doc.rs
  forc-plugins/forc-doc/src/main.rs
  forc-plugins/forc-doc/src/render.rs
Labels: enhancement, forc-doc

#4225 Refactor to use `Engines` where possible
  sway-core/src/semantic_analysis/module.rs
  sway-core/src/semantic_analysis/node_dependencies.rs
Labels: code quality

#4224 Remove re-borrow of `Engines`, which is a `Copy` type.
  sway-core/src/engine_threading.rs
  sway-core/src/language/ty/declaration/enum.rs
  sway-core/src/language/ty/declaration/struct.rs
  sway-core/src/semantic_analysis/namespace/trait_map.rs
  sway-core/src/type_system/info.rs
  sway-core/src/type_system/trait_constraint.rs
  sway-core/src/type_system/type_argument.rs
  sway-core/src/type_system/type_parameter.rs
Labels: code quality

#4226 New example for methods and associated functions
  docs/book/src/basics/methods_and_associated_functions.md
  examples/Forc.lock
  examples/Forc.toml
  examples/methods_and_associated_functions/Forc.toml
  examples/methods_and_associated_functions/src/main.sw
Labels: The Sway Book

#4222 fix(forc-fmt): propagate error on failure
  forc-plugins/forc-fmt/src/main.rs
Labels: bug, formatter

#4221 ci: check for `fuels` deps in `forc-pkg`
  .github/workflows/ci.yml
Labels: ci, forc-pkg

#4220 LSP: Rewrite `LexedProgram` and `ParseProgram` traversal to use the Parse trait.
  sway-core/src/language/parsed/declaration.rs
  sway-lsp/src/capabilities/completion.rs
  sway-lsp/src/core/session.rs
  sway-lsp/src/core/token.rs
  sway-lsp/src/traverse/dependency.rs
  sway-lsp/src/traverse/lexed_tree.rs
  sway-lsp/src/traverse/mod.rs
  sway-lsp/src/traverse/parsed_tree.rs
  sway-lsp/src/traverse/typed_tree.rs
  sway-lsp/src/utils/attributes.rs
Labels: language server, code quality

#4227 Add more logging to flaky test
  sway-lsp/tests/integration/lsp.rs
  sway-lsp/tests/lib.rs
Labels: language server, testing

#4228 Disable flaky goto definition testcase until fixed
  sway-lsp/tests/lib.rs
Labels: language server, testing

#4234 Fix decl engine accepting wrongly typed indices
  sway-core/src/decl_engine/engine.rs
Labels: bug, compiler: frontend

#4237 fix(forc-pkg): Unify member source types, fix manifest entries, fix #4235
  forc-pkg/src/pkg.rs
  forc-pkg/src/source/member.rs
  forc-pkg/src/source/mod.rs
Labels: bug, forc, P: critical, forc-pkg

#4241 Adds visibility check for fully qualified function
  sway-core/src/semantic_analysis/namespace/namespace.rs
  sway-core/src/semantic_analysis/namespace/root.rs
  sway-core/src/type_system/binding.rs
  test/src/e2e_vm_tests/test_programs/should_fail/generics_not_supported/src/inner_lib.sw
  test/src/e2e_vm_tests/test_programs/should_fail/private_function_fully_qualified/Forc.lock
  test/src/e2e_vm_tests/test_programs/should_fail/private_function_fully_qualified/Forc.toml
  test/src/e2e_vm_tests/test_programs/should_fail/private_function_fully_qualified/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_fail/private_function_fully_qualified/src/pkga.sw
  test/src/e2e_vm_tests/test_programs/should_fail/private_function_fully_qualified/test.toml
  test/src/e2e_vm_tests/test_programs/should_pass/language/use_full_path_names/src/b_dependency.sw
  test/src/e2e_vm_tests/test_programs/should_pass/language/use_full_path_names/src/c_dependency.sw
  test/src/e2e_vm_tests/test_programs/should_pass/test_contracts/multiple_impl/src/testlib.sw
Labels: bug, P: critical, compiler: frontend

#4242 Bump to `v0.35.5`
  Cargo.lock
  forc-pkg/Cargo.toml
  forc-plugins/forc-client/Cargo.toml
  forc-plugins/forc-doc/Cargo.toml
  forc-plugins/forc-fmt/Cargo.toml
  forc-plugins/forc-lsp/Cargo.toml
  forc-plugins/forc-tx/Cargo.toml
  forc-test/Cargo.toml
  forc-tracing/Cargo.toml
  forc-util/Cargo.toml
  forc/Cargo.toml
  sway-ast/Cargo.toml
  sway-core/Cargo.toml
  sway-error/Cargo.toml
  sway-ir/Cargo.toml
  sway-ir/sway-ir-macros/Cargo.toml
  sway-lsp/Cargo.toml
  sway-parse/Cargo.toml
  sway-types/Cargo.toml
  sway-utils/Cargo.toml
  swayfmt/Cargo.toml
Labels: release

#4207 Limited autocomplete for expressions
  sway-core/src/decl_engine/mod.rs
  sway-core/src/language/ty/ast_node.rs
  sway-core/src/semantic_analysis/namespace/items.rs
  sway-core/src/type_system/info.rs
  sway-lsp/src/capabilities/completion.rs
  sway-lsp/src/core/session.rs
  sway-lsp/src/core/token.rs
  sway-lsp/src/core/token_map.rs
  sway-lsp/src/server.rs
  sway-lsp/src/traverse/parsed_tree.rs
  sway-lsp/tests/fixtures/completion/.gitignore
  sway-lsp/tests/fixtures/completion/Forc.toml
  sway-lsp/tests/fixtures/completion/src/main.sw
  sway-lsp/tests/integration/lsp.rs
  sway-lsp/tests/lib.rs
  sway-lsp/tests/utils/src/lib.rs
Labels: enhancement, language server

#4212 Improve `forc doc` navigation interface
  forc-plugins/forc-doc/src/assets/ayu.css
  forc-plugins/forc-doc/src/assets/swaydoc.css
  forc-plugins/forc-doc/src/doc.rs
  forc-plugins/forc-doc/src/main.rs
  forc-plugins/forc-doc/src/render.rs
Labels: forc-doc

#4248 Add lock file for sdk-harness test workspace, pin fuel-core to 0.17.3, fix sdk-harness CI issues
  .github/workflows/ci.yml
  .gitignore
  test/src/sdk-harness/Cargo.lock
  test/src/sdk-harness/Cargo.toml
Labels: bug, ci, testing

#4245 Adjust std::alloc::alloc() to accommodate upcoming VM changes.
  sway-lib-std/src/alloc.sw
  test/src/e2e_vm_tests/test_programs/should_pass/require_contract_deployment/call_basic_storage/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/stdlib/alloc/test.toml
Labels: lib: std

#4247 Change some `TyDeclaration` variants to hold decl refs
  forc-plugins/forc-doc/src/descriptor.rs
  sway-core/src/control_flow_analysis/analyze_return_paths.rs
  sway-core/src/control_flow_analysis/dead_code_analysis.rs
  sway-core/src/ir_generation/compile.rs
  sway-core/src/ir_generation/const_eval.rs
  sway-core/src/ir_generation/function.rs
  sway-core/src/language/ty/ast_node.rs
  sway-core/src/language/ty/declaration/declaration.rs
  sway-core/src/language/ty/module.rs
  sway-core/src/language/ty/program.rs
  sway-core/src/semantic_analysis/ast_node/declaration/declaration.rs
  sway-core/src/semantic_analysis/ast_node/declaration/impl_trait.rs
  sway-core/src/semantic_analysis/ast_node/declaration/supertrait.rs
  sway-core/src/semantic_analysis/ast_node/expression/match_expression/typed/typed_scrutinee.rs
  sway-core/src/semantic_analysis/ast_node/expression/typed_expression.rs
  sway-core/src/semantic_analysis/cei_pattern_analysis.rs
  sway-core/src/semantic_analysis/coins_analysis.rs
  sway-core/src/semantic_analysis/storage_only_types.rs
  sway-core/src/type_system/binding.rs
  sway-core/src/type_system/trait_constraint.rs
  sway-core/src/type_system/type_parameter.rs
  sway-lsp/src/capabilities/code_actions/abi_decl/mod.rs
  sway-lsp/src/capabilities/code_actions/mod.rs
  sway-lsp/src/capabilities/code_actions/struct_decl/struct_new.rs
  sway-lsp/src/capabilities/hover.rs
  sway-lsp/src/traverse/dependency.rs
  sway-lsp/src/traverse/typed_tree.rs
  sway-lsp/src/utils/debug.rs
Labels: compiler: frontend

#4252 Revert "Change some `TyDeclaration` variants to hold decl refs"
  forc-plugins/forc-doc/src/descriptor.rs
  sway-core/src/control_flow_analysis/analyze_return_paths.rs
  sway-core/src/control_flow_analysis/dead_code_analysis.rs
  sway-core/src/ir_generation/compile.rs
  sway-core/src/ir_generation/const_eval.rs
  sway-core/src/ir_generation/function.rs
  sway-core/src/language/ty/ast_node.rs
  sway-core/src/language/ty/declaration/declaration.rs
  sway-core/src/language/ty/module.rs
  sway-core/src/language/ty/program.rs
  sway-core/src/semantic_analysis/ast_node/declaration/declaration.rs
  sway-core/src/semantic_analysis/ast_node/declaration/impl_trait.rs
  sway-core/src/semantic_analysis/ast_node/declaration/supertrait.rs
  sway-core/src/semantic_analysis/ast_node/expression/match_expression/typed/typed_scrutinee.rs
  sway-core/src/semantic_analysis/ast_node/expression/typed_expression.rs
  sway-core/src/semantic_analysis/cei_pattern_analysis.rs
  sway-core/src/semantic_analysis/coins_analysis.rs
  sway-core/src/semantic_analysis/storage_only_types.rs
  sway-core/src/type_system/binding.rs
  sway-core/src/type_system/trait_constraint.rs
  sway-core/src/type_system/type_parameter.rs
  sway-lsp/src/capabilities/code_actions/abi_decl/mod.rs
  sway-lsp/src/capabilities/code_actions/mod.rs
  sway-lsp/src/capabilities/code_actions/struct_decl/struct_new.rs
  sway-lsp/src/capabilities/hover.rs
  sway-lsp/src/traverse/dependency.rs
  sway-lsp/src/traverse/typed_tree.rs
  sway-lsp/src/utils/debug.rs
Labels: code quality

#4253 Add the `TypeInfo::TypeParam` variant but don't use it yet.
  sway-core/src/abi_generation/evm_json_abi.rs
  sway-core/src/abi_generation/fuel_json_abi.rs
  sway-core/src/ir_generation/convert.rs
  sway-core/src/semantic_analysis/node_dependencies.rs
  sway-core/src/type_system/id.rs
  sway-core/src/type_system/info.rs
  sway-core/src/type_system/substitute.rs
Labels: compiler: frontend

#4259 Apply new clippy suggestions from new clippy update
  forc-test/src/lib.rs
  sway-core/src/ir_generation/storage.rs
  sway-core/src/language/purity.rs
  sway-core/src/language/ty/program.rs
  sway-core/src/language/ty/variable_mutability.rs
  sway-core/src/semantic_analysis/ast_node/declaration/impl_trait.rs
  sway-core/src/semantic_analysis/ast_node/expression/match_expression/analysis/constructor_factory.rs
  sway-core/src/semantic_analysis/ast_node/mode.rs
  sway-core/src/semantic_analysis/namespace/trait_map.rs
  sway-core/src/type_system/info.rs
Labels: code quality

#4254 Remove a couple unneeded uses of `CompileResult`.
  sway-core/src/control_flow_analysis/dead_code_analysis.rs
  sway-core/src/language/ty/ast_node.rs
  sway-core/src/language/ty/declaration/declaration.rs
  sway-core/src/language/ty/program.rs
  sway-core/src/semantic_analysis/namespace/module.rs
  sway-core/src/semantic_analysis/namespace/root.rs
Labels: code quality, compiler: frontend

#4257 Updated tests to not use spent messages
  .github/workflows/ci.yml
  Cargo.lock
  sway-lsp/Cargo.toml
  test/src/sdk-harness/Cargo.lock
  test/src/sdk-harness/test_projects/tx_fields/mod.rs
Labels: testing, dependencies

#4219 Introduce `CallPath` to `TyConstantDeclaration`
  forc-pkg/src/pkg.rs
  forc-plugins/forc-doc/src/descriptor.rs
  sway-core/src/abi_generation/fuel_json_abi.rs
  sway-core/src/control_flow_analysis/dead_code_analysis.rs
  sway-core/src/ir_generation/compile.rs
  sway-core/src/ir_generation/const_eval.rs
  sway-core/src/ir_generation/function.rs
  sway-core/src/language/call_path.rs
  sway-core/src/language/ty/declaration/constant.rs
  sway-core/src/language/ty/program.rs
  sway-core/src/semantic_analysis/ast_node/declaration/declaration.rs
  sway-core/src/semantic_analysis/ast_node/expression/match_expression/typed/matcher.rs
  sway-core/src/semantic_analysis/ast_node/expression/typed_expression.rs
  sway-core/src/semantic_analysis/ast_node/expression/typed_expression/constant_declaration.rs
  sway-core/src/semantic_analysis/namespace/module.rs
  sway-core/src/semantic_analysis/namespace/namespace.rs
  sway-core/src/semantic_analysis/storage_only_types.rs
  sway-ir/src/module.rs
  sway-ir/src/parser.rs
  sway-lsp/src/traverse/typed_tree.rs
  test/src/e2e_vm_tests/test_programs/should_pass/language/same_const_name/Forc.lock
  test/src/e2e_vm_tests/test_programs/should_pass/language/same_const_name/Forc.toml
  test/src/e2e_vm_tests/test_programs/should_pass/language/same_const_name/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/language/same_const_name/src/pkga.sw
  test/src/e2e_vm_tests/test_programs/should_pass/language/same_const_name/src/pkga/pkgb.sw
  test/src/e2e_vm_tests/test_programs/should_pass/language/same_const_name/test.toml
  test/src/e2e_vm_tests/test_programs/should_pass/language/same_const_name_lib/Forc.lock
  test/src/e2e_vm_tests/test_programs/should_pass/language/same_const_name_lib/Forc.toml
  test/src/e2e_vm_tests/test_programs/should_pass/language/same_const_name_lib/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/language/same_const_name_lib/src/pkga.sw
  test/src/e2e_vm_tests/test_programs/should_pass/language/same_const_name_lib/src/pkga/pkgb.sw
  test/src/e2e_vm_tests/test_programs/should_pass/language/same_const_name_lib/test.toml
Labels: bug, P: critical, compiler: frontend

#4192 feat(fmt): fmt comments with local insertions
  examples/config_time_constants/src/main.sw
  examples/option/src/main.sw
  examples/storage_variables/src/main.sw
  sway-ast/src/token.rs
  sway-parse/src/token.rs
  swayfmt/src/comments.rs
  swayfmt/src/formatter/mod.rs
  swayfmt/src/items/item_abi.rs
  swayfmt/src/items/item_const.rs
  swayfmt/src/items/item_enum/mod.rs
  swayfmt/src/items/item_fn/mod.rs
  swayfmt/src/items/item_impl/mod.rs
  swayfmt/src/items/item_storage/mod.rs
  swayfmt/src/items/item_struct/mod.rs
  swayfmt/src/items/item_trait.rs
  swayfmt/src/module/mod.rs
  swayfmt/src/parse.rs
  swayfmt/src/utils/language/attribute.rs
  swayfmt/src/utils/language/expr/asm_block.rs
  swayfmt/src/utils/map/byte_span.rs
  swayfmt/src/utils/map/comments.rs
  swayfmt/tests/mod.rs
Labels: formatter

#4209 refactor(forc-pkg): Attempt to simplify build/compile fns by introducing dedicated types
  forc-pkg/src/pkg.rs
  forc/src/cli/commands/test.rs
  test/src/e2e_vm_tests/harness.rs
  test/src/e2e_vm_tests/mod.rs
Labels: code quality, forc-pkg

#4186 doc: Adding annotations support on highlight.js
  docs/book/theme/highlight.js
  docs/reference/theme/highlight.js
  forc-plugins/forc-doc/src/assets/highlight.js
  scripts/highlightjs/sway.js
Labels: The Sway Book, forc-doc, The Sway Reference

#4260 More intrinsics and `const_eval`
  docs/book/src/reference/compiler_intrinsics.md
  sway-ast/src/intrinsics.rs
  sway-core/src/asm_generation/fuel/fuel_asm_builder.rs
  sway-core/src/ir_generation/const_eval.rs
  sway-core/src/ir_generation/function.rs
  sway-core/src/semantic_analysis/ast_node/expression/intrinsic_function.rs
  sway-core/src/semantic_analysis/cei_pattern_analysis.rs
  sway-ir/src/instruction.rs
  sway-ir/src/optimize/constants.rs
  sway-ir/src/parser.rs
  sway-ir/src/printer.rs
  sway-lib-core/src/ops.sw
  test/src/e2e_vm_tests/test_programs/should_fail/const_nonconst_init/Forc.lock
  test/src/e2e_vm_tests/test_programs/should_fail/const_nonconst_init/Forc.toml
  test/src/e2e_vm_tests/test_programs/should_fail/const_nonconst_init/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_fail/const_nonconst_init/test.toml
  test/src/e2e_vm_tests/test_programs/should_fail/nonconst_storage_init/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_fail/nonconst_storage_init/test.toml
  test/src/e2e_vm_tests/test_programs/should_pass/language/binop_intrinsics/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/language/binop_intrinsics/test.toml
  test/src/e2e_vm_tests/test_programs/should_pass/language/const_inits/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/require_contract_deployment/call_basic_storage/src/main.sw
Labels: enhancement, language feature, compiler: frontend, compiler: parser

#4251 Use `DeclId` directly for `TyDeclaration::StructDeclaration` and `TyDeclaration::EnumDeclaration`.
  forc-plugins/forc-doc/src/descriptor.rs
  forc-plugins/forc-doc/src/render.rs
  sway-core/src/control_flow_analysis/dead_code_analysis.rs
  sway-core/src/ir_generation/function.rs
  sway-core/src/language/ty/ast_node.rs
  sway-core/src/language/ty/declaration/declaration.rs
  sway-core/src/semantic_analysis/ast_node/code_block.rs
  sway-core/src/semantic_analysis/ast_node/declaration/declaration.rs
  sway-core/src/semantic_analysis/storage_only_types.rs
  sway-core/src/type_system/binding.rs
  sway-core/src/type_system/engine.rs
  sway-lsp/src/capabilities/code_actions/mod.rs
  sway-lsp/src/capabilities/code_actions/struct_decl/mod.rs
  sway-lsp/src/capabilities/hover.rs
  sway-lsp/src/core/token_map.rs
  sway-lsp/src/traverse/dependency.rs
  sway-lsp/src/traverse/typed_tree.rs
  sway-lsp/src/utils/debug.rs
Labels: code quality

#4193 Make AST serializable
  Cargo.lock
  sway-ast/Cargo.toml
  sway-ast/src/assignable.rs
  sway-ast/src/attribute.rs
  sway-ast/src/brackets.rs
  sway-ast/src/expr/asm.rs
  sway-ast/src/expr/mod.rs
  sway-ast/src/expr/op_code.rs
  sway-ast/src/generics.rs
  sway-ast/src/item/item_abi.rs
  sway-ast/src/item/item_configurable.rs
  sway-ast/src/item/item_const.rs
  sway-ast/src/item/item_enum.rs
  sway-ast/src/item/item_fn.rs
  sway-ast/src/item/item_impl.rs
  sway-ast/src/item/item_storage.rs
  sway-ast/src/item/item_struct.rs
  sway-ast/src/item/item_trait.rs
  sway-ast/src/item/item_use.rs
  sway-ast/src/item/mod.rs
  sway-ast/src/keywords.rs
  sway-ast/src/literal.rs
  sway-ast/src/module.rs
  sway-ast/src/path.rs
  sway-ast/src/pattern.rs
  sway-ast/src/priv_prelude.rs
  sway-ast/src/punctuated.rs
  sway-ast/src/statement.rs
  sway-ast/src/submodule.rs
  sway-ast/src/ty/mod.rs
  sway-ast/src/where_clause.rs
  sway-core/src/transform/to_parsed_lang/convert_parse_tree.rs
  sway-lsp/src/traverse/lexed_tree.rs
  sway-parse/Cargo.toml
  sway-parse/src/attribute.rs
  sway-parse/src/expr/mod.rs
  sway-parse/src/module.rs
  sway-parse/src/path.rs
  sway-parse/tests/common/mod.rs
  sway-parse/tests/noop_script.rs
  sway-types/src/ident.rs
  sway-types/src/span.rs
  swayfmt/src/utils/language/expr/conditional.rs
Labels: compiler: parser

#4261 Add tokens for storage reassignment
  sway-core/src/language/parsed/declaration/storage.rs
  sway-core/src/language/parsed/expression/mod.rs
  sway-core/src/language/ty/declaration/storage.rs
  sway-core/src/language/ty/expression/reassignment.rs
  sway-core/src/semantic_analysis/ast_node/declaration/declaration.rs
  sway-core/src/semantic_analysis/ast_node/expression/typed_expression.rs
  sway-core/src/semantic_analysis/ast_node/mod.rs
  sway-core/src/semantic_analysis/namespace/items.rs
  sway-core/src/transform/to_parsed_lang/convert_parse_tree.rs
  sway-lsp/src/capabilities/document_symbol.rs
  sway-lsp/src/capabilities/semantic_tokens.rs
  sway-lsp/src/core/token.rs
  sway-lsp/src/traverse/parsed_tree.rs
  sway-lsp/src/traverse/typed_tree.rs
  sway-lsp/tests/fixtures/tokens/storage/.gitignore
  sway-lsp/tests/fixtures/tokens/storage/Forc.toml
  sway-lsp/tests/fixtures/tokens/storage/src/main.sw
  sway-lsp/tests/lib.rs
Labels: language server, compiler: frontend

#4258 Slightly improve the `DeclRef` API and interface.
  forc-plugins/forc-doc/src/descriptor.rs
  forc-plugins/forc-doc/src/render.rs
  sway-core/src/control_flow_analysis/dead_code_analysis.rs
  sway-core/src/decl_engine/engine.rs
  sway-core/src/decl_engine/functional_decl_id.rs
  sway-core/src/decl_engine/id.rs
  sway-core/src/decl_engine/mapping.rs
  sway-core/src/decl_engine/ref.rs
  sway-core/src/ir_generation/compile.rs
  sway-core/src/language/ty/declaration/declaration.rs
  sway-core/src/language/ty/program.rs
  sway-core/src/semantic_analysis/ast_node/declaration/declaration.rs
  sway-core/src/semantic_analysis/ast_node/declaration/impl_trait.rs
  sway-core/src/semantic_analysis/ast_node/declaration/trait.rs
  sway-core/src/semantic_analysis/ast_node/expression/typed_expression.rs
  sway-core/src/semantic_analysis/ast_node/expression/typed_expression/function_application.rs
  sway-core/src/semantic_analysis/ast_node/expression/typed_expression/method_application.rs
  sway-core/src/semantic_analysis/cei_pattern_analysis.rs
  sway-core/src/semantic_analysis/namespace/items.rs
  sway-core/src/semantic_analysis/namespace/namespace.rs
  sway-core/src/semantic_analysis/namespace/trait_map.rs
  sway-core/src/semantic_analysis/storage_only_types.rs
  sway-core/src/type_system/binding.rs
  sway-core/src/type_system/info.rs
  sway-lsp/src/capabilities/completion.rs
  sway-lsp/src/traverse/typed_tree.rs
Labels: code quality, compiler: frontend

#4265 Share utils between sway-parse unit tests
  sway-parse/src/attribute.rs
  sway-parse/src/item/mod.rs
  sway-parse/src/lib.rs
  sway-parse/src/module.rs
  sway-parse/src/path.rs
  sway-parse/src/test_utils.rs
Labels: code quality, compiler: parser

#4256 Introduce `TypeSubstList` and add it to `TyDeclaration` and `DeclRef`.
  sway-core/src/decl_engine/mapping.rs
  sway-core/src/decl_engine/mod.rs
  sway-core/src/decl_engine/ref.rs
  sway-core/src/decl_engine/template.rs
  sway-core/src/language/parsed/declaration/trait.rs
  sway-core/src/language/ty/declaration/abi.rs
  sway-core/src/language/ty/declaration/declaration.rs
  sway-core/src/language/ty/expression/expression_variant.rs
  sway-core/src/language/ty/module.rs
  sway-core/src/language/ty/program.rs
  sway-core/src/semantic_analysis/ast_node/code_block.rs
  sway-core/src/semantic_analysis/ast_node/declaration/declaration.rs
  sway-core/src/semantic_analysis/ast_node/declaration/trait.rs
  sway-core/src/semantic_analysis/namespace/trait_map.rs
  sway-core/src/type_system/substitute.rs
Labels: compiler: frontend

#4271 Improve debug printing for `DeclId`.
  sway-core/src/decl_engine/id.rs
Labels: compiler, code quality

#4280 refactor: remove span based test filters
  forc-test/src/lib.rs
Labels: code quality, forc-test

#4281 Error out on wrongly sized tuple destructuring
  sway-core/src/transform/to_parsed_lang/convert_parse_tree.rs
  sway-core/src/type_system/unify_check.rs
  test/src/e2e_vm_tests/test_programs/should_fail/wrongly_sized_tuple_destructuring/.gitignore
  test/src/e2e_vm_tests/test_programs/should_fail/wrongly_sized_tuple_destructuring/Forc.lock
  test/src/e2e_vm_tests/test_programs/should_fail/wrongly_sized_tuple_destructuring/Forc.toml
  test/src/e2e_vm_tests/test_programs/should_fail/wrongly_sized_tuple_destructuring/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_fail/wrongly_sized_tuple_destructuring/test.toml
  test/src/e2e_vm_tests/test_programs/should_pass/require_contract_deployment/call_basic_storage/src/main.sw
Labels: bug, P: critical, compiler: frontend

#4273 Use `DeclRef` in `TyExpressionVariant` variants.
  sway-core/src/control_flow_analysis/dead_code_analysis.rs
  sway-core/src/decl_engine/ref.rs
  sway-core/src/ir_generation/const_eval.rs
  sway-core/src/ir_generation/function.rs
  sway-core/src/language/ty/declaration/function.rs
  sway-core/src/language/ty/declaration/trait.rs
  sway-core/src/language/ty/expression/expression.rs
  sway-core/src/language/ty/expression/expression_variant.rs
  sway-core/src/semantic_analysis/ast_node/declaration/function/function_parameter.rs
  sway-core/src/semantic_analysis/ast_node/declaration/impl_trait.rs
  sway-core/src/semantic_analysis/ast_node/expression/typed_expression.rs
  sway-core/src/semantic_analysis/ast_node/expression/typed_expression/enum_instantiation.rs
  sway-core/src/semantic_analysis/ast_node/expression/typed_expression/function_application.rs
  sway-core/src/semantic_analysis/ast_node/expression/typed_expression/method_application.rs
  sway-core/src/semantic_analysis/ast_node/expression/typed_expression/struct_instantiation.rs
  sway-core/src/semantic_analysis/cei_pattern_analysis.rs
  sway-core/src/type_system/id.rs
  sway-core/src/type_system/info.rs
  sway-core/src/type_system/unconstrained_type_parameters.rs
  sway-lsp/src/traverse/typed_tree.rs
  test/src/e2e_vm_tests/test_programs/should_pass/language/generic_impl_self/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/language/generic_impl_self/test.toml
Labels: bug, code quality, compiler: frontend

#4269 fix(fmt): do not add extra spaces in empty parameter list when formatting
  swayfmt/src/items/item_fn/mod.rs
  swayfmt/src/items/item_impl/tests.rs
Labels: bug, formatter

#4288 Update API for transforming declarations to `DeclRef`'s.
  sway-core/src/language/ty/declaration/declaration.rs
  sway-core/src/semantic_analysis/ast_node/expression/match_expression/typed/typed_scrutinee.rs
  sway-core/src/semantic_analysis/ast_node/expression/typed_expression.rs
  sway-core/src/semantic_analysis/ast_node/expression/typed_expression/constant_declaration.rs
Labels: compiler, code quality

#4279 docs: quick-start section move the `--node-url` explanation under the example
  docs/book/src/introduction/sway_quickstart.md
Labels: The Sway Book

#4296 Make string representations of build targets consistent
  Cargo.lock
  sway-core/Cargo.toml
  sway-core/src/build_config.rs
  test/src/e2e_vm_tests/mod.rs
  test/src/e2e_vm_tests/test_programs/should_pass/midenvm/midenvm_trivial/Forc.toml
  test/src/e2e_vm_tests/test_programs/should_pass/midenvm/midenvm_trivial/test.toml
  test/src/main.rs
Labels: compiler: frontend

#4229 Fixes trait item method DCA warning.
  sway-core/src/control_flow_analysis/dead_code_analysis.rs
  sway-core/src/control_flow_analysis/flow_graph/mod.rs
  sway-core/src/control_flow_analysis/flow_graph/namespace.rs
  test/src/e2e_vm_tests/test_programs/should_pass/dca/trait_method/Forc.lock
  test/src/e2e_vm_tests/test_programs/should_pass/dca/trait_method/Forc.toml
  test/src/e2e_vm_tests/test_programs/should_pass/dca/trait_method/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/dca/trait_method/test.toml
  test/src/e2e_vm_tests/test_programs/should_pass/dca/trait_method_lib/Forc.lock
  test/src/e2e_vm_tests/test_programs/should_pass/dca/trait_method_lib/Forc.toml
  test/src/e2e_vm_tests/test_programs/should_pass/dca/trait_method_lib/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/dca/trait_method_lib/test.toml
  test/src/e2e_vm_tests/test_programs/should_pass/dca/trait_method_neq/Forc.lock
  test/src/e2e_vm_tests/test_programs/should_pass/dca/trait_method_neq/Forc.toml
  test/src/e2e_vm_tests/test_programs/should_pass/dca/trait_method_neq/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/dca/trait_method_neq/test.toml
Labels: bug, compiler: frontend, DCA

#4294 Manually clone `self` in `subtract` for `U256` and `pow` for `U128`
  sway-lib-std/src/u128.sw
  sway-lib-std/src/u256.sw
  test/src/e2e_vm_tests/test_programs/should_pass/stdlib/u128_pow_test/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/stdlib/u256_ops_test/src/main.sw
Labels: bug, lib: std, P: critical

#4268 ci: strip release binaries
  .github/workflows/ci.yml
Labels: ci

#4156 feat: multi contract calls in unit tests for contracts
  docs/book/src/testing/unit-testing.md
  examples/multi_contract_calls/Forc.lock
  examples/multi_contract_calls/Forc.toml
  examples/multi_contract_calls/callee/.gitignore
  examples/multi_contract_calls/callee/Forc.toml
  examples/multi_contract_calls/callee/src/main.sw
  examples/multi_contract_calls/caller/.gitignore
  examples/multi_contract_calls/caller/Forc.toml
  examples/multi_contract_calls/caller/src/main.sw
  examples/storage_variables/src/main.sw
  forc-pkg/src/manifest.rs
  forc-pkg/src/pkg.rs
  forc-plugins/forc-client/src/util/pkg.rs
  forc-test/src/lib.rs
  forc-util/src/lib.rs
  sway-types/src/lib.rs
  test/src/e2e_vm_tests/mod.rs
  test/src/e2e_vm_tests/test_programs/should_pass/unit_tests/contract_multi_test/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/unit_tests/multi-contract-calls/Forc.lock
  test/src/e2e_vm_tests/test_programs/should_pass/unit_tests/multi-contract-calls/Forc.toml
  test/src/e2e_vm_tests/test_programs/should_pass/unit_tests/multi-contract-calls/contract2/Forc.lock
  test/src/e2e_vm_tests/test_programs/should_pass/unit_tests/multi-contract-calls/contract2/Forc.toml
  test/src/e2e_vm_tests/test_programs/should_pass/unit_tests/multi-contract-calls/contract2/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/unit_tests/multi-contract-calls/contract_multi_test/Forc.lock
  test/src/e2e_vm_tests/test_programs/should_pass/unit_tests/multi-contract-calls/contract_multi_test/Forc.toml
  test/src/e2e_vm_tests/test_programs/should_pass/unit_tests/multi-contract-calls/contract_multi_test/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/unit_tests/multi-contract-calls/test.toml
Labels: enhancement, forc-test

#4298 refactor: deprecate `ConfigTimeConstant`s
  docs/book/src/basics/variables.md
  examples/Forc.lock
  examples/Forc.toml
  examples/configurable_constants/Forc.toml
  examples/configurable_constants/src/main.sw
  forc-pkg/src/manifest.rs
  forc-pkg/src/pkg.rs
  forc-plugins/forc-client/src/op/deploy.rs
  forc-plugins/forc-client/src/op/run.rs
  forc-test/src/lib.rs
  forc/src/ops/forc_build.rs
  sway-core/src/semantic_analysis/namespace/module.rs
  sway-error/src/error.rs
  sway-types/src/lib.rs
  test/src/e2e_vm_tests/test_programs/should_fail/config_time_constants/Forc.lock
  test/src/e2e_vm_tests/test_programs/should_fail/config_time_constants/Forc.toml
  test/src/e2e_vm_tests/test_programs/should_fail/config_time_constants/json_abi_oracle.json
  test/src/e2e_vm_tests/test_programs/should_fail/config_time_constants/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_fail/config_time_constants/test.toml
  test/src/e2e_vm_tests/test_programs/should_fail/config_time_constants_non_literal/Forc.lock
  test/src/e2e_vm_tests/test_programs/should_fail/config_time_constants_non_literal/Forc.toml
  test/src/e2e_vm_tests/test_programs/should_fail/config_time_constants_non_literal/json_abi_oracle.json
  test/src/e2e_vm_tests/test_programs/should_fail/config_time_constants_non_literal/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_fail/config_time_constants_non_literal/test.toml
  test/src/e2e_vm_tests/test_programs/should_pass/language/config_time_constants/Forc.lock
  test/src/e2e_vm_tests/test_programs/should_pass/language/config_time_constants/Forc.toml
  test/src/e2e_vm_tests/test_programs/should_pass/language/config_time_constants/json_abi_oracle.json
  test/src/e2e_vm_tests/test_programs/should_pass/language/config_time_constants/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/language/config_time_constants/test.toml
Labels: breaking, forc-pkg

#4264 Add skeleton code for monomorphization solver.
  sway-core/src/decl_engine/id.rs
  sway-core/src/decl_engine/template.rs
  sway-core/src/engine_threading.rs
  sway-core/src/lib.rs
  sway-core/src/monomorphize/constraint.rs
  sway-core/src/monomorphize/gather/code_block.rs
  sway-core/src/monomorphize/gather/context.rs
  sway-core/src/monomorphize/gather/declaration.rs
  sway-core/src/monomorphize/gather/expression.rs
  sway-core/src/monomorphize/gather/mod.rs
  sway-core/src/monomorphize/gather/module.rs
  sway-core/src/monomorphize/gather/node.rs
  sway-core/src/monomorphize/instruct/code_block.rs
  sway-core/src/monomorphize/instruct/context.rs
  sway-core/src/monomorphize/instruct/context2.rs
  sway-core/src/monomorphize/instruct/declaration.rs
  sway-core/src/monomorphize/instruct/expression.rs
  sway-core/src/monomorphize/instruct/mod.rs
  sway-core/src/monomorphize/instruct/module.rs
  sway-core/src/monomorphize/instruct/node.rs
  sway-core/src/monomorphize/instructions.rs
  sway-core/src/monomorphize/mod.rs
  sway-core/src/monomorphize/priv_prelude.rs
  sway-core/src/monomorphize/solve/instruction_result.rs
  sway-core/src/monomorphize/solve/iteration_report.rs
  sway-core/src/monomorphize/solve/mod.rs
  sway-core/src/monomorphize/solve/solver.rs
  sway-core/src/semantic_analysis/ast_node/expression/typed_expression.rs
  sway-core/src/type_system/engine.rs
  sway-core/src/type_system/substitute.rs
Labels: compiler: frontend, compiler: collection, compiler: static-analysis

#4313 direct to fuel book quickstart
  docs/book/src/introduction/sway_quickstart.md
Labels: The Sway Book, documentation

#4302 Introduce the StorableSlice trait to the std library
  sway-lib-core/src/raw_slice.sw
  sway-lib-std/src/bytes.sw
  sway-lib-std/src/storage.sw
  test/src/sdk-harness/test_projects/storage_bytes/mod.rs
  test/src/sdk-harness/test_projects/storage_bytes/src/main.sw
Labels: enhancement, lib: std

#4317 docs: remove missing feature regarding configurables
  docs/book/src/reference/known_issues_and_workarounds.md
Labels: The Sway Book, documentation

#4322 docs(fmt): update swayfmt docs
  swayfmt/CONTRIBUTING.md
  swayfmt/README.md
Labels: documentation

#4315 Update `DeclEngine` API to use more abstract methods.
  sway-core/src/decl_engine/engine.rs
  sway-core/src/decl_engine/id.rs
  sway-core/src/decl_engine/ref.rs
  sway-core/src/language/ty/declaration/declaration.rs
  sway-core/src/language/ty/declaration/trait.rs
  sway-core/src/language/ty/expression/expression_variant.rs
  sway-core/src/semantic_analysis/ast_node/declaration/abi.rs
  sway-core/src/semantic_analysis/ast_node/declaration/declaration.rs
  sway-core/src/semantic_analysis/ast_node/expression/match_expression/typed/typed_scrutinee.rs
  sway-core/src/semantic_analysis/ast_node/expression/typed_expression/function_application.rs
  sway-core/src/semantic_analysis/ast_node/expression/typed_expression/method_application.rs
  sway-core/src/semantic_analysis/namespace/trait_map.rs
  sway-core/src/type_system/id.rs
  sway-core/src/type_system/mod.rs
  sway-core/src/type_system/substitute.rs
Labels: code quality, compiler: frontend, compiler: collection

#4323 Rename `TypeSubstList` to `SubstList`.
  sway-core/src/decl_engine/ref.rs
  sway-core/src/decl_engine/template.rs
  sway-core/src/language/ty/declaration/declaration.rs
  sway-core/src/language/ty/module.rs
  sway-core/src/language/ty/program.rs
  sway-core/src/monomorphize/constraint.rs
  sway-core/src/monomorphize/gather/declaration.rs
  sway-core/src/monomorphize/instruct/declaration.rs
  sway-core/src/monomorphize/instructions.rs
  sway-core/src/monomorphize/solve/solver.rs
  sway-core/src/semantic_analysis/ast_node/code_block.rs
  sway-core/src/semantic_analysis/ast_node/declaration/declaration.rs
  sway-core/src/type_system/substitute.rs
Labels: code quality

#4321 forc-pkg: throw error for nested workspaces
  forc-pkg/src/manifest.rs
  test/src/e2e_vm_tests/test_programs/should_fail/forc/unexpected_nested_workspace/.gitignore
  test/src/e2e_vm_tests/test_programs/should_fail/forc/unexpected_nested_workspace/Forc.toml
  test/src/e2e_vm_tests/test_programs/should_fail/forc/unexpected_nested_workspace/test.toml
  test/src/e2e_vm_tests/test_programs/should_fail/forc/unexpected_nested_workspace/test_workspace/Forc.lock
  test/src/e2e_vm_tests/test_programs/should_fail/forc/unexpected_nested_workspace/test_workspace/Forc.toml
  test/src/e2e_vm_tests/test_programs/should_fail/forc/unexpected_nested_workspace/test_workspace/test_contract/.gitignore
  test/src/e2e_vm_tests/test_programs/should_fail/forc/unexpected_nested_workspace/test_workspace/test_contract/Forc.toml
  test/src/e2e_vm_tests/test_programs/should_fail/forc/unexpected_nested_workspace/test_workspace/test_contract/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_fail/forc/unexpected_nested_workspace/test_workspace/test_lib/.gitignore
  test/src/e2e_vm_tests/test_programs/should_fail/forc/unexpected_nested_workspace/test_workspace/test_lib/Forc.toml
  test/src/e2e_vm_tests/test_programs/should_fail/forc/unexpected_nested_workspace/test_workspace/test_lib/src/lib.sw
  test/src/e2e_vm_tests/test_programs/should_fail/forc/unexpected_nested_workspace/test_workspace/test_script/.gitignore
  test/src/e2e_vm_tests/test_programs/should_fail/forc/unexpected_nested_workspace/test_workspace/test_script/Forc.toml
  test/src/e2e_vm_tests/test_programs/should_fail/forc/unexpected_nested_workspace/test_workspace/test_script/src/main.sw
Labels: testing, forc-pkg

#4325 Fix semantic definitions for `Self` and `self` tokens
  sway-lsp/src/capabilities/document_symbol.rs
  sway-lsp/src/capabilities/semantic_tokens.rs
  sway-lsp/src/core/token.rs
  sway-lsp/src/traverse/parsed_tree.rs
  sway-lsp/src/traverse/typed_tree.rs
Labels: bug, language server

#4327 Refactor `TyScrutinee` to use `DeclRef`.
  sway-core/src/language/ty/expression/scrutinee.rs
  sway-core/src/semantic_analysis/ast_node/expression/match_expression/analysis/pattern.rs
  sway-core/src/semantic_analysis/ast_node/expression/match_expression/typed/matcher.rs
  sway-core/src/semantic_analysis/ast_node/expression/match_expression/typed/typed_scrutinee.rs
  sway-lsp/src/traverse/typed_tree.rs
Labels: code quality, compiler: frontend

#4332 Remove the obsolete `unify_adt` method.
  sway-core/src/semantic_analysis/ast_node/expression/typed_expression/enum_instantiation.rs
  sway-core/src/semantic_analysis/ast_node/expression/typed_expression/struct_instantiation.rs
  sway-core/src/type_system/engine.rs
  sway-core/src/type_system/unify/unifier.rs
Labels: code quality, compiler: frontend

#4174 Storage Vector New Methods
  sway-lib-std/src/storage.sw
  test/src/sdk-harness/test_artifacts/storage_vec/svec_array/src/main.sw
  test/src/sdk-harness/test_artifacts/storage_vec/svec_b256/src/main.sw
  test/src/sdk-harness/test_artifacts/storage_vec/svec_bool/src/main.sw
  test/src/sdk-harness/test_artifacts/storage_vec/svec_enum/src/main.sw
  test/src/sdk-harness/test_artifacts/storage_vec/svec_str/src/main.sw
  test/src/sdk-harness/test_artifacts/storage_vec/svec_struct/src/main.sw
  test/src/sdk-harness/test_artifacts/storage_vec/svec_tuple/src/main.sw
  test/src/sdk-harness/test_artifacts/storage_vec/svec_u16/src/main.sw
  test/src/sdk-harness/test_artifacts/storage_vec/svec_u32/src/main.sw
  test/src/sdk-harness/test_artifacts/storage_vec/svec_u64/src/main.sw
  test/src/sdk-harness/test_artifacts/storage_vec/svec_u8/src/main.sw
  test/src/sdk-harness/test_projects/storage_vec/testgen.rs
Labels: enhancement

#4326 Fixes DCA warning in impl block instead of method.
  sway-core/src/control_flow_analysis/dead_code_analysis.rs
  test/src/e2e_vm_tests/test_programs/should_fail/type_alias_shadowing_methods/test.toml
  test/src/e2e_vm_tests/test_programs/should_pass/dca/impl_unused_fn/Forc.lock
  test/src/e2e_vm_tests/test_programs/should_pass/dca/impl_unused_fn/Forc.toml
  test/src/e2e_vm_tests/test_programs/should_pass/dca/impl_unused_fn/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/dca/impl_unused_fn/test.toml
Labels: compiler: frontend, DCA

#4364 fix(fmt): item trait comment/annotation formatting
  swayfmt/src/items/item_trait/mod.rs
  swayfmt/src/items/item_trait/tests.rs
Labels: bug, formatter

#4365 refactor: item_configurable test to use test_macros
  swayfmt/src/items/item_configurable/tests.rs
Labels: testing, formatter

#4287 feat: Introduce git SSH support to forc
  Cargo.lock
  forc-pkg/Cargo.toml
  forc-pkg/src/source/git/auth.rs
  forc-pkg/src/source/git/mod.rs
  forc-pkg/src/source/mod.rs
  forc/src/ops/forc_template.rs
Labels: enhancement, forc
