Repository FuelLabs/sway, pull requests merged in 2023-12, with the labels that each got.

#5301 Rename input_owner to input_coin_owner
  sway-lib-std/src/auth.sw
  sway-lib-std/src/inputs.sw
  test/src/e2e_vm_tests/test_programs/should_fail/predicate_log/src/main.sw
  test/src/sdk-harness/test_artifacts/tx_contract/src/main.sw
  test/src/sdk-harness/test_projects/tx_fields/mod.rs
Labels: enhancement, good first issue, lib: std, breaking

#5302 Implements the `Eq` trait for `Option`
  sway-lib-std/src/option.sw
  test/src/e2e_vm_tests/test_programs/should_pass/require_contract_deployment/call_basic_storage/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/require_contract_deployment/call_storage_enum/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/stdlib/option_eq/.gitignore
  test/src/e2e_vm_tests/test_programs/should_pass/stdlib/option_eq/Forc.lock
  test/src/e2e_vm_tests/test_programs/should_pass/stdlib/option_eq/Forc.toml
  test/src/e2e_vm_tests/test_programs/should_pass/stdlib/option_eq/json_abi_oracle.json
  test/src/e2e_vm_tests/test_programs/should_pass/stdlib/option_eq/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/stdlib/option_eq/test.toml
Labels: enhancement, lib: std, breaking

#5275 Bump to v0.48.0
  Cargo.lock
  docs/reference/src/documentation/introduction/installation/cargo.md
  docs/reference/src/documentation/introduction/installation/index.md
  docs/reference/src/documentation/introduction/installation/source.md
  docs/reference/src/index.md
  forc-pkg/Cargo.toml
  forc-plugins/forc-client/Cargo.toml
  forc-plugins/forc-crypto/Cargo.toml
  forc-plugins/forc-doc/Cargo.toml
  forc-plugins/forc-fmt/Cargo.toml
  forc-plugins/forc-lsp/Cargo.toml
  forc-plugins/forc-tx/Cargo.toml
  forc-test/Cargo.toml
  forc-tracing/Cargo.toml
  forc-util/Cargo.toml
  forc/Cargo.toml
  sway-ast/Cargo.toml
  sway-core/Cargo.toml
  sway-error/Cargo.toml
  sway-ir/Cargo.toml
  sway-ir/sway-ir-macros/Cargo.toml
  sway-lsp/Cargo.toml
  sway-parse/Cargo.toml
  sway-types/Cargo.toml
  sway-utils/Cargo.toml
  swayfmt/Cargo.toml
  test/src/e2e_vm_tests/test_programs/should_fail/trait_cannot_find_in_scope_issue/Forc.lock
  test/src/e2e_vm_tests/test_programs/should_fail/trait_cannot_find_in_scope_issue/Forc.toml
Labels: release

#5373 Use Jemalloc in `forc-lsp` and LSP benchmarks for greater performance.
  Cargo.lock
  forc-plugins/forc-lsp/Cargo.toml
  forc-plugins/forc-lsp/src/main.rs
  sway-lsp/Cargo.toml
  sway-lsp/benches/bench_main.rs
  sway-lsp/benches/lsp_benchmarks/compile.rs
  sway-lsp/benches/lsp_benchmarks/mod.rs
Labels: language server

#5300 Implement order-independent module evaluation
  sway-core/src/semantic_analysis/module.rs
  sway-core/src/semantic_analysis/program.rs
  sway-error/src/error.rs
  test/src/e2e_vm_tests/test_programs/should_fail/module_cyclic_reference/Forc.lock
  test/src/e2e_vm_tests/test_programs/should_fail/module_cyclic_reference/Forc.toml
  test/src/e2e_vm_tests/test_programs/should_fail/module_cyclic_reference/src/a.sw
  test/src/e2e_vm_tests/test_programs/should_fail/module_cyclic_reference/src/b.sw
  test/src/e2e_vm_tests/test_programs/should_fail/module_cyclic_reference/src/lib.sw
  test/src/e2e_vm_tests/test_programs/should_fail/module_cyclic_reference/test.toml
  test/src/e2e_vm_tests/test_programs/should_pass/language/module_dep/Forc.lock
  test/src/e2e_vm_tests/test_programs/should_pass/language/module_dep/Forc.toml
  test/src/e2e_vm_tests/test_programs/should_pass/language/module_dep/src/a.sw
  test/src/e2e_vm_tests/test_programs/should_pass/language/module_dep/src/b.sw
  test/src/e2e_vm_tests/test_programs/should_pass/language/module_dep/src/lib.sw
  test/src/e2e_vm_tests/test_programs/should_pass/language/module_dep/test.toml
  test/src/e2e_vm_tests/test_programs/should_pass/language/module_dep_multiple/Forc.lock
  test/src/e2e_vm_tests/test_programs/should_pass/language/module_dep_multiple/Forc.toml
  test/src/e2e_vm_tests/test_programs/should_pass/language/module_dep_multiple/src/a.sw
  test/src/e2e_vm_tests/test_programs/should_pass/language/module_dep_multiple/src/b.sw
  test/src/e2e_vm_tests/test_programs/should_pass/language/module_dep_multiple/src/c.sw
  test/src/e2e_vm_tests/test_programs/should_pass/language/module_dep_multiple/src/lib.sw
  test/src/e2e_vm_tests/test_programs/should_pass/language/module_dep_multiple/test.toml
  test/src/e2e_vm_tests/test_programs/should_pass/language/module_dep_self/Forc.lock
  test/src/e2e_vm_tests/test_programs/should_pass/language/module_dep_self/Forc.toml
  test/src/e2e_vm_tests/test_programs/should_pass/language/module_dep_self/src/a.sw
  test/src/e2e_vm_tests/test_programs/should_pass/language/module_dep_self/src/lib.sw
  test/src/e2e_vm_tests/test_programs/should_pass/language/module_dep_self/test.toml
Labels: bug, compiler, P: critical, compiler: frontend

#5378 Refactor Language Server I/O to Use Tokio Async Primitives
  sway-lsp/Cargo.toml
  sway-lsp/benches/lsp_benchmarks/compile.rs
  sway-lsp/benches/lsp_benchmarks/mod.rs
  sway-lsp/benches/lsp_benchmarks/requests.rs
  sway-lsp/benches/lsp_benchmarks/token_map.rs
  sway-lsp/src/capabilities/on_enter.rs
  sway-lsp/src/core/document.rs
  sway-lsp/src/core/session.rs
  sway-lsp/src/core/sync.rs
  sway-lsp/src/handlers/notification.rs
  sway-lsp/src/handlers/request.rs
  sway-lsp/src/server.rs
  sway-lsp/src/server_state.rs
  sway-lsp/src/utils/keyword_docs.rs
  sway-lsp/tests/integration/code_actions.rs
  sway-lsp/tests/integration/lsp.rs
  sway-lsp/tests/lib.rs
Labels: language server, code quality

#5389 Ignore Forc.lock in LSP tests
  .gitignore
Labels: language server

#5390 Add fuel-debugger as a forc plugin
  .github/workflows/ci.yml
  .github/workflows/gh-pages.yml
  .gitignore
  Cargo.lock
  Cargo.toml
  docs/book/src/SUMMARY.md
  docs/book/src/forc/plugins/forc_debug.md
  docs/book/src/sway-program-types/predicates.md
  docs/reference/src/documentation/misc/workarounds/predicates.md
  forc-plugins/forc-crypto/Cargo.toml
  forc-plugins/forc-debug/Cargo.toml
  forc-plugins/forc-debug/README.md
  forc-plugins/forc-debug/docs/walkthrough.md
  forc-plugins/forc-debug/examples/client_usage.rs
  forc-plugins/forc-debug/examples/example_tx.json
  forc-plugins/forc-debug/src/lib.rs
  forc-plugins/forc-debug/src/main.rs
  forc-plugins/forc-debug/src/names.rs
  forc-plugins/forc-debug/tests/cli_integration.rs
Labels: enhancement, forc, debugger, forc-debug

#5409 Refactor forc-test to expose VM interpreter
  forc-test/src/execute.rs
  forc-test/src/lib.rs
  forc-test/src/setup.rs
Labels: forc-test

#5420 Fix broken link in access_control.md
  docs/book/src/blockchain-development/access_control.md
Labels: ci

#5422 Implements the `Hash` trait for `EvmAddress`
  sway-lib-std/src/vm/evm/evm_address.sw
Labels: enhancement, lib: std
