Repository FuelLabs/sway, pull requests merged in 2023-11, with the labels that each got.

#5193 bug: Update `swayfmt::Config` & remove partial implementations
  examples/traits/src/main.sw
  swayfmt/README.md
  swayfmt/src/config/expr.rs
  swayfmt/src/config/heuristics.rs
  swayfmt/src/config/imports.rs
  swayfmt/src/config/items.rs
  swayfmt/src/config/literals.rs
  swayfmt/src/config/user_def.rs
  swayfmt/src/config/whitespace.rs
  swayfmt/src/items/item_abi/mod.rs
  swayfmt/src/items/item_configurable/mod.rs
  swayfmt/src/items/item_enum/mod.rs
  swayfmt/src/items/item_fn/mod.rs
  swayfmt/src/items/item_impl/mod.rs
  swayfmt/src/items/item_impl/tests.rs
  swayfmt/src/items/item_storage/mod.rs
  swayfmt/src/items/item_struct/mod.rs
  swayfmt/src/items/item_struct/tests.rs
  swayfmt/src/items/item_trait/mod.rs
  swayfmt/src/items/item_trait/tests.rs
  swayfmt/src/utils/language/expr/code_block.rs
  swayfmt/src/utils/language/expr/struct_field.rs
  swayfmt/src/utils/language/pattern.rs
  swayfmt/src/utils/language/where_clause.rs
  swayfmt/tests/mod.rs
Labels: bug, formatter

#5243 Add custom LSP method for visualizing build plan
  Cargo.lock
  forc-pkg/Cargo.toml
  forc-pkg/src/pkg.rs
  sway-lsp/Cargo.toml
  sway-lsp/src/core/session.rs
  sway-lsp/src/handlers/request.rs
  sway-lsp/src/lib.rs
  sway-lsp/src/lsp_ext.rs
  sway-lsp/src/server.rs
  sway-lsp/tests/integration/lsp.rs
  sway-lsp/tests/lib.rs
Labels: language server

#5230 Fixes missing error on type unification.
  sway-core/src/semantic_analysis/ast_node/declaration/impl_trait.rs
  sway-core/src/semantic_analysis/ast_node/expression/typed_expression/method_application.rs
  sway-core/src/semantic_analysis/ast_node/expression/typed_expression/struct_instantiation.rs
  sway-core/src/semantic_analysis/type_check_context.rs
  sway-core/src/type_system/ast_elements/type_parameter.rs
  sway-core/src/type_system/engine.rs
  sway-core/src/type_system/unify/unifier.rs
  test/src/e2e_vm_tests/test_programs/should_fail/generic_and_associated_type/Forc.lock
  test/src/e2e_vm_tests/test_programs/should_fail/generic_and_associated_type/Forc.toml
  test/src/e2e_vm_tests/test_programs/should_fail/generic_and_associated_type/json_abi_oracle.json
  test/src/e2e_vm_tests/test_programs/should_fail/generic_and_associated_type/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_fail/generic_and_associated_type/test.toml
  test/src/e2e_vm_tests/test_programs/should_fail/generic_traits/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_fail/generic_traits/test.toml
Labels: bug, P: high, compiler: frontend

#5236 correctly deal with missing semicolons
  sway-parse/src/item/mod.rs
  test/src/e2e_vm_tests/test_programs/should_fail/recover_at_level_top/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_fail/recover_at_level_top/test.toml
  test/src/e2e_vm_tests/test_programs/should_fail/str_slice_script/src/main.sw
Labels: compiler: parser

#5257 Bump to v0.47.0
  Cargo.lock
  docs/reference/src/documentation/introduction/installation/cargo.md
  docs/reference/src/documentation/introduction/installation/index.md
  docs/reference/src/documentation/introduction/installation/source.md
  docs/reference/src/index.md
  forc-pkg/Cargo.toml
  forc-plugins/forc-client/Cargo.toml
  forc-plugins/forc-crypto/Cargo.toml
  forc-plugins/forc-doc/Cargo.toml
  forc-plugins/forc-fmt/Cargo.toml
  forc-plugins/forc-lsp/Cargo.toml
  forc-plugins/forc-tx/Cargo.toml
  forc-test/Cargo.toml
  forc-tracing/Cargo.toml
  forc-util/Cargo.toml
  forc/Cargo.toml
  sway-ast/Cargo.toml
  sway-core/Cargo.toml
  sway-error/Cargo.toml
  sway-ir/Cargo.toml
  sway-ir/sway-ir-macros/Cargo.toml
  sway-lsp/Cargo.toml
  sway-parse/Cargo.toml
  sway-types/Cargo.toml
  sway-utils/Cargo.toml
  swayfmt/Cargo.toml
Labels: release

#5246 Introduce the `DEFAULT_SUB_ID` constant
  examples/liquidity_pool/src/main.sw
  examples/native_token/src/main.sw
  sway-lib-std/src/constants.sw
  sway-lib-std/src/contract_id.sw
  test/src/e2e_vm_tests/test_programs/should_pass/require_contract_deployment/token_ops_test/src/main.sw
  test/src/sdk-harness/test_artifacts/context_caller_contract/src/main.sw
Labels: enhancement, lib: std, breaking

#5251 Add AST module caching support for LSP
  Cargo.lock
  sway-core/src/concurrent_slab.rs
  sway-core/src/decl_engine/engine.rs
  sway-core/src/engine_threading.rs
  sway-core/src/language/ty/declaration/abi.rs
  sway-core/src/language/ty/declaration/declaration.rs
  sway-core/src/language/ty/declaration/type_alias.rs
  sway-core/src/language/ty/expression/expression.rs
  sway-core/src/semantic_analysis/ast_node/code_block.rs
  sway-core/src/semantic_analysis/ast_node/declaration/constant.rs
  sway-core/src/semantic_analysis/ast_node/declaration/declaration.rs
  sway-core/src/semantic_analysis/ast_node/declaration/enum.rs
  sway-core/src/semantic_analysis/ast_node/declaration/function.rs
  sway-core/src/semantic_analysis/ast_node/declaration/function/function_parameter.rs
  sway-core/src/semantic_analysis/ast_node/declaration/impl_trait.rs
  sway-core/src/semantic_analysis/ast_node/declaration/struct.rs
  sway-core/src/semantic_analysis/ast_node/declaration/trait_fn.rs
  sway-core/src/semantic_analysis/ast_node/declaration/trait_type.rs
  sway-core/src/semantic_analysis/ast_node/expression/intrinsic_function.rs
  sway-core/src/semantic_analysis/ast_node/expression/match_expression/typed/instantiate.rs
  sway-core/src/semantic_analysis/ast_node/expression/match_expression/typed/matcher.rs
  sway-core/src/semantic_analysis/ast_node/expression/match_expression/typed/typed_match_branch.rs
  sway-core/src/semantic_analysis/ast_node/expression/match_expression/typed/typed_scrutinee.rs
  sway-core/src/semantic_analysis/ast_node/expression/typed_expression.rs
  sway-core/src/semantic_analysis/ast_node/expression/typed_expression/enum_instantiation.rs
  sway-core/src/semantic_analysis/ast_node/expression/typed_expression/if_expression.rs
  sway-core/src/semantic_analysis/ast_node/expression/typed_expression/method_application.rs
  sway-core/src/semantic_analysis/ast_node/expression/typed_expression/struct_instantiation.rs
  sway-core/src/semantic_analysis/ast_node/mod.rs
  sway-core/src/semantic_analysis/namespace/root.rs
  sway-core/src/semantic_analysis/namespace/trait_map.rs
  sway-core/src/semantic_analysis/type_check_context.rs
  sway-core/src/transform/to_parsed_lang/convert_parse_tree.rs
  sway-core/src/type_system/ast_elements/binding.rs
  sway-core/src/type_system/ast_elements/trait_constraint.rs
  sway-core/src/type_system/ast_elements/type_parameter.rs
  sway-core/src/type_system/engine.rs
  sway-core/src/type_system/info.rs
  sway-core/src/type_system/mod.rs
  sway-core/src/type_system/priv_prelude.rs
  sway-core/src/type_system/substitute/subst_map.rs
  sway-core/src/type_system/unify/unifier.rs
  sway-lsp/benches/lsp_benchmarks/compile.rs
  sway-lsp/benches/lsp_benchmarks/mod.rs
  sway-lsp/src/core/session.rs
  sway-lsp/src/handlers/notification.rs
  sway-lsp/src/handlers/request.rs
  sway-lsp/src/lib.rs
  sway-lsp/src/lsp_ext.rs
  sway-lsp/src/server.rs
  sway-lsp/src/server_state.rs
  sway-lsp/tests/integration/lsp.rs
  sway-lsp/tests/lib.rs
  sway-types/Cargo.toml
  sway-types/src/lib.rs
  sway-types/src/source_engine.rs
Labels: language server, compiler: frontend

#5269 Search bar for forc-doc
  Cargo.lock
  forc-plugins/forc-doc/Cargo.toml
  forc-plugins/forc-doc/src/doc/mod.rs
  forc-plugins/forc-doc/src/doc/module.rs
  forc-plugins/forc-doc/src/main.rs
  forc-plugins/forc-doc/src/render/index.rs
  forc-plugins/forc-doc/src/render/item/components.rs
  forc-plugins/forc-doc/src/render/search.rs
  forc-plugins/forc-doc/src/search.rs
  forc-plugins/forc-doc/src/static.files/ayu.css
  forc-plugins/forc-doc/src/static.files/swaydoc.css
  forc-plugins/forc-doc/src/tests/data/impl_traits_clone/Forc.lock
  forc-plugins/forc-doc/src/tests/data/impl_traits_clone/Forc.toml
  forc-plugins/forc-doc/src/tests/data/impl_traits_clone/src/bar.sw
  forc-plugins/forc-doc/src/tests/data/impl_traits_clone/src/foo.sw
  forc-plugins/forc-doc/src/tests/data/impl_traits_clone/src/lib.sw
  forc-plugins/forc-doc/src/tests/expects/impl_trait/mod.rs
  forc-plugins/forc-doc/src/tests/expects/mod.rs
Labels: forc-doc

#5294 Remove Forc.lock files in LSP tests
  sway-lsp/tests/fixtures/auto_import/Forc.lock
  sway-lsp/tests/fixtures/benchmark/Forc.lock
  sway-lsp/tests/fixtures/completion/Forc.lock
  sway-lsp/tests/fixtures/diagnostics/dead_code/Forc.lock
  sway-lsp/tests/fixtures/tokens/fields/Forc.lock
  sway-lsp/tests/fixtures/tokens/matches/Forc.lock
  sway-lsp/tests/fixtures/tokens/modules/Forc.lock
  sway-lsp/tests/fixtures/tokens/paths/Forc.lock
  sway-lsp/tests/fixtures/tokens/storage/Forc.lock
  sway-lsp/tests/fixtures/tokens/structs/.gitignore
  sway-lsp/tests/fixtures/tokens/traits/.gitignore
  sway-lsp/tests/fixtures/tokens/traits/Forc.lock
  sway-lsp/tests/fixtures/tokens/turbofish/.gitignore
  sway-lsp/tests/fixtures/tokens/turbofish/Forc.lock
  sway-lsp/tests/fixtures/tokens/variables/.gitignore
  sway-lsp/tests/fixtures/tokens/variables/Forc.lock
  sway-lsp/tests/fixtures/tokens/where_clause/.gitignore
  sway-lsp/tests/fixtures/tokens/where_clause/Forc.lock
Labels: language server, testing

#5284 Add `clear()` to `StorageKey` api
  sway-lib-std/src/storage/storage_key.sw
  sway-lib-std/src/storage/storage_vec.sw
  test/src/e2e_vm_tests/test_programs/should_pass/static_analysis/cei_pattern_violation_storage_map_and_vec/test.toml
  test/src/sdk-harness/test_projects/storage_access/mod.rs
  test/src/sdk-harness/test_projects/storage_access/src/main.sw
Labels: enhancement, lib: std

#5255 Refactor access to memory layout information
  Cargo.lock
  sway-core/src/asm_generation/from_ir.rs
  sway-core/src/asm_generation/fuel/data_section.rs
  sway-core/src/asm_generation/fuel/fuel_asm_builder.rs
  sway-core/src/asm_generation/fuel/functions.rs
  sway-core/src/asm_generation/fuel/register_allocator.rs
  sway-core/src/ir_generation/const_eval.rs
  sway-core/src/ir_generation/function.rs
  sway-core/src/ir_generation/storage.rs
  sway-core/src/language/ty/declaration/struct.rs
  sway-core/src/types/deterministically_aborts.rs
  sway-ir/Cargo.toml
  sway-ir/src/analysis/memory_utils.rs
  sway-ir/src/constant.rs
  sway-ir/src/irtype.rs
  sway-ir/src/optimize/memcpyopt.rs
  sway-ir/src/optimize/sroa.rs
  test/src/e2e_vm_tests/test_programs/should_pass/require_contract_deployment/array_of_structs_caller/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/require_contract_deployment/call_basic_storage/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/require_contract_deployment/storage_access_caller/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/test_contracts/basic_storage/src/main.sw
Labels: compiler, compiler: ir, compiler: frontend, compiler: codegen, compiler: static-analysis
