Repository FuelLabs/sway, pull requests merged in 2024-12, with the labels that each got.

#6770 refactor: Improve DAP server code organisation and readability
  forc-plugins/forc-debug/src/cli.rs
  forc-plugins/forc-debug/src/error.rs
  forc-plugins/forc-debug/src/lib.rs
  forc-plugins/forc-debug/src/main.rs
  forc-plugins/forc-debug/src/names.rs
  forc-plugins/forc-debug/src/server/error.rs
  forc-plugins/forc-debug/src/server/handlers/handle_breakpoint_locations.rs
  forc-plugins/forc-debug/src/server/handlers/handle_continue.rs
  forc-plugins/forc-debug/src/server/handlers/handle_launch.rs
  forc-plugins/forc-debug/src/server/handlers/handle_next.rs
  forc-plugins/forc-debug/src/server/handlers/handle_set_breakpoints.rs
  forc-plugins/forc-debug/src/server/handlers/handle_stack_trace.rs
  forc-plugins/forc-debug/src/server/handlers/handle_variables.rs
  forc-plugins/forc-debug/src/server/handlers/mod.rs
  forc-plugins/forc-debug/src/server/mod.rs
  forc-plugins/forc-debug/src/server/state.rs
  forc-plugins/forc-debug/src/server/util.rs
  forc-plugins/forc-debug/src/types.rs
  forc-plugins/forc-debug/tests/server_integration.rs
Labels: forc-debug

#6773 Change `SubstTypesContext` to contain an optional `TypeSubstMap`.
  sway-core/src/decl_engine/ref.rs
  sway-core/src/type_system/id.rs
  sway-core/src/type_system/substitute/subst_types.rs
Labels: compiler: frontend, compiler: collection

#6780 Associate lexical scopes with their respective declarations.
  sway-core/src/semantic_analysis/ast_node/code_block.rs
  sway-core/src/semantic_analysis/ast_node/declaration/abi.rs
  sway-core/src/semantic_analysis/ast_node/declaration/enum.rs
  sway-core/src/semantic_analysis/ast_node/declaration/function.rs
  sway-core/src/semantic_analysis/ast_node/declaration/impl_trait.rs
  sway-core/src/semantic_analysis/ast_node/declaration/struct.rs
  sway-core/src/semantic_analysis/ast_node/declaration/trait.rs
  sway-core/src/semantic_analysis/ast_node/declaration/trait_fn.rs
  sway-core/src/semantic_analysis/ast_node/expression/typed_expression.rs
  sway-core/src/semantic_analysis/namespace/lexical_scope.rs
  sway-core/src/semantic_analysis/namespace/module.rs
  sway-core/src/semantic_analysis/symbol_collection_context.rs
Labels: compiler: frontend, compiler: collection

#6783 typo-Update deploy.rs
  forc-plugins/forc-client/tests/deploy.rs
Labels: cla:signed

#6781 Update `output_asset_to()` and `output_asset_id()` to handle `Output::Variable`
  sway-lib-std/src/outputs.sw
  test/src/sdk-harness/Forc.lock
  test/src/sdk-harness/Forc.toml
  test/src/sdk-harness/test_artifacts/tx_contract/src/main.sw
  test/src/sdk-harness/test_artifacts/tx_output_change_contract/src/main.sw
  test/src/sdk-harness/test_artifacts/tx_output_contract/Forc.toml
  test/src/sdk-harness/test_artifacts/tx_output_contract/src/main.sw
  test/src/sdk-harness/test_artifacts/tx_output_predicate/src/main.sw
  test/src/sdk-harness/test_artifacts/tx_type_predicate/src/main.sw
  test/src/sdk-harness/test_artifacts/tx_witness_predicate/src/main.sw
  test/src/sdk-harness/test_projects/tx_fields/mod.rs
Labels: enhancement, lib: std

#6775 docs: add sway memory model
  docs/book/spell-check-custom-words.txt
  docs/book/src/reference/rust_differences.md
Labels: documentation
