Repository FuelLabs/sway, pull requests merged in 2024-11, with the labels that each got.

#6688 Bump to v0.66.4
  Cargo.lock
  Cargo.toml
  forc-pkg/src/pkg.rs
  forc-plugins/forc-client/test/data/deployed_script/deployed_script-loader-abi.json
  forc-plugins/forc-client/tests/deploy.rs
  forc-test/src/execute.rs
  forc/src/cli/commands/parse_bytecode.rs
  forc/tests/cli_integration.rs
  sway-core/src/asm_generation/finalized_asm.rs
  sway-core/src/asm_generation/fuel/allocated_abstract_instruction_set.rs
  sway-core/src/asm_generation/fuel/data_section.rs
  sway-core/src/asm_generation/fuel/fuel_asm_builder.rs
  sway-core/src/asm_generation/fuel/functions.rs
  sway-core/src/asm_generation/fuel/programs/abstract.rs
  sway-core/src/asm_lang/allocated_ops.rs
  sway-core/src/asm_lang/mod.rs
  sway-core/src/asm_lang/virtual_ops.rs
  sway-core/src/lib.rs
  test/src/e2e_vm_tests/test_programs/should_pass/language/configurable_consts/json_abi_oracle_new_encoding.json
  test/src/e2e_vm_tests/test_programs/should_pass/language/configurable_dedup_decode/stdout.snap
  test/src/e2e_vm_tests/test_programs/should_pass/language/u256/u256_abi/json_abi_oracle_new_encoding.json
  test/src/e2e_vm_tests/test_programs/should_pass/require_contract_deployment/array_of_structs_caller/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/require_contract_deployment/asset_ops_test/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/require_contract_deployment/bal_opcode/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/require_contract_deployment/call_abi_with_tuples/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/require_contract_deployment/call_basic_storage/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/require_contract_deployment/call_contract_with_type_aliases/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/require_contract_deployment/call_increment_contract/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/require_contract_deployment/call_storage_enum/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/require_contract_deployment/caller_auth_test/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/require_contract_deployment/caller_context_test/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/require_contract_deployment/nested_struct_args_caller/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/require_contract_deployment/storage_access_caller/src/main.sw
  test/src/sdk-harness/test_projects/auth/mod.rs
  test/update-contract-ids.sh
Labels: release

#6689 docs: remove dead links to sway-libs/fixed-point
  docs/book/src/reference/sway_libs.md
  docs/book/src/sway-program-types/libraries.md
Labels: bug, documentation

#6691 chore: remove unmaintained `atty` crate
  Cargo.lock
  Cargo.toml
  forc-plugins/forc-crypto/Cargo.toml
  forc-plugins/forc-crypto/src/main.rs
Labels: forc, code quality

#6694 chore: remove unmaintained `difference` in favor of `similar`
  Cargo.lock
  swayfmt/Cargo.toml
  swayfmt/test_macros/src/lib.rs
Labels: forc, code quality, formatter

#6696 chore: remove unmaintained `ansi_term` in favor of `ansiterm`
  Cargo.lock
  Cargo.toml
  forc-pkg/Cargo.toml
  forc-pkg/src/lock.rs
  forc-pkg/src/pkg.rs
  forc-pkg/src/source/git/mod.rs
  forc-pkg/src/source/ipfs.rs
  forc-tracing/Cargo.toml
  forc-tracing/src/lib.rs
  forc-util/Cargo.toml
  forc-util/src/cli.rs
  forc-util/src/lib.rs
  forc/Cargo.toml
  forc/src/cli/commands/test.rs
  swayfmt/Cargo.toml
  swayfmt/test_macros/Cargo.toml
Labels: code quality, dependencies

#6698 chore: remove `uwuify` feature
  Cargo.lock
  Cargo.toml
  forc-util/src/lib.rs
  forc/Cargo.toml
  sway-error/Cargo.toml
  sway-error/src/diagnostic.rs
Labels: code quality, dependencies

#6704 fix: forc-deploy asks for password before checking if the wallet exists
  forc-plugins/forc-client/src/op/deploy.rs
  forc-plugins/forc-client/src/util/tx.rs
  forc-plugins/forc-client/tests/deploy.rs
Labels: bug, forc-deploy

#6680 Forc-deploy import wallet support if non-existent wallet
  Cargo.lock
  forc-plugins/forc-client/src/util/tx.rs
Labels: enhancement, forc-deploy

#6715 chore: upgrade fuels sdk to 66.10
  Cargo.lock
  Cargo.toml
  test/src/sdk-harness/Cargo.lock
  test/src/sdk-harness/Cargo.toml
Labels: dependencies

#6716 Add verifications-complete job
  .github/workflows/ci.yml
Labels: ci

#6711 Add modules to forc-doc search index
  forc-plugins/forc-doc/src/render/search.rs
  forc-plugins/forc-doc/src/search.rs
  forc-plugins/forc-doc/src/static.files/swaydoc.css
  forc-plugins/forc-doc/src/tests/expects/impl_trait/mod.rs
Labels: enhancement, forc-doc

#6717 Add revert with log function to std lib
  sway-lib-std/src/error_signals.sw
  sway-lib-std/src/prelude.sw
  sway-lib-std/src/revert.sw
  test/src/in_language_tests/test_programs/revert_inline_tests/src/main.sw
Labels: enhancement, lib: std

#6723 Make `OrdEq` trait public
  forc-plugins/forc-doc/src/tests/expects/impl_trait/mod.rs
  sway-lib-core/src/ops.sw
Labels: lib: std

#6728 `Forc.toml` metadata support
  docs/book/src/forc/manifest_reference.md
  forc-pkg/src/manifest/mod.rs
Labels: enhancement, forc-pkg

#6741 Add comments about bytecode test files
  forc-util/src/bytecode.rs
Labels: code quality

#6743 chore: bump version to 0.66.5
  Cargo.lock
  Cargo.toml
Labels: release

#6731 forc test single-step until jump point instead of patching binary
  forc-test/src/execute.rs
  test/src/e2e_vm_tests/test_programs/should_pass/language/configurable_tests/Forc.lock
  test/src/e2e_vm_tests/test_programs/should_pass/language/configurable_tests/Forc.toml
  test/src/e2e_vm_tests/test_programs/should_pass/language/configurable_tests/json_abi_oracle.json
  test/src/e2e_vm_tests/test_programs/should_pass/language/configurable_tests/json_abi_oracle_new_encoding.json
  test/src/e2e_vm_tests/test_programs/should_pass/language/configurable_tests/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/language/configurable_tests/test.toml
Labels: bug, forc-test

#6678 Improve document symbol hierarchy to match rust-analyzer layout
  sway-lsp/benches/lsp_benchmarks/requests.rs
  sway-lsp/src/capabilities/document_symbol.rs
  sway-lsp/src/core/session.rs
  sway-lsp/src/handlers/request.rs
  sway-lsp/tests/integration/lsp.rs
  sway-lsp/tests/lib.rs
Labels: enhancement, language server
