Repository FuelLabs/sway, pull requests merged in 2024-05, with the labels that each got.

#5888 Implement TryFrom< U128 > for all primitive u types
  sway-lib-std/src/primitive_conversions/u16.sw
  sway-lib-std/src/primitive_conversions/u32.sw
  sway-lib-std/src/primitive_conversions/u64.sw
  sway-lib-std/src/primitive_conversions/u8.sw
Labels: enhancement, lib: std

#5939 Run clippy::pedantic on sway-lsp
  sway-lsp/benches/lsp_benchmarks/requests.rs
  sway-lsp/src/capabilities/code_actions/abi_decl/abi_impl.rs
  sway-lsp/src/capabilities/code_actions/abi_decl/mod.rs
  sway-lsp/src/capabilities/code_actions/common/fn_doc_comment.rs
  sway-lsp/src/capabilities/code_actions/common/generate_doc.rs
  sway-lsp/src/capabilities/code_actions/common/generate_impl.rs
  sway-lsp/src/capabilities/code_actions/constant_decl/mod.rs
  sway-lsp/src/capabilities/code_actions/diagnostic/auto_import.rs
  sway-lsp/src/capabilities/code_actions/diagnostic/qualify.rs
  sway-lsp/src/capabilities/code_actions/enum_decl/mod.rs
  sway-lsp/src/capabilities/code_actions/enum_variant/mod.rs
  sway-lsp/src/capabilities/code_actions/function_decl/mod.rs
  sway-lsp/src/capabilities/code_actions/mod.rs
  sway-lsp/src/capabilities/code_actions/storage_field/mod.rs
  sway-lsp/src/capabilities/code_actions/struct_decl/mod.rs
  sway-lsp/src/capabilities/code_actions/struct_decl/struct_new.rs
  sway-lsp/src/capabilities/code_actions/struct_field/mod.rs
  sway-lsp/src/capabilities/code_actions/trait_fn/mod.rs
  sway-lsp/src/capabilities/completion.rs
  sway-lsp/src/capabilities/document_symbol.rs
  sway-lsp/src/capabilities/highlight.rs
  sway-lsp/src/capabilities/hover/hover_link_contents.rs
  sway-lsp/src/capabilities/hover/mod.rs
  sway-lsp/src/capabilities/inlay_hints.rs
  sway-lsp/src/capabilities/rename.rs
  sway-lsp/src/capabilities/semantic_tokens.rs
  sway-lsp/src/core/document.rs
  sway-lsp/src/core/session.rs
  sway-lsp/src/core/sync.rs
  sway-lsp/src/core/token.rs
  sway-lsp/src/handlers/notification.rs
  sway-lsp/src/handlers/request.rs
  sway-lsp/src/server.rs
  sway-lsp/src/server_state.rs
  sway-lsp/src/traverse/parsed_tree.rs
  sway-lsp/src/traverse/typed_tree.rs
  sway-lsp/src/utils/attributes.rs
  sway-lsp/src/utils/debug.rs
  sway-lsp/src/utils/document.rs
  sway-lsp/src/utils/keyword_docs.rs
  sway-lsp/src/utils/markdown.rs
  sway-lsp/src/utils/markup.rs
  sway-lsp/tests/lib.rs
Labels: language server, code quality

#5946 Clean up dead code.
  sway-core/src/lib.rs
Labels: code quality

#5959 docs: fix typos
  docs/book/src/index.md
Labels: The Sway Book, documentation

#5949 Fix non idiomatic function names warnings in the std lib.
  sway-lib-std/src/primitive_conversions/u16.sw
  sway-lib-std/src/primitive_conversions/u32.sw
  sway-lib-std/src/primitive_conversions/u64.sw
  sway-lib-std/src/primitive_conversions/u8.sw
Labels: lib: std, code quality

#5751 Cleanup duplicated data from `ty::TyDecl`
  forc-plugins/forc-doc/src/doc/mod.rs
  sway-core/src/control_flow_analysis/analyze_return_paths.rs
  sway-core/src/control_flow_analysis/dead_code_analysis.rs
  sway-core/src/control_flow_analysis/flow_graph/mod.rs
  sway-core/src/decl_engine/mod.rs
  sway-core/src/decl_engine/ref.rs
  sway-core/src/decl_engine/template.rs
  sway-core/src/engine_threading.rs
  sway-core/src/ir_generation/const_eval.rs
  sway-core/src/language/ty/ast_node.rs
  sway-core/src/language/ty/declaration/declaration.rs
  sway-core/src/language/ty/module.rs
  sway-core/src/language/ty/program.rs
  sway-core/src/lib.rs
  sway-core/src/semantic_analysis/ast_node/declaration/abi.rs
  sway-core/src/semantic_analysis/ast_node/declaration/auto_impl.rs
  sway-core/src/semantic_analysis/ast_node/declaration/declaration.rs
  sway-core/src/semantic_analysis/ast_node/declaration/function/function_parameter.rs
  sway-core/src/semantic_analysis/ast_node/declaration/impl_trait.rs
  sway-core/src/semantic_analysis/ast_node/declaration/trait.rs
  sway-core/src/semantic_analysis/ast_node/declaration/trait_fn.rs
  sway-core/src/semantic_analysis/ast_node/expression/typed_expression.rs
  sway-core/src/semantic_analysis/ast_node/expression/typed_expression/method_application.rs
  sway-core/src/semantic_analysis/module.rs
  sway-core/src/semantic_analysis/namespace/lexical_scope.rs
  sway-core/src/semantic_analysis/namespace/root.rs
  sway-core/src/semantic_analysis/program.rs
  sway-core/src/semantic_analysis/type_check_analysis.rs
  sway-core/src/semantic_analysis/type_check_context.rs
  sway-core/src/type_system/ast_elements/binding.rs
  sway-core/src/type_system/ast_elements/type_parameter.rs
  sway-core/src/type_system/priv_prelude.rs
  sway-core/src/type_system/substitute/mod.rs
  sway-lsp/benches/lsp_benchmarks/token_map.rs
  sway-lsp/src/capabilities/hover/hover_link_contents.rs
  sway-lsp/src/capabilities/rename.rs
  sway-lsp/src/core/session.rs
  sway-lsp/src/core/token_map.rs
  sway-lsp/src/traverse/dependency.rs
  sway-lsp/src/traverse/typed_tree.rs
Labels: code quality, performance

#5962 Code quality pass on forc doc
  forc-plugins/forc-doc/src/doc/descriptor.rs
  forc-plugins/forc-doc/src/doc/mod.rs
  forc-plugins/forc-doc/src/doc/module.rs
  forc-plugins/forc-doc/src/main.rs
  forc-plugins/forc-doc/src/render/index.rs
  forc-plugins/forc-doc/src/render/item/components.rs
  forc-plugins/forc-doc/src/render/item/context.rs
  forc-plugins/forc-doc/src/render/item/type_anchor.rs
  forc-plugins/forc-doc/src/render/mod.rs
  forc-plugins/forc-doc/src/render/search.rs
  forc-plugins/forc-doc/src/search.rs
  forc-plugins/forc-doc/tests_project2/.gitignore
  forc-plugins/forc-doc/tests_project2/Forc.lock
  forc-plugins/forc-doc/tests_project2/Forc.toml
  forc-plugins/forc-doc/tests_project2/src/main.sw
Labels: code quality, forc-doc

#5970 Fix inline docs example for `From<T> for b256` implementations for `ContractId`, `AssetId`, `Address`, and `EvmAddress`
  sway-lib-std/src/address.sw
  sway-lib-std/src/asset_id.sw
  sway-lib-std/src/contract_id.sw
  sway-lib-std/src/vm/evm/evm_address.sw
Labels: bug, lib: std, documentation

#5944 Reference Sway-Libs, Sway-Standards, and Sway-Applications In Sway Book
  docs/book/spell-check-custom-words.txt
  docs/book/src/SUMMARY.md
  docs/book/src/blockchain-development/access_control.md
  docs/book/src/blockchain-development/calling_contracts.md
  docs/book/src/blockchain-development/native_assets.md
  docs/book/src/examples/index.md
  docs/book/src/examples/sway_applications.md
  docs/book/src/introduction/index.md
  docs/book/src/introduction/sway_standards.md
  docs/book/src/reference/sway_libs.md
  docs/reference/src/documentation/operations/reentrancy.md
Labels: enhancement, The Sway Book

#5840 docs: add external code doc
  docs/book/spell-check-custom-words.txt
  docs/book/src/SUMMARY.md
  docs/book/src/blockchain-development/external_code.md
  docs/book/src/blockchain-development/index.md
  examples/Forc.lock
  examples/Forc.toml
  examples/upgradeable_proxy/implementation/Forc.toml
  examples/upgradeable_proxy/implementation/src/main.sw
  examples/upgradeable_proxy/proxy/Forc.toml
  examples/upgradeable_proxy/proxy/src/main.sw
  test/src/sdk-harness/test_projects/run_external_proxy/src/main.sw
  test/src/sdk-harness/test_projects/run_external_target/src/main.sw
Labels: The Sway Book, documentation

#5971 Refactor forc-doc into a lib and add tests folder
  forc-plugins/forc-doc/src/cli.rs
  forc-plugins/forc-doc/src/doc/mod.rs
  forc-plugins/forc-doc/src/doc/module.rs
  forc-plugins/forc-doc/src/lib.rs
  forc-plugins/forc-doc/src/main.rs
  forc-plugins/forc-doc/src/render/constant.rs
  forc-plugins/forc-doc/src/render/item/components.rs
  forc-plugins/forc-doc/src/render/item/context.rs
  forc-plugins/forc-doc/src/render/link.rs
  forc-plugins/forc-doc/src/render/mod.rs
  forc-plugins/forc-doc/src/render/title.rs
  forc-plugins/forc-doc/src/search.rs
  forc-plugins/forc-doc/tests/fixtures/function_impls/.gitignore
  forc-plugins/forc-doc/tests/fixtures/function_impls/Forc.lock
  forc-plugins/forc-doc/tests/fixtures/function_impls/Forc.toml
  forc-plugins/forc-doc/tests/fixtures/function_impls/src/main.sw
  forc-plugins/forc-doc/tests/lib.rs
Labels: code quality, forc-doc

#5972 Rework book intro
  docs/book/spell-check-custom-words.txt
  docs/book/src/index.md
Labels: The Sway Book

#5978 Wrap `BaseIdent` `name_override_opt` & `TraitName` in an `Arc`
  sway-core/src/semantic_analysis/namespace/trait_map.rs
  sway-types/src/ident.rs
Labels: compiler

#5976 change submodules to use `im::HashMap` instead of `im::OrdMap`
  sway-core/src/semantic_analysis/namespace/module.rs
Labels: compiler

#5983 Make ControlFlowGraph store a reference to Engines to remove clones
  sway-core/src/control_flow_analysis/analyze_return_paths.rs
  sway-core/src/control_flow_analysis/flow_graph/mod.rs
  sway-core/src/lib.rs
Labels: compiler

#5981 chore: bump to fuel-core v0.26.0
  .github/workflows/ci.yml
  .github/workflows/local-testnode/chain_config.json
  .github/workflows/local-testnode/state_config.json
  .github/workflows/local-testnode/state_transition_bytecode.wasm
  Cargo.lock
  Cargo.toml
  forc-plugins/forc-tx/Cargo.toml
  forc-test/src/execute.rs
  forc-test/src/lib.rs
  sway-core/src/language/call_path.rs
  test/src/sdk-harness/Cargo.lock
  test/src/sdk-harness/Cargo.toml
  test/src/sdk-harness/test_projects/low_level_call/mod.rs
Labels: dependencies

#5984 Update library inline docs descriptions
  sway-lib-std/src/address.sw
  sway-lib-std/src/alias.sw
  sway-lib-std/src/asset_id.sw
  sway-lib-std/src/b512.sw
  sway-lib-std/src/constants.sw
  sway-lib-std/src/contract_id.sw
  sway-lib-std/src/execution.sw
  sway-lib-std/src/iterator.sw
  sway-lib-std/src/string.sw
Labels: lib: std, documentation

#5987 feat: take dynamic asset id into account with `forc-client`
  forc-plugins/forc-client/src/op/deploy.rs
  forc-plugins/forc-client/src/util/tx.rs
  forc-plugins/forc-tx/src/lib.rs
Labels: enhancement, forc-client

#5963 Name clash in star imports should result in error when the name is used
  sway-core/src/language/call_path.rs
  sway-core/src/language/ty/declaration/declaration.rs
  sway-core/src/semantic_analysis/namespace/lexical_scope.rs
  sway-core/src/semantic_analysis/namespace/namespace.rs
  sway-core/src/semantic_analysis/namespace/root.rs
  sway-error/src/error.rs
  test/src/e2e_vm_tests/test_programs/should_fail/language/import_star_name_clash/Forc.lock
  test/src/e2e_vm_tests/test_programs/should_fail/language/import_star_name_clash/Forc.toml
  test/src/e2e_vm_tests/test_programs/should_fail/language/import_star_name_clash/json_abi_oracle.json
  test/src/e2e_vm_tests/test_programs/should_fail/language/import_star_name_clash/json_abi_oracle_new_encoding.json
  test/src/e2e_vm_tests/test_programs/should_fail/language/import_star_name_clash/src/a.sw
  test/src/e2e_vm_tests/test_programs/should_fail/language/import_star_name_clash/src/b.sw
  test/src/e2e_vm_tests/test_programs/should_fail/language/import_star_name_clash/src/c.sw
  test/src/e2e_vm_tests/test_programs/should_fail/language/import_star_name_clash/src/d.sw
  test/src/e2e_vm_tests/test_programs/should_fail/language/import_star_name_clash/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_fail/language/import_star_name_clash/test.toml
  test/src/e2e_vm_tests/test_programs/should_pass/language/generic_type_inference/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/language/import_star_name_clash/Forc.lock
  test/src/e2e_vm_tests/test_programs/should_pass/language/import_star_name_clash/Forc.toml
  test/src/e2e_vm_tests/test_programs/should_pass/language/import_star_name_clash/json_abi_oracle.json
  test/src/e2e_vm_tests/test_programs/should_pass/language/import_star_name_clash/json_abi_oracle_new_encoding.json
  test/src/e2e_vm_tests/test_programs/should_pass/language/import_star_name_clash/src/a.sw
  test/src/e2e_vm_tests/test_programs/should_pass/language/import_star_name_clash/src/b.sw
  test/src/e2e_vm_tests/test_programs/should_pass/language/import_star_name_clash/src/c.sw
  test/src/e2e_vm_tests/test_programs/should_pass/language/import_star_name_clash/src/d.sw
  test/src/e2e_vm_tests/test_programs/should_pass/language/import_star_name_clash/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/language/import_star_name_clash/test.toml
Labels: breaking

#5993 Bump to v0.57.0
  Cargo.lock
  docs/reference/src/documentation/introduction/installation/cargo.md
  docs/reference/src/documentation/introduction/installation/index.md
  docs/reference/src/documentation/introduction/installation/source.md
  docs/reference/src/index.md
  forc-pkg/Cargo.toml
  forc-plugins/forc-client/Cargo.toml
  forc-plugins/forc-crypto/Cargo.toml
  forc-plugins/forc-debug/Cargo.toml
  forc-plugins/forc-doc/Cargo.toml
  forc-plugins/forc-fmt/Cargo.toml
  forc-plugins/forc-lsp/Cargo.toml
  forc-plugins/forc-tx/Cargo.toml
  forc-test/Cargo.toml
  forc-tracing/Cargo.toml
  forc-util/Cargo.toml
  forc/Cargo.toml
  sway-ast/Cargo.toml
  sway-core/Cargo.toml
  sway-error/Cargo.toml
  sway-ir/Cargo.toml
  sway-ir/sway-ir-macros/Cargo.toml
  sway-lsp/Cargo.toml
  sway-parse/Cargo.toml
  sway-types/Cargo.toml
  sway-utils/Cargo.toml
  swayfmt/Cargo.toml
  test/src/sdk-harness/Cargo.lock
Labels: release

#5997 Improve ASM printing CLI in `forc`
  docs/book/src/forc/manifest_reference.md
  docs/book/src/introduction/forc_project.md
  forc-pkg/src/manifest/build_profile.rs
  forc-pkg/src/pkg.rs
  forc-pkg/tests/sections/Forc.toml
  forc-plugins/forc-client/src/op/deploy.rs
  forc-plugins/forc-client/src/op/run/mod.rs
  forc/src/cli/commands/test.rs
  forc/src/cli/shared.rs
  forc/src/ops/forc_build.rs
  forc/src/ops/forc_contract_id.rs
  forc/src/ops/forc_predicate_root.rs
  sway-core/src/asm_generation/from_ir.rs
  sway-core/src/asm_generation/programs.rs
  sway-core/src/asm_generation/programs/abstract.rs
  sway-core/src/asm_generation/programs/allocated.rs
  sway-core/src/asm_generation/programs/final.rs
  sway-core/src/build_config.rs
  sway-core/src/lib.rs
  sway-ir/src/pass_manager.rs
  test/src/e2e_vm_tests/harness.rs
  test/src/main.rs
Labels: forc, testing, breaking, forc-pkg

#5998 Remove redundant IR generation of constants and unused IR main inlining
  sway-core/src/ir_generation.rs
  sway-core/src/ir_generation/compile.rs
  sway-ir/src/optimize/inline.rs
  sway-ir/src/pass_manager.rs
Labels: compiler, code quality, compiler: ir, compiler: optimization

#5990 feat: fee estimation for forc-deploy and point --testnet to devnet
  Cargo.lock
  forc-plugins/forc-client/Cargo.toml
  forc-plugins/forc-client/src/constants.rs
  forc-plugins/forc-client/src/op/deploy.rs
  forc-plugins/forc-client/src/op/run/mod.rs
  forc-plugins/forc-client/src/util/gas.rs
  forc-plugins/forc-client/src/util/node_url.rs
  forc-plugins/forc-client/src/util/target.rs
  forc-plugins/forc-client/src/util/tx.rs
Labels: enhancement, forc-deploy

#6003 chore: bump to v0.58.0
  Cargo.lock
  docs/reference/src/documentation/introduction/installation/cargo.md
  docs/reference/src/documentation/introduction/installation/index.md
  docs/reference/src/documentation/introduction/installation/source.md
  docs/reference/src/index.md
  forc-pkg/Cargo.toml
  forc-plugins/forc-client/Cargo.toml
  forc-plugins/forc-crypto/Cargo.toml
  forc-plugins/forc-debug/Cargo.toml
  forc-plugins/forc-doc/Cargo.toml
  forc-plugins/forc-fmt/Cargo.toml
  forc-plugins/forc-lsp/Cargo.toml
  forc-plugins/forc-tx/Cargo.toml
  forc-test/Cargo.toml
  forc-tracing/Cargo.toml
  forc-util/Cargo.toml
  forc/Cargo.toml
  sway-ast/Cargo.toml
  sway-core/Cargo.toml
  sway-error/Cargo.toml
  sway-ir/Cargo.toml
  sway-ir/README.md
  sway-ir/sway-ir-macros/Cargo.toml
  sway-lsp/Cargo.toml
  sway-parse/Cargo.toml
  sway-types/Cargo.toml
  sway-utils/Cargo.toml
  swayfmt/Cargo.toml
Labels: release

#5812 feat: add log decoding capabilities to show decoded log values for forc-test
  Cargo.lock
  docs/book/src/testing/unit-testing.md
  forc-test/Cargo.toml
  forc-test/src/lib.rs
  forc/src/cli/commands/test.rs
  test/src/e2e_vm_tests/harness.rs
  test/src/e2e_vm_tests/mod.rs
  test/src/e2e_vm_tests/test_programs/should_pass/unit_tests/log_decode/.gitignore
  test/src/e2e_vm_tests/test_programs/should_pass/unit_tests/log_decode/Forc.lock
  test/src/e2e_vm_tests/test_programs/should_pass/unit_tests/log_decode/Forc.toml
  test/src/e2e_vm_tests/test_programs/should_pass/unit_tests/log_decode/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/unit_tests/log_decode/test.toml
  test/src/e2e_vm_tests/test_programs/should_pass/unit_tests/workspace_test/contract_multi_test/src/main.sw
Labels: enhancement, forc, forc-test

#6014 change to use `parking_lot::RwLock` for better performance
  Cargo.lock
  sway-core/Cargo.toml
  sway-core/src/concurrent_slab.rs
  sway-core/src/decl_engine/engine.rs
  sway-core/src/query_engine/mod.rs
  sway-core/src/type_system/engine.rs
  sway-types/Cargo.toml
  sway-types/src/source_engine.rs
Labels: compiler, performance

#6013 feat: only show forc examples with explicit --help flag
  forc/src/cli/mod.rs
Labels: enhancement, forc

#6019 feat: point --testnet flag to latest testnet instead of `devnet`
  forc-plugins/forc-client/src/constants.rs
  forc-plugins/forc-client/src/util/node_url.rs
  forc-plugins/forc-client/src/util/target.rs
Labels: enhancement, forc, forc-client

#6008 Add `ContractId::this()` documentation to book
  docs/book/spell-check-custom-words.txt
  docs/book/src/basics/blockchain_types.md
  docs/book/src/sway-program-types/smart_contracts.md
Labels: The Sway Book

#6025 Improve IR printing CLI in `forc`
  Cargo.lock
  docs/book/src/forc/manifest_reference.md
  docs/internals.md
  forc-pkg/src/manifest/build_profile.rs
  forc-pkg/src/pkg.rs
  forc-pkg/tests/sections/Forc.toml
  forc-plugins/forc-client/src/op/deploy.rs
  forc-plugins/forc-client/src/op/run/mod.rs
  forc/Cargo.toml
  forc/src/cli/commands/test.rs
  forc/src/cli/shared.rs
  forc/src/ops/forc_build.rs
  forc/src/ops/forc_contract_id.rs
  forc/src/ops/forc_predicate_root.rs
  sway-core/src/build_config.rs
  sway-core/src/lib.rs
  sway-ir/src/analysis/dominator.rs
  sway-ir/src/analysis/memory_utils.rs
  sway-ir/src/bin/opt.rs
  sway-ir/src/optimize.rs
  sway-ir/src/optimize/README.md
  sway-ir/src/optimize/arg_demotion.rs
  sway-ir/src/optimize/const_demotion.rs
  sway-ir/src/optimize/constants.rs
  sway-ir/src/optimize/dce.rs
  sway-ir/src/optimize/fn_dedup.rs
  sway-ir/src/optimize/inline.rs
  sway-ir/src/optimize/mem2reg.rs
  sway-ir/src/optimize/memcpyopt.rs
  sway-ir/src/optimize/misc_demotion.rs
  sway-ir/src/optimize/ret_demotion.rs
  sway-ir/src/optimize/simplify_cfg.rs
  sway-ir/src/optimize/sroa.rs
  sway-ir/src/pass_manager.rs
  sway-ir/src/printer.rs
  sway-ir/src/verify.rs
  sway-ir/tests/tests.rs
  test/src/e2e_vm_tests/harness.rs
  test/src/ir_generation/mod.rs
  test/src/main.rs
Labels: forc, testing, breaking, forc-pkg

#6027 chore: use fuels-rs v0.62.0, fuel-abi-types v0.5.0
  Cargo.lock
  Cargo.toml
  forc-plugins/forc-client/src/op/run/encode.rs
  forc-plugins/forc-client/src/op/run/mod.rs
  forc-test/src/lib.rs
  forc/src/cli/commands/test.rs
  sway-core/src/abi_generation/fuel_abi.rs
  test/src/e2e_vm_tests/mod.rs
  test/src/e2e_vm_tests/test_programs/should_pass/language/configurable_consts/json_abi_oracle_new_encoding.json
  test/src/e2e_vm_tests/test_programs/should_pass/language/logging/json_abi_oracle_new_encoding.json
  test/src/e2e_vm_tests/test_programs/should_pass/language/main_args/main_args_various_types/json_abi_oracle.json
  test/src/e2e_vm_tests/test_programs/should_pass/language/main_args/main_args_various_types/json_abi_oracle_new_encoding.json
  test/src/e2e_vm_tests/test_programs/should_pass/language/smo/json_abi_oracle.json
  test/src/e2e_vm_tests/test_programs/should_pass/language/smo/json_abi_oracle_new_encoding.json
  test/src/e2e_vm_tests/test_programs/should_pass/language/u256/u256_abi/json_abi_oracle_new_encoding.json
  test/src/e2e_vm_tests/test_programs/should_pass/stdlib/assert_eq/json_abi_oracle_new_encoding.json
  test/src/e2e_vm_tests/test_programs/should_pass/stdlib/assert_eq_revert/json_abi_oracle_new_encoding.json
  test/src/e2e_vm_tests/test_programs/should_pass/stdlib/assert_ne/json_abi_oracle_new_encoding.json
  test/src/e2e_vm_tests/test_programs/should_pass/stdlib/assert_ne_revert/json_abi_oracle_new_encoding.json
  test/src/e2e_vm_tests/test_programs/should_pass/stdlib/require/json_abi_oracle_new_encoding.json
  test/src/e2e_vm_tests/test_programs/should_pass/test_contracts/basic_storage/json_abi_oracle_new_encoding.json
  test/src/e2e_vm_tests/test_programs/should_pass/test_contracts/multiple_impl/json_abi_oracle_new_encoding.json
  test/src/e2e_vm_tests/test_programs/should_pass/test_contracts/storage_access_contract/json_abi_oracle_new_encoding.json
  test/src/e2e_vm_tests/test_programs/should_pass/test_contracts/storage_namespace/json_abi_oracle_new_encoding.json
  test/src/sdk-harness/Cargo.lock
  test/src/sdk-harness/Cargo.toml
Labels: dependencies

#5743 Remove frontend section from Sway docs.
  docs/book/src/SUMMARY.md
  docs/book/src/frontend/index.md
  docs/book/src/frontend/typescript_sdk.md
  docs/book/src/sway-program-types/smart_contracts.md
Labels: documentation

#5980 ABI hash based ids for Logs.
  Cargo.lock
  sway-core/src/abi_generation/abi_str.rs
  sway-core/src/abi_generation/fuel_abi.rs
  sway-core/src/abi_generation/mod.rs
  sway-core/src/ir_generation/function.rs
  sway-core/src/language/ty/expression/intrinsic_function.rs
  sway-core/src/lib.rs
  sway-core/src/types/collect_types_metadata.rs
  test/src/e2e_vm_tests/test_programs/should_pass/language/configurable_consts/json_abi_oracle_new_encoding.json
  test/src/e2e_vm_tests/test_programs/should_pass/language/logging/json_abi_oracle.json
  test/src/e2e_vm_tests/test_programs/should_pass/language/logging/json_abi_oracle_new_encoding.json
  test/src/e2e_vm_tests/test_programs/should_pass/language/main_args/main_args_various_types/json_abi_oracle.json
  test/src/e2e_vm_tests/test_programs/should_pass/language/main_args/main_args_various_types/json_abi_oracle_new_encoding.json
  test/src/e2e_vm_tests/test_programs/should_pass/language/smo/json_abi_oracle.json
  test/src/e2e_vm_tests/test_programs/should_pass/language/smo/json_abi_oracle_new_encoding.json
  test/src/e2e_vm_tests/test_programs/should_pass/language/u256/u256_abi/json_abi_oracle_new_encoding.json
  test/src/e2e_vm_tests/test_programs/should_pass/require_contract_deployment/call_basic_storage/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/require_contract_deployment/storage_access_caller/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/stdlib/assert_eq/json_abi_oracle_new_encoding.json
  test/src/e2e_vm_tests/test_programs/should_pass/stdlib/assert_eq_revert/json_abi_oracle.json
  test/src/e2e_vm_tests/test_programs/should_pass/stdlib/assert_eq_revert/json_abi_oracle_new_encoding.json
  test/src/e2e_vm_tests/test_programs/should_pass/stdlib/assert_ne/json_abi_oracle.json
  test/src/e2e_vm_tests/test_programs/should_pass/stdlib/assert_ne/json_abi_oracle_new_encoding.json
  test/src/e2e_vm_tests/test_programs/should_pass/stdlib/assert_ne_revert/json_abi_oracle.json
  test/src/e2e_vm_tests/test_programs/should_pass/stdlib/assert_ne_revert/json_abi_oracle_new_encoding.json
  test/src/e2e_vm_tests/test_programs/should_pass/stdlib/require/json_abi_oracle_new_encoding.json
  test/src/e2e_vm_tests/test_programs/should_pass/test_contracts/basic_storage/json_abi_oracle.json
  test/src/e2e_vm_tests/test_programs/should_pass/test_contracts/basic_storage/json_abi_oracle_new_encoding.json
  test/src/e2e_vm_tests/test_programs/should_pass/test_contracts/multiple_impl/json_abi_oracle.json
  test/src/e2e_vm_tests/test_programs/should_pass/test_contracts/multiple_impl/json_abi_oracle_new_encoding.json
  test/src/e2e_vm_tests/test_programs/should_pass/test_contracts/storage_access_contract/json_abi_oracle_new_encoding.json
  test/src/e2e_vm_tests/test_programs/should_pass/test_contracts/storage_namespace/json_abi_oracle.json
  test/src/e2e_vm_tests/test_programs/should_pass/test_contracts/storage_namespace/json_abi_oracle_new_encoding.json
  test/src/ir_generation/mod.rs
Labels: ABI

#6030 Bump to v0.59.0
  Cargo.lock
  docs/reference/src/documentation/introduction/installation/cargo.md
  docs/reference/src/documentation/introduction/installation/index.md
  docs/reference/src/documentation/introduction/installation/source.md
  docs/reference/src/index.md
  forc-pkg/Cargo.toml
  forc-plugins/forc-client/Cargo.toml
  forc-plugins/forc-crypto/Cargo.toml
  forc-plugins/forc-debug/Cargo.toml
  forc-plugins/forc-doc/Cargo.toml
  forc-plugins/forc-fmt/Cargo.toml
  forc-plugins/forc-lsp/Cargo.toml
  forc-plugins/forc-tx/Cargo.toml
  forc-test/Cargo.toml
  forc-tracing/Cargo.toml
  forc-util/Cargo.toml
  forc/Cargo.toml
  sway-ast/Cargo.toml
  sway-core/Cargo.toml
  sway-error/Cargo.toml
  sway-ir/Cargo.toml
  sway-ir/sway-ir-macros/Cargo.toml
  sway-lsp/Cargo.toml
  sway-parse/Cargo.toml
  sway-types/Cargo.toml
  sway-utils/Cargo.toml
  swayfmt/Cargo.toml
Labels: release

#6020 fix: add forc-doc impls for enums and fix sidebar
  forc-plugins/forc-doc/src/doc/mod.rs
  forc-plugins/forc-doc/src/render/item/context.rs
  forc-plugins/forc-doc/src/render/sidebar.rs
  forc-plugins/forc-doc/src/render/title.rs
  forc-plugins/forc-doc/src/static.files/swaydoc.css
  forc-plugins/forc-doc/src/tests/expects/impl_trait/mod.rs
Labels: enhancement, forc-doc

#6010 TryFrom< B512 > for b256, u256
  sway-lib-std/src/lib.sw
  sway-lib-std/src/primitive_conversions/b256.sw
  sway-lib-std/src/primitive_conversions/u256.sw
  test/src/e2e_vm_tests/reduced_std_libs/sway-lib-std-conversions/reduced_lib.config
  test/src/e2e_vm_tests/reduced_std_libs/sway-lib-std-conversions/src/lib.sw
Labels: enhancement, lib: std

#6031 Allow storage access in fallback only contracts
  sway-core/src/semantic_analysis/ast_node/declaration/auto_impl.rs
  test/src/e2e_vm_tests/test_programs/should_pass/language/fallback_only/Forc.lock
  test/src/e2e_vm_tests/test_programs/should_pass/language/fallback_only/Forc.toml
  test/src/e2e_vm_tests/test_programs/should_pass/language/fallback_only/json_abi_oracle.json
  test/src/e2e_vm_tests/test_programs/should_pass/language/fallback_only/json_abi_oracle_new_encoding.json
  test/src/e2e_vm_tests/test_programs/should_pass/language/fallback_only/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/language/fallback_only/test.toml
  test/src/e2e_vm_tests/test_programs/should_pass/require_contract_deployment/array_of_structs_caller/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/require_contract_deployment/asset_ops_test/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/require_contract_deployment/bal_opcode/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/require_contract_deployment/call_basic_storage/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/require_contract_deployment/call_contract_with_type_aliases/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/require_contract_deployment/call_storage_enum/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/require_contract_deployment/caller_auth_test/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/require_contract_deployment/caller_context_test/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/require_contract_deployment/nested_struct_args_caller/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/require_contract_deployment/storage_access_caller/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/unit_tests/workspace_test/contract_multi_test/src/main.sw
Labels: breaking

#6043 Fix containing `StorageString`s in `StorageVec`s
  sway-lib-std/src/storage/storage_map.sw
  sway-lib-std/src/storage/storage_string.sw
  sway-lib-std/src/storage/storage_vec.sw
  test/src/sdk-harness/Forc.lock
  test/src/sdk-harness/Forc.toml
  test/src/sdk-harness/test_artifacts/auth_testing_contract/src/main.sw
  test/src/sdk-harness/test_artifacts/methods_contract/src/main.sw
  test/src/sdk-harness/test_artifacts/storage_vec/svec_array/src/main.sw
  test/src/sdk-harness/test_artifacts/storage_vec/svec_b256/src/main.sw
  test/src/sdk-harness/test_artifacts/storage_vec/svec_bool/src/main.sw
  test/src/sdk-harness/test_artifacts/storage_vec/svec_enum/src/main.sw
  test/src/sdk-harness/test_artifacts/storage_vec/svec_str/src/main.sw
  test/src/sdk-harness/test_artifacts/storage_vec/svec_struct/src/main.sw
  test/src/sdk-harness/test_artifacts/storage_vec/svec_tuple/src/main.sw
  test/src/sdk-harness/test_artifacts/storage_vec/svec_u16/src/main.sw
  test/src/sdk-harness/test_artifacts/storage_vec/svec_u32/src/main.sw
  test/src/sdk-harness/test_artifacts/storage_vec/svec_u64/src/main.sw
  test/src/sdk-harness/test_artifacts/storage_vec/svec_u8/src/main.sw
  test/src/sdk-harness/test_projects/call_frames/mod.rs
  test/src/sdk-harness/test_projects/call_frames/src/main.sw
  test/src/sdk-harness/test_projects/generics_in_abi/src/main.sw
  test/src/sdk-harness/test_projects/harness.rs
  test/src/sdk-harness/test_projects/result_option_expect/mod.rs
  test/src/sdk-harness/test_projects/run_external_proxy/mod.rs
  test/src/sdk-harness/test_projects/storage_vec_nested/mod.rs
  test/src/sdk-harness/test_projects/storage_vec_nested/src/main.sw
  test/src/sdk-harness/test_projects/storage_vec_of_storage_string/Forc.lock
  test/src/sdk-harness/test_projects/storage_vec_of_storage_string/Forc.toml
  test/src/sdk-harness/test_projects/storage_vec_of_storage_string/mod.rs
  test/src/sdk-harness/test_projects/storage_vec_of_storage_string/src/main.sw
  test/src/sdk-harness/test_projects/tx_fields/mod.rs
Labels: bug, lib: std

#6037 Add `AbiEncode` and `AbiDecode` for `String`
  sway-lib-std/src/string.sw
Labels: enhancement, lib: std

#6024 Optimization pipeline: switch order of fndedup and inlining
  forc-plugins/forc-debug/tests/server_integration.rs
  sway-core/src/asm_generation/fuel/functions.rs
  sway-core/src/lib.rs
  sway-ir/src/analysis/memory_utils.rs
  sway-ir/src/pass_manager.rs
  test/src/e2e_vm_tests/test_programs/should_pass/language/configurable_consts/json_abi_oracle_new_encoding.json
  test/src/e2e_vm_tests/test_programs/should_pass/language/u256/u256_abi/json_abi_oracle_new_encoding.json
  test/src/e2e_vm_tests/test_programs/should_pass/require_contract_deployment/array_of_structs_caller/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/require_contract_deployment/asset_ops_test/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/require_contract_deployment/bal_opcode/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/require_contract_deployment/call_abi_with_tuples/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/require_contract_deployment/call_basic_storage/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/require_contract_deployment/call_contract_with_type_aliases/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/require_contract_deployment/call_increment_contract/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/require_contract_deployment/call_storage_enum/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/require_contract_deployment/caller_auth_test/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/require_contract_deployment/caller_context_test/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/require_contract_deployment/nested_struct_args_caller/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/require_contract_deployment/storage_access_caller/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/unit_tests/workspace_test/contract_multi_test/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/unit_tests/workspace_test/test.toml
  test/src/sdk-harness/test_projects/methods/mod.rs
Labels: breaking

#5935 chore: fund test suite's account by default in local-test node
  .github/workflows/local-testnode/state_config.json
Labels: testing

#6055 fix: fund default signer account in ci
  .github/workflows/local-testnode/chain_config.json
  .github/workflows/local-testnode/state_config.json
  .github/workflows/local-testnode/state_transition_bytecode.wasm
Labels: ci

#6051 Add examples on how to import storage types to the book
  docs/book/src/advanced/advanced_storage.md
  docs/book/src/blockchain-development/storage.md
  examples/advanced_storage_variables/src/main.sw
Labels: The Sway Book

#6056 Rename module terminology to program
  forc-pkg/src/pkg.rs
  sway-core/src/abi_generation/fuel_abi.rs
  sway-core/src/decl_engine/engine.rs
  sway-core/src/decl_engine/parsed_engine.rs
  sway-core/src/engine_threading.rs
  sway-core/src/language/call_path.rs
  sway-core/src/lib.rs
  sway-core/src/query_engine/mod.rs
  sway-core/src/semantic_analysis/ast_node/declaration/auto_impl.rs
  sway-core/src/semantic_analysis/ast_node/expression/typed_expression.rs
  sway-core/src/semantic_analysis/ast_node/expression/typed_expression/struct_instantiation.rs
  sway-core/src/semantic_analysis/module.rs
  sway-core/src/semantic_analysis/namespace/namespace.rs
  sway-core/src/type_system/engine.rs
  sway-lsp/src/core/session.rs
  sway-lsp/src/error.rs
  sway-lsp/src/handlers/request.rs
  sway-lsp/src/server_state.rs
  sway-lsp/tests/lib.rs
  sway-types/src/lib.rs
  sway-types/src/source_engine.rs
  sway-utils/src/performance.rs
Labels: code quality

#6061 chore: Improve the error message for unresolved manifest reference
  forc-pkg/src/source/git/mod.rs
  forc-plugins/forc-fmt/src/main.rs
  forc-util/src/lib.rs
Labels: forc

#6032 feat: Add primitive types to forc-doc
  forc-plugins/forc-doc/src/doc/descriptor.rs
  forc-plugins/forc-doc/src/doc/mod.rs
  forc-plugins/forc-doc/src/render/item/components.rs
  forc-plugins/forc-doc/src/render/item/context.rs
  forc-plugins/forc-doc/src/render/item/documentable_type.rs
  forc-plugins/forc-doc/src/render/item/mod.rs
  forc-plugins/forc-doc/src/render/link.rs
  forc-plugins/forc-doc/src/render/mod.rs
  forc-plugins/forc-doc/src/render/sidebar.rs
  forc-plugins/forc-doc/src/render/title.rs
  forc-plugins/forc-doc/src/search.rs
  forc-plugins/forc-doc/src/tests/expects/impl_trait/mod.rs
  sway-core/src/language/ty/declaration/declaration.rs
Labels: forc-doc

#6076 Bash script to help benchmark the compiler
  test/bench.sh
Labels: performance

#6070 Unify parsed and typed symbols namespace maps.
  sway-core/src/ir_generation/compile.rs
  sway-core/src/language/parsed/declaration.rs
  sway-core/src/semantic_analysis/ast_node/declaration/declaration.rs
  sway-core/src/semantic_analysis/collection_context.rs
  sway-core/src/semantic_analysis/namespace/contract_helpers.rs
  sway-core/src/semantic_analysis/namespace/lexical_scope.rs
  sway-core/src/semantic_analysis/namespace/mod.rs
  sway-core/src/semantic_analysis/namespace/root.rs
  sway-core/src/semantic_analysis/type_check_context.rs
  sway-core/src/type_system/ast_elements/type_parameter.rs
  sway-lsp/src/traverse/typed_tree.rs
Labels: compiler: frontend, compiler: collection
