Repository FuelLabs/sway, pull requests merged in 2025-10, with the labels that each got.

#7295 feat: introduce fuel-telemetry macros
  Cargo.lock
  Cargo.toml
  forc-plugins/forc-publish/src/main.rs
  forc-tracing/Cargo.toml
  forc-tracing/src/lib.rs
  forc-tracing/src/telemetry.rs
  forc/Cargo.toml
  forc/src/cli/mod.rs
  test/src/e2e_vm_tests/test_programs/should_pass/language/array/array_repeat/stdout.snap
Labels: logging

#7437 Stabilize `new_hashing`
  .github/workflows/ci.yml
  sway-features/src/lib.rs
  sway-lib-std/src/hash.sw
  test/src/e2e_vm_tests/test_programs/should_pass/language/configurable_consts/json_abi_oracle_new_encoding.json
  test/src/e2e_vm_tests/test_programs/should_pass/language/configurable_tests/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/require_contract_deployment/call_basic_storage/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/stdlib/sha256/Forc.lock
  test/src/e2e_vm_tests/test_programs/should_pass/stdlib/sha256/Forc.toml
  test/src/e2e_vm_tests/test_programs/should_pass/stdlib/sha256/json_abi_oracle.json
  test/src/e2e_vm_tests/test_programs/should_pass/stdlib/sha256/json_abi_oracle_new_encoding.json
  test/src/e2e_vm_tests/test_programs/should_pass/stdlib/sha256/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/stdlib/sha256/test.toml
  test/src/e2e_vm_tests/test_programs/should_pass/storage_element_key_modification/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/storage_slot_key_calculation/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/test_contracts/basic_storage/json_abi_oracle_new_encoding.json
  test/src/e2e_vm_tests/test_programs/should_pass/test_contracts/basic_storage/src/main.sw
  test/src/in_language_tests/test_programs/hash_inline_tests/src/main.sw
Labels: compiler, lib: std, breaking

#7446 Remove workarounds based on `asm` blocks from `std::hash`
  sway-lib-std/src/hash.sw
  test/src/e2e_vm_tests/test_programs/should_pass/language/configurable_consts/json_abi_oracle_new_encoding.json
  test/src/e2e_vm_tests/test_programs/should_pass/require_contract_deployment/call_basic_storage/src/main.sw
  test/src/in_language_tests/test_programs/hash_inline_tests/src/main.sw
Labels: lib: std
