Repository FuelLabs/sway, pull requests merged in 2025-04, with the labels that each got.

#7043 Allow decimal/binary/octal u256 literals
  sway-error/src/lex_error.rs
  sway-parse/src/token.rs
  test/src/e2e_vm_tests/test_programs/should_fail/u256/u256_only_hex_literal/Forc.lock
  test/src/e2e_vm_tests/test_programs/should_fail/u256/u256_only_hex_literal/Forc.toml
  test/src/e2e_vm_tests/test_programs/should_fail/u256/u256_only_hex_literal/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_fail/u256/u256_only_hex_literal/test.toml
  test/src/e2e_vm_tests/test_programs/should_pass/language/u256/u256_operators/src/main.sw
Labels: cla:signed

#7055 chore: improve `test_cleanup_stale_files` test & add `mark-flaky-tests` crate
  Cargo.lock
  Cargo.toml
  forc-util/Cargo.toml
  forc-util/src/fs_locking.rs
Labels: ci

#7064 fix: run forc-publish tarball tests sequentially to remove flakiness
  Cargo.lock
  forc-plugins/forc-publish/Cargo.toml
  forc-plugins/forc-publish/src/tarball.rs
Labels: bug, forc-publish

#7056 Forc call transfers
  docs/book/src/forc/plugins/forc_client/forc_call.md
  forc-plugins/forc-client/src/bin/call.rs
  forc-plugins/forc-client/src/cmd/call.rs
  forc-plugins/forc-client/src/op/call/call_function.rs
  forc-plugins/forc-client/src/op/call/list_functions.rs
  forc-plugins/forc-client/src/op/call/mod.rs
  forc-plugins/forc-client/src/op/call/transfer.rs
Labels: enhancement, forc, forc-call, team:tooling

#7068 Fix compiler panic on configurable initialization
  sway-core/src/ir_generation/compile.rs
  test/src/e2e_vm_tests/test_programs/should_fail/configurables_initializer_not_const_eval/Forc.lock
  test/src/e2e_vm_tests/test_programs/should_fail/configurables_initializer_not_const_eval/Forc.toml
  test/src/e2e_vm_tests/test_programs/should_fail/configurables_initializer_not_const_eval/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_fail/configurables_initializer_not_const_eval/test.toml
  test/src/e2e_vm_tests/test_programs/should_fail/configurables_undefined_var/src/main.sw
Labels: bug, compiler, compiler: ir

#7069 ci: include forc-node binaries in releases
  .github/workflows/ci.yml
Labels: ci, forc-node

#7032 Add `--generate-hexfile` flag to `forc build` for hex-encoded output
  forc-pkg/src/pkg.rs
  forc-plugins/forc-client/src/op/deploy.rs
  forc-plugins/forc-client/src/op/run/mod.rs
  forc-test/src/lib.rs
  forc/src/cli/commands/test.rs
  forc/src/cli/shared.rs
  forc/src/ops/forc_build.rs
  forc/src/ops/forc_contract_id.rs
  forc/src/ops/forc_predicate_root.rs
Labels: cla:signed

#7074 forc call verbosity levels
  forc-plugins/forc-client/src/cmd/call.rs
  forc-plugins/forc-client/src/op/call/call_function.rs
  forc-plugins/forc-client/src/op/call/mod.rs
  forc-plugins/forc-client/src/op/call/transfer.rs
Labels: enhancement, forc, forc-call, team:tooling

#7081 feat: yanking support for registry packages
  forc-pkg/src/source/reg/file_location.rs
  forc-pkg/src/source/reg/index_file.rs
  forc-pkg/src/source/reg/mod.rs
Labels: enhancement, forc-pkg, forc-registry

#7049 forc-pkg: add guards to ensure proper fetch cleanups
  Cargo.lock
  Cargo.toml
  forc-pkg/Cargo.toml
  forc-pkg/src/source/git/mod.rs
  forc-pkg/src/source/reg/mod.rs
Labels: enhancement, forc-pkg, forc-registry

#7082 ci: add a step to reject x.y.z versioning for dependencies
  .github/workflows/ci.yml
  .github/workflows/scripts/check-dep-versions/Cargo.lock
  .github/workflows/scripts/check-dep-versions/Cargo.toml
  .github/workflows/scripts/check-dep-versions/src/main.rs
  Cargo.toml
Labels: enhancement, ci

#7078 Cache and restore namespace module for cached modules
  sway-core/src/query_engine/mod.rs
  sway-core/src/semantic_analysis/module.rs
  sway-core/src/semantic_analysis/namespace/module.rs
Labels: compiler, language server, compiler: frontend

#7084 Implement `Eq` for `Signature` and add missing `codec` tests
  sway-lib-std/src/crypto/signature.sw
  test/src/in_language_tests/test_programs/crypto_ed25519_inline_tests/src/main.sw
  test/src/in_language_tests/test_programs/crypto_message_inline_tests/src/main.sw
  test/src/in_language_tests/test_programs/crypto_point2d_inline_tests/src/main.sw
  test/src/in_language_tests/test_programs/crypto_public_key_inline_tests/src/main.sw
  test/src/in_language_tests/test_programs/crypto_scalar_inline_tests/src/main.sw
  test/src/in_language_tests/test_programs/crypto_secp256k1_inline_tests/src/main.sw
  test/src/in_language_tests/test_programs/crypto_secp256r1_inline_tests/src/main.sw
  test/src/in_language_tests/test_programs/crypto_signature_inline_tests/src/main.sw
Labels: lib: std

#7087 Optimize `tx` module for bytecode size and gas usage
  sway-lib-std/src/tx.sw
Labels: lib: std

#7092 Optimize `inputs` and `outputs` modules for bytecode size and gas usage
  sway-lib-std/src/inputs.sw
  sway-lib-std/src/outputs.sw
  sway-lib-std/src/tx.sw
  test/src/e2e_vm_tests/test_programs/should_pass/require_contract_deployment/asset_ops_test/src/main.sw
  test/src/sdk-harness/test_artifacts/tx_output_contract/src/main.sw
  test/src/sdk-harness/test_artifacts/tx_output_predicate/src/main.sw
  test/src/sdk-harness/test_projects/auth/mod.rs
Labels: lib: std

#7094 feat: limit registry nesting to 2 levels for registry sources
  forc-pkg/src/source/reg/file_location.rs
Labels: enhancement, forc, forc-registry

#7096 Optimize `auth` module for bytecode size and gas usage
  sway-lib-std/src/auth.sw
  sway-lib-std/src/inputs.sw
  sway-lib-std/src/outputs.sw
  test/src/sdk-harness/test_projects/auth/mod.rs
Labels: lib: std

#7090 chore: bump to 0.67.1
  Cargo.lock
  Cargo.toml
Labels: release

#7099 ci: move build binaries step to ubuntu-22.04
  .github/workflows/ci.yml
Labels: enhancement, ci

#7100 chore: bump to 0.67.2
  Cargo.lock
  Cargo.toml
Labels: release

#7104 fix(ci): update Docker actions to fix GitHub cache deprecation error
  .github/workflows/ci.yml
Labels: ci

#7105 `assert_eq` requires `PartialEq` instead of `Eq`
  sway-lib-std/src/assert.sw
Labels: lib: std

#7106 Fix `Eq` constraint in vec.sw `impl<T> PartialEq for Vec<T>`.
  sway-lib-std/src/vec.sw
Labels: compiler, lib: std

#7110 chore: bump fuel-core to 0.43.1 and fuels to 0.72
  .github/workflows/ci.yml
  Cargo.lock
  Cargo.toml
  forc-plugins/forc-client/src/op/call/call_function.rs
  forc-plugins/forc-client/src/op/call/missing_contracts.rs
  forc-plugins/forc-client/src/op/submit.rs
  forc-plugins/forc-client/src/util/account.rs
  forc-plugins/forc-client/src/util/aws.rs
  forc-test/src/ecal.rs
  test/src/sdk-harness/Cargo.lock
  test/src/sdk-harness/Cargo.toml
  test/src/sdk-harness/test_projects/auth/mod.rs
  test/src/sdk-harness/test_projects/predicate_data_simple/mod.rs
  test/src/sdk-harness/test_projects/predicate_data_struct/mod.rs
  test/src/sdk-harness/test_projects/script_data/mod.rs
  test/src/sdk-harness/test_projects/storage_vec/testgen.rs
  test/src/sdk-harness/test_projects/string_slice/mod.rs
  test/src/sdk-harness/test_projects/tx_fields/mod.rs
Labels: dependencies

#7079 Fix relative path resolution with temp manifests in LSP
  Cargo.lock
  sway-lsp/Cargo.toml
  sway-lsp/src/core/sync.rs
  sway-lsp/tests/fixtures/workspace/Forc.toml
  sway-lsp/tests/fixtures/workspace/test-contract/Forc.toml
  sway-lsp/tests/fixtures/workspace/test-contract/src/main.sw
  sway-lsp/tests/fixtures/workspace/test-library/Forc.toml
  sway-lsp/tests/fixtures/workspace/test-library/src/lib.sw
  sway-lsp/tests/lib.rs
Labels: bug, language server

#7112 chore: bump version to 0.68.1
  Cargo.lock
  Cargo.toml
Labels: release

#7116 fix: add `implicit-std = false` to fix failing LSP test
  sway-lsp/tests/fixtures/workspace/test-contract/Forc.toml
  sway-lsp/tests/fixtures/workspace/test-library/Forc.toml
Labels: language server

#7115 forc-call: missing contract retrieval refactor
  forc-plugins/forc-client/src/op/call/call_function.rs
  forc-plugins/forc-client/src/op/call/missing_contracts.rs
Labels: forc-call

#7124 Add support for experimental features in the parsing phase
  Cargo.lock
  forc-plugins/forc-doc/src/doc/descriptor.rs
  forc-plugins/forc-doc/src/doc/mod.rs
  forc-plugins/forc-doc/src/lib.rs
  forc-plugins/forc-fmt/Cargo.toml
  forc-plugins/forc-fmt/src/main.rs
  forc-plugins/forc-migrate/src/cli/commands/run.rs
  forc-plugins/forc-migrate/src/cli/shared.rs
  sway-core/src/lib.rs
  sway-core/src/semantic_analysis/ast_node/declaration/auto_impl/mod.rs
  sway-core/src/semantic_analysis/namespace/contract_helpers.rs
  sway-parse/Cargo.toml
  sway-parse/src/lib.rs
  sway-parse/src/parser.rs
  sway-parse/src/test_utils.rs
  sway-parse/tests/common/mod.rs
  swayfmt/Cargo.toml
  swayfmt/src/comments.rs
  swayfmt/src/formatter/mod.rs
  swayfmt/src/parse.rs
  swayfmt/src/utils/map/newline.rs
  swayfmt/test_macros/src/lib.rs
  test/src/main.rs
Labels: compiler: parser

#7121 Add `str` conversion methods to `std::string::String` in `sway-lib-std`
  sway-lib-std/src/string.sw
Labels: cla:signed

#7127 Upgrade CI and fix Clippy issues with Rust 1.86.0
  .github/workflows/ci.yml
  forc-pkg/src/manifest/mod.rs
  forc-pkg/src/pkg.rs
  forc-util/src/lib.rs
  sway-ast/src/path.rs
  sway-core/src/asm_generation/fuel/data_section.rs
  sway-core/src/asm_generation/fuel/register_allocator.rs
  sway-core/src/asm_lang/allocated_ops.rs
  sway-core/src/control_flow_analysis/dead_code_analysis.rs
  sway-core/src/ir_generation/compile.rs
  sway-core/src/ir_generation/function.rs
  sway-core/src/ir_generation/storage.rs
  sway-core/src/language/ty/program.rs
  sway-core/src/lib.rs
  sway-core/src/semantic_analysis/ast_node/declaration/impl_trait.rs
  sway-core/src/semantic_analysis/ast_node/expression/match_expression/analysis/range.rs
  sway-core/src/semantic_analysis/namespace/trait_map.rs
  sway-core/src/type_system/ast_elements/binding.rs
  sway-core/src/type_system/monomorphization.rs
  sway-core/src/type_system/substitute/subst_map.rs
  sway-ir/src/irtype.rs
  sway-lsp/src/capabilities/code_actions/common/generate_impl.rs
  sway-lsp/src/traverse/typed_tree.rs
  sway-types/src/u256.rs
  test/src/reduced_std_libs.rs
Labels: compiler, code quality

#7076 Support for const generics in structs
  forc-plugins/forc-doc/src/render/item/type_anchor.rs
  sway-ast/src/ty/mod.rs
  sway-core/src/abi_generation/abi_str.rs
  sway-core/src/abi_generation/evm_abi.rs
  sway-core/src/abi_generation/fuel_abi.rs
  sway-core/src/control_flow_analysis/dead_code_analysis.rs
  sway-core/src/ir_generation/convert.rs
  sway-core/src/language/ty/declaration/enum.rs
  sway-core/src/language/ty/declaration/function.rs
  sway-core/src/language/ty/declaration/struct.rs
  sway-core/src/language/ty/expression/expression.rs
  sway-core/src/language/ty/expression/expression_variant.rs
  sway-core/src/semantic_analysis/ast_node/declaration/auto_impl/abi_encoding.rs
  sway-core/src/semantic_analysis/ast_node/declaration/auto_impl/debug.rs
  sway-core/src/semantic_analysis/ast_node/declaration/auto_impl/mod.rs
  sway-core/src/semantic_analysis/ast_node/declaration/enum.rs
  sway-core/src/semantic_analysis/ast_node/declaration/impl_trait.rs
  sway-core/src/semantic_analysis/ast_node/declaration/struct.rs
  sway-core/src/semantic_analysis/ast_node/expression/intrinsic_function.rs
  sway-core/src/semantic_analysis/ast_node/expression/typed_expression.rs
  sway-core/src/semantic_analysis/ast_node/expression/typed_expression/method_application.rs
  sway-core/src/semantic_analysis/ast_node/expression/typed_expression/struct_instantiation.rs
  sway-core/src/semantic_analysis/node_dependencies.rs
  sway-core/src/semantic_analysis/type_resolve.rs
  sway-core/src/transform/to_parsed_lang/convert_parse_tree.rs
  sway-core/src/type_system/ast_elements/length.rs
  sway-core/src/type_system/ast_elements/type_argument.rs
  sway-core/src/type_system/ast_elements/type_parameter.rs
  sway-core/src/type_system/engine.rs
  sway-core/src/type_system/id.rs
  sway-core/src/type_system/info.rs
  sway-core/src/type_system/mod.rs
  sway-core/src/type_system/monomorphization.rs
  sway-core/src/type_system/substitute/subst_map.rs
  sway-core/src/type_system/unify/unifier.rs
  sway-core/src/type_system/unify/unify_check.rs
  sway-lsp/src/capabilities/code_actions/enum_decl/enum_impl.rs
  sway-lsp/src/capabilities/code_actions/struct_decl/struct_impl.rs
  sway-lsp/src/capabilities/code_actions/struct_decl/struct_new.rs
  sway-lsp/src/capabilities/hover/hover_link_contents.rs
  sway-lsp/src/traverse/parsed_tree.rs
  sway-lsp/src/traverse/typed_tree.rs
  sway-parse/src/ty/mod.rs
  swayfmt/src/utils/language/ty.rs
  test/src/e2e_vm_tests/test_programs/should_fail/language/const_generics/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/language/const_generics/json_abi_oracle.json
  test/src/e2e_vm_tests/test_programs/should_pass/language/const_generics/snapshot.toml
  test/src/e2e_vm_tests/test_programs/should_pass/language/const_generics/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/language/const_generics/stdout.snap
  test/src/e2e_vm_tests/test_programs/should_pass/language/const_generics/test.toml
Labels: language feature
