Repository FuelLabs/sway, pull requests merged in 2025-07, with the labels that each got.

#7274 Fix Typo in Yanked Version Message
  forc-pkg/src/source/reg/mod.rs
Labels: cla:signed

#7259 Implement new hashing
  .github/workflows/ci.yml
  sway-features/src/lib.rs
  sway-lib-std/src/b512.sw
  sway-lib-std/src/crypto/message.sw
  sway-lib-std/src/crypto/public_key.sw
  sway-lib-std/src/crypto/secp256k1.sw
  sway-lib-std/src/crypto/secp256r1.sw
  sway-lib-std/src/hash.sw
  sway-lib-std/src/storage/storable_slice.sw
  sway-lib-std/src/string.sw
  test/src/e2e_vm_tests/test_programs/should_fail/attributes_invalid_args/stdout.snap
  test/src/e2e_vm_tests/test_programs/should_fail/attributes_invalid_cfg_arg_with_invalid_item/stdout.snap
  test/src/e2e_vm_tests/test_programs/should_pass/language/mega_example/src/main.sw
  test/src/in_language_tests/test_programs/crypto_signature_inline_tests/src/main.sw
  test/src/in_language_tests/test_programs/hash_inline_tests/src/main.sw
  test/src/sdk-harness/Forc.lock
  test/src/sdk-harness/Forc.toml
  test/src/sdk-harness/test_projects/generics_in_abi/src/main.sw
  test/src/sdk-harness/test_projects/harness.rs
  test/src/sdk-harness/test_projects/hashing/Forc.lock
  test/src/sdk-harness/test_projects/hashing/Forc.toml
  test/src/sdk-harness/test_projects/hashing/mod.rs
  test/src/sdk-harness/test_projects/hashing/src/main.sw
  test/src/sdk-harness/test_projects/storage_map/mod.rs
  test/src/sdk-harness/test_projects/storage_map/src/main.sw
  test/src/sdk-harness/test_projects/storage_map/try_insert.rs
  test/src/sdk-harness/test_projects/storage_map_nested/src/main.sw
Labels: lib: std, breaking

#7277 Add `#[trace]` attribute
  sway-ast/src/attribute.rs
  sway-core/src/ir_generation/compile.rs
  sway-core/src/language/mod.rs
  sway-core/src/language/trace.rs
  sway-core/src/language/ty/declaration/function.rs
  sway-core/src/metadata.rs
  sway-core/src/transform/attribute.rs
  test/src/e2e_vm_tests/test_programs/should_fail/attributes_invalid_args/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_fail/attributes_invalid_args/src/trace_attr.sw
  test/src/e2e_vm_tests/test_programs/should_fail/attributes_invalid_args/stdout.snap
  test/src/e2e_vm_tests/test_programs/should_fail/attributes_invalid_args_expect_values/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_fail/attributes_invalid_args_expect_values/src/trace_attr.sw
  test/src/e2e_vm_tests/test_programs/should_fail/attributes_invalid_args_expect_values/stdout.snap
  test/src/e2e_vm_tests/test_programs/should_fail/attributes_invalid_args_multiplicity/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_fail/attributes_invalid_args_multiplicity/src/trace_attr.sw
  test/src/e2e_vm_tests/test_programs/should_fail/attributes_invalid_args_multiplicity/stdout.snap
  test/src/e2e_vm_tests/test_programs/should_fail/attributes_invalid_multiplicity/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_fail/attributes_invalid_multiplicity/src/trace_attr.sw
  test/src/e2e_vm_tests/test_programs/should_fail/attributes_invalid_multiplicity/stdout.snap
  test/src/e2e_vm_tests/test_programs/should_fail/attributes_invalid_target_contract/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_fail/attributes_invalid_target_contract/stdout.snap
  test/src/e2e_vm_tests/test_programs/should_fail/attributes_invalid_target_contract_abi_decl/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_fail/attributes_invalid_target_contract_abi_decl/stdout.snap
  test/src/e2e_vm_tests/test_programs/should_fail/attributes_invalid_target_contract_configurable/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_fail/attributes_invalid_target_contract_configurable/stdout.snap
  test/src/e2e_vm_tests/test_programs/should_fail/attributes_invalid_target_contract_storage/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_fail/attributes_invalid_target_contract_storage/stdout.snap
  test/src/e2e_vm_tests/test_programs/should_fail/attributes_invalid_target_items/src/enum_decl.sw
  test/src/e2e_vm_tests/test_programs/should_fail/attributes_invalid_target_items/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_fail/attributes_invalid_target_items/src/module_const.sw
  test/src/e2e_vm_tests/test_programs/should_fail/attributes_invalid_target_items/src/module_kind.sw
  test/src/e2e_vm_tests/test_programs/should_fail/attributes_invalid_target_items/src/struct_decl.sw
  test/src/e2e_vm_tests/test_programs/should_fail/attributes_invalid_target_items/src/struct_impl_assoc_const.sw
  test/src/e2e_vm_tests/test_programs/should_fail/attributes_invalid_target_items/src/trait_decl_assoc_const.sw
  test/src/e2e_vm_tests/test_programs/should_fail/attributes_invalid_target_items/src/trait_decl_assoc_fn.sw
  test/src/e2e_vm_tests/test_programs/should_fail/attributes_invalid_target_items/src/trait_decl_assoc_type.sw
  test/src/e2e_vm_tests/test_programs/should_fail/attributes_invalid_target_items/src/trait_decl_method.sw
  test/src/e2e_vm_tests/test_programs/should_fail/attributes_invalid_target_items/src/trait_impl_for_enum.sw
  test/src/e2e_vm_tests/test_programs/should_fail/attributes_invalid_target_items/src/trait_impl_for_struct.sw
  test/src/e2e_vm_tests/test_programs/should_fail/attributes_invalid_target_items/src/type_alias_decl.sw
  test/src/e2e_vm_tests/test_programs/should_fail/attributes_invalid_target_items/src/use_lib.sw
  test/src/e2e_vm_tests/test_programs/should_fail/attributes_invalid_target_items/stdout.snap
  test/src/e2e_vm_tests/test_programs/should_pass/language/attributes_all_in_one/src/lib.sw
  test/src/e2e_vm_tests/test_programs/should_pass/language/attributes_all_in_one/src/main.sw
Labels: compiler, compiler: frontend

#7285 Add `backtrace` build option
  forc-pkg/src/manifest/build_profile.rs
  forc-pkg/src/pkg.rs
  forc-pkg/tests/sections/Forc.toml
  sway-core/src/build_config.rs
  sway-core/src/lib.rs
  sway-core/src/metadata.rs
Labels: compiler, forc-pkg

#7287 Add migration for `new_hashing`
  forc-plugins/forc-migrate/src/cli/commands/run.rs
  forc-plugins/forc-migrate/src/cli/shared.rs
  forc-plugins/forc-migrate/src/migrations/demo.rs
  forc-plugins/forc-migrate/src/migrations/error_type.rs
  forc-plugins/forc-migrate/src/migrations/merge_core_std.rs
  forc-plugins/forc-migrate/src/migrations/mod.rs
  forc-plugins/forc-migrate/src/migrations/new_hashing.rs
  forc-plugins/forc-migrate/src/migrations/partial_eq.rs
  forc-plugins/forc-migrate/src/migrations/references.rs
  forc-plugins/forc-migrate/src/migrations/storage_domains.rs
  forc-plugins/forc-migrate/src/migrations/try_from_bytes_for_b256.rs
  forc-plugins/forc-migrate/src/visiting/mod.rs
  sway-core/src/language/ty/expression/expression_variant.rs
  sway-core/src/type_system/ast_elements/type_argument.rs
  sway-lib-std/src/bytes.sw
  sway-lib-std/src/raw_slice.sw
Labels: forc-migrate

#7284 feat: forc mcp server - with forc-call tool integration
  .github/workflows/ci.yml
  .github/workflows/gh-pages.yml
  Cargo.lock
  Cargo.toml
  docs/book/spell-check-custom-words.txt
  docs/book/src/SUMMARY.md
  docs/book/src/forc/plugins/forc_mcp/forc_call_tool/common_commands.md
  docs/book/src/forc/plugins/forc_mcp/forc_call_tool/contract_samples.md
  docs/book/src/forc/plugins/forc_mcp/forc_call_tool/index.md
  docs/book/src/forc/plugins/forc_mcp/forc_call_tool/type_encoding_reference.md
  docs/book/src/forc/plugins/forc_mcp/index.md
  forc-plugins/forc-client/src/op/call/call_function.rs
  forc-plugins/forc-client/src/op/call/mod.rs
  forc-plugins/forc-client/src/op/call/trace/mod.rs
  forc-plugins/forc-client/src/op/call/transfer.rs
  forc-plugins/forc-client/src/op/mod.rs
  forc-plugins/forc-mcp/Cargo.toml
  forc-plugins/forc-mcp/src/forc_call/mod.rs
  forc-plugins/forc-mcp/src/forc_call/resources.rs
  forc-plugins/forc-mcp/src/lib.rs
  forc-plugins/forc-mcp/src/main.rs
  scripts/mdbook-forc-documenter/src/lib.rs
Labels: enhancement, forc, documentation, dev-experience, forc-call, team:tooling, forc-mcp

#7298 docs: fix broken sway-libs GitHub link to use official documentation URL
  docs/book/src/sway-program-types/libraries.md
Labels: cla:signed

#7296 Add parallel processing to `forc-doc` using rayon to improve performance
  Cargo.lock
  forc-plugins/forc-doc/Cargo.toml
  forc-plugins/forc-doc/src/doc/descriptor.rs
  forc-plugins/forc-doc/src/doc/mod.rs
  forc-plugins/forc-doc/src/render/item/components.rs
  forc-plugins/forc-doc/src/render/item/type_anchor.rs
  forc-plugins/forc-doc/src/render/mod.rs
Labels: forc-doc

#7300 feat: forc-mcp auth for mcp server hosting
  Cargo.lock
  docs/book/src/forc/plugins/forc_mcp/index.md
  forc-plugins/forc-mcp/Cargo.toml
  forc-plugins/forc-mcp/src/auth/mod.rs
  forc-plugins/forc-mcp/src/auth/service.rs
  forc-plugins/forc-mcp/src/auth/storage.rs
  forc-plugins/forc-mcp/src/lib.rs
  forc-plugins/forc-mcp/src/main.rs
  forc-plugins/forc-mcp/src/rate_limit.rs
Labels: enhancement, forc, forc-mcp
