Repository FuelLabs/sway, pull requests merged in 2025-03, with the labels that each got.

#6968 forc-call logs support
  Cargo.lock
  docs/book/src/forc/plugins/forc_client/forc_call.md
  forc-pkg/Cargo.toml
  forc-plugins/forc-client/Cargo.toml
  forc-plugins/forc-client/src/cmd/call.rs
  forc-plugins/forc-client/src/op/call/mod.rs
  forc-plugins/forc-debug/Cargo.toml
  forc-plugins/forc-debug/src/cli/commands.rs
  forc-plugins/forc-tx/Cargo.toml
  forc-test/Cargo.toml
  forc-test/src/lib.rs
  forc-tracing/src/lib.rs
  forc-util/Cargo.toml
  forc-util/src/lib.rs
  forc/Cargo.toml
  forc/src/cli/commands/test.rs
  test/Cargo.toml
  test/src/e2e_vm_tests/mod.rs
Labels: forc, forc-call, team:tooling

#6654 fix: resolve UB in _add, __sub, _mul for u8, u16, u32
  sway-lib-core/src/ops.sw
  test/src/e2e_vm_tests/test_programs/should_pass/language/configurable_dedup_decode/stdout.snap
  test/src/in_language_tests/test_programs/math_inline_tests/src/main.sw
Labels: bug, lib: core

#6978 ci: Install forc-node in gh-pages.yml
  .github/workflows/gh-pages.yml
Labels: ci

#6973 Update mdbook to 0.4.45 in CI
  .github/workflows/gh-pages.yml
Labels: ci

#6989 chore: bump to 0.66.8
  Cargo.lock
  Cargo.toml
Labels: release

#6958 Implement `TryFrom<Bytes>` for `b256`
  .github/workflows/ci.yml
  sway-features/src/lib.rs
  sway-lib-std/src/bytes.sw
  sway-lib-std/src/bytes_conversions/b256.sw
  sway-lib-std/src/bytes_conversions/u256.sw
  test/src/e2e_vm_tests/test_programs/should_fail/invalid_cfg_arg/stdout.snap
  test/src/in_language_tests/test_programs/bytes_inline_tests/src/main.sw
Labels: lib: std, breaking

#6991 chore: Change blob ID calculation in forc-deploy to use configurables offset
  .gitignore
  Cargo.lock
  forc-plugins/forc-client/src/op/deploy.rs
  forc-plugins/forc-client/test/data/deployed_script/deployed_script-abi.json
  forc-plugins/forc-client/test/data/deployed_script/deployed_script-loader-abi.json
  forc-plugins/forc-client/test/data/deployed_script/deployed_script.bin
  forc-plugins/forc-client/tests/deploy.rs
Labels: forc-deploy

#6995 Add inline tests for all arithmetic cases in `u8`, `u16`, `u32`, `u64`, `U128`, and `u256`
  sway-lib-std/src/u128.sw
  test/src/in_language_tests/test_programs/math_inline_tests/src/add.sw
  test/src/in_language_tests/test_programs/math_inline_tests/src/binary_log.sw
  test/src/in_language_tests/test_programs/math_inline_tests/src/divide.sw
  test/src/in_language_tests/test_programs/math_inline_tests/src/log.sw
  test/src/in_language_tests/test_programs/math_inline_tests/src/main.sw
  test/src/in_language_tests/test_programs/math_inline_tests/src/modulo.sw
  test/src/in_language_tests/test_programs/math_inline_tests/src/multiply.sw
  test/src/in_language_tests/test_programs/math_inline_tests/src/pow.sw
  test/src/in_language_tests/test_programs/math_inline_tests/src/root.sw
  test/src/in_language_tests/test_programs/math_inline_tests/src/subtract.sw
  test/src/in_language_tests/test_programs/u128_inline_tests/src/main.sw
Labels: lib: std

#6928 Introduce `GlobalVar` akin to `LocalVar` and introduce `get_global` instruction similar to `get_local`.
  sway-core/src/asm_generation/evm/evm_asm_builder.rs
  sway-core/src/asm_generation/fuel/fuel_asm_builder.rs
  sway-core/src/ir_generation/const_eval.rs
  sway-core/src/ir_generation/function.rs
  sway-core/src/lib.rs
  sway-ir/src/analysis/memory_utils.rs
  sway-ir/src/context.rs
  sway-ir/src/error.rs
  sway-ir/src/function.rs
  sway-ir/src/instruction.rs
  sway-ir/src/lib.rs
  sway-ir/src/module.rs
  sway-ir/src/optimize/cse.rs
  sway-ir/src/optimize/dce.rs
  sway-ir/src/optimize/fn_dedup.rs
  sway-ir/src/optimize/inline.rs
  sway-ir/src/optimize/mem2reg.rs
  sway-ir/src/parser.rs
  sway-ir/src/pass_manager.rs
  sway-ir/src/printer.rs
  sway-ir/src/variable.rs
  sway-ir/src/verify.rs
  sway-ir/tests/globals_dce/dce_dead_global.ir
  sway-ir/tests/mem2reg/global_simple.ir
  sway-ir/tests/tests.rs
  test/src/e2e_vm_tests/test_programs/should_pass/language/configurable_consts/json_abi_oracle.json
  test/src/e2e_vm_tests/test_programs/should_pass/language/configurable_dedup_decode/stdout.snap
  test/src/e2e_vm_tests/test_programs/should_pass/language/references/referencing_global_constants/Forc.lock
  test/src/e2e_vm_tests/test_programs/should_pass/language/references/referencing_global_constants/Forc.toml
  test/src/e2e_vm_tests/test_programs/should_pass/language/references/referencing_global_constants/src/lib.sw
  test/src/e2e_vm_tests/test_programs/should_pass/language/references/referencing_global_constants/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/language/references/referencing_global_constants/test.toml
  test/src/e2e_vm_tests/test_programs/should_pass/require_contract_deployment/call_basic_storage/src/main.sw
Labels: compiler, compiler: ir

#7005 Implement trees visitors and migrations for `TryFrom<Bytes>` for `b256`
  forc-plugins/forc-migrate/src/lib.rs
  forc-plugins/forc-migrate/src/matching/mod.rs
  forc-plugins/forc-migrate/src/migrations/demo.rs
  forc-plugins/forc-migrate/src/migrations/mod.rs
  forc-plugins/forc-migrate/src/migrations/partial_eq.rs
  forc-plugins/forc-migrate/src/migrations/references.rs
  forc-plugins/forc-migrate/src/migrations/try_from_bytes_for_b256.rs
  forc-plugins/forc-migrate/src/modifying/expr.rs
  forc-plugins/forc-migrate/src/modifying/mod.rs
  forc-plugins/forc-migrate/src/modifying/path_expression_segment.rs
  forc-plugins/forc-migrate/src/visiting/mod.rs
  sway-ast/src/path.rs
  sway-core/src/language/lexed/mod.rs
  sway-core/src/type_system/engine.rs
  sway-lib-std/src/primitive_conversions/b256.sw
  sway-types/src/span.rs
Labels: lib: std, forc-migrate

#7009 Add migration for `Bytes::into(self) -> b256` to `Bytes::try_into`
  forc-plugins/forc-migrate/src/migrations/mod.rs
  forc-plugins/forc-migrate/src/migrations/try_from_bytes_for_b256.rs
Labels: lib: std, forc-migrate

#7020 Improve snapshot testing
  test/Cargo.toml
  test/src/e2e_vm_tests/mod.rs
  test/src/main.rs
  test/src/snapshot/mod.rs
Labels: testing

#7018 forc-call list functions support with example call usage
  docs/book/src/forc/plugins/forc_client/forc_call.md
  forc-plugins/forc-client/src/cmd/call.rs
  forc-plugins/forc-client/src/op/call/list_functions.rs
  forc-plugins/forc-client/src/op/call/mod.rs
  forc-plugins/forc-client/src/op/call/parser.rs
Labels: enhancement, forc, forc-call, team:tooling

#6816 Cleanup stale lock files in the .lsp-locks directory
  forc-util/src/fs_locking.rs
Labels: language server
