Repository FuelLabs/sway, pull requests merged in 2025-01, with the labels that each got.

#6799 fix: typos cleanup
  docs/reference/src/documentation/language/control-flow/match/single-line.md
  docs/reference/src/documentation/operations/namespace/index.md
Labels: cla:signed

#6809 Add testing of `storage_domains` to language and SDK tests
  .github/workflows/ci.yml
Labels: ci

#6806 Refactor `swayfmt` to support arbitrary lexed trees
  Cargo.lock
  examples/advanced_storage_variables/src/main.sw
  examples/converting_types/src/byte_arrays.sw
  examples/converting_types/src/bytes.sw
  examples/wallet_smart_contract/src/main.sw
  forc-plugins/forc-fmt/src/main.rs
  sway-ast/src/expr/mod.rs
  sway-ast/src/expr/op_code.rs
  sway-ast/src/keywords.rs
  sway-ast/src/punctuated.rs
  sway-lib-std/src/prelude.sw
  sway-lsp/src/capabilities/formatting.rs
  sway-types/src/ast.rs
  sway-types/src/span.rs
  swayfmt/Cargo.toml
  swayfmt/src/comments.rs
  swayfmt/src/formatter/mod.rs
  swayfmt/src/formatter/shape.rs
  swayfmt/src/items/item_abi/mod.rs
  swayfmt/src/items/item_configurable/mod.rs
  swayfmt/src/items/item_const.rs
  swayfmt/src/items/item_enum/mod.rs
  swayfmt/src/items/item_fn/mod.rs
  swayfmt/src/items/item_impl/mod.rs
  swayfmt/src/items/item_storage/mod.rs
  swayfmt/src/items/item_struct/mod.rs
  swayfmt/src/items/item_trait/mod.rs
  swayfmt/src/items/item_trait_type.rs
  swayfmt/src/items/item_type_alias.rs
  swayfmt/src/items/item_use/mod.rs
  swayfmt/src/items/item_use/tests.rs
  swayfmt/src/module/mod.rs
  swayfmt/src/module/submodule.rs
  swayfmt/src/parse.rs
  swayfmt/src/utils/language/attribute.rs
  swayfmt/src/utils/language/expr/abi_cast.rs
  swayfmt/src/utils/language/expr/asm_block.rs
  swayfmt/src/utils/language/expr/assignable.rs
  swayfmt/src/utils/language/expr/collections.rs
  swayfmt/src/utils/language/expr/conditional.rs
  swayfmt/src/utils/language/expr/mod.rs
  swayfmt/src/utils/language/expr/struct_field.rs
  swayfmt/src/utils/language/literal.rs
  swayfmt/src/utils/language/path.rs
  swayfmt/src/utils/language/pattern.rs
  swayfmt/src/utils/language/punctuated.rs
  swayfmt/src/utils/language/statement.rs
  swayfmt/src/utils/language/ty.rs
  swayfmt/src/utils/language/where_clause.rs
  swayfmt/src/utils/map/byte_span.rs
  swayfmt/src/utils/map/newline.rs
  swayfmt/tests/mod.rs
Labels: formatter

#6817 Add modulo inline tests
  test/src/in_language_tests/test_programs/math_inline_tests/src/main.sw
  test/src/in_language_tests/test_programs/math_inline_tests/src/modulo.sw
Labels: lib: std, testing

#6807 fix: formatting for loop
  swayfmt/src/utils/language/expr/mod.rs
  swayfmt/src/utils/language/expr/tests.rs
  swayfmt/tests/mod.rs
Labels: bug, formatter, compiler: parser, cla:signed

#6797 Rename forc doc `--manifest-path` to `--path`
  .github/workflows/ci.yml
  .github/workflows/gh-pages.yml
  forc-plugins/forc-doc/README.md
  forc-plugins/forc-doc/src/cli.rs
  forc-plugins/forc-doc/src/lib.rs
  forc-plugins/forc-doc/src/tests/expects/impl_trait/mod.rs
  forc-plugins/forc-doc/tests/lib.rs
  forc-plugins/forc-fmt/src/main.rs
Labels: forc-doc, cla:signed

#6822 Remove instances of multiple impl blocks
  sway-lib-core/src/primitive_conversions.sw
  sway-lib-std/src/bytes.sw
Labels: lib: std, code quality, lib: core

#6824 add erroneously missing #[test()] attribute
  test/src/in_language_tests/test_programs/bytes_inline_tests/src/main.sw
Labels: bug, testing

#6784 Implements fully working hierarchical lexical scopes.
  docs/internals.md
  sway-core/src/ir_generation/compile.rs
  sway-core/src/ir_generation/const_eval.rs
  sway-core/src/language/call_path.rs
  sway-core/src/language/ty/expression/expression_variant.rs
  sway-core/src/semantic_analysis/ast_node/code_block.rs
  sway-core/src/semantic_analysis/ast_node/declaration/abi.rs
  sway-core/src/semantic_analysis/ast_node/declaration/auto_impl.rs
  sway-core/src/semantic_analysis/ast_node/declaration/declaration.rs
  sway-core/src/semantic_analysis/ast_node/declaration/enum.rs
  sway-core/src/semantic_analysis/ast_node/declaration/function.rs
  sway-core/src/semantic_analysis/ast_node/declaration/impl_trait.rs
  sway-core/src/semantic_analysis/ast_node/declaration/struct.rs
  sway-core/src/semantic_analysis/ast_node/declaration/trait.rs
  sway-core/src/semantic_analysis/ast_node/declaration/trait_fn.rs
  sway-core/src/semantic_analysis/ast_node/declaration/variable.rs
  sway-core/src/semantic_analysis/ast_node/expression/match_expression/typed/typed_match_branch.rs
  sway-core/src/semantic_analysis/ast_node/expression/match_expression/typed/typed_match_expression.rs
  sway-core/src/semantic_analysis/ast_node/expression/typed_expression.rs
  sway-core/src/semantic_analysis/ast_node/expression/typed_expression/struct_instantiation.rs
  sway-core/src/semantic_analysis/ast_node/mod.rs
  sway-core/src/semantic_analysis/namespace/lexical_scope.rs
  sway-core/src/semantic_analysis/namespace/mod.rs
  sway-core/src/semantic_analysis/namespace/module.rs
  sway-core/src/semantic_analysis/namespace/namespace.rs
  sway-core/src/semantic_analysis/namespace/root.rs
  sway-core/src/semantic_analysis/namespace/trait_map.rs
  sway-core/src/semantic_analysis/symbol_collection_context.rs
  sway-core/src/semantic_analysis/type_check_context.rs
  sway-core/src/semantic_analysis/type_resolve.rs
  sway-core/src/type_system/ast_elements/type_parameter.rs
  sway-core/src/type_system/id.rs
  sway-lsp/src/capabilities/hover/hover_link_contents.rs
  sway-lsp/src/traverse/typed_tree.rs
  test/src/e2e_vm_tests/test_programs/should_fail/language/import_star_name_clash/test.toml
  test/src/e2e_vm_tests/test_programs/should_fail/shadowing/shadowed_consts_and_vars/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_fail/shadowing/shadowed_consts_and_vars/test.toml
  test/src/e2e_vm_tests/test_programs/should_pass/language/configurable_dedup_decode/stdout.snap
Labels: code quality, compiler: frontend

#6821 Implement `Iterator` for `StorageVec`
  docs/book/src/basics/control_flow.md
  docs/book/src/common-collections/storage_vec.md
  docs/book/src/common-collections/vec.md
  docs/book/src/reference/undefined_behavior.md
  examples/storage_vec/src/main.sw
  examples/vec/src/main.sw
  sway-lib-core/src/storage.sw
  sway-lib-std/src/iterator.sw
  sway-lib-std/src/storage/storage_key.sw
  sway-lib-std/src/storage/storage_vec.sw
  sway-lib-std/src/vec.sw
  test/src/in_language_tests/Forc.toml
  test/src/in_language_tests/test_programs/storage_vec_iter_tests/Forc.toml
  test/src/in_language_tests/test_programs/storage_vec_iter_tests/src/impls.sw
  test/src/in_language_tests/test_programs/storage_vec_iter_tests/src/main.sw
  test/src/sdk-harness/test_projects/auth/mod.rs
Labels: lib: std

#6795 codegen: Use idiomatic fuel-vm ops for memcpy and addr_of
  forc-plugins/forc-client/tests/deploy.rs
  forc/tests/cli_integration.rs
  sway-core/src/asm_generation/finalized_asm.rs
  sway-core/src/asm_generation/fuel/allocated_abstract_instruction_set.rs
  sway-core/src/asm_generation/fuel/fuel_asm_builder.rs
  sway-core/src/asm_lang/allocated_ops.rs
  test/src/e2e_vm_tests/test_programs/should_pass/language/configurable_consts/json_abi_oracle_new_encoding.json
  test/src/e2e_vm_tests/test_programs/should_pass/language/configurable_dedup_decode/stdout.snap
  test/src/e2e_vm_tests/test_programs/should_pass/language/u256/u256_abi/json_abi_oracle_new_encoding.json
  test/src/e2e_vm_tests/test_programs/should_pass/require_contract_deployment/array_of_structs_caller/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/require_contract_deployment/asset_ops_test/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/require_contract_deployment/bal_opcode/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/require_contract_deployment/call_abi_with_tuples/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/require_contract_deployment/call_basic_storage/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/require_contract_deployment/call_contract_with_type_aliases/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/require_contract_deployment/call_increment_contract/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/require_contract_deployment/call_storage_enum/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/require_contract_deployment/caller_auth_test/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/require_contract_deployment/caller_context_test/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/require_contract_deployment/nested_struct_args_caller/src/main.sw
  test/src/e2e_vm_tests/test_programs/should_pass/require_contract_deployment/storage_access_caller/src/main.sw
  test/src/ir_generation/tests/gtf.sw
  test/src/ir_generation/tests/main_retd.sw
  test/src/sdk-harness/test_projects/auth/mod.rs
Labels: compiler: codegen, compiler: optimization

#6830 migrate from shellfish to rustyline with enhanced CLI features
  Cargo.lock
  Cargo.toml
  forc-plugins/forc-debug/Cargo.toml
  forc-plugins/forc-debug/src/cli/commands.rs
  forc-plugins/forc-debug/src/cli/mod.rs
  forc-plugins/forc-debug/src/cli/state.rs
  forc-plugins/forc-debug/src/error.rs
  forc-plugins/forc-debug/tests/cli_integration.rs
Labels: forc-debug

#6667 Add Transaction::Blob tests
  test/src/sdk-harness/test_projects/tx_fields/mod.rs
Labels: testing

#6790 Add `forc-migrate` tool
  .github/workflows/ci.yml
  Cargo.lock
  Cargo.toml
  docs/book/spell-check-custom-words.txt
  docs/book/src/SUMMARY.md
  docs/book/src/forc/plugins/forc_migrate.md
  forc-plugins/forc-doc/src/cli.rs
  forc-plugins/forc-fmt/src/main.rs
  forc-plugins/forc-migrate/Cargo.toml
  forc-plugins/forc-migrate/src/cli/commands/check.rs
  forc-plugins/forc-migrate/src/cli/commands/mod.rs
  forc-plugins/forc-migrate/src/cli/commands/run.rs
  forc-plugins/forc-migrate/src/cli/commands/show.rs
  forc-plugins/forc-migrate/src/cli/mod.rs
  forc-plugins/forc-migrate/src/cli/shared.rs
  forc-plugins/forc-migrate/src/lib.rs
  forc-plugins/forc-migrate/src/main.rs
  forc-plugins/forc-migrate/src/matching/lexed_tree.rs
  forc-plugins/forc-migrate/src/matching/mod.rs
  forc-plugins/forc-migrate/src/matching/typed_tree.rs
  forc-plugins/forc-migrate/src/migrations/demo.rs
  forc-plugins/forc-migrate/src/migrations/mod.rs
  forc-plugins/forc-migrate/src/migrations/references.rs
  forc-plugins/forc-migrate/src/migrations/storage_domains.rs
  forc-plugins/forc-migrate/src/modifying/mod.rs
  forc-plugins/forc-migrate/src/modifying/storage_field.rs
  forc-tracing/src/lib.rs
  forc-util/src/fs_locking.rs
  forc-util/src/lib.rs
  scripts/mdbook-forc-documenter/examples/forc_migrate.md
  sway-ast/src/literal.rs
  sway-ast/src/module.rs
  sway-ast/src/punctuated.rs
  sway-ast/src/token.rs
  sway-core/src/transform/to_parsed_lang/convert_parse_tree.rs
  sway-error/src/diagnostic.rs
  sway-error/src/formatting.rs
  sway-features/src/lib.rs
  sway-parse/src/expr/mod.rs
  sway-parse/src/token.rs
  sway-types/src/span.rs
  swayfmt/src/utils/language/literal.rs
  test/src/e2e_vm_tests/test_programs/should_fail/invalid_cfg_arg/stdout.snap
Labels: forc, forc-migrate

#6850 fix: Adds generic trait impls to forc-doc
  forc-plugins/forc-doc/src/doc/mod.rs
  forc-plugins/forc-doc/src/render/item/context.rs
  forc-plugins/forc-doc/src/render/util/mod.rs
  forc-plugins/forc-doc/src/static.files/ayu.css
  forc-plugins/forc-doc/src/tests/data/impl_traits_generic/Forc.lock
  forc-plugins/forc-doc/src/tests/data/impl_traits_generic/Forc.toml
  forc-plugins/forc-doc/src/tests/data/impl_traits_generic/src/bar.sw
  forc-plugins/forc-doc/src/tests/data/impl_traits_generic/src/foo.sw
  forc-plugins/forc-doc/src/tests/data/impl_traits_generic/src/lib.sw
  forc-plugins/forc-doc/src/tests/expects/impl_trait/mod.rs
Labels: forc-doc

#6823 Add splice method to Bytes
  sway-lib-std/src/bytes.sw
  test/src/in_language_tests/test_programs/bytes_inline_tests/src/main.sw
  test/src/in_language_tests/test_programs/bytes_inline_tests/src/splice.sw
  test/src/in_language_tests/test_programs/bytes_inline_tests/src/utils.sw
Labels: enhancement, lib: std

#6837 Introduce `crypto` module and expand cryptographic functions
  docs/book/src/blockchain-development/hashing_and_cryptography.md
  examples/signatures/src/main.sw
  sway-lib-std/src/crypto.sw
  sway-lib-std/src/crypto/ed25519.sw
  sway-lib-std/src/crypto/message.sw
  sway-lib-std/src/crypto/public_key.sw
  sway-lib-std/src/crypto/secp256k1.sw
  sway-lib-std/src/crypto/secp256r1.sw
  sway-lib-std/src/crypto/signature.sw
  sway-lib-std/src/crypto/signature_error.sw
  sway-lib-std/src/ecr.sw
  sway-lib-std/src/lib.sw
  sway-lib-std/src/vm/evm/ecr.sw
  test/src/in_language_tests/Forc.toml
  test/src/in_language_tests/test_programs/crypto_ed25519_inline_tests/Forc.toml
  test/src/in_language_tests/test_programs/crypto_ed25519_inline_tests/src/main.sw
  test/src/in_language_tests/test_programs/crypto_message_inline_tests/Forc.toml
  test/src/in_language_tests/test_programs/crypto_message_inline_tests/src/main.sw
  test/src/in_language_tests/test_programs/crypto_public_key_inline_tests/Forc.toml
  test/src/in_language_tests/test_programs/crypto_public_key_inline_tests/src/main.sw
  test/src/in_language_tests/test_programs/crypto_secp256k1_inline_tests/Forc.toml
  test/src/in_language_tests/test_programs/crypto_secp256k1_inline_tests/src/main.sw
  test/src/in_language_tests/test_programs/crypto_secp256r1_inline_tests/Forc.toml
  test/src/in_language_tests/test_programs/crypto_secp256r1_inline_tests/src/main.sw
  test/src/in_language_tests/test_programs/crypto_signature_inline_tests/Forc.toml
  test/src/in_language_tests/test_programs/crypto_signature_inline_tests/src/main.sw
Labels: enhancement, lib: std

#6863 Auto-generate DWARF debug symbols in debug builds
  forc-pkg/src/pkg.rs
  sway-core/src/debug_generation/dwarf.rs
Labels: forc-pkg, compiler:debug-info

#6865 Add `Clone` implementation for `String` and `Vec`
  sway-lib-std/src/bytes.sw
  sway-lib-std/src/prelude.sw
  sway-lib-std/src/string.sw
  sway-lib-std/src/vec.sw
  test/src/e2e_vm_tests/reduced_std_libs/sway-lib-std-vec/reduced_lib.config
  test/src/e2e_vm_tests/reduced_std_libs/sway-lib-std-vec/src/lib.sw
  test/src/e2e_vm_tests/reduced_std_libs/sway-lib-std-vec/src/prelude.sw
  test/src/in_language_tests/test_programs/bytes_inline_tests/src/main.sw
  test/src/in_language_tests/test_programs/string_inline_tests/src/main.sw
  test/src/in_language_tests/test_programs/vec_inline_tests/src/main.sw
Labels: lib: std

#6864 Add `resize()` to `Vec` and `Bytes`
  sway-lib-std/src/bytes.sw
  sway-lib-std/src/vec.sw
  test/src/in_language_tests/test_programs/b512_inline_tests/src/main.sw
  test/src/in_language_tests/test_programs/bytes_inline_tests/src/main.sw
  test/src/in_language_tests/test_programs/crypto_ed25519_inline_tests/src/main.sw
  test/src/in_language_tests/test_programs/crypto_public_key_inline_tests/src/main.sw
  test/src/in_language_tests/test_programs/crypto_secp256r1_inline_tests/src/main.sw
  test/src/in_language_tests/test_programs/crypto_signature_inline_tests/src/main.sw
  test/src/in_language_tests/test_programs/hash_inline_tests/src/main.sw
  test/src/in_language_tests/test_programs/math_inline_tests/src/modulo.sw
  test/src/in_language_tests/test_programs/storage_vec_iter_tests/src/impls.sw
  test/src/in_language_tests/test_programs/storage_vec_iter_tests/src/main.sw
  test/src/in_language_tests/test_programs/vec_inline_tests/src/main.sw
  test/src/in_language_tests/test_programs/vm_evm_ecr_inline_tests/src/main.sw
Labels: lib: std

#6868 feat: Add support for additional package manifest keys
  docs/book/src/forc/manifest_reference.md
  forc-pkg/src/manifest/mod.rs
Labels: forc-pkg

#6870 Add `last()` to `Vec`
  sway-lib-std/src/vec.sw
  test/src/in_language_tests/test_programs/vec_inline_tests/src/main.sw
Labels: lib: std

#6872 Use compiler source map directly in forc-debug
  forc-plugins/forc-debug/src/server/handlers/handle_set_breakpoints.rs
  forc-plugins/forc-debug/src/server/handlers/handle_stack_trace.rs
  forc-plugins/forc-debug/src/server/mod.rs
  forc-plugins/forc-debug/src/server/state.rs
  forc-plugins/forc-debug/src/types.rs
  forc-plugins/forc-debug/tests/server_integration.rs
Labels: forc-debug
